@using System.Linq;
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@{
    /**/

    Osoba o = ViewBag.Osoba;

    ViewBag.Title = "Změna fotky " + o.FullNameWithYear();

    var showDeleteTab = User.IsInRole("Admin") || User.IsInRole("Editor"); 

}
@section metatags
{

    @if (o != null && HlidacStatu.Web.Framework.Constants.DontIndexOsoby.Contains(o.NameId.ToLower())
                || (o != null && !await o.IsInterestingToShowAsync() )
        )
    {
        <meta name="robots" content="noindex, noarchive">
    }
}

<div class="row">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item"><a href="#filetab" class="nav-link active" aria-controls="home" role="tab" data-bs-toggle="tab">Nahrát fotku z počítače</a></li>
        <li role="presentation" class="nav-item"><a href="#urltab" class="nav-link" aria-controls="profile" role="tab" data-bs-toggle="tab">Stáhnout fotku z webu</a></li>
        @if (showDeleteTab)
        {
            <li role="presentation" class="nav-item adminBlock"><a href="#deletetab" class="nav-link" aria-controls="profile" role="tab" data-bs-toggle="tab">Smazat fotku</a></li>
        }
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="filetab">
            <form enctype="multipart/form-data" method="post">
                <input type="hidden" name="phase" value="start" />
                <input type="hidden" name="id" value="@o.NameId" />
                @if (this.User?.Identity?.IsAuthenticated == true)
                {
                    <input type="hidden" name="email" value="@this.User.Identity.Name" />
                }
                else
                {
                    <div class="form-group">
                        <label for="exampleInputFile">Váš email</label>
                        <input type="email" class="form-control" id="email" name="email">
                        <p class="help-block">Napište váš email. O přijetí vaší změny vás budeme informovat emailem.</p>
                    </div>
                }
                <div class="form-group">
                    <label for="file1">Nahrát fotku z počítače</label>
                    <input type="file" id="file1" name="file1">
                    <p class="help-block">Nejlepší je portrét, čím větší fotka, tím lépe.</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Zdroj/autor fotky</label>
                    <input type="text" class="form-control" id="source" name="source" placeholder="Zdroj obrázku">
                    <p class="help-block">Napište URL, odkud fotka je anebo popis autorství. Nepoužívejte obrázky z neznámých zdrojů.</p>
                </div>
                <a href="@o.GetUrl(true)" class="btn btn-hs btn-secondary">&lt;&lt; Zpět</a>
                <button type="submit" class="btn btn-hs btn-success">Poslat</button>
            </form>


        </div>
        <div role="tabpanel" class="tab-pane" id="urltab">

            <form method="post">
                <input type="hidden" name="phase" value="start" />
                <input type="hidden" name="id" value="@o.NameId" />
                @if (this.User?.Identity?.IsAuthenticated == true)
                {
                    <input type="hidden" name="email" value="@this.User.Identity.Name" />
                }
                else
                {
                    <div class="form-group">
                        <label for="exampleInputFile">Váš email</label>
                        <input type="email" class="form-control" id="email" name="email">
                        <p class="help-block">Napište váš email. O přijetí vaší změny vás budeme informovat emailem.</p>
                    </div>
                }
                <div class="form-group">
                    <label for="exampleInputFile">Použít fotku z webu</label>
                    <input type="url" class="form-control" id="url" name="url" placeholder="URL obrazku">
                    <p class="help-block">Napište URL obrázku, ne URL stránky kde je obrázek.</p>
                </div>

                <button type="submit" class="btn btn-hs btn-success">Odeslat</button>
            </form>

        </div>
        
        @if (showDeleteTab)
        {
            <div role="tabpanel" class="tab-pane" id="deletetab">

                <form method="post">
                    <input type="hidden" name="phase" value="delete" />
                    <input type="hidden" name="id" value="@o.NameId" />
                    <input type="hidden" name="email" value="@User.Identity.Name" />
                    <p>Checte smazat fotku?</p>
                    <button type="submit" class="btn btn-hs btn-success">Smazat</button>
                </form>

            </div>
        }
    </div>


</div>

