@model IEnumerable<HlidacStatu.Entities.Osoba>
@using Devmasters.Enums;
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using Microsoft.Extensions.Primitives

@{
    ViewBag.Title = "FindPerson";

    bool extendSearch = !StringValues.IsNullOrEmpty(Context.Request.Query["extendSearch"]);

    string checkedattr = (extendSearch) ? "checked=\"checked\"" : "";
}

<h2>FindPerson</h2>
<div class="row">
    <div class="col-xs-12">
        <form asp-action="FindPerson" method="get" class="form-inline">
            <div class="form-group">
                <label for="jmeno">Jmeno</label>
                <input type="text" class="form-control" id="jmeno" name="jmeno" placeholder="Jmeno" value="@(Context.Request.Query["jmeno"])">
            </div>
            <div class="form-group">
                <label for="narozeni">Rok narození</label>
                <input type="text" class="form-control" id="narozeni" name="narozeni" placeholder="Rok narozeni" value="@(Context.Request.Query["narozeni"])">
            </div>
            <div class="form-group">
                <label for="prijmeni">Hledat i mezi nepolitiky</label>
                <input type="checkbox" class="form-check-input" id="extendSearch" name="extendSearch" placeholder="extendSearch" @checkedattr value="true">
            </div>
            <button type="submit" class="btn btn-hs btn-primary">Hledej</button>

        </form>
    </div>
</div>

<p>
    @Html.ActionLink("Vytvořit novou osobu", "CreatePerson", null, new {@class = "btn btn-sm btn-primary btn-primary-new"})
</p>

@if (Model == null)
{
    <p>Vyhledejte svoji osobu.</p>
}
else
{
    <ul class="list-group">
        @foreach (var osoba in Model.OrderByDescending(o => o.Status).ThenByDescending(o => o.Narozeni ?? new DateTime(1970, 1, 1)))
        {
            <li class="list-group-item d-flex flex-row">

                <div class="col-sm-3 col-md-3">
                    <div class="person-profile-thumb person-profile-thumb--small">
                        <div class="photo">
                            <a href="@osoba.GetUrl(true)">
                                <div class="profile-picture border" style="background-image: url('@osoba.GetPhotoUrl(true)')"></div>
                            </a>
                            <br/>
                            @if (osoba.HasPhoto())
                            {
                                var zdroj = osoba.GetSourceOfPhoto();
                                <a class="btn btn-hs btn-secondary btn-sm" href="/manage/changePhoto/@osoba.NameId" role="button">Změnit fotku</a>
                                <a title="@zdroj" href="@zdroj" style="font-size:75%;text-decoration:none">
                                    <span class="text-muted">@(zdroj != "" ? "zdroj" : "")</span>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-hs btn-secondary btn-sm" href="/manage/changePhoto/@osoba.NameId" role="button">Přidat fotku</a>
                            }

                        </div>
                        <div>
                            <a href="https://admin.hlidacstatu.cz/EventEditor/@osoba.InternalId" class="section-title link--blue">@osoba.FullName()</a>
                            <div class="new-p new-p--gray new-p--small">
                                @(osoba.NarozeniUmrtiFull())
                            </div>
                            <div class="new-p new-p--gray new-p--small">
                                @osoba.StatusOsoby().ToNiceDisplayName()
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-sm-7 col-md-7">
                    <b>@osoba.NameId</b>
                    @if (osoba.Events().Any())
                    {
                        <div class="col">
                            <div class="search-result-label">
                                Události
                            </div>
                            <div class="new-p text-wrap">
                                <low-box width="80">
                                    @Html.Raw(osoba.Description(true, m => true))
                                </low-box>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm-2 col-md-2">
                    <a href="https://admin.hlidacstatu.cz/EventEditor/@osoba.InternalId" class="btn btn-hs btn-primary btn-sm">Editovat</a>
                </div>
            </li>
        }
    </ul>
}