@model HlidacStatu.Lib.Data.External.Tables.Result[]
@using HlidacStatu.Entities;
@using HlidacStatu.Repositories
@using System.Linq;

@{
    ViewBag.Title = "Tabulky v priloze";



    Smlouva sml = SmlouvaRepo.LoadAsync(this.Context.Request.Query["s"].ToString());
    Smlouva.Priloha priloha = sml?.Prilohy?.FirstOrDefault(m => m.hash.Value == this.Context.Request.Query["p"].ToString());


    if (Model == null)
    {
        <h2>Data neexistuji, asi chyba</h2>
        return;
    }

    var tbls = Model.Select(m => new HlidacStatu.Lib.Data.External.Tables.Camelot.CamelotResultWithJobs(m)).ToArray();
}

@for (int i = 0; i < Model.Length; i++)
{
    if (Model[i].FoundTables > 0)
    {
        <h2 style="padding-top:20px;" id="@(Model[i].Algorithm)">Nalezene tabulky - algoritmus @(Model[i].Algorithm)</h2>
        @foreach (var tbl in tbls[i].TablesWithJobs
         .OrderByDescending(m => m.FoundJobs.Length)
         .ThenBy(m => m.Page)
         .ThenBy(m => m.TableInPage))
        {
            <div style="font-size:120%;padding:15px 0 5px 0;" id="@($"{Model[i].Algorithm}_{tbl.Page}_{tbl.TableInPage}")">
                @(Model[i].Algorithm) <b>Strana @tbl.Page</b>, tabulka na stránce <b>@tbl.TableInPage</b>
                <br/>
                <a target="_blank" href="ShowPrilohaTablesOnePage?s=@(this.Context.Request.Query["s"].ToString())&p=@(this.Context.Request.Query["p"].ToString())&page=@tbl.Page"><i class="far fa-file-alt"></i> Ukázat stránku</a>
                <a target="_blank" href="@(priloha.odkaz)" style="padding-left:20px"><i class="far fa-file-pdf"></i> Otevřít celé PDF</a> 
            </div>
            @if (tbl.FoundJobs.Length > 0)
            {
                <div style="background-color:rgb(232 252 201)">
                    <table>
                        @foreach (var f in tbl.FoundJobs)
                        {
                            <tr>
                                <td>@(string.Join(";",f.Names))</td>
                                @foreach (var pr in f.Prices)
                                {
                                    <td><span style="padding:0px 20px 0 10px;">@(pr.ToString("N0"))</span></td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            }
            <div style="background-color:#e0e0e0">
                <table class="table table-bordered table-striped table-condensed">
                @foreach (var r in tbl.ParsedContent())
                {
                    <tr>
                        @foreach (var c in r)
                        {
                            <td>@c</td>
                        }
                    </tr>

                }
                    </table>
            </div>
        }
    }
}

