@using Microsoft.AspNetCore.Http.Extensions

@{
    string title = ViewBag.Title;
    if (string.IsNullOrEmpty(title))
    {
        title = "Platy politiků, úředníků a manažerů ve státní správě a státních firmách.";
    }
    else
    {
        title = title + " - " + "platy politiků a úředníků.";
    }

    string description = "Platy politiků a úředníků - veřejná kontrola odměňování politiků, nejvyšších státních úředníků a top managementu státních firem. Projekt Hlídače státu.";
    if (!string.IsNullOrEmpty(ViewBag?.Description))
    {
        description = ViewBag?.Description + " Platy úředníků.";
    }
}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@title</title>
    @if (ViewData["CanonicalUrl"] is string canonicalUrl)
    {
        <link rel="canonical" href="@canonicalUrl" />
    }
    else
    {
        <link rel="canonical" href="https://platy.hlidacstatu.cz@(Context.Request.GetEncodedPathAndQuery())" />

    }
    <meta name="description" content="@description" />
    <meta name="author" content="Hlídač státu" />
    <meta name="keywords" content="e-gov, e-government, platy úředníků, platy ministrů, platy ve státní správě, odměny úředníků, manažerské platy ve státní správě">

    @{
        string urlfirst = $"{Context.Request.Scheme}://{Context.Request.Host}";
        string defaultSocialImg = urlfirst + "/content/icons/largetile.png";
        string url = ViewBag.SocialShareUrl ?? Context.Request.GetDisplayUrl();
        string text = ViewBag.SocialShareText ?? description;
        string type = ViewBag.SocialShareType ?? "website";
        string socialTitle = ViewBag.SocialShareTitle ?? title;

        //additional, HlidacStatu specific
        string socialhtml = ViewBag.SocialShareHtml ?? "";
        string socialfooter = ViewBag.SocialShareHtmlFooter ?? "";
        string socialsubfooter = ViewBag.SocialShareHtmlSubFooter ?? "";
        string socialfooterimg = ViewBag.SocialShareHtmlFooterImg ?? defaultSocialImg;

        string img = ViewBag.SocialImage ?? defaultSocialImg;

        if (img == defaultSocialImg && string.IsNullOrEmpty(socialhtml) == false)
        {
            img = urlfirst + "/socialbanner/page?v=" + System.Net.WebUtility.UrlEncode(Context.Request.GetDisplayUrl());
        }
    }

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="twitter:site" content="HlidacStatu" />
    <meta property="fb:app_id" content="803455203348459" />
    <meta property="og:title" content="@socialTitle" />
    <meta property="og:url" content="@url" />
    <meta property="og:site_name" content="Hlídač Státu" />
    <meta property="og:type" content="@type" />
    <meta property="og:description" content="@text" />
    <meta property="og:image" content="@Html.Raw(img.Trim())" />
    <meta name="twitter:image" content="@Html.Raw(img.Trim())" />
    @if (img != defaultSocialImg)
    {
        <meta name="twitter:card" content="summary_large_image" />
    }
    @if (ViewBag.OpenGraphMore != null)
    {
        @Html.Raw(ViewBag.OpenGraphMore)
    }
    <meta property="og:hlidac_html" content="@socialhtml" />
    <meta property="og:hlidac_footer" content="@socialfooter" />
    <meta property="og:hlidac_subfooter" content="@socialsubfooter" />
    <meta property="og:hlidac_footerimg" content="@socialfooterimg" />

    @RenderSection("metatags", required: false)

    <link rel="stylesheet" href="~/css/bootstrap.hlidac.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.hlidac.override.css">
    <link rel="stylesheet" href="~/css/hlidac.css">
    <link rel="stylesheet" href="~/css/site.css">

    <link rel="stylesheet" href="~/Content/social-share-kit.css">

    @* <link rel="stylesheet" href="~/content/bundled.css" /> *@

    <script src="~/js/bootstrap.bundle.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,700&amp;subset=latin-ext" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/a0fc082c81.js" crossorigin="anonymous"></script>

    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/scriptbundle"></script>
    <script src="~/bundles/highcharts11"></script>
    <script src="~/bundles/modernizr"></script>

    <!-- Matomo Tag Manager -->
    <script>
        var _mtm = window._mtm = window._mtm || [];
        _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
        (function() {
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.async=true; g.src='https://ma.hlidacstatu.cz/js/container_fFYgkYZS.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Tag Manager -->

    <script>

        function closeMegaMenu(el) {
            var navItem = $(el).closest('.dropdown-menu.shadow').prev('a');
            var dd = new bootstrap.Dropdown(navItem[0]);
            dd.hide();
        }

        Highcharts.setOptions({
            colors: ["#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7","#ea5545", "#f46a9b", "#ef9b20", "#edbf33", "#ede15b", "#bdcf32", "#87bc45", "#27aeef", "#b33dc6"]
            /* ["#1984c5", "#22a7f0", "#63bff0", "#a7d5ed", "#e2e2e2", "#e1a692", "#de6e56", "#e14b31", "#c23728", "#ffb400", "#d2980d", "#a57c1b", "#786028", "#363445", "#48446e", "#5e569b", "#776bcd", "#9080ff"] */
        });



    </script>
    @RenderSection("Scripts", required: false)

    <link href="/scripts/selectize/selectize.bootstrap5.css" rel="stylesheet" />
    <script src="/scripts/selectize/selectize.min.js"></script>

    <!-- Blazor -->
    <base href="~/" />
</head>
<body class="new-body">
    <!-- ##head## -->
    <div class="nav-hs ">
        <nav class="navbar navbar-expand-lg navbar-light shadow hlidac">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="margin-right:1em;">
                    <a href="https://www.hlidacstatu.cz/" class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46px" height="46px" viewBox="0 0 46 46" version="1.1">
                            <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="06-DOBRA" transform="translate(-31.000000, -18.000000)">
                                    <g id="Group" transform="translate(31.000000, 18.000000)">
                                        <path d="M34.7926176,43 L34.7926176,25.8136542 C34.7926176,19.2536826 29.4005716,14.55625 22.8156981,14.55625 L22.7226406,14.55625 C16.137767,14.55625 10.4707785,19.2536826 10.4707785,25.8136542 L10.4707785,43 L34.7926176,43 Z" id="Fill-1" fill="#25272D" />
                                        <path d="M30.6778527,27.9431372 C29.1549094,27.5784772 26.5447427,27.4633214 24.731801,27.9431372 C22.9188592,28.422953 22.6712952,30.9140119 24.731801,30.9140119 C26.7923068,30.9140119 32.200796,28.3077972 30.6778527,27.9431372 Z" id="Oval" fill="#266cae" />
                                        <path d="M21.7334082,27.9431372 C20.2104649,27.5784772 17.6002983,27.4633214 15.7873565,27.9431372 C13.9744148,28.422953 13.7268507,30.9140119 15.7873565,30.9140119 C17.8478623,30.9140119 23.2563515,28.3077972 21.7334082,27.9431372 Z" id="Oval" fill="#266cae" transform="translate(18.166667, 29.269506) scale(-1, 1) translate(-18.166667, -29.269506) " />
                                        <path d="M23.1340731,0.78903332 C22.7184471,0.423872614 22.0477586,0.424188294 21.6368425,0.78903332 L0.744673078,19.3388181 C0.333401493,19.7039788 0.245239258,20.3678589 0.557111502,20.8356673 L1.4428885,22.1643327 C1.75057268,22.625859 2.33675444,22.7031399 2.74956077,22.3392375 L22.3815156,5.03302363 L42.2405567,22.3392375 C42.6593161,22.7041666 43.2441756,22.6321411 43.5562369,22.1643327 L44.4425508,20.8356673 C44.7504215,20.374141 44.6627092,19.7036631 44.2474425,19.3388181 L23.1340731,0.78903332 Z" id="Combined-Shape" fill="#25272D" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <div style="float: right;line-height: 1.2em;">
                            <div>Hlídač</div>
                            <div>
                                <strong>státu</strong>
                            </div>
                        </div>
                    </a>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                    <div class="hamburger-toggle">
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0 mainmenu" style="z-index:2000">
                        <li class="nav-item mainmenu">
                            <a class="nav-link active" aria-current="page" href="" onclick="return false;" style="visibility:hidden;cursor:pointer;">&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                            <a asp-controller="Home" asp-action="Index" class="nav-link mainmenu">Platy politiků<br />a úředníků</a>
                        </li>
                        <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                            <a href="https://www.hlidacstatu.cz/menupage/urady" class="nav-link mainmenu">Úřady a<br />státní firmy</a>
                        </li>
                        <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                            <a href="https://www.hlidacstatu.cz/menupage/smlouvy" class="nav-link mainmenu">Smlouvy<br />a zakázky</a>
                        </li>
                        <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                            <a href="https://www.hlidacstatu.cz/dotace" class="nav-link mainmenu">Dotace</a>
                        </li>
                        <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                            <a href="https://www.hlidacstatu.cz/menupage/firmy" class="nav-link mainmenu">Sponzoři a politici</a>
                        </li>
                        <li class="d-lg-none nav-item dropdown dropdown-mega position-static mainmenu">

                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <a style="display:block;margin-right: 0.5em;top:10px;position:relative" href="https://www.hlidacstatu.cz/Identity/Account/manage/"
                                   onclick="_my_event('send', 'event', 'manageBtn', 'click','@Context.Request.Path'); return true;"
                                   title="Nastavení účtu" alt="Nastavení účtu"><i class="fa-solid fa-user fa-xl"></i></a>

                                <a style="display:block;top:10px;position:relative;font-weight:bolder"
                                   onclick="_my_event('send', 'event', 'logoutBtn', 'click','@Context.Request.Path'); return true;"
                                   href="https://www.hlidacstatu.cz/Identity/Account/Logout?rnd=@Guid.NewGuid().ToString("N")">Odhlásit</a>
                            }
                            else
                            {
                                string nextUrl = Context.Request.GetDisplayUrl();
                                if (nextUrl.ToLower().StartsWith(System.Net.WebUtility.UrlEncode("Identity/account/")))
                                {
                                    nextUrl = "";
                                }

                                <a style="display:block;top:10px;position:relative;font-weight:bolder;margin-right:1em;"
                                   onclick="_my_event('send', 'event', 'loginBtn', 'click','@Context.Request.Path'); return true;"
                                   href="https://www.hlidacstatu.cz/Identity/Account/Login?returnUrl=@(nextUrl)"
                                   id="loginLink">
                                    <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                                    Přihlášení
                                </a>
                                <a style="display:block;top:10px;position:relative;font-weight:bolder"
                                   onclick="_my_event('send', 'event', 'registerBtn', 'click','@Context.Request.Path'); return true;"
                                   href="https://www.hlidacstatu.cz/Identity/Account/Register?returnUrl=@(nextUrl)" id="regLink">
                                    <i class="fa-solid fa-file-user fa-lg"></i> Registrace
                                </a>
                            }
                        </li>
                    </ul>

                </div>
                <div class="d-none d-lg-flex rightmenu">

                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <a style="display:block;margin-right: 0.5em;top:10px;position:relative" href="https://www.hlidacstatu.cz/Identity/Account/manage/"
                           onclick="_my_event('send', 'event', 'manageBtn', 'click','@Context.Request.Path'); return true;"
                           title="Nastavení účtu" alt="Nastavení účtu"><i class="fa-solid fa-user fa-xl"></i></a>

                        <a style="display:block;top:10px;position:relative;font-weight:bolder"
                           onclick="_my_event('send', 'event', 'logoutBtn', 'click','@Context.Request.Path'); return true;"
                           href="https://www.hlidacstatu.cz/Identity/Account/Logout?rnd=@Guid.NewGuid().ToString("N")">Odhlásit</a>
                    }
                    else
                    {
                        string nextUrl = Context.Request.GetDisplayUrl();
                        if (nextUrl.ToLower().StartsWith(System.Net.WebUtility.UrlEncode("Identity/account/")))
                        {
                            nextUrl = "";
                        }

                        <a style="display:block;top:10px;position:relative;font-weight:bolder;margin-right:1em;"
                           onclick="_my_event('send', 'event', 'loginBtn', 'click','@Context.Request.Path'); return true;"
                           href="https://www.hlidacstatu.cz/Identity/Account/Login?returnUrl=@(nextUrl)"
                           id="loginLink">
                            <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                            Přihlášení
                        </a>
                        <a style="display:block;top:10px;position:relative;font-weight:bolder"
                           onclick="_my_event('send', 'event', 'registerBtn', 'click','@Context.Request.Path'); return true;"
                           href="https://www.hlidacstatu.cz/Identity/Account/Register?returnUrl=@(nextUrl)" id="regLink">
                            <i class="fa-solid fa-file-user fa-lg"></i> Registrace
                        </a>
                    }

                </div>
            </div>
        </nav>

        <!-- ##autocomplete## -->
        <div class="header__content header__content--compact  d-print-none">
            <div class="header__search">
                <div id="new-search-input">
                    <partial name="_AutocompletePartial" />
                </div>
            </div>
        </div>

        @if (IsSectionDefined("breadcrumbs"))
        {
            <div class="container">
                @await RenderSectionAsync("breadcrumbs", required: false)
            </div>
        }
    </div>

    <div>
        @RenderBody()

        @* <partial name="BackToTop"/> *@
    </div>
    <partial name="_Footer" />
    @await RenderSectionAsync("footerscripts", required: false)
    <!-- render-scripts -->
    <render-scripts></render-scripts>
    <script>
        //BS tooltip init
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
</body>
</html>