@using System.Threading

@using HlidacStatu.DS.Api
@using PlatyUredniku.Services
@using Serilog
@* @rendermode InteractiveServer *@

@inject AutocompleteCategoryCacheService AutocompleteService

<style>
.hlidac-autocomplete {
    /*border: 2px solid yellow;   */
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.hlidac-autocomplete .hlidac-autocomplete-list {
    /*border: 1px solid red;*/
    position: absolute;
    left: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
}


.hlidac-autocomplete-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: none;
    background-color: silver;
    opacity: 50%;
    z-index: 99;
}

    .hlidac-autocomplete .hlidac-autocomplete-list .list-group-item {
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    .no-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .selected-element {
        max-width: 200px;
    }

    .input-group-newline {
        width: 100%;
    }

    .hs-avatar {
        width: 50px;
        height: auto;
        color: #ccc;
        font-size: 45px;
    }

        .hs-avatar.small {
            font-size: 25px;
        }

        .hs-avatar img {
            width: 50px;
        }

    .hs-autocomplete-description {
        margin-left: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .hs-autocomplete-description.small {
            margin-top: 10px;
        }

    #components-reconnect-modal,
    #components-reconnect-modal.components-reconnect-show {
        display: block;
    }

        #components-reconnect-modal .connection-ok,
        #components-reconnect-modal.components-reconnect-show .connection-ok {
            display: block;
        }

        #components-reconnect-modal.components-reconnect-failed .connection-ok,
        #components-reconnect-modal.components-reconnect-rejected .connection-ok {
            display: none;
        }

        #components-reconnect-modal .connection-error,
        #components-reconnect-modal.components-reconnect-show .connection-error {
            display: none;
        }

        #components-reconnect-modal.components-reconnect-failed .connection-error,
        #components-reconnect-modal.components-reconnect-rejected .connection-error {
            display: block;
        }
</style>

<div id="components-reconnect-modal">
    <div class="connection-ok">
        <ErrorBoundary>
            <ChildContent>
                <HlidacAutocompleteSimple 
                    SearchFuncAsync="@((s, token) => OnSearch(s, token))"
                    ValueSelectorFunc="@(autocomplete => autocomplete.Id)"
                    TextSelectorFunc="@(autocomplete => autocomplete.Text)"
                    Name="@Name"
                    DefaultValue="@DefaultValue"
                    DefaultPlaceholder="@DefaultPlaceholder"
                    TItem="Autocomplete">
                    <ItemTemplate>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="hs-autocomplete-description flex-grow-1 me-2">
                                <h6 class="fw-bold mb-0">
                                    @context.RenderText()
                                </h6>
                            </div>
                        </div>
                    </ItemTemplate>
                </HlidacAutocompleteSimple>
            </ChildContent>
            <ErrorContent>
                <div class="hlidac-autocomplete">
                    <div class="input-group">
                        <input type="text"
                               autocomplete="off"
                               placeholder="Došlo k neočekávané chybě. Načtěte prosím stránku znovu"
                               class="hlidac-autocomplete-input form-control"
                               disabled="disabled"/>

                        <a class="btn btn-primary" href="javascript:window.location.reload()" style="margin-bottom:0;margin-top:0;padding-bottom:0">
                            Načíst znovu
                        </a>
                    </div>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </div>

    <div class="connection-error">
        <form class="header__search__input-wrapper" method="get" style="visibility:visible">
            <input value="@_query" id="Q" name="Q" type="text" class="header__search__input" placeholder="Smluvní strana, Název instituce, Jméno osoby, IČO, téma smlouvy …">
            <button class="header__search__btn" formaction="/hledat">Hledat</button>
        </form>
        <a class="btn btn-warning btn-sm" href="javascript:window.location.reload()" style="margin-bottom:0;margin-top:0;padding-bottom:0">
            Chyba připojení. Chcete-li používat vylepšené hledání, načtěte znovu tuto stránku.
        </a>
    </div>
</div>


@code {
    [Parameter]
    public string Name { get; set; }
    
    [Parameter]
    public string DefaultValue { get; set; }
    
    [Parameter]
    public string DefaultPlaceholder { get; set; }
    
    private string _query;
    
    private readonly ILogger _logger = Log.ForContext<AutocompleteWrap>();
    

    private Task<List<Autocomplete>> OnSearch(string query, CancellationToken cancellationToken)
    {
        try
        {
            return Task.FromResult(AutocompleteService.Search(query).ToList());
        }
        catch (Exception ex) when (ex is OperationCanceledException || ex is TaskCanceledException)
        {
            // canceled by user (writing more letters), do not need catch here
        }
        catch (Exception e)
        {
            _logger.Error(e, $"During autocomplete usage an error occured. OnSearch in Wrapper. Query was=[{query}]");
        }

        return Task.FromResult(Enumerable.Empty<Autocomplete>().ToList());
    }

}