@using System.Linq;
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Cache
@using Microsoft.AspNetCore.Html

@model PeopleListViewModel

@{
    var tableId = $"people-list-{Model.Typ}";
    var showOsUdaje = Model.Typ != "V";
}

<table class="table table-condensed table-striped" id="@tableId">
	<thead>
		<tr>
			<th>Jméno</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Osoby)
		{
			<tr>
				<td>
					@Html.Raw(item.Osoba.ToHtml(showOsUdaje || !string.IsNullOrEmpty(item.Osoba.OsobaId) ))
					@if (!string.IsNullOrEmpty(item.Osoba.ICO))
					{
						<div class="small text-info">
							@(await statisticsForIcoAsync(item.Osoba.ICO))
						</div>
					}
					@if (item.DisplayLinkToRizeni)
					{
						<div class="text-info" style="padding-top:10px; font-weight:bold; text-align:right">
							<a href="@Url.Action("Rizeni", "Insolvence", new { id = item.UrlId })">
								Insolvenční řízení @item.SpisovaZnacka <i class="fas fa-arrow-alt-right"></i>
							</a>
						</div>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

@if (Model.ShowAsDataTable)
{
<script>
		$(document).ready(function () {
			$('#@tableId').DataTable(HtmlExtensions.DatatableOptions(ordering: false, pageLength: 5));
		});
</script>
}

@functions {

	async Task<HtmlString> statisticsForIcoAsync(string ico)
    {
        var f = await Firmy.GetAsync(ico);
		StatisticsSubjectPerYear<Smlouva.Statistics.Data> stat = null;
		if (f != null)
			stat = await f.StatistikaRegistruSmluvAsync();
		stat = stat ?? new StatisticsSubjectPerYear<Smlouva.Statistics.Data>();
		
        var pocetSmluv = Devmasters.Lang.CS.Plural.Get(stat.Summary().PocetSmluv, "{0} smlouvu;{0} smlouvy;{0} smluv");
        var smlouvyText = $" - Nalezeli jsme {pocetSmluv} v Registru smluv o celkové hodnotě <strong>{HlidacStatu.Util.RenderData.NicePriceHtml(stat.Summary().CelkovaHodnotaSmluv, mena: "Kč")}</strong>.";

        var sponzorujiciFirmy = StaticData.SponzorujiciFirmy_Vsechny.Get()
	        .Where(s => s.IcoDarce == ico)
	        .ToList();

        var sponzori = new List<string>();
        foreach (var s in sponzorujiciFirmy)
        {
	        var jmeno = await s.JmenoPrijemceAsync();
	        sponzori.Add($"sponzor {jmeno}");
        }

        sponzori = sponzori.Distinct().ToList();
        
        var sponzoriText = sponzori.Any() ? $"<br /> - {string.Join(". ", sponzori)}" : "";

        var vazby = new List<int>();
        var firmySVazbamiNaPolitiky = await MaterializedViewsCache.FirmySVazbamiNaPolitiky_NedavneAsync();
        firmySVazbamiNaPolitiky.SoukromeFirmy.TryGetValue(ico, out vazby);
        var politici = vazby == null ? new List<Osoba>() : OsobaRepo.PolitickyAktivni.Get()?.Where(p => vazby.Contains(p.InternalId)).ToList() ?? new List<Osoba>();
        var maji = Devmasters.Lang.CS.Plural.Get(politici.Count(), "má;mají;mají");

	    string provazaniPolitici = "";
	    if (politici.Any())
	    {
		    string joinedPolitici = string.Join(", ", politici.Select(p => $"<a href=\"/osoba/{p.NameId}\">{p.FullName()}</a>"));
		    provazaniPolitici = $"<br /> - {joinedPolitici} {maji} vazby na tuto firmu.";
	    }
	    
        return new HtmlString($"{smlouvyText}{sponzoriText}{provazaniPolitici}");
    }

}