@using System.Linq;
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using Microsoft.AspNetCore.Html

@model PeopleListViewModel

@{
    var tableId = $"people-list-{Model.Typ}";
    var showOsUdaje = Model.Typ != "V";
}

<table class="table table-condensed table-striped" id="@tableId">
	<thead>
		<tr>
			<th>Jméno</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Osoby)
		{
			var hasIco = !string.IsNullOrEmpty(item.Osoba.ICO);

			<tr>
				<td>
					@Html.Raw(item.Osoba.ToHtml(showOsUdaje || !string.IsNullOrEmpty(item.Osoba.OsobaId) ))
					@if (!string.IsNullOrEmpty(item.Osoba.ICO))
					{
						<div class="small text-info">
							@statisticsForIco(item.Osoba.ICO)
						</div>
					}
					@if (item.DisplayLinkToRizeni)
					{
						<div class="text-info" style="padding-top:10px; font-weight:bold; text-align:right">
							<a href="@Url.Action("Rizeni", "Insolvence", new { id = item.UrlId })">
								Insolvenční řízení @item.SpisovaZnacka <i class="fas fa-arrow-alt-right"></i>
							</a>
						</div>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

@if (Model.ShowAsDataTable)
{
<script>
		$(document).ready(function () {
			$('#@tableId').DataTable(HtmlExtensions.DatatableOptions(ordering: false, pageLength: 5));
		});
</script>
}

@functions {

    HtmlString statisticsForIco(string ico)
    {
        var f = Firmy.Get(ico);
        var stat = f.StatistikaRegistruSmluv();
        var pocetSmluv = Devmasters.Lang.CS.Plural.Get(stat.Summary().PocetSmluv, "{0} smlouvu;{0} smlouvy;{0} smluv");
        var smlouvyText = $" - Nalezeli jsme {pocetSmluv} v Registru smluv o celkové hodnotě <strong>{HlidacStatu.Util.RenderData.NicePriceHtml(stat.Summary().CelkovaHodnotaSmluv, mena: "Kč")}</strong>.";

        var sponzori = StaticData.SponzorujiciFirmy_Vsechny.Get()
			.Where(s => s.IcoDarce == ico)
			.Select(s => $"sponzor {s.JmenoPrijemce()}")
			.Distinct()
	        .ToList();
        var sponzoriText = sponzori.Any() ? $"<br /> - {string.Join(". ", sponzori)}" : "";

        var vazby = new List<int>();
        StaticData.FirmySVazbamiNaPolitiky_vsechny_Cache.Get().SoukromeFirmy.TryGetValue(ico, out vazby);
        var politici = vazby == null ? new List<Osoba>() : OsobaRepo.PolitickyAktivni.Get()?.Where(p => vazby.Contains(p.InternalId)).ToList() ?? new List<Osoba>();
        var maji = Devmasters.Lang.CS.Plural.Get(politici.Count(), "má;mají;mají");

	    string provazaniPolitici = "";
	    if (politici.Any())
	    {
		    string joinedPolitici = string.Join(", ", politici.Select(p => $"<a href=\"/osoba/{p.NameId}\">{p.FullName()}</a>"));
		    provazaniPolitici = $"<br /> - {joinedPolitici} {maji} vazby na tuto firmu.";
	    }
	    
        return new HtmlString($"{smlouvyText}{sponzoriText}{provazaniPolitici}");
    }

}