@model HlidacStatu.Repositories.Searching.SubsidySearchResult
@using HlidacStatu.Entities

<script>
    function changeOrder(sel) {
        var value = sel.value;
        window.location.href = '@Html.Raw(HlidacStatu.Repositories.Searching.SubsidySearchResult.GetSearchUrl(
                                    Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path
                                    , Model.Q))&order=' + value;
    }
</script>

@if (Model?.ElasticResults?.IsValid == false || Model?.ElasticResults == null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">Položený dotaz má špatnou syntaxi. Zkontrolujte, že je správně.</div>
            <div>
                Pokud si myslíte, že dotaz je v pořádku a chyba je na naší straně, 
                <partial name="WebUtil/FeedbackModal" model="@(new FeedbackViewModel("napište nám prosím", "Chyba", "btn btn-link", null))"/>.
                Zkontrolujeme to.
            </div>
        </div>
    </div>
}
else
{
    if (Model.ElasticResults == null)
    {
        <span></span>
    }
    else if (Model.ElasticResults.Total == 0)
    {
        <h2>Žádné dotace jsme nenalezli.</h2>
    }
    else if (Model.ElasticResults.Total > 0)
    {

    if (Model.Query.Contains("\"") == false && Model.Query.Contains(" ") && Model.Query.Length>5)
    {
        Osoba jmeno = Validators.JmenoInText(Model.Query, false);
        if (jmeno != null)
        {
            string sjmeno = $"\"{jmeno.FullName()}\"";
            <div class="row" style="margin-top:10px;margin-bottom:10px;">
                <div class="col-xs-12">
                    <div class="card bg-warning">
                        <div class="card-header">
                            <h3 class="card-title" style="font-size:1.2em;font-weight:bold" >
                                <span class="text-warning fas fa-exclamation-circle" aria-hidden="true" title="Upozornění"></span>
                                Upozornění!
                            </h3>
                        </div>
                        <div class="card-body">
                            V hledaném výrazu jsme našli nejméně jedno jméno. Vyhledávání hledá každou část jména samostatně a <b>vyhledané výsledky proto nemusí s osobou tohoto jména souviset</b>
                            Pokud chcete hledat informace spojené s konkrétní osobou, dejte její jméno do uvozovek.
                            Příklad hledání přesného jména: <code style="font-size:120%;font-weight:bold"><a href="hledat?q=@(System.Net.WebUtility.UrlEncode(sjmeno))">@(sjmeno)<i class="fa-solid fa-up-right-from-square"></i></a></code>
                        </div>

                    </div>
                </div>
            </div>
        }
    }

        <hr />

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>
                    Nalezené dotace
                    <small>
                        @HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.ElasticResults.HitsMetadata.Total, false, HlidacStatu.Util.RenderData.CapitalizationStyle.FirstLetterUpperCap)
                    </small>
                </h3>
                @if (Model?.ElasticResults?.Aggregations != null && Model?.ElasticResults?.Aggregations?.ContainsKey("souhrn") == true)
                {
                    double? sum = ((Nest.ValueAggregate)Model?.ElasticResults?.Aggregations["souhrn"])?.Value;
                    <div>
                        V celkové hodnotě @HlidacStatu.Util.RenderData.NicePriceHtml((decimal)sum). <sup>*)</sup>
                        <div class="alert alert-info" role="alert">
                            <b>*) Celková hodnota</b> je námi vypočítaná hodnota čerpaných dotací, kterou jsme získali z různých zdrojových databází. Takto získané údaje proto mohou být podle kvality vstupních dat zobrazeny v některých případech i duplicitně nebo neúplně. Veškeré údaje proto vždy doporučujeme ověřit.
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-12 col-sm-6">
                <br />
                @Html.DropDownListFor(m => m.Order, Model.OrderList, new { @class = "form-control small float-end", @id = "orderListVZ", @style = "width:60%;max-width:300px", @onchange = "changeOrder(this);" })
            </div>
        </div>
        
        <partial name="SearchResults/SearchResultsSubsidy" model="Model"/>

    }
}

<div style="margin-bottom:50px;"></div>
