@using HlidacStatu.Extensions
@model HlidacStatu.Entities.Dotace

@{
    ViewBag.Title = "Dotace " + Model.DisplayProject;
    ViewBag.SubTitle = "Detail dotace";

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<partial name="_SearchForm" model="@(new HlidacStatu.Repositories.Searching.DotaceSearchResult())" />

<h2>
    <add-bookmark item="@Model"></add-bookmark>
    Detail dotace "@Model.DisplayProject" <small>@((Model.Hints.IsOriginal ? "" : "(duplikátní záznam)"))</small>
</h2>





@{
    var tbloptions = new DotaceDetailOptions() { TableClass = "table-light" };
}
<partial name="_detailTable" model="(Model, tbloptions)" />


@if (Model.SourceIds.Count>1)
{
    <div class="fa-bold m-3">
        <i class="fas fa-exclamation-circle"></i> Tuto dotaci jsme nalezli v @(Model.SourceIds.Count) dalších datových zdrojích.
        Stát dotace publikuje na mnoha místech různými způsoby a v těchto datových zdrojích se některé dotace opakují.
        Náš systém identifikoval, že níže uvedené záznamy jsou stejné jako výše zobrazená dotace. Níže uvedené duplikátní dotace uvádíme pro úplnost a transparentnost.
    </div>
    <a href="/dotace/detailzdroj/@(Uri.EscapeDataString(Model.Id))" type="button" class="btn btn-hs btn-info btn-sm">Zobrazit záznam této dotace ze všech datových zdrojů</a>

}
else
{
    var origSource = await HlidacStatu.Repositories.SubsidyRepo.GetAsync(Model.SourceIds.FirstOrDefault());
    if (origSource != null)
    {
        <p>
        <button type="button" class="btn btn-hs btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#originalDM-@(origSource.NormalizedId)">Zobrazit originální záznam z datového zdroje</button>
        </p>
        <div id="originalDM-@(origSource.NormalizedId)" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="originalDataModal" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title">Originální data, který jsme zpracovali</h4>
                    </div>
                    <div class="modal-body">
                        <pre><code>@origSource.GetNiceRawData()</code></pre>
                    </div>
                </div>
            </div>
        </div>
    }
}


@section footerscripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })
    </script>
}