@using HlidacStatu.Extensions
@model HlidacStatu.Entities.Subsidy

@{
    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = "Detail dotace";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Hlídač Dotací</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<partial name="_SearchForm" model="@(new HlidacStatu.Repositories.Searching.SubsidySearchResult())" />

<h2>
    <add-bookmark item="@Model"></add-bookmark>
    Detail dotace "@Model.DisplayProject"
</h2>


<partial name="_detailTable" model="@Model" />


@if (Model.Hints.HasDuplicates)
{
    var duplicates = Model.Hints.Duplicates
        .Select(id => HlidacStatu.Repositories.SubsidyRepo.GetAsync(id).Result)
        .Where(m => m != null)
        .ToArray();


    var text = Devmasters.Lang.CS.Plural.Get(Model.Hints.Duplicates.Count, "jednoho dalšího zdroje", "{0} dalších zdrojů", "{0} dalších zdrojů");
    <div class="alert alert-light">

        @if (duplicates.Any())
        {
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Zdroje</button>
                </li>

                @{
                    string classAttributes = "nav-link active";
                    int count = 0;

                    foreach (var dot in duplicates)
                    {
                        count++;
                        <li class="nav-item" role="presentation">
                        <button class="@classAttributes"
                                id="source-@(dot.Id)-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#source-@(dot.Id)"
                                type="button"
                                role="tab">
                            @(count). @(dot.Metadata.DataSource)
                        </button>
                        </li>

                        classAttributes = "nav-link";
                    }
                }
            </ul>

            <div class="tab-content width-75vp" id="myTabContent">
                @{
                    count = 0;
                    classAttributes = "tab-pane active "; //fade show width-75vp

                    foreach (var dot in duplicates)
                    {

                        count++;
                        <div class="@classAttributes" id="source-@(dot.Id)" role="tabpanel">

                        <div class="mt-3">
                            @if (dot.Hints.IsOriginal)
                            {
                                <p>Informace z tohoto zdroje mají pravděpodobně nejlepší datovou kvalitu.</p>
                            }
                            else
                            {
                                <p><i class="fas fa-exclamation-circle"></i> Informace z tohoto zdroje nemusí mít nejlepší kvalitu, považujeme ho za duplikátní záznam, který nepočítáme do statistik.</p>
                            }
                        </div>

                            <partial name="_detailTable" model="@dot" /> 
                        </div>
        
                        classAttributes = "tab-pane width-75vp";
                    }
            }
            </div>
        }
    </div>
}

