@using HlidacStatu.Extensions
@model HlidacStatu.Entities.Dotace

@{
    ViewBag.Title = "Zdroje dotace " + Model.DisplayProject;
    ViewBag.SubTitle = "Zdrojová data";
 
    var allDotace = new List<HlidacStatu.Entities.Subsidy>();
    if (Model.SourceIds.Count>0)
    {
        allDotace.AddRange(Model.SourceIds
            .Select(id => HlidacStatu.Repositories.SubsidyRepo.GetAsync(id).Result)
            .Where(m => m != null));
    }
    allDotace = allDotace.OrderBy(o => o.Hints.IsOriginal == false).ToList();

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "detail", new { id=Model.Id})">Dotace @(Devmasters.TextUtil.ShortenText(Model.DisplayProject,20))</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}
@section scripts
{
    <style>
        .navbar .blue {
            background-color: var(--bs-success-bg-subtle);
        }

        .nav-tabs .nav-link:hover {
            background-color: var(--bs-primary-bg-subtle);
            border-color: var(--bs-primary-bg-subtle);
        }

        .nav-tabs .nav-link.active {
            background-color: var(--bs-primary-bg-subtle);
            border-color: var(--bs-primary-bg-subtle);
        }
    </style>
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<partial name="_SearchForm" model="@(new HlidacStatu.Repositories.Searching.DotaceSearchResult())" />

<h2>
    <add-bookmark item="@Model"></add-bookmark>
    Zdroje dotace "@(Model.DisplayProject)"
</h2>




<ul class="nav nav-tabs blue" role="tablist" >

    @{
        string classAttributes = "nav-link active";
        int count = 0;

        foreach (var dot in allDotace)
        {
            count++;
            <li class="nav-item " role="presentation">
                <button class="@classAttributes "
                        id="source-@(dot.NormalizedId)-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#source-@(dot.NormalizedId)"
                        type="button"
                        role="tab">
                    @Html.Raw($"Zdroj dotace z <b>{Devmasters.TextUtil.ShortenText(dot.Metadata.DataSource, 20)}</b>")
                </button>
            </li>

            classAttributes = "nav-link";
        }
    }
</ul>

<div class="tab-content width-75vp" id="myTabContent">
    @{
        var tbloptions = new DotaceDetailOptions() { TableClass = "table-light" };
        count = 0;
        classAttributes = "tab-pane active "; //fade show width-75vp
        foreach (var dot in allDotace)
        {

            count++;
            <div class="@classAttributes" id="source-@(dot.NormalizedId)" role="tabpanel">
                <partial name="_detailTable_subsidy" model="(@dot, tbloptions)" />
            </div>

            classAttributes = "tab-pane "; //fade show width-75vp

        }
    }
</div>


@section footerscripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })
    </script>
}