@using HlidacStatu.Entities.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Searching
@model HlidacStatu.Entities.Entities.Subsidy

@{
    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = "Detail dotace";

    string duplicitaQuery = $"ico:{Model.Common.Recipient.Ico} AND kodProjektu:\"{Model.Common.ProjectCode}\"";
    List<Subsidy> duplicity = null;
    if (!string.IsNullOrWhiteSpace(Model.Common.Recipient.Ico)
        && !string.IsNullOrWhiteSpace(Model.Common.ProjectCode))
    {
        var foundDuplicates = await SubsidyRepo.Searching.SimpleSearchAsync(duplicitaQuery, 0, 1000, SubsidySearchResult.SubsidyOrderResult.FastestForScroll);
        if (foundDuplicates.HasResult)
        {
            duplicity = foundDuplicates.Results.ToList();
        }
    }
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Hlídač Dotací</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<partial name="_SearchForm" model="@(new HlidacStatu.Repositories.Searching.SubsidySearchResult())"/>

<h2>
    <add-bookmark item="@Model"></add-bookmark>
    Detail dotace "@Model.Common.DisplayProject"
</h2>

@if (duplicity != null && duplicity.Count > 1)
{
    var text = Devmasters.Lang.CS.Plural.Get(duplicity.Count(), "pouze jednu možnou duplicitu", "{0} možné duplicity", "{0} možných duplicit");
    <div class="alert alert-warning">
        <i class="fas fa-exclamation-circle"></i> Nalezli jsme <a href="/Dotace/Hledat/?q=@duplicitaQuery">@text</a>.
    </div>
}


<table class="table table-new table-new--dotted">
    <tbody>
    <tr>
        <th>Příjemce dotace</th>
        <td>
            @Model.Common.Recipient.DisplayName @(Model.Common.Recipient.YearOfBirth is null ? "" : $"({Model.Common.Recipient.YearOfBirth})")
            @if (await Model.MaSkutecnehoMajiteleAsync() == false)
            {
                <br/>
                <div class="alert alert-warning">
                    <span class="fa-stack">
                        <i class="fa-duotone fa-user fa-stack-2x"></i>
                        <i class="fa-solid fa-question fa-stack-1x" style="margin-top: -6px;"></i>
                    </span>U tohoto příjemce stát nezná skutečného majitele.
                </div>
                <br/>
            }
        </td>
    </tr>
    <tr>
        <th>Příjemce dotace - jak je uvedeno v datech</th>
        <td>
            @(await Html.KIndexLabelLinkAsync(Model.Common.Recipient.Ico))@Model.Common.Recipient.Name
        </td>
    </tr>
    <tr>
        <th>IČO</th>
        <td>
            @if (Model.Common.Recipient.Ico != "00000000")
            {
                <a href="/dotace/hledat?q=ico:@Model.Common.Recipient.Ico" title="Vyhledat všechny dotace pro tento subjekt">@Model.Common.Recipient.Ico</a>
            }
        </td>
    </tr>
    <tr>
        <th>Obec příjemce</th>
        <td>
            @(Model.Common.Recipient.Obec)
        </td>
    </tr>
    <tr>
        <th>Okres příjemce</th>
        <td>
            @(Model.Common.Recipient.Okres)
        </td>
    </tr>
    <tr>
        <th>Kód projektu</th>
        <td>
            @if (!string.IsNullOrWhiteSpace(Model.Common.ProjectCode))
            {
                <a href="/dotace/hledat?q=kodProjektu:@Model.Common.ProjectCode" title="Vyhledat podobné dotace">@Model.Common.ProjectCode</a>
            }
        </td>
    </tr>
    <tr>
        <th>Název projektu</th>
        <td>@Model.Common.ProjectName</td>
    </tr>
    <tr>
        <th>Název programu</th>
        <td>@(Model.Common.ProgramName ?? "neuveden")</td>
    </tr>
    <tr>
        <th>Kód programu</th>
        <td>@(Model.Common.ProgramCode ?? "neuveden")</td>
    </tr>
    <tr>
        <th>Rok schválení dotace</th>
        <td>@(Model.Common.ApprovedYear)</td>
    </tr>
    <tr>
        <th>Schválená částka</th>
        <td>
            @if (Model.Common.SubsidyAmount.HasValue)
            {
                @HlidacStatu.Util.RenderData.NicePriceHtml((decimal)Model.Common.SubsidyAmount)
            }
            else
            {
                <p>hodnota neznámá</p>
            }
        </td>
    </tr>
    <tr>
        <th>Vyplacená částka</th>
        <td>
            @if (Model.Common.PayedAmount.HasValue)
            {
                @HlidacStatu.Util.RenderData.NicePriceHtml((decimal)Model.Common.PayedAmount)
            }
            else
            {
                <p>hodnota neznámá</p>
            }
        </td>
    </tr>
    <tr>
        <th>Vrácená částka</th>
        <td>
            @if (Model.Common.ReturnedAmount.HasValue)
            {
                @HlidacStatu.Util.RenderData.NicePriceHtml((decimal)Model.Common.ReturnedAmount)
            }
            else
            {
                <p>hodnota neznámá</p>
            }
        </td>
    </tr>
    <tr>
        <th>Správce dotace</th>
        <td>
            @if (!string.IsNullOrWhiteSpace(Model.Common.SubsidyProviderIco))
            {
                <a asp-controller="Subjekt" asp-action="Index" asp-route-id="@Model.Common.SubsidyProviderIco">@(Model.Common.SubsidyProvider)</a>
            }
            else
            {
                <p>@(Model.Common.SubsidyProvider)</p>
            }
        </td>
    </tr>

    <tr>
        <th>Zdroj dat</th>
        <td>
            @Model.DataSource
        </td>
    </tr>
    <tr>
        <th>Datový soubor</th>
        <td>
            @Model.FileName
        </td>
    </tr>
    <tr>
        <th>Datum zpracování</th>
        <td>
            @Model.ProcessedDate.ToString("dd.MM.yyyy")
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#originalDataModal">Zobrazit originální záznam</button>
        </td>
    </tr>


    </tbody>
</table>

<div id="originalDataModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="originalDataModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Originální záznam</h4>
            </div>
            <div class="modal-body">
                <pre><code>@Model.RawDataFormatted</code></pre>
            </div>
        </div>
    </div>
</div>