@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render
@model List<(string Ico, string Jmeno, decimal SumAssumedAmmount)>

@{
    int? rok = null;
    if(ViewData.TryGetValue("rok", out var rokObj))
    {
        rok = (int?)rokObj;
    }
    string yearText = rok > 0 ? $" pro rok {rok}" :"";
    
    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = $"Přehled příjemců dotací, kteří jsou zároveň sponzory politických stran{yearText}";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li>
            <a href="@Url.Action("Reporty", "Dotace")">Reporty</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="/Scripts/Highcharts-7/highcharts.js"></script>
<script src="/Scripts/highcharts.global.options.js"></script>
}

@{
    var dotace = new ReportDataSource<(string Ico, string Jmeno, decimal SumAssumedAmmount)>(
        new[]
        {
            new ReportDataSource<(string Ico, string Jmeno, decimal SumAssumedAmmount)>.Column()
            {
                Name = "Poskytovatel",
                CssClass = "text",
                HtmlRender =(x) => $"<a href=/subjekt/{x.Ico}>{x.Jmeno}</a>",
                TextRender = (x) => x.Jmeno
            },
            new ReportDataSource<(string Ico, string Jmeno, decimal SumAssumedAmmount)>.Column()
            {
                Name = "Celková částka",
                TextRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.SumAssumedAmmount, shortFormat:true),
                HtmlRender =(x) => $"<a title='Najit dotace subjektu' href='/dotace/hledat?Q=hints.isOriginal%3Atrue+AND+ico%3A{x.Ico}'>{HlidacStatu.Util.RenderData.NicePrice(x.SumAssumedAmmount,html:true)}</a>",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.SumAssumedAmmount),
                CssClass = "number"
            }
        });
    
    dotace.AddRows(Model.Take(100));
}
<h4>Vyberte rok, za který chcete zobrazit data</h4>
<partial name="_pager"
         model="@(ValueTuple.Create((int?)null, (int?)null, rok, $"/Dotace/DotovaniSponzori"))"
/>

@if (rok > DotaceRepo.LastCompleteYear)
{
    <div class="alert alert-warning" role="alert">
        @DotaceTexts.NekompletniDataAlert
    </div>
}

<h4>@ViewBag.SubTitle</h4>

<div>
    @Html.DataToHTMLTable(dotace, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 1, orderDirection: "desc"))
</div>

