@model HlidacStatu.Repositories.Searching.DotaceSearchResult
@{

    ViewBag.Title = "Hlídač Dotací: Hledání";
    ViewBag.TxtQuery = Model?.Q;

    ViewBag.ShowBookmarkUrl = true;
}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="@Url.Action("Index","Dotace")">Hlídač Dotací</a></li>
        <li>@ViewBag.TxtQuery</li>
    </ol>
}
<partial name="_SearchForm" model="@Model" />

<p>Vyhledávaný dotaz: <mark>@ViewBag.TxtQuery</mark></p>

<partial name="_SearchResult" model="@Model" />


