@using System.Linq
@using HlidacStatu.Entities
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.Repositories
@model HlidacStatu.Repositories.DotaceRepo.Statistics.TypeStatsPerYear[]

@{
    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = "Report po letech";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="/Scripts/Highcharts-7/highcharts.js"></script>
<script src="/Scripts/highcharts.global.options.js"></script>
}

@{


    var statniData = new HlidacStatu.Web.Models.DotaceAnalBoxes.GeneraModel<StatisticsPerYear<SimpleStat>>()
    {
        TblOrderColumnIdx = 0,
        TblOrderDirection = "desc",
        Title = "Státní a evropské dotace"
    };
    var krajData = new HlidacStatu.Web.Models.DotaceAnalBoxes.GeneraModel<StatisticsPerYear<SimpleStat>>()
    {
        TblOrderColumnIdx = 0,
        TblOrderDirection = "desc",
        Title = "Krajské dotace"
    };


    statniData.Data = new StatisticsPerYear<SimpleStat>(
            Model.FirstOrDefault(d => d.DotaceType == Dotace.Hint.Type.Evropska)
                .Filter(m => m.Key >= HlidacStatu.Repositories.DotaceRepo.DefaultLimitedYears.Min())
                .Select(m => new KeyValuePair<int, SimpleStat>(m.Key, m.Value))
                .ToDictionary()

        );
    krajData.Data = new StatisticsPerYear<SimpleStat>(
            Model.FirstOrDefault(d => d.DotaceType == Dotace.Hint.Type.Krajska)
                .Filter(m => m.Key >= HlidacStatu.Repositories.DotaceRepo.DefaultKrajskeLimitedYears.Min())
                .Select(m => new KeyValuePair<int, SimpleStat>(m.Key, m.Value))
                .ToDictionary()
        );

}

@if (DateTime.Now.Year-1 > DotaceRepo.LastCompleteYear)
{
    <div class="alert alert-warning" role="alert">
        @DotaceTexts.NekompletniDataAlert
    </div>
}
<h4>Přehled státních a evropských dotací</h4>
<div>
    <partial name="analBoxes/_chartPoLetech" model="statniData" />

    @* @Html.ColumnGraph("Státní a evropské dotace v jednotlivých letech", dotaceStatniGraphData, yTitleLeft: "Objem dotací v Kč") *@
</div>
<div>
    <partial name="analBoxes/_tblPoLetech" model="statniData" />
    @* @Html.DataToHTMLTable(dotaceDataStat, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 0, orderDirection: "desc")) *@
</div>

<h4>Přehled krajských dotací</h4>
<div>
    <partial name="analBoxes/_chartPoLetech" model="krajData" />
    @* @Html.ColumnGraph("Krajské dotace v jednotlivých letech", dotaceKrajskeGraphData, yTitleLeft: "Objem dotací v Kč") *@
</div>
<div>
    <partial name="analBoxes/_tblPoLetech" model="krajData" />
    @* @Html.DataToHTMLTable(dotaceDataKraj, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 0, orderDirection: "desc")) *@
</div>

