@using System.Linq
@using HlidacStatu.Entities
@using HlidacStatu.XLib.Render
@model HlidacStatu.Repositories.DotaceRepo.Statistics.TypeStatsPerYear[]

@{
    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = "Report po letech";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
}

@{
    var dotaceDataKraj = new ReportDataSource<(int Year, Dotace.Hint.Type DotaceType, decimal Sum)>(
        new[]
        {
            new ReportDataSource<(int Year, Dotace.Hint.Type DotaceType, decimal Sum)>.Column()
            {
                Name = "Rok",
                CssClass = "number",
                HtmlRender = (x) => x.Year.ToString(),
                TextRender = (x) => x.Year.ToString()
            },
            new ReportDataSource<(int Year, Dotace.Hint.Type DotaceType, decimal Sum)>.Column()
            {
                Name = "Částka",
                TextRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.Sum),
                HtmlRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.Sum, html:true),
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Sum),
                CssClass = "number"
            }
        });
    var dotaceDataStat = new ReportDataSource<(int Year, Dotace.Hint.Type DotaceType, decimal Sum)>(
        new[]
        {
            new ReportDataSource<(int Year, Dotace.Hint.Type DotaceType, decimal Sum)>.Column()
            {
                Name = "Rok",
                CssClass = "number",
                HtmlRender = (x) => x.Year.ToString(),
                TextRender = (x) => x.Year.ToString()
            },
            new ReportDataSource<(int Year, Dotace.Hint.Type DotaceType, decimal Sum)>.Column()
            {
                Name = "Částka",
                TextRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.Sum),
                HtmlRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.Sum, html:true),
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Sum),
                CssClass = "number"
            }
        });

    dotaceDataKraj.AddRows(
        Model.FirstOrDefault(d => d.DotaceType == Dotace.Hint.Type.Krajska)
                .Filter(m=>m.Key >= HlidacStatu.Repositories.DotaceRepo.DefaultKrajskeLimitedYears.Min())
                .Select(m=> (Year: m.Key, DotaceType: Dotace.Hint.Type.Krajska, Sum: m.Value.CelkemCena))
    );
    dotaceDataStat.AddRows(
            Model.FirstOrDefault(d => d.DotaceType == Dotace.Hint.Type.Evropska)
                .Filter(m => m.Key >= HlidacStatu.Repositories.DotaceRepo.DefaultLimitedYears.Min())
                .Select(m => (Year: m.Key, DotaceType: Dotace.Hint.Type.Evropska, Sum: m.Value.CelkemCena))
        );
    
   
    
    var dotaceKrajskeGraphData = new Series[]
    {
        new()
        {
            Name = "Objem krajských dotací",
            Type = Series.SeriesType.column,
            Data = Model
                .FirstOrDefault(d => d.DotaceType == Dotace.Hint.Type.Krajska)
                .Filter(m=>m.Key >= HlidacStatu.Repositories.DotaceRepo.DefaultKrajskeLimitedYears.Min())
                .OrderBy(s => s.Key)
                .Select(s => new SeriesData(s.Key, s.Value.CelkemCena))
                .ToArray(),
        }
    };
    
    var dotaceStatniGraphData = new Series[]
    {
        new()
        {
            Name = "Objem státních a evropských dotací",
            Type = Series.SeriesType.column,
            Data = Model
                .FirstOrDefault(d => d.DotaceType == Dotace.Hint.Type.Evropska)
                .Filter(m=>m.Key >= HlidacStatu.Repositories.DotaceRepo.DefaultLimitedYears.Min())
                .OrderBy(s => s.Key)
                .Select(s => new SeriesData(s.Key, s.Value.CelkemCena))
                .ToArray(),

        },
    };
}

<h4>Přehled státních a evropských dotací</h4>
<div>
    @Html.ColumnGraph("Státní a evropské dotace v jednotlivých letech", dotaceStatniGraphData, yTitleLeft: "Objem dotací v Kč")
</div>
<div>
    @Html.DataToHTMLTable(dotaceDataStat, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 0, orderDirection: "desc"))
</div>

<h4>Přehled krajských dotací</h4>
<div>
    @Html.ColumnGraph("Krajské dotace v jednotlivých letech", dotaceKrajskeGraphData, yTitleLeft: "Objem dotací v Kč")
</div>
<div>
    @Html.DataToHTMLTable(dotaceDataKraj, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 0, orderDirection: "desc"))
</div>

