@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    int? rok = null;
    if(ViewData.TryGetValue("rok", out var rokObj))
    {
        rok = (int?)rokObj;
    }
    string yearText = rok > 0 ? $" pro rok {rok}" :"";

    int typDotace = (int)(ViewData["typDotace"] ?? 0); 
    string typDotaceText = typDotace switch
    {
        1 => "evropské dotace",
        2 => "krajské dotace",
        3 => "obecní dotace",
        _ => "nedefinováno"

    };

    string query = "";
    if (typDotace >0)
        query = HlidacStatu.Searching.Query.ModifyQueryAND(query, $"hints.subsidyType:{typDotace:D}");

    if (rok is not null && rok > 0)
        query = HlidacStatu.Searching.Query.ModifyQueryAND(query, $"approvedYear:{rok}");

    var options = new HlidacStatu.Web.Models.DotaceAnalBoxes.TopProgramy()
    {
        Query = query
    };

    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = $"Přehled největších dotačních programů{yearText} pro {typDotaceText}";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li>
            <a href="@Url.Action("Reporty", "Dotace")">Reporty</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
}


<h4>Vyberte rok, za který chcete zobrazit data</h4>
<partial name="_pager"
         model="@(ValueTuple.Create((int?)(typDotace >= 2 ? 2021 : null), (int?)null, rok, $"/Dotace/TopDotacniProgramy?typDotace={typDotace}"))"
/>

<h4>@ViewBag.SubTitle</h4>

<partial name="analBoxes/_tblTopProgramy" model="options" />
