@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    int? rok = null;
    if(ViewData.TryGetValue("rok", out var rokObj))
    {
        rok = (int?)rokObj;
    }
    string icoPoskytovatele = (string)ViewData["icoPoskytovatele"];
    string icoPrijemce = (string)ViewData["icoPrijemce"];

    string yearText = rok > 0 ? $" pro rok {rok}" :"";

    int typDotace = (int)(ViewData["typDotace"] ?? 0); 
    string typDotaceText = typDotace switch
    {
        1 => "pro státní a evropské dotace",
        2 => "pro krajské dotace",
        3 => "pro obecní dotace",
        _ => ""
    };

    string query = "";
    if (typDotace >0)
        query = HlidacStatu.Searching.Query.ModifyQueryAND(query, $"hints.subsidyType:{typDotace:D}");

    if (rok is not null && rok > 0)
        query = HlidacStatu.Searching.Query.ModifyQueryAND(query, $"approvedYear:{rok}");
    
    if (!string.IsNullOrWhiteSpace(icoPoskytovatele))
        query = HlidacStatu.Searching.Query.ModifyQueryAND(query, $"subsidyProviderIco:{icoPoskytovatele}");

    var options = new HlidacStatu.Web.Models.DotaceAnalBoxes.GeneraModel()
    {
        Query = query
    };

    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = $"{(string.IsNullOrWhiteSpace(icoPoskytovatele) ? "" : Firmy.GetJmeno(icoPoskytovatele)+": ")} Přehled největších dotačních programů{yearText} {typDotaceText}";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li>
            <a href="@Url.Action("Reporty", "Dotace")">Reporty</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="/Scripts/Highcharts-7/highcharts.js"></script>
<script src="/Scripts/highcharts.global.options.js"></script>
}


<h4>Vyberte rok, za který chcete zobrazit data</h4>
<partial name="_pager"
         model="@(ValueTuple.Create((int?)(typDotace >= 2 ? 2021 : null), (int?)null, rok, $"/Dotace/TopDotacniProgramy?typDotace={typDotace}&icoPoskytovatele={icoPoskytovatele}&icoPrijemce={icoPrijemce}"))" />

@if (rok > DotaceRepo.LastCompleteYear)
{
    <div class="alert alert-warning" role="alert">
        @DotaceTexts.NekompletniDataAlert
    </div>
}

<h3 class="pt-4">@ViewBag.SubTitle</h3>

<partial name="analBoxes/_tblTopProgramy" model="options" />
