@using Devmasters.Enums
@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.SharedModels
@using HlidacStatu.XLib.Render
@model Dictionary<Dotace.Hint.CalculatedCategories, HlidacStatu.Lib.Analytics.SimpleStat>

@{
    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = "Kategorie poskytnutých dotací";

    int? rok = ViewData["rok"] as int?;

    var dataTableOptions = $@"{{
                         'language': {{
                            'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                        }},
                        'order': [[1, 'desc']],
                        'lengthChange': false,
                        'info': false,
                        }}";

    string urlParam = "";
    if (rok.HasValue)
    {
        urlParam = urlParam + "&rok=" + rok.Value;
    }
    string searchQuery = "";
    if (rok.HasValue)
    {
        searchQuery = searchQuery + "%20AND%20approvedYear:" + rok.Value;
    }


    List<ReportDataSource<KeyValuePair<Dotace.Hint.CalculatedCategories, HlidacStatu.Lib.Analytics.SimpleStat>>.Column> dataColumns =
    [
        new()
        {
            Name = "Kategorie dotací",
            CssClass = "text",
            HtmlRender = (x) => $"<a title='Ukázat top příjemce těchto dotací' href='/dotace/TopKategorie?cat={(int)x.Key}{urlParam}'>{x.Key.ToNiceDisplayName()} <i class='fa-solid fa-chart-simple-horizontal'></i></a>",
            TextRender = (x) => x.Key.ToNiceDisplayName()
        },
        new()
        {
            Name = "Počet dotací",
            TextRender = (x) => HlidacStatu.Util.RenderData.NiceNumber(x.Value.Pocet),
            HtmlRender = (x) => $"<a title='Najít poskytnuté dotace' href='/dotace/hledat?q=oblast:{(int)x.Key}{searchQuery}'>{HlidacStatu.Util.RenderData.NiceNumber(x.Value.Pocet, html:true)} <i class='fa-solid fa-list'></i></a>",
            OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Value.Pocet),
            CssClass = "number"
        },
        new()
        {
            Name = "Celková částka",
            TextRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.Value.CelkemCena),
            HtmlRender = (x) => $"{HlidacStatu.Util.RenderData.NicePrice(x.Value.CelkemCena, html:true)}",
            OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Value.CelkemCena),
            CssClass = "number"
        }
    ];
    var data = new ReportDataSource<KeyValuePair<Dotace.Hint.CalculatedCategories, HlidacStatu.Lib.Analytics.SimpleStat>>(dataColumns);

    data.AddRows(Model.Select(m => m).ToArray());



}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li>
            <a href="@Url.Action("Reporty", "Dotace")">Reporty</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="/Scripts/Highcharts-7/highcharts.js"></script>
<script src="/Scripts/highcharts.global.options.js"></script>
}

<partial name="_pager" model="@(ValueTuple.Create((int?)null, (int?)null, rok, "/Dotace/TopKategorie"))" />

@if (rok > DotaceRepo.LastCompleteYear)
{
    <div class="alert alert-warning" role="alert">
        @DotaceTexts.NekompletniDataAlert
    </div>
}

<h2 class="mt-4">Kategorie dotací</h2>


<div class="mt-3"></div>

<div>

    @{
        var _chartDataOrdered = Model
        .Select(p => new { sum = p.Value.CelkemCena, label = p.Key.ToNiceDisplayName() })
        .OrderByDescending(o => o.sum)

        ;

        SimplePlot chartData = new SimplePlot()
            {
                Data = _chartDataOrdered.Select(m => (double)m.sum / 1_000_000).ToList(),
                Labels = _chartDataOrdered.Select(m => m.label).ToList(),
                ChartType = "bar",
                Title = $"Kategorie dotací",
                Koncovka = "mil. Kč",
                SeriesName = "Výše dotací",
                CssHeight = "600px"
            };

    }
    <partial name="Charts/_SimpleChart" model="chartData" />
</div>


<div>
    @Html.DataToHTMLTable(data, tableId: "dtx", dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc", paging: false))
</div>


<partial name="_categoryDisclaimer" model="@(new HlidacStatu.Web.Models.Dotace_categoryDisclaimer())" />
