@using Devmasters.Enums
@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render
@model List<(string Ico, Dotace.Hint.CalculatedCategories Category, long Count, decimal Sum)>

@{

    int? rok = ViewData["rok"] as int?;
    int cat = (ViewData["cat"] as int?) ?? 0;
    Dotace.Hint.CalculatedCategories calcCategory = (Dotace.Hint.CalculatedCategories)cat;

    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = "Report pro " + calcCategory.ToNiceDisplayName();

    string elasticQuery = "";
    string searchQuery = "";
    searchQuery = searchQuery + "%20AND%20oblast:" + cat;
    elasticQuery = $"oblast:{cat}";

    if (rok.HasValue)
    {
        searchQuery = searchQuery + "%20AND%20approvedYear:" + rok.Value;
        elasticQuery = HlidacStatu.Searching.Query.ModifyQueryAND(elasticQuery, $"approvedYear:{rok.Value}");
    }


}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li>
            <a href="@Url.Action("Reporty", "Dotace")">Reporty</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="Scripts/Highcharts-7/highcharts.js"></script>
<script src="Scripts/highcharts.global.options.js"></script>
}


<partial name="_pager" model="@(ValueTuple.Create((int?)null, (int?)null, rok, "/Dotace/TopKategorie"))" />

@if (rok > DotaceRepo.LastCompleteYear)
{
    <div class="alert alert-warning" role="alert">
        @DotaceTexts.NekompletniDataAlert
    </div>
}

<h2 class="mt-4">Top kategorie dotací</h2>


<div class="mt-3"></div>
@foreach (var category in Model.Select(m => m.Category).Distinct().OrderBy(m => m.ToNiceDisplayName()))
{
    List<ReportDataSource<(string Ico, Dotace.Hint.CalculatedCategories Category, long Count, decimal Sum)>.Column> dataColumns =
    [
        new()
        {
            Name = "Příjemce",
            CssClass = "text",
            HtmlRender = (x) => $"<a href=/subjekt/{x.Ico}>{FirmaRepo.NameFromIco(x.Ico)}</a>",
            TextRender = (x) => FirmaRepo.NameFromIco(x.Ico) + $" (x.Ico)"
        },
        new()
        {
            Name = "Počet dotací",
            TextRender = (x) => $"{HlidacStatu.Util.RenderData.NicePrice(x.Sum)}",
            HtmlRender = (x) => $"<a href='/dotace/hledat?Q=Ico:{x.Ico}{searchQuery}'>{HlidacStatu.Util.RenderData.NiceNumber(x.Count)}</a>",
            OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Sum),
            CssClass = "number"
        },
        new()
        {
            Name = "Částka",
            TextRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.Sum),
            HtmlRender = (x) => $"{HlidacStatu.Util.RenderData.NicePrice(x.Sum, showDecimal: HlidacStatu.Util.RenderData.ShowDecimalVal.Hide , html:true)}",
            OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Sum),
            CssClass = "number"
        }
    ];


    var data = new ReportDataSource<(string Ico, Dotace.Hint.CalculatedCategories Category, long Count, decimal Sum)>(dataColumns);

    //for (var year = 2021; year < DateTime.Now.Year; year++)
    //{
    data.AddRows(Model.Where(m => m.Category == category).ToList());
    //}


    <h4 id="cat_@((int)category)">@category.ToNiceDisplayName()</h4>

    @if (!rok.HasValue)
    {
        var options = new HlidacStatu.Web.Models.DotaceAnalBoxes.GeneraModel<HlidacStatu.Lib.Analytics.StatisticsPerYear<HlidacStatu.Lib.Analytics.SimpleStat>>() 
                    {
                        Query = elasticQuery,
                        Height = 300,
                        Title = $"Objem dotací {Devmasters.TextUtil.ShortenText(calcCategory.ToNiceDisplayName(), 35)} v jednotlivých letech"
                    };

        <div class="my-4">
            <partial name="analBoxes/_chartPoLetech" model="options" />
        </div>
    }

    <div class="my-3">
        @Html.DataToHTMLTable(data, tableId: "dt" + category.ToString("G"),
                dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc"))
    </div>
}

<partial name="_categoryDisclaimer" model="@(new HlidacStatu.Web.Models.Dotace_categoryDisclaimer())" />
