@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.SharedModels
@using HlidacStatu.XLib.Render
@model List<(string Ico, int Count, decimal Sum)>

@{
    int? rok = null;
    if(ViewData.TryGetValue("rok", out var rokObj))
    {
        rok = (int?)rokObj;
    }
    int? ftyp = ViewData["ftyp"] as int?;
    int? dtyp = ViewData["dtyp"] as int?;
    HlidacStatu.Entities.Subsidy.Hint.Type? dTypeEnum = null;
    if (Enum.TryParse<HlidacStatu.Entities.Subsidy.Hint.Type>(dtyp?.ToString(), out HlidacStatu.Entities.Subsidy.Hint.Type t)) {
        dTypeEnum = t;
    }

    string yearText = rok > 0 ? $" pro rok {rok}" :"";

    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = $"Top příjemci " 
        + (dtyp != null ? " " + HlidacStatu.Entities.Subsidy.Hint.TypeDescription(dtyp, 4, false) : "")
        + $" dotací{yearText}"
        + (ftyp != null ? " pro " + HlidacStatu.Entities.Firma.TypSubjektuDescription(ftyp, 4, false) : "")
        ;
    
    
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
}

@{
    var topPrijemci = new ReportDataSource<(string Ico, int Pocet, decimal Castka)>(
        new[]
        {
            new ReportDataSource<(string Ico, int Pocet, decimal Castka)>.Column()
            {
                Name = "IČO",
                CssClass = "text",
                HtmlRender = (x) => $"<a href=/subjekt/{x.Ico}>{x.Ico}</a>",
                TextRender = (x) => x.Ico
            },
            new ReportDataSource<(string Ico, int Pocet, decimal Castka)>.Column()
            {
                Name = "Název příjemce",
                CssClass = "text",
                HtmlRender = (x) => $"{FirmaRepo.NameFromIco(x.Ico)}</a>",
                TextRender = (x) => x.Ico
            },
            new ReportDataSource<(string Ico, int Pocet, decimal Castka)>.Column()
            {
                Name = "Počet dotací",
                TextRender = (x) => HlidacStatu.Util.RenderData.NiceNumber(x.Pocet),
                HtmlRender = (x) => $"<a title='Najit dotace subjektu' href=/dotace/hledat?Q=ico:{x.Ico}>{HlidacStatu.Util.RenderData.NiceNumber(x.Pocet)}</a>",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Pocet),
                CssClass = "number"
            },
            new ReportDataSource<(string Ico, int Pocet, decimal Castka)>.Column()
            {
                Name = "Celková částka",
                TextRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.Castka, shortFormat:true),
                HtmlRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.Castka,html:true),
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Castka),
                CssClass = "number"
            }
        });

    var topPrijemciOrdered = Model.OrderByDescending(m => m.Sum).ToList(); 
    
    topPrijemci.AddRows(topPrijemciOrdered.Take(100));


    SimplePlot chartData = new SimplePlot()
    {
        Data = topPrijemciOrdered.Select(p => (double)p.Sum / 1_000_000).Take(20).ToList(),
        Labels = topPrijemciOrdered.Select(p => FirmaRepo.NameFromIco(p.Ico)).Take(20).ToList(),
        ChartType = "bar",
        Title = $"Top příjemci dotací{yearText}",
        Koncovka = "mil. Kč",
        SeriesName = "Výše dotací",
        CssHeight = "600px"
    };
    
}

<h4>Vyberte rok, za který chcete zobrazit data</h4>
<partial name="_pager" 
    model="@(ValueTuple.Create((int?)null, (int?)null, rok, 
                "/Dotace/TopPrijemci?ftyp=" + (ftyp.HasValue ? $"{ftyp}" : "") + (dtyp.HasValue ? $"&dtyp={dtyp}" : "")
                ))"    
    />

<h2 class="mt-4">Přehled největších příjemců
    @((dtyp != null ? " " + HlidacStatu.Entities.Subsidy.Hint.TypeDescription(dtyp, 4, false) : ""))
    @(yearText) @((ftyp != null ? " - pouze " + HlidacStatu.Entities.Firma.TypSubjektuDescription(ftyp, 4, false) : ""))</h2>
<div>
    <partial name="Charts/_SimpleChart" model="chartData"/>
</div>
<div>
    @{
        string dataTableOptions = @"{
                         'language': {
                            'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                        },
                        'order': [[3, 'desc']],
                        'lengthChange': false,
                        'info': false,
                        }";
    }
    
    @Html.DataToHTMLTable(topPrijemci, tableId:"topPrijemciTab", dataTableOptions:dataTableOptions)
</div>

