@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.SharedModels
@using HlidacStatu.XLib.Render

@{

    ViewBag.Title = "Výběr dotací";
    ViewBag.SubTitle = $"";

    Dictionary<string, string> qs = this.Context.Request.Query
        .ToDictionary(q => q.Key, q => q.Value.ToString().Replace(HlidacStatu.Web.Controllers.DotaceController.EMPTY_FORM_VALUE,""));


    // var poskytovateleFirmyCache = new Devmasters.Cache.Redis.Cache<string ico, long Count, decimal Sum)[]>(TimeSpan.FromDays(1),
    // "poskytovateleDotaciFirmyInfoCache", (o)=>{
    //     var ret = poskytovateleIcos
    //     .Select(i => ( Firmy.Get(i.IcoPoskytovatele), i.Count, i.Sum))
    //     .ToArray();
    //     return ret;
    // }, Devmasters.Config.GetWebConfigValue("RedisServerUrls").Split(';'),
    //     Devmasters.Config.GetWebConfigValue("RedisBucketName"),
    //     Devmasters.Config.GetWebConfigValue("RedisUsername"),
    //     Devmasters.Config.GetWebConfigValue("RedisCachePassword")
    // );

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li>
            <a href="@Url.Action("Reporty", "Dotace")">Reporty</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="Scripts/Highcharts-7/highcharts.js"></script>
<script src="Scripts/highcharts.global.options.js"></script>

    <style>
        .whisp {
            width: 100%;
            text-align: left;
            background-color: white;
            border-left: 2px grey solid;
            border-top: 0;
            border-bottom: 1px grey dotted;
            border-right: 2px grey solid;
            padding-bottom: 2px;
            cursor: pointer;
        }

            .whisp:focus, .whisp:hover {
                background-color: lightblue;
                outline: none;
            }

        .loading-spinner {
            border: 10px solid #f3f3f3; /* Light grey */
            border-top: 10px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
            position: absolute;
            top: 29px;
            right: 20px;
            z-index: 10;
            display: none;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
        /* Optional: suggestions container styling */
        #suggestions-container {
            position: absolute;
            z-index: 10;
            margin-top: 5px;
            width: 100%;
        }
    </style>
    <script>
        
    </script>
}


<h2>Jaké dotace chcete dohledat a zanalyzovat?</h2>
<p>Jednotlivé možnosti můžete zkombinovat</p>
<form action="/dotace/vyberdotaci" method="get" name="fff" id="xfff">
    <div class="row g-3">
        <div class="col-md-4">
            <label for="typ" class="form-label">Typ dotace</label>

            <select class="form-select" id="typ" name="typ" aria-label="Typ dotace">
                <option selected="@(qs.GetValueOrDefault("typ") == "")" value="@(HlidacStatu.Web.Controllers.DotaceController.EMPTY_FORM_VALUE)">Libovolný</option>
                @foreach (var item in Devmasters.Enums.EnumTools.EnumToEnumerable<HlidacStatu.Entities.Dotace.Hint.Type>()
                .Where(m => m.Value > 0).OrderBy(o => o.Name)
                )
                {
                    <option value="@item.Value" selected="@(qs.GetValueOrDefault("typ") == item.Value.ToString())">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label for="oblast" class="form-label">Oblast dotace</label>

            <select class="form-select" id="oblast" name="oblast" aria-label="Oblast dotace">
                <option selected="@(qs.GetValueOrDefault("oblast") == "")" value="@(HlidacStatu.Web.Controllers.DotaceController.EMPTY_FORM_VALUE)">Libovolná</option>
                @foreach (var item in Devmasters.Enums.EnumTools.EnumToEnumerable<HlidacStatu.Entities.Dotace.Hint.CalculatedCategories>()
                .Where(m => m.Id >= 0).OrderBy(o => o.Name)
                )
                {
                    <option value="@item.Value" selected="@(qs.GetValueOrDefault("oblast") == item.Value.ToString())">@item.Name</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            <label for="hints_recipientTypSubjektu" class="form-label">Druh příjemce</label>

            <select class="form-select" id="hints_recipientTypSubjektu" name="hints.recipientTypSubjektu" aria-label="Druh příjemce">
                <option selected="@(qs.GetValueOrDefault("druhPrijemce") == "")" value="@(HlidacStatu.Web.Controllers.DotaceController.EMPTY_FORM_VALUE)">Libovolný</option>
                @foreach (var item in Devmasters.Enums.EnumTools.EnumToEnumerable<HlidacStatu.Entities.Firma.TypSubjektuEnum>()
                .Where(m => m.Id >= 0).OrderBy(o => o.Name)
                )
                {
                    <option value="@((int)item.Value)" selected="@(qs.GetValueOrDefault("druhPrijemce") == ((int)item.Value).ToString())">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="rok" class="form-label">Vybraný rok</label>

            <select class="form-select" id="rok" name="rok" aria-label="Typ dotace">
                <option selected="@(qs.GetValueOrDefault("rok") == "")" value="@(HlidacStatu.Web.Controllers.DotaceController.EMPTY_FORM_VALUE)">Libovolný</option>
                @for (int i = HlidacStatu.Repositories.DotaceRepo.DefaultLimitedYears.Min(); i <= HlidacStatu.Repositories.DotaceRepo.DefaultLimitedYears.Max(); i++)
                {
                    <option value="@i" selected="@(qs.GetValueOrDefault("rok") == i.ToString())">@i</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            <div id="company-search-container"></div>
            <script>

                document.addEventListener("DOMContentLoaded", function() {
                  const container = document.getElementById("company-search-container");
                  const searchComponent = new SimpleAutocomplete({
                    container: container,
                    labelText: "Poskytovatel dotace",
                    placeholder: "Najít úřad/firmu",
                    endpoint: "/dotace/GetPoskytovatele/", // The component will append the query string.
                    inputStyle: "height:2em",
                    inputName: "icoposkytovatel"
                  });
                });
            </script>

        </div>
        <div class="col-md-4">
            <label for="text" class="form-label">Název dotace,dotačního programu, libovolný text</label>

            <input class="form-control" id="text" value="@(qs.GetValueOrDefault("text"))" name="text" placeholder="Název dotace,dotačního programu, libovolný text" style="height:2em">
        </div>
        <div class="col-10">
            <button id="btnAnalyza" name="btnAnalyza" class="btn btn-hs btn-primary" type="submit">Zobrazit analýzu dotací včetně dotací</button>
            <button id="btnQuery" name="btnQuery" class="btn btn-hs btn-secondary" type="submit">Zobrazit pouze nalezené dotace</button>
        </div>
    </div>
</form> 