@page "/tableEditor/{obor}/{SpecificTablePk:int?}"

@using HlidacStatu.JobTableEditor.Data
@using HlidacStatu.JobTableEditor.Components
@using HlidacStatu.Entities
@using System.Threading
@using HlidacStatu.DetectJobs
@using HlidacStatu.Repositories.Exceptions

@inject JobService JobService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Admin,TableEditor")]

<h1>Job editor</h1>

<div class="container">
    <div class="row">
        <div class="col-2 bg-primary bg-opacity-25">
            Pozice
        </div>
        <div class="col-2 bg-success bg-opacity-25">
            Cena za MD bez DPH
        </div>
        <div class="col-2 bg-warning bg-opacity-25">
            Cena za MD s DPH
        </div>
    </div>
</div>
<hr style="margin-bottom: 20px;"/>
@if (_hlaska.HasValue)
{
    <h4>
        @_hlaska.Value
    </h4>
    <hr style="margin-bottom: 20px;"/>
}

@if (_table == null)
{
    <p>Načítám tabulku&hellip;</p>
}
else
{
    <div class="sticky-top pt-2">
        <h4 class="text-danger">@_errorMessage</h4>
        <button class="btn btn-secondary btn-sm" @onclick="AddColumn">Přidej sloupec</button>
        <button class="btn btn-secondary btn-sm" @onclick="AddRow">Přidej řádek</button>
        <a class="btn btn-outline-secondary btn-sm" target="_blank" href="https://www.hlidacstatu.cz/manage/ShowPrilohaTablesOnePage?s=@(_table.InDocTable.SmlouvaID)&p=@(_table.InDocTable.PrilohaHash)&page=@_table.InDocTable.Page"><i class="far fa-file-alt"></i>Ukázat stránku s tabulkou</a>
    </div>
    <hr style="margin-bottom:20px;"/>
    <table class="table">
        <thead>
        <tr>
            @for (int col = 0; col < _table.Cells[0].Length; col++)
            {
                int column = col;
                <th>
                    <button class="btn btn-sm btn-primary bg-opacity-25" @onclick="@(() => SetColumn(column, InTables.Cell.GuessedCellType.Position) )">Job</button>
                    <button class="btn btn-sm btn-success bg-opacity-25" @onclick="@(() => SetColumn(column, InTables.Cell.GuessedCellType.Price) )"><i class="far fa-money-bill-alt"></i></button>
                    <button class="btn btn-sm btn-warning bg-opacity-25" @onclick="@(() => SetColumn(column, InTables.Cell.GuessedCellType.PriceWithVAT) )"><i class="far fa-money-bill-alt"></i> s DPH</button>
                    <button class="btn btn-sm btn-outline-info" @onclick="@(() => SetColumn(column, InTables.Cell.GuessedCellType.Unknown) )">Nic</button>
                    <span>&nbsp;&nbsp;| &nbsp;</span>
                    <button class="btn btn-secondary btn-sm" @onclick="() => MultiplyPrices(column)"><i class="fas fa-times"></i> 8</button>
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var row in _table.Cells)
        {
            <tr>
                @foreach (var cell in row)
                {
                    <Cell CellShell="@cell" Swapper="@Swapper"></Cell>
                }
            </tr>
        }
        </tbody>
    </table>
    
    <hr/>
    <div style="height:10px;"></div>
    <div class="fixed-bottom bg-light p-2">
        <div class="float-end">
            <button class="btn btn-outline-success" @onclick="SaveTable">Save changes</button>
            <button class="btn btn-outline-warning" @onclick="SuperviseTable">Send to supervisor</button>
            <button class="btn btn-outline-danger" @onclick="NonsenseTable">This table is full of 💩</button>
        </div>
    </div>

    <hr/>
    
}

@code {
    
    [Parameter]
    public string Obor { get; set; }
    [Parameter]
    public int? SpecificTablePk { get; set; }
    
    private SomeTable _table;
    private DateTime _tableOpenedAt;
    private string _errorMessage;
    private CellSwapper Swapper { get; } = new CellSwapper();
    
    private MarkupString? _hlaska;
    private int _processedTables;

    protected override async Task OnParametersSetAsync()
    {
        await LoadNewTable();
    }


    private void SetColumn(int column, InTables.Cell.GuessedCellType cellType)
    {
        foreach (var row in _table.Cells)
        {
            row[column].CellType = cellType;
        }
    }
    

    private async Task LoadNewTable()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userName = authState?.User?.Identity?.Name;

        if (SpecificTablePk.HasValue && SpecificTablePk != 0) //todo: lock only for admins?
        {
            _table = await JobService.GetSpecificTable(SpecificTablePk.Value, userName, CancellationToken.None);
        }
        else
        {

            try
            {
                _table = await JobService.GetNewTable(userName, CancellationToken.None);
            }
            catch (NoDataFoundException ndfe)
            {
                _hlaska = new MarkupString($"<div class=\"alert alert-warning\" role=\"alert\">Ve frontě už není žádná další tabulka ke zpracování.</div>");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                throw;
            }
        }
        _tableOpenedAt = DateTime.Now;
    }

    private async Task SaveTable()
    {
        var isSaved = await TrySave(InDocTables.CheckStatuses.Done);
        if (isSaved)
        {
            await OnSaved();
        }
    }

    private async Task SuperviseTable()
    {
        var isSaved = await TrySave(InDocTables.CheckStatuses.ForNextReview);
        if (isSaved)
        {
            await OnSaved();
        }
    }

    private async Task NonsenseTable()
    {
        var isSaved = await TrySave(InDocTables.CheckStatuses.WrongTable);
        if (isSaved)
        {
            await OnSaved();
        }
    }

    private readonly string[] pochvaly = new string[]
    {
        "Dobrá práce!",
        "Šikula!",
        "Tobě to jde!",
        "Je radost s tebou spolupracovat!",
        "Boží <i class=\"fad fa-heart\"></i>"
    };
    private async Task OnSaved()
    {
        _table = null;
        _errorMessage = "";
        _processedTables++;

        try
        {
            switch (_processedTables % 100)
            {
                case 20:
                    _hlaska = new MarkupString("Zasloužíš si <i class=\"fad fa-mug-hot\"></i>");
                    return;
                case 40:
                    _hlaska = new MarkupString("<i class=\"fal fa-smoking\"></i> Pauzu?");
                    return;
                case 60:
                    _hlaska = new MarkupString("Nemáš hlad <i class=\"fal fa-cookie\"></i>");
                    return;
                case 80:
                    _hlaska = new MarkupString("<i class=\"fad fa-running\"></i> Co se takhle trochu protáhnout?");
                    return;
                case 99:
                    _hlaska = new MarkupString("Tvůj dnešní výkon je na <i class=\"fad fa-medal\"></i>");
                    return;
                default:
                    break;
            }

            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var userName = authState?.User?.Identity?.Name;
            var randomStatistic = await JobService.GetRandomStatistic(userName, CancellationToken.None);
            _hlaska = new MarkupString($"{pochvaly[_processedTables % (pochvaly.Length)]} <br/> {randomStatistic}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _hlaska = new MarkupString($"Nepodařilo se mi vymyslet správnou hlášku. Omlouvám se... <br/> Chyba je v {e.Message}");
        }

        if (SpecificTablePk.HasValue && SpecificTablePk != 0)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            await LoadNewTable();
        }

    }
    
    private async Task<bool> TrySave(InDocTables.CheckStatuses operation)
    {
        var elapsedTime = DateTime.Now - _tableOpenedAt;
        _table.ProcessingTime = elapsedTime;

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userName = authState?.User?.Identity?.Name;
        _table.Author = userName;

        try
        {
            await JobService.SaveChanges(_table, operation);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _errorMessage = e.Message;
            return false;
        }

        return true;
    }
    
    private void MultiplyPrices(int colnum)
    {
        foreach (var row in _table.Cells)
        {
            var cell = row[colnum];
            
            if (cell.CellType == InTables.Cell.GuessedCellType.Price
                || cell.CellType == InTables.Cell.GuessedCellType.PriceWithVAT)
            {
                var newPrice = (Devmasters.ParseText.ToDecimal(cell.Value) * 8);
                cell.Value = newPrice.HasValue ? newPrice.Value.ToString("N2") : "";
            }
        }
    }

    private void AddColumn()
    {
        for (int i = 0; i < _table.Cells.Length; i++)
        {
            int currentLength = _table.Cells[i].Length;
            Array.Resize(ref _table.Cells[i], currentLength + 1);
            _table.Cells[i][currentLength] = new CellShell(new InTables.Cell(), i, currentLength);
        }
        
    }
    
    private void AddRow()
    {
        var oldArray = _table.Cells;
        _table.Cells = new CellShell[oldArray.Length + 1][];
        for (int row = 0; row < oldArray.Length; row++) {
            _table.Cells[row] = oldArray[row]; 
        }

        int columnCount = _table.Cells[0].Length;
        int lastRow = _table.Cells.Length - 1;
        _table.Cells[lastRow] = new CellShell[columnCount];
        for (int col = 0; col < columnCount; col++)
        {
            _table.Cells[lastRow][col] = new CellShell(new InTables.Cell(), lastRow, col);
        }
        
    }

}

