@page "/tableEditor/{obor}/{SpecificTablePk:int?}"

@using HlidacStatu.JobTableEditor.Data
@using HlidacStatu.JobTableEditor.Components
@using HlidacStatu.Entities
@using System.Threading
@using HlidacStatu.DetectJobs
@using HlidacStatu.Repositories.Exceptions

@inject JobService JobService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Admin,TableEditor")]

<h1>Job editor</h1>

<hr style="margin-bottom: 20px;"/>
@if (_exceptionMessage.HasValue)
{
    <h4>
        @_exceptionMessage.Value
    </h4>
    <hr style="margin-bottom: 20px;"/>
}

@if (_table == null)
{
    if (!_exceptionMessage.HasValue)
    {
        <p>Načítám tabulku&hellip;</p>
    }
}
else
{
    <AlertMessage Text="Načetl jsem pro tebe novou tabulku."></AlertMessage>
    <div class="sticky-top pt-2 col-6 row">
        <div class="col-8">
            <button class="btn btn-secondary btn-sm" @onclick="AddColumn">Přidej sloupec</button>
            <button class="btn btn-secondary btn-sm" @onclick="AddRow">Přidej řádek</button>
            <LinkToOriginal InDocTable="@_table.InDocTable"></LinkToOriginal>
        </div>
    </div>
    <hr style="margin-bottom:20px;"/>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            @for (int col = 0; col < _table.Cells[0].Length; col++)
            {
                int column = col;
                <th>
                    <button class="btn btn-sm btn-primary bg-opacity-25" @onclick="@(() => SetColumn(column, true))">Označit</button>
                    <button class="btn btn-sm btn-outline-info" @onclick="@(() => SetColumn(column, false))">Nic</button>
                    <span>&nbsp;&nbsp;| &nbsp;</span>
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var row in _table.Cells)
        {
            <tr>
                <th>
                    <button class="btn btn-sm btn-outline-info" @onclick="@(() => SetRow(row, false))">Nic</button>
                </th>
                @foreach (var cell in row)
                {
                    <Cell CellShell="@cell" Swapper="@Swapper" SyncSignaler="_syncIndicator"></Cell>
                }
            </tr>
        }
        </tbody>
    </table>
    
    <hr/>
    <div style="height:10px;"></div>
    <div class="fixed-bottom bg-light p-2">
        <h4 class="text-danger float-start">@_errorMessage</h4>
        <div class="float-end">
            @* <button class="btn btn-outline-success" @onclick="SaveTable">Save changes</button> *@
            <Modal Table="_table"></Modal>
            <button class="btn btn-outline-warning" @onclick="NoPricesTable">Chybí ceny</button>
            <button class="btn btn-outline-warning" @onclick="SuperviseTable">Nevím co s tím šéfe (supervisor)</button>
            <button class="btn btn-outline-warning" @onclick="BrokenTable">Obsahuje data, ale je moc rozházená</button>
            <button class="btn btn-outline-danger" @onclick="NonsenseTable">This table is full of 💩</button>
        </div>
    </div>

    <hr/>
    
}

@code {
    
    [Parameter]
    public string Obor { get; set; }
    [Parameter]
    public int? SpecificTablePk { get; set; }
    
    private SomeTable _table;
    
    private string _errorMessage;
    private CellSwapper Swapper { get; } = new CellSwapper();
    
    private MarkupString? _hlaska;
    private MarkupString? _exceptionMessage;
    
    private int _processedTables;

    private int _syncIndicator = 0;
    
    private string _userName;

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _userName = authState?.User?.Identity?.Name;
        await LoadNewTable();
    }


    private void SetColumn(int column, bool isImportant)
    {
        foreach (var row in _table.Cells)
        {
            row[column].IsImportant = isImportant;
        }
    }
    
    private void SetRow(CellShell[] row, bool isImportant)
    {
        foreach (var column in row)
        {
            column.IsImportant = isImportant;
        }
    }
    

    private async Task LoadNewTable()
    {
        if (SpecificTablePk.HasValue && SpecificTablePk != 0) //todo: lock only for admins?
        {
            _table = await JobService.GetSpecificTable(SpecificTablePk.Value, _userName, CancellationToken.None);
        }
        else
        {

            try
            {
                _table = await JobService.GetNewTable(Obor, _userName, CancellationToken.None);
                _table.Author = _userName;
                _table.StartWork();
                _table.OnSave += SaveTable;
            }
            catch (NoDataFoundException ndfe)
            {
                _exceptionMessage = new MarkupString($"<div class=\"alert alert-warning\" role=\"alert\">Ve frontě už není žádná další tabulka ke zpracování.</div>");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                throw;
            }
        }
        
        StateHasChanged();
    }

    private async Task SaveTable()
    {
        var isSaved = await TrySave(InDocTables.CheckState.Done);
        if (isSaved)
        {
            await OnSaved();
        }
    }

    private async Task SuperviseTable()
    {
        var isSaved = await TrySave(InDocTables.CheckState.ForNextReview);
        if (isSaved)
        {
            await OnSaved();
        }
    }
    
    private async Task NoPricesTable()
    {
        var isSaved = await TrySave(InDocTables.CheckState.MissingPrices);
        if (isSaved)
        {
            await OnSaved();
        }
    }
    
    private async Task BrokenTable()
    {
        var isSaved = await TrySave(InDocTables.CheckState.BrokenFormat);
        if (isSaved)
        {
            await OnSaved();
        }
    }

    private async Task NonsenseTable()
    {
        var isSaved = await TrySave(InDocTables.CheckState.WrongTable);
        if (isSaved)
        {
            await OnSaved();
        }
    }

    private readonly string[] pochvaly = new string[]
    {
        "Dobrá práce!",
        "Šikula!",
        "Tobě to jde!",
        "Je radost s tebou spolupracovat!",
        "Boží <i class=\"fad fa-heart\"></i>"
    };
    private async Task OnSaved()
    {
        _table = null;
        _errorMessage = "";
        _processedTables++;

        try
        {
            switch (_processedTables % 100)
            {
                case 20:
                    _hlaska = new MarkupString("Zasloužíš si <i class=\"fad fa-mug-hot\"></i>");
                    return;
                case 40:
                    _hlaska = new MarkupString("<i class=\"fal fa-smoking\"></i> Pauzu?");
                    return;
                case 60:
                    _hlaska = new MarkupString("Nemáš hlad <i class=\"fal fa-cookie\"></i>");
                    return;
                case 80:
                    _hlaska = new MarkupString("<i class=\"fad fa-running\"></i> Co se takhle trochu protáhnout?");
                    return;
                case 99:
                    _hlaska = new MarkupString("Tvůj dnešní výkon je na <i class=\"fad fa-medal\"></i>");
                    return;
                default:
                    break;
            }

            var randomStatistic = await JobService.GetRandomStatistic(_userName, CancellationToken.None);
            _hlaska = new MarkupString($"{pochvaly[_processedTables % (pochvaly.Length)]} <br/> {randomStatistic}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _hlaska = new MarkupString($"Nepodařilo se mi vymyslet správnou hlášku. Omlouvám se... <br/> Chyba je v {e.Message}");
        }
        
        StateHasChanged();

        if (SpecificTablePk.HasValue && SpecificTablePk != 0)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            await LoadNewTable();
        }

    }
    
    private async Task<bool> TrySave(InDocTables.CheckState operation)
    {
        _table.EndWork();

        try
        {
            await JobService.SaveChanges(_table, operation);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _errorMessage = e.Message;
            return false;
        }

        return true;
    }
    

    private void AddColumn()
    {
        for (int i = 0; i < _table.Cells.Length; i++)
        {
            int currentLength = _table.Cells[i].Length;
            Array.Resize(ref _table.Cells[i], currentLength + 1);
            _table.Cells[i][currentLength] = new CellShell(new InTables.Cell(), i, currentLength);
        }
        
    }
    
    private void AddRow()
    {
        var oldArray = _table.Cells;
        _table.Cells = new CellShell[oldArray.Length + 1][];
        for (int row = 0; row < oldArray.Length; row++) {
            _table.Cells[row] = oldArray[row]; 
        }

        int columnCount = _table.Cells[0].Length;
        int lastRow = _table.Cells.Length - 1;
        _table.Cells[lastRow] = new CellShell[columnCount];
        for (int col = 0; col < columnCount; col++)
        {
            _table.Cells[lastRow][col] = new CellShell(new InTables.Cell(), lastRow, col);
        }
        
    }

    private void RefreshPage()
    {
        StateHasChanged();
    }
    
    private void TotalRefresh()
    {
        _syncIndicator++;
        StateHasChanged();
    }

    private async Task DismissCountdown()
    {
        await Task.Delay(2000);
        
    }

}

