@page "/"
@using HlidacStatu.DS.Api
@using PoliticiEditor.Components.Autocomplete
@inject AutocompleteService AutocompleteService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Výtejte v administraci politiků</PageTitle>

<h1>Na těchto stránkách můžete editovat informace o sobě</h1>


<p>Co lze:</p>
<ul>
    <li>Změnit osobní údaje - tituly</li>
    <li>Nahrát svoji fotku - pokud se vám nelíbí foto, které jsme pro vás vybrali</li>
    <li>Doplnit důležité informace o příjmech</li>
</ul>

<p>Protože nejste přihlášen, můžete se nejprve dohledat pomocí našeptávání</p>

<HlidacAutocomplete 
    SearchFuncAsync="@((s, token) => OnSearch(s, token))"
    OnAutocompleteItemSelected="@(item => Navigate(item))"
    TextSelector="@((autocomplete) => autocomplete.Text)"
    TItem="Autocomplete">
    <ItemTemplate>
        <div>
            <h6>@context.Text</h6>
            <small>@context.Description</small>
        </div>
    </ItemTemplate>
</HlidacAutocomplete>



@code {
    private async Task<List<Autocomplete>> OnSearch(string query, CancellationToken cancellationToken)
    {
        var result = await AutocompleteService.FindPerson(query, cancellationToken);
        return result;
    }


    private void Navigate(Autocomplete item)
    {
        //$"osobaid:{o.NameId}",
        if (string.IsNullOrWhiteSpace(item.Id) || item.Id.Contains("osobaid") == false)
        {
            return;
        }

        if (item.Id.Contains("osobaid:", StringComparison.InvariantCultureIgnoreCase))
        {
            var nameId = item.Id.Substring(8);
            
            Navigation.NavigateTo($"/politik/{nameId}");
            
        }

    }

}
