@page "/"
@page "/login/{MailHash?}"
@using System.Security.Claims
@using PoliticiEditor.Components.Account
@using HlidacStatu.Extensions;
@using HlidacStatu.Repositories.Cache

@inject UserHelper UserHelper

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Vítejte v administrativní sekci Hlídače státu pro politiky</PageTitle>


@if (User is null || User.Identity?.IsAuthenticated == false)
{
    <h2>Vítejte v administrativní sekci Hlídače státu pro politiky</h2>
    <p>
        Tyto stránky jsou určeny výhradně pro politiky, kteří chtějí aktivně spravovat a veřejně sdílet své informace 
        s občany. Naším cílem je podpořit větší otevřenost a důvěru mezi volenými zástupci a jejich voliči.
    </p>
    <p>
        Abychom zajistili bezpečnost a autenticitu, přihlášení probíhá prostřednictvím jednorázového přístupového odkazu, 
        který Vám zašleme do e-mailu. Stačí zadat Vaši e-mailovou adresu a během několika okamžiků obdržíte odkaz, 
        díky kterému se přihlásíte. Prosím využijte pro tyto účely pouze e-mailovou adresu, na které jsme Vás kontaktovali. 
        Následně budete v systému moci přidat i další e-maily, skrz které bude možné se v budoucnu přihlásit.
    </p>
    <p>Po přihlášení budete mít možnost:</p>
    <ul>
        <li>upravovat své osobní údaje a profilovou fotografii,</li>
        <li>aktualizovat informace o své politické příslušnosti,</li>
        <li>zadávat a měnit údaje o svých příjmech a mnohé další.</li>
    </ul>
    <p>Vaše aktivní účast v tomto projektu přispívá k větší transparentnosti a povede ke zvýšení důvěry voličů v politiky.</p>
    <Login MailHash="@MailHash"/>
}
else
{
    <h2>Na těchto stránkách můžete editovat informace o sobě</h2>

    <div class="person-profile-thumb">
        <a href="/">
            <div class="profile-picture border" style="background-image: url('https://www.hlidacstatu.cz/Photo/@(Osoba.NameId)')">
                <!-- diky pouziti background image nezalezi na pomeru stran obrazku a neni poteba tvorit thumbnaily na serveru -->
            </div>
        </a>
        <div>
            <a class="section-title link--blue" href="/">
                <h3>@Osoba.FullNameWithYear()</h3>
            </a>
            <div class="new-p new-p--gray new-p--small">
                @Osoba.CurrentPoliticalPartyAsync()
            </div>
        </div>
    </div>
    
    <p>
        Informace, které zde vyplníte, budou dále zobrazeny na webu <a href="@Osoba.GetUrl(local: false)">Hlídače státu</a> a po zveřejnění projektu na webu Platů politiků.
    </p>
    
    <p>
        Pokud o sobě najdete jakékoliv informace, které nejsou správné, nebo by Vám cokoliv nefungovalo, kontaktujte nás na e-mailu <a href="mailto:podpora@hlidacstatu.cz">podpora@hlidacstatu.cz</a>
    </p>

    <h3 class="mt-5">Upravit profil</h3>
    <div class="m-3 mb-5">
        <div class="col"><a class="btn btn-hs btn-sm btn-primary" href="/EditPhoto">profilová fotografie</a></div>
        <div class="col"><a class="btn btn-hs btn-sm btn-primary" href="/EditPerson">osobní údaje</a></div>
        <div class="col"><a class="btn btn-hs btn-sm btn-primary" href="/EditParty">působení v politických stranách</a></div>
        <div class="col"><a class="btn btn-hs btn-sm btn-primary" href="/EditSocial">odkazy na sociální sítě</a></div>
        <div class="col"><a class="btn btn-hs btn-sm btn-primary" href="/EditContacts">kontaktní údaje</a></div>
        <div class="col"><a class="btn btn-hs btn-sm btn-primary" href="/EditSalaries">informace o platu</a></div>
    </div>
}


@code {

    [Parameter]
    public string? MailHash { get; set; }
    private ClaimsPrincipal? User { get; set; }
    private HlidacStatu.Entities.Osoba Osoba { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = await UserHelper.GetCurrentUserAsync();
        Osoba = await OsobaCache.GetPersonByNameIdAsync(User.GetNameId());
    }
    
    
}
