@model KindexDetailsViewModel

@using Devmasters.Enums
@using HlidacStatu.Entities
@using HlidacStatu.Entities.KIndex
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Cache

@{
    KIndexData.VypocetDetail.Radek vradek = Model.CurrYear.KIndexVypocet.Radky.Where(m => m.VelicinaPart == Model.Part).First();
}
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h3>Co tento parametr znamená?</h3>
        <parametr-description data="@Model.CurrYear" part="@vradek.VelicinaPart" autohide="false" custom-class="well"/>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>Jaké jsou obvyklé hodnoty tohoto parametru?</h3>
        <div class="well well-sm">
            <img src="/kindex/PercentileBanner/@Model.Ico?part=@((int)vradek.VelicinaPart)" style="width:115%;margin-left:-15%;:800px;height:auto"/>
        </div>
    </div>

</div>
@if (Model.CurrYear.KIndexVypocet.OboroveKoncentrace.Radky.Count() > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="sel_obory">Významné obory</label>
                    <div class="col-sm-10">
                        <select id="sel_obory" class="form-control">
                            <option>-- vyberte obor, který vás zajímá --</option>
                            @foreach (var ro in Model.CurrYear.KIndexVypocet.OboroveKoncentrace.Radky)
                            {
                                <option value="@(ro.Obor)_kind">@(Smlouva.SClassification.Classification.ToClassifType(ro.Obor).ToNiceDisplayName())</option>
                            }
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>


    foreach (var ro in Model.CurrYear.KIndexVypocet.OboroveKoncentrace.Radky)
    {
        <div class="boxobor @(ro.Obor)_kind" style="display:none;">
            <h4>Obor @(Smlouva.SClassification.Classification.ToClassifType(ro.Obor).ToNiceDisplayName())</h4>
            @if (ro.PodilSmluvBezCeny > 0)
            {
                var oboryLbl = KIndexData.DetailInfo.KIndexLabelForPart(KIndexData.KIndexParts.KoncentraceDodavateluObory,
                    Model.CurrYear.KIndexVypocet.OboroveKoncentrace?
                        .Radky
                        .Where(m => m.Obor == ro.Obor)
                        .FirstOrDefault().Hodnota);

                <p>
                    Počet smluv organizace se skrytou cenou v tomto oboru: <b>@HlidacStatu.Util.RenderData.NiceNumber(ro.PodilSmluvBezCeny * ro.PocetSmluvCelkem + 1)</b>, tj. <b>@(HlidacStatu.Util.RenderData.NicePercent(ro.PodilSmluvBezCeny))</b>.
                    Míra koncentrace dodavatelů v tomto oboru: @Html.KIndexIcon(oboryLbl)
                </p>
            }
            <a class="btn btn-hs btn-secondary" href="/hledatsmlouvy?q=@System.Net.WebUtility.UrlEncode(Model.CurrYear.Info(Model.Part).Query(ro.Obor))">Vyhledat odpovídající smlouvy</a>
            <hr style="width:50%"/>
            <div class="row">
                <div class="col-xs-12">
                    @{
                        KoncentraceDodavateluIndexy koncentrace = Model.CurrYear.KoncetraceDodavateluObory
                            .First(o => o.OborName == ro.Obor)
                            .Koncentrace;
                        
                        var topDodavatele = koncentrace.TopDodavatele(3).OrderByDescending(m => m.HodnotaSmluv).Take(12);
                        var data = new List<Tuple<string, decimal>>();
                        foreach (var m in topDodavatele)
                        {
                            var jmeno = await FirmaCache.GetJmenoAsync(m.Ico);
                            data.Add(new Tuple<string, decimal>(jmeno, m.HodnotaSmluv));
                        }

                        
                        
                        if (koncentrace.HodnotaSmluvProVypocet - data.Sum(m => m.Item2) > 0)
                        {
                            data.Add(new Tuple<string, decimal>("ostatní", koncentrace.HodnotaSmluvProVypocet - data.Sum(m => m.Item2)));
                        }
                    }
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            @ChartUtilExtensions.SemiCircleDonut(data, "Koncentrace dodavatelů", "Podíl", 240)
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <low-box width="250">
                                <table class="table table-new table-new--dotted table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Dodavatel</th>
                                        <th>Počet smluv</th>
                                        <th>Kalkulovaná částka* v Kč</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var souh in koncentrace.Dodavatele.OrderByDescending(m => m.HodnotaSmluv).Take(100))
                                    {
                                        var q = $"icoplatce:{Model.CurrYear.Ico} AND datumUzavreni:[{Model.CurrYear.Rok}-01-01 TO {Model.CurrYear.Rok + 1}-01-01}} AND icoPrijemce:{souh.Ico}";
                                        q = q + $" AND oblast:{ro.Obor}";
                                        <tr>
                                            <td>
                                                <a href="/HledatSmlouvy?Q=@System.Net.WebUtility.UrlEncode(q)">
                                                    <i class="far fa-file-search"></i>
                                                </a>
                                            </td>
                                            <td>@(await FirmaCache.GetJmenoAsync(souh.Ico))</td>
                                            <td class="number">@HlidacStatu.Util.RenderData.NiceNumber(souh.PocetSmluv)</td>
                                            <td class="number text-nowrap">@HlidacStatu.Util.RenderData.NicePriceHtml(souh.HodnotaSmluv)</td>
                                        </tr>
                                    }
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            *) Kalkulováná částka je suma smluv s hodnotou a smluv bez uvedené ceny, kde jsme použili průměrnou hodnotu smluv
                                            @(Model.Jmeno) v @(Model.CurrYear.Rok) ve výši @HlidacStatu.Util.RenderData.NicePriceHtml(koncentrace.PrumernaHodnotaSmluvProVypocet)
                                        </td>
                                    </tr>
                                    </tfoot>

                                </table>
                            </low-box>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}