@using HlidacStatu.Extensions
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Repositories
@model HlidacStatu.Entities.Firma

@{
    var ovmCats = await Model.KategorieOVMAsync();
}
<p>
    @if (Model.JsemOVM())
    {
        <span>Úřad - orgán veřejné moci.
            @if (!string.IsNullOrWhiteSpace(Model.Kod_PF_Popis()))
            {
                <span>@Model.Kod_PF_Popis().</span>
            }

        </span>
    }
    else if (Model.JsemStatniFirma())
    {
        <span>
            Firma (spolu)vlastněná státem či samosprávou.             
            @if (!string.IsNullOrWhiteSpace(Model.Kod_PF_Popis()))
            {
                <span>@Model.Kod_PF_Popis().</span>
            }
        </span>
    }
    else if (Model.JsemExekutor())
    {
        <span>Exekutor.</span>
    }
    else if (Model.JsemInsolvencniSpravce())
    {
        <span>Insolvenční správce.</span>
    }
    else if (Model.JsemPolitickaStrana())
    {
        <span>Politická strana.</span>
    }
    else
    {
        <span>
            Soukromá firma.
            @if (!string.IsNullOrWhiteSpace(Model.Kod_PF_Popis()))
            {
                <span>@Model.Kod_PF_Popis().</span>
            }
        </span>
    }
    @if (!string.IsNullOrWhiteSpace(Model.StatusFull()))
    {
        <span class="text-muted">@Model.StatusFull().</span>
    }
    @if (Model.AktualniVazbyAsync(Relation.AktualnostType.Nedavny).Any())
    {
        if (Model.PatrimStatu())
        {
            <span>
                Řídí <a href="/subjekt/Vazby/@Model.ICO">@(Devmasters.Lang.CS.Plural.Get(Model.PocetPodrizenychSubjektuAsync( Relation.CharakterVazbyEnum.VlastnictviKontrola, Relation.AktualnostType.Nedavny), "jednu podřízenou organizaci", "{0} podřízené organizace", "{0} podřízených organizací")).</a>
            </span>
        }
        else
        {
            <span>
                Řídí <a href="/subjekt/Vazby/@Model.ICO">@(Devmasters.Lang.CS.Plural.Get(Model.PocetPodrizenychSubjektuAsync( Relation.CharakterVazbyEnum.VlastnictviKontrola, Relation.AktualnostType.Nedavny), "jeden podřízený subjekt", "{0} podřízené subjekty", "{0} podřízených subjektů")).</a>
            </span>
        }
    }
    @if (ovmCats.Any())
    {
        <span>
            Je součástí <a href="/subjekt/DalsiInformace/@Model.ICO">@Devmasters.Lang.CS.Plural.Get(ovmCats.Count(), "jedné kategorie", "{0} kategorií", "{0} kategorií") orgánu veřejné moci.</a>
        </span>
    }
</p>