@using HlidacStatu.Datastructures.Graphs
@using HlidacStatu.Extensions;

@model (HlidacStatu.Entities.Firma firma, string viewName, string title)

@{
    ViewBag.Title = Model.title;
    ViewBag.HideTitle = true;

    ViewBag.SocialShareTitle = $"{Model.firma.Jmeno}";
    ViewBag.SocialShareText = HlidacStatu.Util.InfoFact.RenderInfoFacts(Model.firma.InfoFacts(), 4, true, true, ", ");
    ViewBag.SocialShareType = "article";
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/subjekt?d={DateTime.Now.ToString("yyMMdd")}&v=" + Model.firma.ICO;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
                + "<meta property=\"og:image:height\" content=\"1080\" />"
                + "<meta property=\"og:image:type\" content=\"image/png\" />";


    Relation.AktualnostType? aktualnost = ViewBag.Aktualnost;
}
@section metatags
{

    @if (Model.firma != null
        && HlidacStatu.Web.Framework.Constants.DontIndexICOS.Contains(Model.firma.ICO.ToLower()))
    {
        <meta name="robots" content="noindex, noarchive">
    }
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>Úřady a firmy</li>
        @if (Model.viewName.ToLower() != "index")
        {
            <li><a href="/subjekt/@Model.firma.ICO">@Model.firma.Jmeno</a></li>
            <li class="active">@ViewBag.Title</li>
        }
        else
        {
            <li class="active">@Model.firma.Jmeno</li>
        }
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
    <script src="/scripts/highcharts-6/highcharts-more.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/treemap.js"></script>
    @* Přidá barevnou paletu ke grafům *@
    @Html.GraphTheme()
}
@section onlyembed
{
    @*@Html.Action("CachedAction_Child_12H", new { model = Model, aktualnost = aktualnost, NameOfView = "OsobaProfil_embed", key = Model.NameId, param1 = aktualnost.ToString() })*@
    @*@Html.Action("Osoba_child", new { model = Model, aktualnost = aktualnost, NameOfView = "OsobaProfil_embed" })*@

    <a href="@Model.firma.GetUrl(false)" target="_top">
    <img src="@($"https://www.hlidacstatu.cz/socialbanner/subjekt?d={DateTime.Now.ToString("yyMMdd")}&v=" + Model.firma.ICO)" style="width:95%;height:auto;max-width:@(ViewBag.MaxWidth)px" />
    </a>
}
<style>
    .sub-header-info {
        padding-bottom: 10px;
        font-size: 1em;
        margin-top: -4px;
    }

    .my-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .py-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .boxes h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .head h3 {
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }

    .watcher .btn {
        background-color: rgb(231,102,5);
        padding: 7px 15px;
        margin: 5px 0px;
        text-transform: none;
        font-size: 14px;
    }

    .moreinfolink {
        padding-top: 10px;
        display: block;
    }

    hr {
        border-top: 3px dotted #E0E6ED;
        margin-top: 24px;
        margin-bottom: 24px;
    }
</style>

<div class="head">
    <h3>
        <add-bookmark name="@(ViewBag.Title + " " + ViewBag.SubTitle)" item="@Model.firma" style="font-size:24px;vertical-align:top;"></add-bookmark>
        @Html.KIndexLabelLink(Model.firma.ICO, 30, linkToKindex: true)@Model.title
        @if (this.User?.IsInRole("canEditData") == true)
        {
            <a href="/manage/CompanyDetail?ico=@Model.firma.ICO" style="font-size:0.8em">
                <i class="far fa-axe"></i>
            </a>
        }
    </h3>
    <cache enabled="@(!System.Diagnostics.Debugger.IsAttached)" expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@($"{Model.firma.ICO}")">
        <partial name="WebUtil/CompanySummary" model="@Model.firma" />
    </cache>
</div>
<hr />


<div class="row boxes">
    @* Pravý sloupec *@
    <cache enabled="@(!System.Diagnostics.Debugger.IsAttached)" expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@($"{Model.firma.ICO}_{User.Identity.IsAuthenticated}")">
        <partial name="RightColumn" model="@Model.firma" />
    </cache>

    @* Prázdný sloupec *@
    <div class="col-sm-1"></div>
    <cache  enabled="@(!System.Diagnostics.Debugger.IsAttached)" expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@($"{Model.firma.ICO}_{Model.viewName}_{User.Identity.IsAuthenticated}_{this.Context.Request.QueryString.ToString()}")">
        <partial name="@Model.viewName" model="@Model.firma" />
    </cache>

</div>