@model HlidacStatu.Entities.Firma 
@using System.Linq
@using HlidacStatu.XLib.Render

@{ 
        Layout = null;
}

@* První sloupec *@
<div id="subjcontent_toc">

@{
    List<string> tabs = new();
    List<string> results = new();
    

    var queries = await HlidacStatu.Datasets.DatasetRepo.Searching.GetSpecificQueriesForDatasetsAsync("ICO", Model.ICO, true);
    var dsSearch = await HlidacStatu.Datasets.Search.DatasetMultiQueryMultiResult.GeneralSearchAsync(queries, 1, 5);
    if (dsSearch.IsValid && dsSearch.Total > 0)
    {
        foreach (var dss in dsSearch.Results.Where(r => r.Total > 0))
        {
            tabs.Add($"{(await dss.DataSet.RegistrationAsync()).name} ({HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(dss.Total)})");
            results.Add(await dss.RenderResultsInHtmlAsync(dss.Q, 5));
        }
    }
}
@if (tabs.Count > 0)
{
    <h2 id="_dalsi_db">Informace z dalších databází</h2>

    <ol>
    @foreach (var dss in dsSearch.Results.Where(r => r.Total > 0))
    {
        var regName = (await dss.DataSet.RegistrationAsync()).name;
        <li><a href="#@System.Net.WebUtility.UrlEncode(regName)">@(regName) (@(HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(dss.Total)))</a></li>
    }
    </ol>

    foreach (var dss in dsSearch.Results.Where(r => r.Total > 0))
    {
        var regName = (await dss.DataSet.RegistrationAsync()).name;
        <h3 id="@System.Net.WebUtility.UrlEncode(regName)">@regName</h3>
        <p>
            @Html.Raw(await dss.RenderResultsInHtmlAsync(dss.Q, 10))
        </p>
        <hr class="morespace middle" />
    }

}

</div>