@model Firma;
@using System.Collections.Concurrent;
@using System.Linq;
@using System.Threading;
@using Devmasters.Enums;
@using HlidacStatu.DS.Graphs;
@using HlidacStatu.Extensions;
@using HlidacStatu.XLib.Render;
@using HlidacStatu.Entities;
@using HlidacStatu.Repositories;
@using HlidacStatu.Lib.Analytics;
@using HlidacStatu.Repositories.Cache

@{
    Layout = null;
    var firmaStats = await Model.StatistikaDotaciAsync();
    var holdingStats = await Model.HoldingStatistikaDotaciAsync();
    bool showHolding = holdingStats.Summary().PocetDotaci > 0
                       && holdingStats.Summary().CelkemPrideleno != firmaStats.Summary().CelkemPrideleno;

    //graph
    string companySubsidiesTitle = "Přehled čerpání dotací";
    var companyGraphData = new Series[]
    {
        new()
        {
            Name = "Celkem Kč",
            Type = Series.SeriesType.column,
            Data = firmaStats
                .Where(x => x.Year > 0)
                .OrderBy(x => x.Year)
                .Select(x => new SeriesData(x.Year, x.Value.CelkemPrideleno)).ToArray(),
            SeriesTooltip = new SeriesTooltip()
            {
                ValueSuffix = " Kč"
            },
        },
    };
    Dictionary<Dotace.Hint.CalculatedCategories, HlidacStatu.Lib.Analytics.SimpleStat> kategorieData = await DotaceRepo.PoKategoriichAsync(ico: Model.ICO);
    Dictionary<Dotace.Hint.CalculatedCategories, HlidacStatu.Lib.Analytics.SimpleStat> kategorieHoldingData = new();
    if ((await Model.AktualniVazbyAsync(Relation.AktualnostType.Nedavny)).Any())
    {
        kategorieHoldingData = await DotaceRepo.PoKategoriichAsync(query: $"holding:{Model.ICO}");
    }

    var reportData = new ReportDataSource<(int Rok, Firma.Statistics.Dotace Dotace)>(
        new ReportDataSource<(int Rok, Firma.Statistics.Dotace Dotace)>.Column[]
        {
            new()
            {
                Name = "Rok",
                CssClass = "number",
                HtmlRender =(x) => x.Rok.ToString(),
                TextRender = (x) => x.Rok.ToString(),
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Rok),
            },
            new()
            {
                Name = "Počet dotací",
                TextRender = (x) => $"{HlidacStatu.Util.RenderData.NiceNumber(x.Dotace.PocetDotaci)}",
                HtmlRender =(x) =>
                    $"<a href=\"/dotace/hledat?Q=ico:{Model.ICO}%20AND%20rozhodnuti.cerpani.guessedYear:{x.Rok}\">{HlidacStatu.Util.RenderData.NiceNumber(x.Dotace.PocetDotaci, html: true)}</a>",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Dotace.PocetDotaci),
            },
            new()
            {
                Name = "Čerpáno",
                TextRender = (x) => $"{HlidacStatu.Util.RenderData.NicePrice(x.Dotace.CelkemPrideleno)}",
                HtmlRender =(x) => $"{HlidacStatu.Util.RenderData.NicePrice(x.Dotace.CelkemPrideleno, html: true)}",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Dotace.CelkemPrideleno),
                CssClass = "number"
            }
        }
    );
    foreach (var dot in firmaStats.Where(d => d.Value.CelkemPrideleno > 0).OrderBy(d => d.Year))
    {
        reportData.AddRow(dot);
    }

    reportData.Title = companySubsidiesTitle;


    var categoryDataTable = new ReportDataSource<KeyValuePair<Dotace.Hint.CalculatedCategories, HlidacStatu.Lib.Analytics.SimpleStat>>(
        new ReportDataSource<KeyValuePair<Dotace.Hint.CalculatedCategories, HlidacStatu.Lib.Analytics.SimpleStat>>.Column[]
        {
            new()
            {
                Name = "Kategorie",
                HtmlRender =(x) => x.Key.ToNiceDisplayName(),
                TextRender = (x) => x.Key.ToNiceDisplayName()
            },
            new()
            {
                Name = "Počet dotací",
                TextRender = (x) => $"{HlidacStatu.Util.RenderData.NiceNumber(x.Value.Pocet)}",
                HtmlRender =(x) => $"<a href='/dotace/hledat?q=ico:{Model.ICO}%20AND%20oblast:{x.Key.ToString()}'>{HlidacStatu.Util.RenderData.NiceNumber(x.Value.Pocet, html: true)}</a>",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Value.Pocet),
                CssClass = "number"
            },
            new()
            {
                Name = "Výše dotací",
                TextRender = (x) => $"{HlidacStatu.Util.RenderData.NicePrice(x.Value.CelkemCena)}",
                HtmlRender =(x) => $"{HlidacStatu.Util.RenderData.NicePrice(x.Value.CelkemCena, html: true)}",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Value.CelkemCena),
                CssClass = "number"
            }
        }
    );
    categoryDataTable.AddRows(kategorieData);

    //holding graf a tabulka
    string holdingSubsidiesTitle = $"Přehled čerpání dotací {(Model.JsemOVM() ? "úřadu včetně podřízených organizací" : "holdingu")}";
    var holdingFirmy = (await Model.HoldingAsync(Relation.AktualnostType.Nedavny)).ToList();

    ConcurrentBag<(Firma Firma, StatisticsSubjectPerYear<Firma.Statistics.Dotace> Stat)> holdingFirmyWithSubsidies = new();
    var semaphore = new SemaphoreSlim(10);
    foreach (var firmaFromHolding in holdingFirmy.Append(Model))
    {
        await semaphore.WaitAsync();
        try
        {
            var stat = await firmaFromHolding.StatistikaDotaciAsync();
            if (stat is not null && stat.HasStatistics)
            {
                holdingFirmyWithSubsidies.Add((firmaFromHolding, stat));
            }
        }
        finally
        {
            semaphore.Release();
        }
    }
    
    int subCompaniesWithSubsidiesCount = holdingFirmyWithSubsidies.Count() - 1;


    var holdingGraphData = new Series[]
    {
        new()
        {
            Name = "Celkem Kč",
            Type = Series.SeriesType.column,
            Data = holdingStats
                .Where(x => x.Year > 0)
                .OrderBy(x => x.Year)
                .Select(x => new SeriesData(x.Year, x.Value.CelkemPrideleno)).ToArray(),
            SeriesTooltip = new SeriesTooltip()
            {
                ValueSuffix = " Kč"
            }
        },
    };

    //tabulka
    var holdingReportData = new ReportDataSource<(Firma Firma, StatisticsSubjectPerYear<Firma.Statistics.Dotace> Stat)>(
        new ReportDataSource<(Firma Firma, StatisticsSubjectPerYear<Firma.Statistics.Dotace> Stat)>.Column[]
        {
            new()
            {
                Name = "Subjekt",
                TextRender = (x) => x.Firma.Jmeno,
                HtmlRender =(x) => x.Firma.Jmeno,
            },
            new()
            {
                Name = "Počet dotací firmě",
                TextRender = (x) => $"{HlidacStatu.Util.RenderData.NiceNumber(x.Stat.Sum(s => s.PocetDotaci))}",
                HtmlRender =(x) => $"<a href=\"/dotace/hledat?Q=ico:{x.Firma.ICO}\">{HlidacStatu.Util.RenderData.NiceNumber(x.Stat.Sum(s => s.PocetDotaci), html: true)}</a>",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Stat.Sum(s => s.CelkemPrideleno)),
                CssClass = "number"
            },
            new()
            {
                Name = "Suma",
                TextRender = (x) => $"{HlidacStatu.Util.RenderData.NicePrice(x.Stat.Sum(s => s.CelkemPrideleno))}",
                HtmlRender =(x) => $"{HlidacStatu.Util.RenderData.NicePrice(x.Stat.Sum(s => s.CelkemPrideleno), html: true)}",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Stat.Sum(s => s.CelkemPrideleno)),
                CssClass = "number"
            }
        }
    );
    foreach (var dot in holdingFirmyWithSubsidies)
    {
        holdingReportData.AddRow(dot);
    }

    holdingReportData.Title = holdingSubsidiesTitle;
}


@* První sloupec *@
<div id="subjcontent_toc">
    <div>
        <h4>Souhrn</h4>
        @{
            string durl = "/dotace/hledat?Q=ico%3A+" + Model.ICO;
            var dotaceSuma = firmaStats.Sum(s => s.CelkemPrideleno);
            var dotacePocet = firmaStats.Sum(v => v.PocetDotaci);

            var sdotaceKc = $" v celkové hodnotě <b>{HlidacStatu.Util.RenderData.NicePriceHtml(dotaceSuma)}</b>.";
        }

        @if (Model.JsemOVM())
        {
            <p>
                Úřad @Devmasters.TextUtil.ShortenText(Model.Jmeno, 35)
                @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(dotacePocet,
                    " nedostal žádnou dotaci.",
                    " dostal <a href='" + durl + "'><b>jednu dotaci</b></a>" + sdotaceKc,
                    " dostal <a href='" + durl + "'><b>{0} dotace</b></a>" + sdotaceKc,
                    " dostal <a href='" + durl + "'><b>{0} dotací</b></a>" + sdotaceKc))
            </p>
        }
        else
        {
            <p>
                Firma @Devmasters.TextUtil.ShortenText(Model.Jmeno, 35)
                @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(dotacePocet,
                    " nedostala žádnou dotaci.",
                    " dostala <a href='" + durl + "'><b>jednu dotaci</b></a>" + sdotaceKc,
                    " dostala <a href='" + durl + "'><b>{0} dotace</b></a>" + sdotaceKc,
                    " dostala <a href='" + durl + "'><b>{0} dotací</b></a>" + sdotaceKc))
            </p>
        }

        @if (showHolding == false & (await Model.AktualniVazbyAsync(Relation.AktualnostType.Nedavny)).Any())
        {
            <p>
                Dceřinné firmy či firmy z holdingu neobdržely žádné dotace.
            </p>
        }
        else
        {
            decimal totalSumDotaceHolding = holdingStats.Sum(s => s.CelkemPrideleno);
            int totalCountDotaceHolding = holdingStats.Sum(s => s.PocetDotaci);

            if (totalCountDotaceHolding - dotacePocet > 0)
            {
                var sdotaceHDiffKc = " v hodnotě <b>" + HlidacStatu.Util.RenderData.NicePriceHtml(totalSumDotaceHolding - dotaceSuma) + "</b>.";
                var sdotaceHKc = " v celkové hodnotě <b>" + HlidacStatu.Util.RenderData.NicePriceHtml(totalSumDotaceHolding) + "</b>.";
                string durlH = "/dotace/hledat?Q=holding%3A+" + Model.ICO;
                if (Model.JsemOVM())
                {
                    <p>
                        <b>@Devmasters.Lang.CS.Plural.Get(subCompaniesWithSubsidiesCount, "Jedna podřízená organizace", "{0} podřízená organizace", "{0} podřízených organizací")</b>
                        (z
                        celkem @HlidacStatu.Util.RenderData.NiceNumber(await Model.PocetPodrizenychSubjektuAsync( Relation.CharakterVazbyEnum.VlastnictviKontrola, Relation.AktualnostType.Nedavny)))
                        úřadu @Devmasters.TextUtil.ShortenText(Model.Jmeno, 35)

                        @Devmasters.Lang.CS.Plural.Get(subCompaniesWithSubsidiesCount,
                            "dostala",
                            "dostaly",
                            "dostalo")
                        @Html.Raw(Devmasters.Lang.CS.Plural.Get(totalCountDotaceHolding - dotacePocet,
                            " ještě <b>jednu dotaci</b>" + sdotaceHDiffKc,
                            " další <b>{0} dotace</b>" + sdotaceHDiffKc,
                            " dalších <b>{0} dotací</b>" + sdotaceHDiffKc))
                    </p>
                    <p>
                        Úřad <b>@(Model.Jmeno)</b> včetně podřízených organizací dostal celkem
                        @Html.Raw(Devmasters.Lang.CS.Plural.Get(totalCountDotaceHolding,
                            " <a href='" + durlH + "'><b>jednu dotaci</b></a>" + sdotaceHKc,
                            " <a href='" + durlH + "'><b>{0} dotace</b></a>" + sdotaceHKc,
                            " <a href='" + durlH + "'><b>{0} dotací</b></a>" + sdotaceHKc))
                    </p>
                }
                else
                {
                    <p>
                        <b>@Devmasters.Lang.CS.Plural.Get(subCompaniesWithSubsidiesCount, "Jedna dceřiná společnost", "{0} dceřiné společnosti", "{0} dceřiných společností")</b>
                        (z
                        celkem @HlidacStatu.Util.RenderData.NiceNumber(await Model.PocetPodrizenychSubjektuAsync( Relation.CharakterVazbyEnum.VlastnictviKontrola, Relation.AktualnostType.Nedavny)))
                        firmy @Devmasters.TextUtil.ShortenText(Model.Jmeno, 35)

                        @Devmasters.Lang.CS.Plural.Get(subCompaniesWithSubsidiesCount,
                            "dostala",
                            "dostaly",
                            "dostalo")
                        @Html.Raw(Devmasters.Lang.CS.Plural.Get(totalCountDotaceHolding - dotacePocet,
                            " ještě <b>jednu dotaci</b>" + sdotaceHDiffKc,
                            " další <b>{0} dotace</b>" + sdotaceHDiffKc,
                            " dalších <b>{0} dotací</b>" + sdotaceHDiffKc))
                    </p>
                    <p>
                        Celý holding včetně <b>@(Model.Jmeno)</b> dostal celkem
                        @Html.Raw(Devmasters.Lang.CS.Plural.Get(totalCountDotaceHolding,
                            " <a href='" + durlH + "'><b>jednu dotaci</b></a>" + sdotaceHKc,
                            " <a href='" + durlH + "'><b>{0} dotace</b></a>" + sdotaceHKc,
                            " <a href='" + durlH + "'><b>{0} dotací</b></a>" + sdotaceHKc))
                    </p>
                }
            }
            else
            {
                if (Model.JsemOVM())
                {
                    <p>
                        <b>
                            @Devmasters.Lang.CS.Plural.Get(subCompaniesWithSubsidiesCount,
                                "Jedna podřízená organizace",
                                "{0} podřízená organizace",
                                "{0} podřízených organizací")
                        </b>
                        úřadu @Devmasters.TextUtil.ShortenText(Model.Jmeno, 35) nedostaly žádné dotace.
                    </p>
                }
                else
                {
                    <p>
                        <b>
                            @Devmasters.Lang.CS.Plural.Get(subCompaniesWithSubsidiesCount,
                                "Jedna dceřiná společnost",
                                "{0} dceřiné společnosti",
                                "{0} dceřiných společností")
                        </b>
                        firmy @Devmasters.TextUtil.ShortenText(Model.Jmeno, 35) nedostaly žádné dotace.
                    </p>
                }
            }
        }

        @* ---poskytovatel dotace--- *@
        @{
            var poskytnutoPoLetech = await DotaceRepo.SumyPoskytnutychDotaciPoLetechAsync(Model.ICO);
            string vyplacenoKcText = "";
            long celkovyPocetVyplacenychDotaci = 0;
            decimal celkemVyplaceno = 0;
            string platceUrl = "/dotace/hledat?Q=subsidyProviderIco%3A" + Model.ICO;
            if (poskytnutoPoLetech.Any())
            {
                celkemVyplaceno = poskytnutoPoLetech.Sum(x => x.Sum);
                celkovyPocetVyplacenychDotaci = poskytnutoPoLetech.Sum(x => x.Count);
                vyplacenoKcText = " v celkové hodnotě <b>" + HlidacStatu.Util.RenderData.NicePriceHtml(celkemVyplaceno) + "</b>.";
            }
        }


        @if (poskytnutoPoLetech.Any())
        {
            <p>
                @(Model.JsemOVM() ? "Úřad" : "Subjekt") @Devmasters.TextUtil.ShortenText(Model.Jmeno, 35)
                @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(celkovyPocetVyplacenychDotaci,
                    " neposkytl žádnou dotaci.",
                    " poskytl <a href='" + platceUrl + "'><b>jednu dotaci</b></a>" + vyplacenoKcText,
                    " poskytl <a href='" + platceUrl + "'><b>{0} dotace</b></a>" + vyplacenoKcText,
                    " poskytl <a href='" + platceUrl + "'><b>{0} dotací</b></a>" + vyplacenoKcText))
            </p>


            @if (poskytnutoPoLetech.Any())
            {
                <h4>Informace o dotacích vyplacených tímto úřadem</h4>

                string subsidiesProvidedTitle = $"Přehled vyplacených dotací ";
                if (Model.JsemOVM())
                {
                    subsidiesProvidedTitle += "úřadu";
                }
                else
                {
                    subsidiesProvidedTitle += "firmy";
                }

                var providedSubsidyGraphData = new Series[]
                {
                    new()
                    {
                        Name = "Celkem Kč",
                        Type = Series.SeriesType.column,
                        Data = poskytnutoPoLetech
                            .Where(x => x.Year > 0)
                            .OrderBy(x => x.Year)
                            .Select(x => new SeriesData(x.Year, x.Sum)).ToArray(),
                        SeriesTooltip = new SeriesTooltip()
                        {
                            ValueSuffix = " Kč"
                        }
                    }
                };

                var providerTableData = new ReportDataSource<(int Year, long Count, decimal Sum)>(
                    new ReportDataSource<(int Year, long Count, decimal Sum)>.Column[]
                    {
                        new()
                        {
                            Name = "Rok",
                            TextRender = (x) => $"{x.Year}",
                            HtmlRender =(x) => $"{x.Year}",
                            OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Year),
                            CssClass = "number"
                        },
                        new()
                        {
                            Name = "Počet",
                            TextRender = (x) => $"{HlidacStatu.Util.RenderData.NiceNumber(x.Count)}",
                            HtmlRender =(x) => $"<a title='Najit vyplacené dotace pro rok {x.Year}' href='/dotace/hledat?Q=subsidyProviderIco:{Model.ICO} AND approvedYear:{x.Year}'>{x.Count}</a>",
                            OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Count),
                            CssClass = "number"
                        },
                        new()
                        {
                            Name = "Suma",
                            TextRender = (x) => HlidacStatu.Util.RenderData.NicePrice(x.Sum, shortFormat: true),
                            HtmlRender =(x) => HlidacStatu.Util.RenderData.NicePrice(x.Sum, html: true),
                            OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Sum),
                            CssClass = "number"
                        },
                    }
                );
                providerTableData.AddRows(poskytnutoPoLetech);

                @Html.Toggleable(
                    Html.ColumnGraph(subsidiesProvidedTitle, providedSubsidyGraphData, yTitleLeft: "Celkem čerpáno", yTitleRight: ""),
                    "Graf",
                    Html.DataToHTMLTable(providerTableData, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2)),
                    "Tabulka"
                )
            }
        }
        <hr/>

        <h4>Přehled subjektu</h4>

        @if (firmaStats.Summary().PocetDotaci == 0)
        {
            <p>
            <div class="alert alert-light" role="alert">
                Subjekt @Model.Jmeno nečerpal žádné dotace.
            </div>
            </p>
        }
        else
        {
            <p>
                @Html.Toggleable(
                    Html.ColumnGraph(companySubsidiesTitle, companyGraphData, yTitleLeft: "Celkem čerpáno", yTitleRight: ""),
                    "Graf",
                    Html.DataToHTMLTable(reportData, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2)),
                    "Tabulka"
                )

                @{
                    var pieData = new SeriesTextValue()
                    {
                        ColorByPoint = true,
                        Name = "Obor",
                        Data = kategorieData
                            .OrderByDescending(o => o.Value.CelkemCena)
                            .Take(9)
                            .Select(m => new SeriesDataTextValue()
                            {
                                Y = m.Value.CelkemCena,
                                Name = m.Key.ToNiceDisplayName()
                            })
                            .ToArray()
                    };
                }
            <div class="mt-3">

                @Html.Toggleable(
                    Html.PieChart("Kategorie získaných dotací", pieData, yTitleLeft: "% dotací", tooltipFormat: "{series.name}: <b>{point.y:,.0f} Kč</b>"),
                    "Graf",
                    Html.DataToHTMLTable(categoryDataTable, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc")),
                    "Tabulka"
                )
            </div>
            </p>
        }
        <hr/>

        @* ////////////////////////////////// HOLDING //////////////////////// *@

        @if (showHolding)
        {
            @if (Model.JsemOVM())
            {
                <h4>Informace o podřízených organizacích</h4>
            }
            else
            {
                <h4>Informace o holdingu</h4>
            }

            @Html.Toggleable(
                Html.ColumnGraph(holdingSubsidiesTitle, holdingGraphData, yTitleLeft: "Celkem čerpáno", yTitleRight: ""),
                "Graf",
                Html.DataToHTMLTable(holdingReportData, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2)),
                "Tabulka"
            )

            if (kategorieHoldingData.Any())
            {
                var pieHoldingData = new SeriesTextValue()
                {
                    ColorByPoint = true,
                    Name = "Obor",
                    Data = kategorieHoldingData
                        .OrderByDescending(o => o.Value.CelkemCena)
                        .Take(9)
                        .Select(m => new SeriesDataTextValue()
                        {
                            Y = m.Value.CelkemCena,
                            Name = m.Key.ToNiceDisplayName()
                        })
                        .ToArray()
                };
                categoryDataTable.Clear();
                categoryDataTable.AddRows(kategorieHoldingData);

                <div class="mt-3">

                    @Html.Toggleable(
                        Html.PieChart("Kategorie získaných dotací", pieHoldingData, yTitleLeft: "% dotací", tooltipFormat: "{series.name}: <b>{point.y:,.0f} Kč</b>"),
                        "Graf",
                        Html.DataToHTMLTable(categoryDataTable, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc")),
                        "Tabulka"
                    )

                </div>
            }

            <h5>Dotace holdingu podrobně</h5>
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th>Rok</th>
                    <th>Celkem Kč</th>
                    <th>Jednotlivé firmy</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var kv in holdingStats.OrderByDescending(o => o.Year))
                {
                    <tr>
                        <td>
                            @kv.Year
                        </td>
                        <td>@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(kv.Value.CelkemPrideleno, html: true))</td>
                        <td>
                            <table class="table table-sm table-borderless table-responsive m-0">
                                @if (kv.Value.JednotliveFirmy is not null && kv.Value.JednotliveFirmy.Any())
                                {
                                    foreach (var item in kv.Value.JednotliveFirmy.OrderByDescending(o => o.Value))
                                    {
                                        <tr>
                                            <td>
                                                <a href="/subjekt/@item.Key">@Devmasters.TextUtil.ShortenText(await FirmaCache.GetJmenoAsync(item.Key), 30)</a>
                                            </td>
                                            <td class="number">@HlidacStatu.Util.RenderData.NicePrice(item.Value)</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>
