@model Firma
@using System.Linq;
@using Devmasters;
@using HlidacStatu.Extensions
@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.SharedModels

@{
    Layout = null;

    var ceo = Model.Ceo();
}


@* Pravý sloupec *@
<div class="col-sm-4 col-xs-12 order-md-3 order-sm-0">
    <div class="row">

        @if (ceo.Osoba != null && ceo.Osoba.IsValid())
        {
            <div class="col-sm-4">
                <div class="person-profile-thumb">
                    <a href="@ceo.Osoba.GetUrl()">
                        <div class="photo">
                            <div class="profile-picture border" style="background-image: url('@ceo.Osoba.GetPhotoUrl(local: true,phototype: Osoba.PhotoTypes.NoBackground)')"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="py-0 my-0 text-muted">@ceo.Role</p>
                <p class="py-0 my-0 lead">
                    <a href="@ceo.Osoba.GetUrl()">@ceo.Osoba.FullName()</a>
                </p>
                <p class="py-0 my-0">od @(ceo.From?.ToString("dd.MM.yyyy"))</p>
                @if (ceo.Osoba.GetSocialContacts().Any())
                {
                    <p class="py-0 my-0 text-muted">
                        @foreach (var ev in ceo.Osoba.GetSocialContacts())
                        {
                            <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, "", "")</span>
                        }
                    </p>
                }

            </div>
        }
        else
        {
            var rppOsoby = await Model.CeosFromRPPAsync();
            if (rppOsoby.Count() > 0)
            {
                <div class="col-sm-4">
                    <div class="person-profile-thumb">
                        <div class="photo">
                            <div class="profile-picture border" style="background-image: url('/photo/unknown')"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="py-0 my-0 text-muted">Zastupovaný</p>
                    @foreach (var os in rppOsoby)
                    {
                        <p class="py-0 my-0 lead">@($"{os.jmeno.Capitalize()} {os.prijmeni.Capitalize()}")</p>
                        <p class="py-0 my-0 text-muted small">změna @(os.poslednizmena?.ToString("dd.MM.yyyy"))</p>
                    }
                </div>
            }
        }

    </div>
    <div>
        <table>
            <tr>
                <td class="text-nowrap text-muted col-sm-5">Založeno</td>
                <td class="col-sm-7">@(Model.Datum_Zapisu_OR?.ToString("dd.MM.yyyy"))</td>
            </tr>
            @if (Model.DatumZaniku is not null)
            {
                <tr>
                    <td class="text-nowrap text-muted col-sm-5">Zaniklo</td>
                    <td class="col-sm-7">@(Model.DatumZaniku?.ToString("dd.MM.yyyy"))</td>
                </tr>
            }
            <tr>
                <td class="text-nowrap text-muted col-sm-5">IČO</td>
                <td class="col-sm-7">@Model.ICO</td>
            </tr>
            <tr>
                <td class="text-nowrap text-muted col-sm-5">Datová schránka</td>
                <td class="col-sm-5">@string.Join(", ", Model.DatovaSchranka)</td>
            </tr>
            @if (Model.GetSocialContacts().Any(m => m.Network == OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
            {
                <tr>
                    <td class="text-nowrap text-muted col-sm-5">Záznamy zastupitelstva</td>
                    <td class="col-sm-5">
                        @foreach (var ev in Model.GetSocialContacts().Where(m => m.Network == OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
                        {
                            <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, Model.ICO, "")</span>
                        }
                    </td>
                </tr>
            }

            @if (Model.GetSocialContacts().Any(m => m.Network != OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
            {
                <tr>
                    <td class="text-nowrap text-muted col-sm-5">Odkazy</td>
                    <td class="col-sm-5">
                        @foreach (var ev in Model.GetSocialContacts().Where(m => m.Network != OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
                        {
                            <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, Model.ICO, "")</span>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <hr />

    Data firem nám poskytuje <a href="https://www.saleskit.com/cs" target="_blank" onclick="return trackOutLink(this,'Merk.cz');">SalesKit</a>.
    <br />Moc děkujeme <i class="fa-solid fa-heart" style="color:red"></i>
    <hr />


    @{
        var platyUrednikuOrg = await PuRepo.GetFullDetailAsync(Model.DatovaSchranka);
    }
    @if (platyUrednikuOrg != null)
    {
        

        if (platyUrednikuOrg?.Platy?.Any() == true)
        {
            var sortedYears = platyUrednikuOrg.Platy.OrderByDescending(pu => pu.Rok).Select(pu => pu.Rok).Distinct();

            var lastYear = sortedYears.FirstOrDefault();
            var secondLastYear = sortedYears.Skip(1).FirstOrDefault();

            var platyLastYear = platyUrednikuOrg.Platy
            .Where(pu => pu.Rok == lastYear)
            .OrderBy(pu => pu.HrubyMesicniPlatVcetneOdmen)
            .ToList();
            var platySecondLastYear = platyUrednikuOrg.Platy
            .Where(pu => pu.Rok == secondLastYear)
            .OrderBy(pu => pu.HrubyMesicniPlatVcetneOdmen)
            .ToList();


            <hr />
            <div class="card">
                <div class="card-header">
                    <b> <i class="fa-solid fa-user-tie-hair"></i><i class="fa-solid fa-user-tie-hair-long"></i> Platy úředníků</b>
                </div>
                <div class="card-body">
                    <p class="card-title">Průměrný měsíční plat včetně odměn</p>
                    @if (platyUrednikuOrg?.Platy?.Count > 0)
                    {

                        <partial name="Charts/_AreaRangePlot" model="@(new AreaRangeRenderOptions(){ Platy= platyUrednikuOrg.Platy, CssHeight="280", YAxisTitle="",Description="" })" />

                    }

                    <table>
                        <tr>
                            <th colspan="2" class="col-sm-12">
                                za rok @lastYear
                            </th>
                        </tr>
                        @foreach (var plat in platyLastYear.Where(p => p.JeHlavoun == true))
                        {
                            if (plat.PocetMesicu > 0)
                            {
                                <tr>
                                    <td class="text-muted col-sm-5">@plat.NazevPozice</td>
                                    <td class="col-sm-7 text-end">@HlidacStatu.Util.RenderData.NicePriceHtml(plat.HrubyMesicniPlatVcetneOdmen)</td>
                                </tr>
                            }
                        }
                        @if (platyLastYear.Count > 1)
                        {
                            <tr>
                                <td class="text-muted col-sm-5">Rozsah @platyLastYear.Count platů vedoucích pozic</td>
                                <td class="col-sm-7 text-end ">
                                    @HlidacStatu.Util.RenderData.NicePriceHtml(platyLastYear.Where(m => m.JeHlavoun != true).First().HrubyMesicniPlatVcetneOdmen)&nbsp;-&nbsp;@HlidacStatu.Util.RenderData.NicePriceHtml(platyLastYear.Where(m => m.JeHlavoun != true).Last().HrubyMesicniPlatVcetneOdmen)
                                </td>
                            </tr>
                        }
                        @if (false && platySecondLastYear.Count > 0)
                        {
                            <tr style="height: 2.5em;vertical-align: bottom;">
                                <th colspan="2" class="col-sm-12">
                                    za rok @secondLastYear
                                </th>
                            </tr>
                            @foreach (var plat in platyLastYear.Where(p => p.JeHlavoun == true))
                            {
                                if (plat.PocetMesicu > 0)
                                {
                                    <tr>
                                        <td class="text-muted col-sm-5">@plat.NazevPozice</td>
                                        <td class="col-sm-7 text-end">@HlidacStatu.Util.RenderData.NicePriceHtml(plat.HrubyMesicniPlatVcetneOdmen)</td>
                                    </tr>
                                }
                            }

                            <tr>
                                <td class="text-muted col-sm-5">Rozsah @platySecondLastYear.Count platů vedoucích pozic</td>
                                <td class="col-sm-7 text-end ">
                                    @HlidacStatu.Util.RenderData.NicePriceHtml(platySecondLastYear.Where(m => m.JeHlavoun != true).First().HrubyMesicniPlatVcetneOdmen)&nbsp;-&nbsp;@HlidacStatu.Util.RenderData.NicePriceHtml(platySecondLastYear.Where(m => m.JeHlavoun != true).Last().HrubyMesicniPlatVcetneOdmen)
                                </td>
                            </tr>

                        }

                    </table>
                </div>
                <div class="card-footer text-muted">
                    <a href="@(platyUrednikuOrg.GetUrl())">Detailní informace o platech @Model.Jmeno.ShortenMeInMiddle(40) <i class="fa-regular fa-arrow-up-right-from-square" aria-hidden="true"></i></a>
                </div>
            </div>
        }
    }

    
    <hr />
    <div>
        <span class="text-muted">Chci sdílet s ostatními</span>
        <div>
            @{
                var linkUrl = $"{ViewContext.GetBaseUrl()}/subjekt/{Model.ICO}";
            }
            <share-facebook url="@linkUrl"></share-facebook>
            <share-twitter url="@linkUrl" text="@($"{Model.Jmeno} na @HlidacStatu - {(await Model.InfoFactsAsync()).FirstOrDefault()?.Render(false)}")"></share-twitter>
            <share-widget url="@linkUrl"></share-widget>
        </div>
    </div>

    <div id="div_toc_side" class="sticky-top">
        <p class="pt-4" style="display:none">
            <b>Obsah stránky</b>
        </p>
        <nav id="toc_side"></nav>

    </div>

</div>