@model Firma
@using System.Linq;
@using Devmasters;
@using HlidacStatu.Datastructures.Graphs
@using HlidacStatu.Extensions
@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.ES
@using Newtonsoft.Json.Linq;

@{
    Layout = null;

    var ceo = Model.Ceo();

}

@* Pravý sloupec *@
<div class="col-sm-4 col-xs-12 order-md-3 order-sm-0">
    <div class="row">

        @if (ceo.Osoba != null && ceo.Osoba.IsValid())
        {
            <div class="col-sm-4">
                <div class="person-profile-thumb">
                    <a href="@ceo.Osoba.GetUrl()">
                        <div class="photo">
                            <div class="profile-picture" style="background-image: url('@ceo.Osoba.GetPhotoUrl(local: true)')"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="py-0 my-0 text-muted">@ceo.Role</p>
                <p class="py-0 my-0 lead"><a href="@ceo.Osoba.GetUrl()">@ceo.Osoba.FullName()</a></p>
                <p class="py-0 my-0">od @(ceo.From?.ToString("dd.MM.yyyy"))</p>
                @if (ceo.Osoba.GetSocialContacts().Any())
                {
                    <p class="py-0 my-0 text-muted">
                        @foreach (var ev in ceo.Osoba.GetSocialContacts())
                        {
                            <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, "", "")</span>
                        }
                    </p>
                }

            </div>
        }
        else
        {
            var rppOsoby = Model.CeoFromRPP();
            if (rppOsoby.Count() > 0)
            {
                <div class="col-sm-4">
                    <div class="person-profile-thumb">
                        <div class="photo">
                            <div class="profile-picture" style="background-image: url('/photo/unknown')"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="py-0 my-0 text-muted">Zastupovaný</p>
                    @foreach (var os in rppOsoby)
                    {
                        <p class="py-0 my-0 lead">@($"{os.jmeno.Capitalize()} {os.prijmeni.Capitalize()}")</p>
                        <p class="py-0 my-0 text-muted small">změna @(os.poslednizmena?.ToString("dd.MM.yyyy"))</p>
                    }
                </div>
            }
        }

    </div>
    <div>
        <table>
            <tr>
                <td class="text-nowrap text-muted col-sm-5">Založeno</td>
                <td class="col-sm-7">@(Model.Datum_Zapisu_OR.Value.ToString("dd.MM.yyyy"))</td>
            </tr>
            <tr>
                <td class="text-nowrap text-muted col-sm-5">IČO</td>
                <td class="col-sm-7">@Model.ICO</td>
            </tr>
            <tr>
                <td class="text-nowrap text-muted col-sm-5">Datová schránka</td>
                <td class="col-sm-5">@string.Join(", ", Model.DatovaSchranka)</td>
            </tr>
            @if (Model.GetSocialContacts().Any(m => m.Network == OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
            {
                <tr>
                    <td class="text-nowrap text-muted col-sm-5">Záznamy zastupitelstva</td>
                    <td class="col-sm-5">
                        @foreach (var ev in Model.GetSocialContacts().Where(m => m.Network == OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
                        {
                            <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, Model.ICO, "")</span>
                        }
                    </td>
                </tr>
            }

            @if (Model.GetSocialContacts().Any(m => m.Network != OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
            {
                <tr>
                    <td class="text-nowrap text-muted col-sm-5">Odkazy</td>
                    <td class="col-sm-5">
                        @foreach (var ev in Model.GetSocialContacts().Where(m => m.Network != OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
                        {
                            <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, Model.ICO, "")</span>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <hr />

    @{
        List<HlidacStatu.Web.Models.SkutecniMajitele> majitele = new List<SkutecniMajitele>();
        HlidacStatu.Datasets.DataSet skutMajitDS = HlidacStatu.Datasets.DataSet.CachedDatasets.Get("skutecni-majitele");
        var skutMajitRes = skutMajitDS.SearchDataRaw("ico:" + Model.ICO, 1, 1).Result;
    }
    @if (skutMajitRes.Any())
    {
        Newtonsoft.Json.Linq.JObject obj = Newtonsoft.Json.Linq.JObject.Parse(skutMajitRes.First().Item2);
        if (obj["skutecni_majitele"]?.Count() > 0)
        {
            <h4>@(obj["skutecni_majitele"].Count() >1 ? "Skuteční majitelé" : "Skutečný majitel")</h4>
            <table>
                @foreach (Newtonsoft.Json.Linq.JObject skm in obj["skutecni_majitele"])
                {
                    <tr style="border-top:4px solid rgba(0,0,0,0)">
                        <td colspan="2" class="col-sm-12">
                            @if (!string.IsNullOrEmpty(skm["osobaId"].Value<string>()))
                            {
                                <a href="/osoba/@(skm["osobaId"].Value<string>())">@(skm["osoba_jmeno"]?.Value<string>()) @(skm["osoba_prijmeni"]?.Value<string>())</a>
                            }
                            else
                            {
                                <span>@(skm["osoba_jmeno"]?.Value<string>()) @(skm["osoba_prijmeni"]?.Value<string>())</span>
                            }
                        </td>
                    </tr>
                    @if (skm["postaveni"] != null)
                    {
                        <tr>
                            <td colspan="2" class="col-sm-12 text-muted small">@(skm["postaveni"].Value<string>())</td>
                        </tr>
                    }
                    else if (skm["udaj_typ_nazev"] != null)
                    {
                        <tr>
                            <td colspan="2" class="col-sm-12 text-muted small">@(skm["udaj_typ_nazev"].Value<string>())</td>
                        </tr>
                    }

                    @if (skm["podil_na_prospechu_hodnota"] != null && skm["podil_na_prospechu_hodnota"].Value<string>() != null)
                    {
                        <tr>
                            <td class="text-muted col-sm-5">Podíl na prospěchu ze společnosti</td>
                            <td class="col-sm-7">
                                @(skm["podil_na_prospechu_hodnota"].Value<string>())
                                @if (skm["podil_na_prospechu_typ"].Value<string>() == "PROCENTA")
                                {
                                    <text>
                                        @Html.Raw(" %")
                                    </text>
                                }
                                else
                                {
                                    @Html.Raw($"({skm["podil_na_prospechu_typ"].Value<string>()})")
                                }
                            </td>
                        </tr>
                    }

                    @if (skm["podil_na_hlasovani_hodnota"] != null && skm["podil_na_hlasovani_hodnota"].Value<string>() != null)
                    {
                        <tr>
                            <td class="text-muted col-sm-5">Podíl na hlasovacích právech</td>
                            <td class="col-sm-7">
                                @(skm["podil_na_hlasovani_hodnota"].Value<string>())
                                @if (skm["podil_na_hlasovani_typ"].Value<string>() == "PROCENTA")
                                {
                                    <text>
                                        @Html.Raw(" %")
                                    </text>
                                }
                                else
                                {
                                    @Html.Raw($"({skm["podil_na_hlasovani_typ"].Value<string>()})")
                                }
                            </td>
                        </tr>
                    }
                }
            </table>
        }
    }
    <hr />
    <div class="watcher">
        <h4>Chci hlídat</h4>
        <div>
            @{
                {
                    var wdModel = new WatchdogViewModel(null,
                        $"ico:{Model.ICO}",
                        $"Všechny změny o {TextUtil.ShortenText(Model.Jmeno, 30)}",
                        prefillWDname: "Novinky pro {Model.Jmeno}",
                        buttonCss: "btn btn-warning btn-xs",
                        showWdList: false, preButtonText: "");

                    <partial name="WebUtil/AddWatchdog" model="wdModel" />
                }
            }
        </div>
        <div>
            @if (Model.AktualniVazby(Relation.AktualnostType.Nedavny).Any())
            {
                if (Model.JsemOVM())
                {
                    {
                        var wdModel = new WatchdogViewModel(null,
                            $"holding:{Model.ICO}",
                            $"Změny i {Devmasters.Lang.CS.Plural.Get(Model.AktualniVazby(Relation.AktualnostType.Nedavny).Count(), "v jedné podřízené organizaci", "ve {0} podřízených organizacích", "v {0} podřízených organizacích")}",
                            prefillWDname: "Novinky pro {Model.Jmeno}",
                            buttonCss: "btn btn-warning btn-xs",
                            showWdList: false, preButtonText: "");

                        <partial name="WebUtil/AddWatchdog" model="wdModel" />
                    }
                }
                else
                {
                    {
                        var wdModel = new WatchdogViewModel(null,
                            $"holding:{Model.ICO}",
                            $"Změny i {Devmasters.Lang.CS.Plural.Get(Model.AktualniVazby(Relation.AktualnostType.Nedavny).Count(), "v jedné dceřiné společnosti", "ve {0} dceřiných společnostech", "v {0} dceřiných společnostech")}",
                            prefillWDname: "Novinky pro {Model.Jmeno}",
                            buttonCss: "btn btn-warning btn-xs",
                            showWdList: false, preButtonText: "");

                        <partial name="WebUtil/AddWatchdog" model="wdModel" />
                    }
                }

            }
        </div>
    </div>
    <hr />
    <div>
        <span class="text-muted">Chci sdílet s ostatními</span>
        <div>
            @{
                var linkUrl = $"{ViewContext.GetBaseUrl()}/subjekt/{Model.ICO}"; 
            }
            <share-facebook url="@linkUrl"></share-facebook>
            <share-twitter url="@linkUrl" text="@($"{Model.Jmeno} na @HlidacStatu - {Model.InfoFacts().First().Render(false)}")"></share-twitter>
            <share-widget url="@linkUrl"></share-widget>
        </div>
    </div>
</div>
