@using HlidacStatu.Extensions
@using HlidacStatu.Repositories

@model Tuple<HlidacStatu.Entities.PermanentLLM.ShortSummary[], HlidacStatu.Entities.PermanentLLM.FullSummary[], string>

@{
    Layout = null;

    var aiShortDocs = Model.Item1;
    var aiFullDocs = Model.Item2;
    var modalId = Model.Item3;
    var activateFirstBar = true;

    HlidacStatu.Entities.Smlouva smlouva = null;
    if (aiShortDocs?.FirstOrDefault()?.DocumentID != null)
    {
        smlouva = await SmlouvaRepo.LoadAsync(aiShortDocs.FirstOrDefault().DocumentID, includePrilohy: false);
    }
    else if (aiFullDocs?.FirstOrDefault()?.DocumentID != null)
    {
        smlouva = await SmlouvaRepo.LoadAsync(aiFullDocs.FirstOrDefault().DocumentID, includePrilohy: false);
    }

}

<!-- Modal Header -->
<div class="modal-header" style="text-align:left;">
    <h4 class="modal-title" id="@(modalId)Title">
        Shrnutí obsahu smluv pomocí AI
    </h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
</div>

<!-- Modal Body -->
<div class="modal-body" style="text-align:left;">
    <ul class="nav nav-tabs" role="tablist">

        @if (aiShortDocs?.Length > 0)
        {
            <li role="presentation" class="nav-item">
                <a href="#@(modalId)simple" class="nav-link @(activateFirstBar ? "active" : "")" aria-controls="home" role="tab" data-bs-toggle="tab">Shrnutí</a>
            </li>
            activateFirstBar = false;
        }
        @if (aiFullDocs?.Length > 0)
        {
            <li role="presentation" class="nav-item">
                <a href="#@(modalId)full" class="nav-link  @(activateFirstBar ? "active" : "")" aria-controls="profile" role="tab" data-bs-toggle="tab">Delší shrnutí</a>
            </li>
            activateFirstBar = false;
        }
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="@(modalId)simple">
            @if (aiShortDocs?.Length > 0)
            {
                foreach (var doc in aiShortDocs)
                {
                    HlidacStatu.Entities.Smlouva.Priloha priloha = smlouva?.Prilohy?.FirstOrDefault(m => m.UniqueHash() == doc.FileID);

                    <div class="fs-5"><b>Příloha <code>@(priloha?.nazevSouboru)</code></b></div>
                    <ul>
                        @foreach (var part in doc.Parts.sumarizace)
                        {
                            <li>
                                @if (!string.IsNullOrEmpty(part.titulek))
                                {
                                    <b>@(part.titulek): </b>
                                }
                                <div>@part.bod</div>
                            </li>
                        }
                    </ul>
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    Žádné shrnutí není k dispozici
                </div>
            }

        </div>
        <div role="tabpanel" class="tab-pane" id="@(modalId)full">
            @if (aiFullDocs?.Length > 0)
            {
                foreach (var doc in aiFullDocs)
                {
                    HlidacStatu.Entities.Smlouva.Priloha priloha = smlouva?.Prilohy?.FirstOrDefault(m => m.UniqueHash() == doc.FileID);

                    <div class="fs-5"><b>Příloha <code>@(priloha?.nazevSouboru)</code></b></div>
                    <ul>
                        @foreach (var part in doc.Parts.sumarizace)
                        {
                            <li>
                                @if (!string.IsNullOrEmpty(part.titulek))
                                {
                                    <b>@(part.titulek): </b>
                                }
                                <div>@part.bod</div>
                            </li>
                        }
                    </ul>
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    Žádné shrnutí není k dispozici
                </div>
            }
        </div>


    </div>


</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-default" onclick="confirm@(modalId)();" data-bs-dismiss="modal">
        OK
    </button>
</div>

<script>
    function confirm@(modalId)() {
        var prf = '#@(modalId)';
        var url = $(prf + "Url").val();
        window.location.reload();
    }
</script>
