@model HlidacStatu.Entities.VZ.VerejnaZakazka

@using Devmasters.Enums;
@using System.Linq;
@using HlidacStatu.Entities.VZ
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using HlidacStatu.Util


@{
    /**/

    ViewBag.Title = "Hlídač veřejných zakázek";
    ViewBag.SubTitle = "Zakázka " + Model.ZobrazPrimarniIdZdroje();

    ViewBag.SocialShareTitle = Model.NazevZakazky;
    ViewBag.SocialShareText = Devmasters.TextUtil.FormatPlainTextForArticle(Devmasters.TextUtil.ShortenText(Model.PopisZakazky, 200));

    ViewBag.SocialShareType = "article";
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/zakazka?d={DateTime.Now.ToString("d.M.yy")}&v=" + Model.Id;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
                            + "<meta property=\"og:image:height\" content=\"1080\" />"
                            + "<meta property=\"og:image:type\" content=\"image/png\" />"
        ;

    IReadOnlyDictionary<string, IReadOnlyCollection<string>> highlightingData = ViewBag.Highlighting as IReadOnlyDictionary<string, IReadOnlyCollection<string>>;
}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "VerejneZakazky")">Hlídač Veřejných zakázek</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}
<partial name="_SearchForm" model="@(new HlidacStatu.Repositories.Searching.VerejnaZakazkaSearchData())"/>

<h2>
    <add-bookmark item="Model"></add-bookmark>
    @Model.NazevZakazky
</h2>

@if (!HlidacStatu.Web.Framework.LimitedAccess.IsAuthenticatedOrSearchCrawler(Context.Request))
{
    <h3>Omezený přístup pouze pro registrované uživatele.</h3>
    <p>
        Podrobné informace o veřejných zakázkách jsou z licenčních důvodů dostupné pouze registrovaným uživatelům Hlídače Státu.
        <b>Registrace je zdarma a je velmi jednoduchá</b>. Stačí vám pouze platný email.
    </p>
    <p>Pokud jste již zaregistrováni, <a onclick="_my_event('send', 'event', 'loginBtn', 'click','@Context.Request.Path#PristupOmezen'); return true;" href="/account/Login?returnUrl=@(this.Url.Action())" class="btn btn-default">zalogujte se</a>. </p>
    <p>
        <a onclick="_my_event('send', 'event', 'registerBtn', 'click','@Context.Request.Path#PristupOmezen'); return true;"
           href="/account/Register?returnUrl=@(this.Url.Action())" class="btn btn-primary">
            Zaregistrovat se
        </a>
    </p>
    <script>$(function () {
            $("#VZInfoAnon").modal('show');
        });</script>
}
else
{
    <table class="table table-hover">
        <tbody>
        @if (Model.HasIssues)
        {
            <tr class="alert alert-warning">
                <td>Upozornění</td>
                <td>Tato zakázka nemusí mít kompletní, nebo mít správné údaje. Informace zde uvedené je potřeba si ověřit.</td>
            </tr>    
        }
        <tr>
            <td>Název zakázky</td>
            <td>@Model.NazevZakazky</td>
        </tr>
        <tr>
            <td>Popis zakázky</td>
            <td>@Html.Raw(Devmasters.TextUtil.FormatPlainTextForArticle(Devmasters.TextUtil.ShortenText(Model.PopisZakazky, 2000)))</td>
        </tr>
        <tr>
            <td>Zadavatel</td>
            <td>
                @if (HlidacStatu.Util.DataValidators.CheckCZICO(Model.Zadavatel?.ICO))
                {
                    @(await Html.KIndexLabelLinkAsync(Model.Zadavatel.ICO))<a href="/subjekt/@Model.Zadavatel.ICO">@Model.Zadavatel.Jmeno (IČ @Model.Zadavatel.ICO)</a>
                }
                else
                {
                    <span>@(Model.Zadavatel?.Jmeno)</span>
                }

            </td>
        </tr>
        <tr>
            <td>Dodavatelé</td>
            <td>
                @foreach (var od in Model.Dodavatele ?? new VerejnaZakazka.Subject[] { })
                {
                    if (HlidacStatu.Util.DataValidators.CheckCZICO(od.ICO))
                    {
                        @(await Html.KIndexLabelLinkAsync(od.ICO))<a href="/subjekt/@od.ICO">@od.Jmeno (IČ @od.ICO)</a><br/>
                    }
                    else
                    {
                        <span>@od.Jmeno</span>
                    }

                    var datum = Model.DatumUverejneni ?? new DateTime(1900,1,1);
                    try
                    {
                        if (!await SkutecniMajiteleRepo.MaSkutecnehoMajiteleAsync(od.ICO, datum))
                        {
                            <div class="alert alert-warning">
                                <span class="fa-stack">
                                    <i class="fa-duotone fa-user fa-stack-2x"></i>
                                    <i class="fa-solid fa-question fa-stack-1x" style="margin-top: -6px;"></i>
                                </span>U tohoto dodavatele stát nezná skutečného majitele.
                            </div><br/>
                        }
                    }
                    catch
                    {
                        //neni ico, neni skutecny majitel
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Datum uveřejnění zakázky</td>
            <td>@(Model.DatumUverejneni?.ToShortDateString() ?? "")</td>
        </tr>
        <tr>
            <td>Lhůta pro nabídky</td>
            <td>@(Model.LhutaDoruceni?.ToShortDateString() ?? "neuvedena")</td>
        </tr>
        @if (Model.DatumUzavreniSmlouvy.HasValue)
        {
            <tr>
                <td>Datum&nbsp;uzavření&nbsp;smlouvy</td>
                <td>@(Model.DatumUzavreniSmlouvy?.ToShortDateString() ?? "")</td>
            </tr>
        }
        <tr>
            <td>CPV kódy</td>
            <td>
                @foreach (var cpv in Model.CPV)
                {
                    <div>
                        @VerejnaZakazka.CPVToText(cpv) -
                        <i>
                            <a href="/VerejneZakazky/Hledat?q=cpv:@cpv">@cpv</a>
                        </i>
                    </div>
                }
            </td>
        </tr>
        @if (Model.OdhadovanaHodnotaBezDPH.HasValue && Model.OdhadovanaHodnotaBezDPH != 0)
        {
            <tr>
                <td>Odhadovaná&nbsp;hodnota&nbsp;zakázky</td>
                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(Model.OdhadovanaHodnotaBezDPH.Value, mena: Model.OdhadovanaHodnotaMena ?? "Kč")</td>
            </tr>
        }
        @if (Model.KonecnaHodnotaBezDPH.HasValue && Model.KonecnaHodnotaBezDPH != 0)
        {
            <tr>
                <td>Konečná hodnota zakázky</td>
                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(Model.KonecnaHodnotaBezDPH.Value, mena: Model.KonecnaHodnotaMena ?? "Kč")</td>
            </tr>
        }
        <tr>
            <td>Formuláře</td>
            <td>
                @foreach (var f in Model.Formulare)
                {
                    <div>

                        <div class="list-group">
                            <a href="https://www.vestnikverejnychzakazek.cz/SearchForm/Search?FormNumber=@f.Cislo" class="list-group-item">
                                <h4 class="list-group-item-text">@f.DruhFormulare().ToNiceDisplayName() - formulář @f.Druh</h4>
                                <p class="list-group-item-heading">
                                    @f.Cislo <span class="fad fa-link"></span>
                                </p>
                                <p class="list-group-item-text">ze dne @(f.Zverejnen?.ToShortDateString())</p>
                            </a>
                        </div>

                    </div>
                }
            </td>
        </tr>
        @if (Model.Dokumenty != null && Model.Dokumenty?.Count > 0)
        {
            <tr>
                <td>Dokumenty k zakázce</td>
                <td>
                    <ol>
                        @foreach (var priloha in Model.Dokumenty.OrderBy(o => o.TypDokumentu))
                        {
                            <li>
                                <div>
                                    <b>@priloha.Name</b>
                                    <a href="@(priloha.GetDocumentUrlToDownload())" target="_blank">Originál</a>
                                    @if (priloha.WordCount > 2)
                                    {
                                        @Html.Raw(";&nbsp;")
                                        <a href="@Url.Action("TextDokumentu", new { id = @Model.Id, sha = priloha.Sha256Checksum })">zobrazit čistý text dokumentu</a>
                                        <span>(@priloha.WordCount slov)</span>
                                    }
                                    <highlight-content highlights="highlightingData"
                                                       path="dokumenty.plainText"
                                                       content-to-compare="@priloha.PlainText"
                                                       prefix="@("<br /><blockquote class='small'>")"
                                                       postfix="@("</blockquote>")">
                                    </highlight-content>
                                </div>
                            </li>
                        }
                    </ol>
                </td>
            </tr>
        }
        <tr>
            <td>Stálé URL zakázky na Hlídači Státu</td>
            <td>
                <a href="@(ViewContext.GetDisplayUrl())" target="_blank">
                    <code>@(ViewContext.GetDisplayUrl())</code>
                </a>
            </td>
        </tr>
        <tr>
            <td>Poskytovatel dat</td>
            <td>
                Data z profilů zadavatelů poskytla společnost <a onclick="return trackOutLink(this,'VZDetail');" href="http://datlab.eu">DATLAB s.r.o.</a>
                z databáze zadávacích dokumentací
                <a onclick="return trackOutLink(this,'VZDetail');" href="https://tenderman.cz">
                    <img src="~/Content/Img/Tenderman_Logo.svg" style="height:25px;width:auto"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>Datum posledni změny zakázky</td>
            <td>@(Model.PosledniZmena?.ToShortDateString() ?? "")</td>
        </tr>
        @{
            var smlouvyForVz = await SmlouvaVerejnaZakazkaRepo.GetSmlouvyForVz(Model.Id);
        }
        @if (smlouvyForVz is not null && smlouvyForVz.Any())
        {
            <tr>
                <td>Smlouvy které byly pravděpodobně uzavřené na základě této zakázky</td>
                <td>
                   @foreach (var smlouvaForVz in smlouvyForVz.OrderByDescending(x=>x.CosineSimilarity))
                   {
                       var smlouva = await SmlouvaRepo.LoadAsync(smlouvaForVz.IdSmlouvy);
                       if (smlouva is not null)
                       {
                           <a asp-controller="Home" asp-action="Detail" asp-route-Id="@smlouvaForVz.IdSmlouvy">@smlouvaForVz.IdSmlouvy - @smlouva.predmet</a>
                           if (smlouva.hodnotaBezDph.HasValue)
                           {
                              <span>(@RenderData.NicePriceHtml(smlouva.hodnotaBezDph.Value))</span><br/>
                           }
                       }
                   }
                </td>
            </tr>
        }
        <tr>
            <td>Sdílení</td>
            <td>
                <share-facebook></share-facebook>
                <share-twitter text="@($"Zakázka '{Devmasters.TextUtil.ShortenText(Model.NazevZakazky, 80)}' na @HlidacStatu - {Model.InfoFacts().FirstOrDefault()?.Render(false)}")"></share-twitter>
                <share-widget></share-widget>
            </td>
        </tr>
        <tr>
            <td>Zdroje zakázky</td>
            <td>
                @if (Model.Zdroje.Any())
                {
                    <strong>Doména - <i>Id</i></strong>
                    <hr style="border-top-color: #dee2e6"/>
                    foreach (var zdroj in Model.Zdroje)
                    {
                        <p>
                            @zdroj.Domena - <i>@zdroj.IdVDomene</i>
                        </p>
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Další známé url</td>
            <td>
                @foreach (var url in Model.UrlZakazky.Select(u => u.Replace("https://www.vestnikverejnychzakazek.cz/SearchForm/SearchContract?contractNumber=",
                              "https://vvz.nipez.cz/formulare-zakazky/")))
                {
                    <a href="@url">@url</a>
                    <br/>
                }
            </td>
        </tr>
        </tbody>
    </table>
}


@section onlyembed
{
    <div class="onlyembed">
        <div class="container text">
            <h3>@Devmasters.TextUtil.ShortenText(Model.NazevZakazky, 60)</h3>
            <p>@Html.Raw(HlidacStatu.Util.InfoFact.RenderInfoFacts(Model.InfoFacts(), 2, true, true, html: true)) </p>
            <p>
                <a href="@Model.GetUrl(true)" target="_top">Více informací o zakázce</a>
            </p>
        </div>
        <img src="@($"/socialbanner/zakazka?d={DateTime.Now.ToString("yyMMdd")}&v={Model.Id}")"
             style="width:100%;height:auto;padding:1em 0 0 0;min-width:250px;"/>
    </div>
}