@using VolicskyPrukaz.Helpers

<div id="navigation" class="row">
    <ul>
        <li class="col-xs-12 col-md-4">
            <a class="btn @Html.NavButton(nameof(VlastniOkrsek))" asp-page="@nameof(VlastniOkrsek)">Chci volit ve svém volebním okrsku</a>
        </li>
        <li class="col-xs-12 col-md-4">
            <a class="btn @Html.NavButton(nameof(JinyOkrsek))" asp-page="@nameof(JinyOkrsek)">Chci volit na voličský průkaz v jiném volebním okrsku</a>
        </li>
        <li class="col-xs-12 col-md-4">
            <a class="btn @Html.NavButton(nameof(Zahranici))" asp-page="@nameof(Zahranici)">Chci volit v zahraničí</a>
        </li>
    </ul>
</div>