@using HlidacStatu.Extensions
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Repositories
@model HlidacStatu.Repositories.Searching.OsobaSearchResult

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Osoba</th>
            <th>Popis</th>
            <th>Vazby</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Result)
        {
            <tr>
                <td style="white-space: nowrap;">
                    <span style='white-space:nowrap'>
                        <add-bookmark item="item"></add-bookmark>&nbsp;<a href="@item.GetUrl()"><b>@Html.Raw(item.FullNameWithYear(true))</b></a>
                    </span>
                </td>
                <td>
                    @if (item.StatusOsoby() == HlidacStatu.Entities.Osoba.StatusOsobyEnum.NeniPolitik)
                    {
                        <span>Má přímé či nepřímé právní či obchodní vztahy se státem.</span>
                    }
                    else
                    {
                        @Html.Raw(item.DescriptionAsync(true, m => true, 3, withSponzoring: true))
                    }
                </td>
                <td>
                    @{
                        var vazbyVlastAktual = await item.AktualniVazbyAsync(Relation.CharakterVazbyEnum.VlastnictviKontrola, Relation.AktualnostType.Nedavny);
                        if (vazbyVlastAktual is not null)
                        {
                            @Html.Raw("<ul>")

                            foreach (var v in vazbyVlastAktual.Take(2))
                            {
                                @Html.Raw(WebUtil.RenderOsobaVazbaAsync(v, "<li>{0}</li>"))
                            }

                            var vazbyVlast = await item.VazbyAsync(Relation.CharakterVazbyEnum.VlastnictviKontrola);
                            if (vazbyVlast.Length == 3)
                            {
                                @Html.Raw(WebUtil.RenderOsobaVazbaAsync(vazbyVlast[2], "<li>{0}</li>"))

                            }
                            else if (vazbyVlastAktual.Length > 2)
                            {
                                <span>+ <a href="/osoba/vazby/@(item.NameId)">@Devmasters.Lang.CS.Plural.Get(await item.PocetPodrizenychSubjektuAsync(Relation.CharakterVazbyEnum.VlastnictviKontrola, Relation.AktualnostType.Nedavny) - 2, "další vazba;další {0} vazby;dalších {0} vazeb")</a></span>
                            }

                            @Html.Raw("</ul>")

                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="SearchResults/Pagination" model="@(new PaginationViewModel(Model, "/Osoby/Hledat"))" />