@using HlidacStatu.Extensions
@model HlidacStatu.Searching.Search.GeneralResult<HlidacStatu.Entities.Firma>

<table class="table table-hover table-sm">
    <tr>
        <th></th>
        <th>IČ</th>
        <th>Název</th>
        <th class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell">Vznik</th>
        <th>Počet smluv v RS</th>
        <th>Hodnota smluv v RS</th>
    </tr>
    <tbody>
    @foreach (var item in Model.Result)
    {
            if (item?.Valid == true)
        {
                var stat = await item.StatistikaRegistruSmluvAsync();

            <tr>
                <td>
                    <add-bookmark item="item"></add-bookmark>
                </td>
                <td><a href="@item.GetUrl(true)">@item.ICO</a></td>
                <td>@(await Html.KIndexLabelLinkAsync(item.ICO))<a href="@item.GetUrl(true)">@Devmasters.TextUtil.ShortenText(item.Jmeno, 40, "...")</a></td>
                <td class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell">@(item.Datum_Zapisu_OR?.ToString("d.M.yyyy"))</td>
                <td>@HlidacStatu.Util.RenderData.NiceNumber(stat.Sum(stat.YearsAfter2016(), s => s.PocetSmluv))</td>
                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(stat.Sum(stat.YearsAfter2016(), s => s.CelkovaHodnotaSmluv))</td>
            </tr>
        }
    }
    </tbody>
</table>

<partial name="SearchResults/Pagination" model="@(new PaginationViewModel(Model, "/HledatFirmy"))"/>