@model HlidacStatu.Repositories.Searching.DotaceSearchResult

<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th></th>
        <th>Příjemce</th>
        <th class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell">Poskytovatel</th>
        <th>Název projektu</th>
        <th>Rok podpisu</th>
        <th>Odhadovaná výše dotace</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var hit in Model.ElasticResults.Hits)
    {
        var dotaceItem = hit.Source;
        
        
        <tr class="@(!dotaceItem.Hints.IsOriginal ? "alert alert-warning" : "") ">
            <td class="text-nowrap">

                @if (!dotaceItem.Hints.IsOriginal)
                {
                    <i class="fas fa-exclamation-circle text-warning" title="Pravděpodobná duplicita"></i>
                }
                <add-bookmark item="dotaceItem"></add-bookmark>

                <a href="@(dotaceItem.GetUrl(true,Model.Q))"  class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell">
                    <span class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell">Detail</span>
                    <span class="d-visible d-sm-none d-md-none d-lg-none d-lx-none">
                        <i class="far fa-file-alt"></i>
                    </span>
                </a>

            </td>
            <td>
                @(await Html.KIndexLabelLinkAsync(dotaceItem.Recipient.Ico))
                 @if (HlidacStatu.Util.DataValidators.CheckCZICO(dotaceItem.Recipient.Ico))
                {
                    <a href="/subjekt/@dotaceItem.Recipient.Ico" title="Informace o subjektu">
                        @Devmasters.TextUtil.ShortenText(dotaceItem.Recipient.DisplayName, 40)
                        </a>
                    }
                    else
                    {
                        <span>@Devmasters.TextUtil.ShortenText(dotaceItem.Recipient.DisplayName, 40)</span>
                    }
            </td>
            <td class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell">
                    <a href="/subjekt/@dotaceItem.SubsidyProviderIco" title="Poskytovatel dotace">
                        @Devmasters.TextUtil.ShortenText(dotaceItem.SubsidyProvider, 40)
                    </a>
            </td>
            <td>
                @dotaceItem.DisplayProject
            </td>
            <td class="text-nowrap">
                @(dotaceItem.ApprovedYear)
            </td>
            <td class="text-end number text-nowrap">
                @HlidacStatu.Util.RenderData.NicePriceHtml(dotaceItem.AssumedAmount)
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="SearchResults/Pagination" model="@(new PaginationViewModel(Model, "/Dotace/hledat", exportType: "dotace"))"/>
