@model HlidacStatu.Repositories.Searching.InsolvenceSearchResult

<table class="table table-hover">
    <thead>
    <tr>
        <th>Spisová značka</th>
        <th>Dlužníci</th>
        <th>Věritelé</th>
        <th>Datum vzniku</th>
        <th>Poslední změna</th>
        <th>Stav řízení</th>
        @if (Model.SmallRender == false)
        {
            <th>Soud</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var hit in Model.ElasticResults.Hits)
    {
        var item = hit.Source;
        <tr>
            <td style="white-space: nowrap;">
                <span style='white-space:nowrap'>
                    <add-bookmark item="item"></add-bookmark>&nbsp;
                    @if (LimitedAccess.IsAuthenticatedOrSearchCrawler(Context.Request))
                    {
                        <a href="@item.GetUrl(true, Model.Q)">
                            @item.SpisovaZnacka
                        </a>
                    }
                    else
                    {
                        <a href='#' data-bs-toggle='modal' data-bs-target='#VZInfoAnon' data-url='/Insolvence/Rizeni/@item.UrlId()'>@item.SpisovaZnacka</a>
                    }
                </span>
            </td>
            <td>
                @if (item.Dluznici?.Count > 0)
                {
                    foreach (var o in item.Dluznici.Take(2))
                    {
                        <div>@Html.KIndexLabelLink(o.ICO)@Html.Raw(o.ToHtml(!string.IsNullOrEmpty(o.OsobaId)))</div>
                    }
                    if (item.Dluznici.Count == 3)
                    {
                        <div>@Html.KIndexLabelLink(item.Dluznici[2].ICO)@Html.Raw(item.Dluznici[2].ToHtml(!string.IsNullOrEmpty(item.Dluznici[2].OsobaId)))</div>
                    }
                    else if (item.Dluznici.Count > 3)
                    {
                        <div>@Devmasters.Lang.CS.Plural.Get(item.Dluznici.Count - 2, "a jeden další dlužník", "a další {0} dlužníci", "a dalších {0} dlužníků")</div>
                    }
                }
            </td>
            <td>
                @if (item.Veritele?.Count > 0)
                {
                    foreach (var o in item.Veritele.Take(2))
                    {
                        <div>@Html.KIndexLabelLink(o.ICO)@Html.Raw(o.ToHtml(!string.IsNullOrEmpty(o.OsobaId)))</div>
                    }
                    if (item.Veritele.Count == 3)
                    {
                        <div>@Html.KIndexLabelLink(item.Veritele[2].ICO)@Html.Raw(item.Veritele[2].ToHtml(!string.IsNullOrEmpty(item.Veritele[2].OsobaId)))</div>
                    }
                    else if (item.Veritele.Count > 3)
                    {
                        <div>@Devmasters.Lang.CS.Plural.Get(item.Veritele.Count - 2, "a jeden další věřitel", "a další {0} věřitelé", "a dalších {0} věřitelů")</div>
                    }
                }
            </td>
            <td>
                @(item.DatumZalozeni?.Date.ToString("d.MM.yyyy") ?? "Neznámé")
            </td>
            <td>
                @item.PosledniZmena.Date.ToString("d.MM.yyyy")
            </td>

            <td>
                <span title="@item.StavRizeniDetail()">@item.StavRizeni()</span>
            </td>
            @if (Model.SmallRender == false)
            {
                <td>
                    <span>@item.SoudFullName()</span>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
<partial name="SearchResults/Pagination" model="@(new PaginationViewModel(Model, "/Insolvence/Hledat"))"/>