@using HlidacStatu.Repositories
@using PlatyUredniku.Models;
@using System.Collections.Generic;
@using HlidacStatu.Entities;
@using HlidacStatu.Util;

@{
    int rok = Devmasters.ParseText.ToInt(this.Context.Request.Query.GetFirstQueryParameter("rok")) ?? PuRepo.DefaultYear;

    var platy = await PuRepo.GetPlatyWithOrganizaceForYearAsync(rok);
    platy = platy
    .Where(m => m.Plat >= 120000)
    .Where(p => p.OsobniOhodnoceniPerc > 0)
    .ToList();

}
@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">Platy úředníků</a>
        </li>
        <li>
            <a asp-action="Analyzy">Analýzy</a>
        </li>
        <li class="active">
            Platy s nejvyšším podílem odměny
        </li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
}



<section class="d-flex align-items-center justify-content-center">
    <div class="container">

        <h2>Přehled platů u kterých odměny tvoří nejvyšší část za rok @rok</h2>
        <p class="text-muted">Přehled pracovních pozic, u kterých odměna tvoří nejvyšší podíl celkového příjmu.</p>

        <div class="nav flex-row nav-pills">
            <button class="nav-link disabled" type="button" disabled="disabled">Rok</button>
            @{

                foreach (var y in PuRepo.AllYears.Reverse())
                {
                    <a href="@(this.Context.Request.GetCurrentUrl("rok",y.ToString()))" 
                       class="@($"nav-link {(rok ==y ? "active" :  "")}")"
                       type="button"
                       role="tab">
                        @y
                    </a>
                }
            }
        </div>
        <br/>

        <div class="tab-pane width-75vp" id="prehledOdmen" role="tabpanel">
            <script>
                $(document).ready(function () {
                    $('#tblSum_prehledOdmen').DataTable(
                        {
                            'language': {
                                'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                            },
                            "searching": false,
                            "paging": true,
                            "pageLength": 20,
                            "lengthChange": false,
                            "ordering": true,
                            "order": [[4,'desc']],
                            "info": false
                        });
                });
            </script>

            <table class="table table-borderless table-striped table-hover" id="tblSum_prehledOdmen">
                <thead class="xtable-light">
                <th>Organizace</th>
                <th>Pozice</th>
                <th><abbr title="Průměrný měsíční plat přepočtený z ročního příjmu">Měsíční plat</abbr></th>
                <th><abbr title="Průměrné měsíční odměny přepočtené z ročního příjmu">Měsíční odměny</abbr></th>
                <th>Podíl odměny na celkovém příjmu v %</th>
                </thead>
                <tbody>
                    @foreach (var plat in platy.OrderByDescending(p => p.OsobniOhodnoceniPerc))
                    {
                        <tr>
                            <td>
                                <a asp-action="Detail" asp-route-id="@plat.Organizace.DS">@plat.Organizace.Nazev</a>
                            </td>
                            <td>
                                <a asp-action="Plat" asp-route-id="@plat.Id">@plat.NazevPozice</a>
                            </td>
                            <td class="number" data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(plat.PlatMesicne ?? 0))">@HlidacStatu.Util.RenderData.NicePriceHtml(plat.PlatMesicne ?? 0)</td>
                            <td class="number" data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(plat.OdmenyMesicne ?? 0))">@HlidacStatu.Util.RenderData.NicePriceHtml(plat.OdmenyMesicne ?? 0)</td>
                            <td class="number" data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(plat.OsobniOhodnoceniPerc ?? 0))">
                                @if (plat.PocetMesicu < 12)
                                {
                                    <a href="#" class="link-danger me-2" data-bs-toggle="tooltip" data-bs-title="Plat je pouze za @Devmasters.Lang.CS.Plural.Get((long)plat.PocetMesicu.Value, "jeden měsíc", "{0} měsíce", "{0} měsíců") a může obsahovat odstupné či jinou smluvní odměnu"><i class="fa-solid fa-circle-info"></i></a>
                                }
                                @if (plat.Uvazek != 1)
                                {
                                    <a href="#" class="link-warning me-2" data-bs-toggle="tooltip"
                                       data-bs-title="Výše úvazku je jiná než obvyklých 40 hodin týdně."><i
                                            class="fa-solid fa-circle-info"></i></a>
                                }

                                @plat.OsobniOhodnoceniPerc?.ToString("P")
                                </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
