@using HlidacStatu.Repositories
@using HlidacStatu.Util
@using MathNet.Numerics.Statistics;

@inject ZiggyCreatures.Caching.Fusion.IFusionCache cache;
@functions {
    private bool _sectionBgSwitch = true;

    public string GetBgClass(bool toggle = true)
    {
        if (toggle)
            _sectionBgSwitch = !_sectionBgSwitch;

        return _sectionBgSwitch ? "alter-bg-color" : "";
    }
}

@{
    int rok = PpRepo.DefaultYear;

    var senatori = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Senatori);
    var poslanci = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Poslanci);
    var vlada = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Vlada);
    var kraj = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.KrajstiZastupitele);
    var vsichni = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Vse);

    var rocniPlatPoslancu = poslanci.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatSenatoru = senatori.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatMinistru = vlada.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatKraju = kraj.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    decimal pocetFunkci = (decimal)vsichni
            .Average(a => a.Value.Count());

    int minJobCount = 4;
    decimal pocetLidiXjobs = vsichni
            .Count(a => a.Value.Count() >= minJobCount);
    
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li class="active">Platy politiků</li>
    </ol>
}

<section class="container pb-5 pageblock-small">
    <div class="row align-items-center">
        <div class="text-lg-start">
            <h1 class="display-3 mb-4 text-start">Příjmy politiků a kumulace funkcí</h1>
            <p class="lead text-body-secondary mb-5">
                Zjistěte, jaký příjem mají politici a kolik zastávají funkcí. Zmapovali jsme příjmy <b>@((await PpRepo.GetNameIdsForGroupAsync(PpRepo.PoliticianGroup.Vse, rok)).Count)</b> špičkových politiků v ČR.
            </p>
            <div class="row align-items-center justify-content-center justify-content-lg-start g-4">
                <div class="col-sm-auto">
                    <a class="btn btn-primary" href="/politici/seznam">Zobrazit všechny politiky</a>
                </div>
                <div class="col-sm-auto">
                    <a class="btn-outline-primary" href="/politici/reporty"><i class="fa-solid fa-chart-pie-simple-circle-dollar"></i> 
                        Zajímavosti, žebříčky a analýzy příjmů politiků
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container py-5 pageblock">
    <h2 class="visually-hidden">Vybrané statistiky</h2>
    <div class="row row-cols-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="pb-0 card-header">
                    <h4>
                        <i class="fa-duotone fa-solid fa-people-group" aria-hidden="true"></i>
                        Poslankyně a poslanci
                    </h4>
                </div>
                <div class="card-body">
                    Poslanci vydělají od <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatPoslancu.Min()))</b>
                    do <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatPoslancu.Max()))</b> ročně.
                    <br /><br />
                    Najdete u nás celkem <b>@(HlidacStatu.Util.RenderData.NiceNumber(poslanci.Count))</b> poslanců a poslankyň.
                </div>
                <div class="card-footer">
                    <p class="text-center">
                        <a href="/politici/seznam/poslanci" class="btn btn-primary btn-sm">Poslankyně a poslanci</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="pb-0 card-header">

                    <h4>
                        <i class="fa-duotone fa-solid fa-people-group" aria-hidden="true"></i>
                        Ministři a premiér
                    </h4>

                </div>
                <div class="card-body">
                    Ministři mají příjem od <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Min()))</b>
                    do <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Max()))</b> ročně.
                    <br /><br />
                    Členů vlády u nás najdete <b>@(HlidacStatu.Util.RenderData.NiceNumber(vlada.Count))</b>.

                </div>
                <div class="card-footer">
                    <p class="text-center">
                        <a href="/politici/seznam/vlada" class="btn btn-primary btn-sm">Členové vlády</a>
                    </p>

                </div>

            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="pb-0 card-header">
                    <h4>
                        <i class="fa-duotone fa-solid fa-people-group" aria-hidden="true"></i>
                        Senátoři a senátorky
                    </h4>
                </div>
                <div class="card-body">
                    Senátoři mají příjem od <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(@rocniPlatSenatoru.Min()))</b>
                    do <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(@rocniPlatSenatoru.Max()))</b> ročně.
                    <br /><br />
                    Senátorů a senátorek u nás najdete <b>@(HlidacStatu.Util.RenderData.NiceNumber(senatori.Count))</b>.
                </div>
                <div class="card-footer">
                    <p class="text-center">
                        <a href="/politici/seznam/senatori" class="btn btn-primary btn-sm">Senátorky a senátoři</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="pb-0 card-header">
                    <h4>
                        <i class="fa-duotone fa-solid fa-people-group" aria-hidden="true"></i>
                        Krajští zastupitelé
                    </h4>
                </div>
                <div class="card-body">
                    Zastupitelé vydělají od <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatKraju.Where(m=>m>0).Min()))</b>
                    do <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatKraju.Max()))</b> ročně.
                    <br /><br />
                    Najdete u nás celkem <b>@(HlidacStatu.Util.RenderData.NiceNumber(kraj.Count))</b> zastupitelů.

                </div>
                <div class="card-footer">
                    <p class="text-center">
                        <a href="/politici/seznam/KrajstiZastupitele" class="btn btn-primary btn-sm">Krajští zastupitelé</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="pb-0 card-header">
                    <h4>
                        <i class="fa-duotone fa-solid fa-users-gear" aria-hidden="true"></i>
                        Kumulace funkcí
                    </h4>
                </div>
                <div class="card-body">
                    Politici mají v průměru souběh <b>@RenderData.NiceNumber(pocetFunkci, showDecimal: RenderData.ShowDecimalVal.Show)</b> placených a neplacených funkcí.
                    @*
                        <br />
                        @(pocetLidiXjobs) politiků působí na více než <b>@minJobCount</b> pozicích. 
                    *@
                    @{
                        var topJob = vsichni
                        .OrderByDescending(p => p.Value.Count())
                        .ThenByDescending(o => o.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika))
                        .First();
                    }
                    <br />
                    Vede @(Osoby.GetByNameId.Get(topJob.Key).FullName()) s <b>@topJob.Value.Count()</b> funkcemi a celkovým ročním příjmem
                    <b>@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(topJob.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika), html: true))</b>.
                </div>
                <div class="card-footer">
                    <p class="text-center">
                        <a href="/politici/seznam?report=funkce" class="btn btn-primary btn-sm">Kumulace funkcí</a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="pb-0 card-header">
                    <h4>
                        <i class="fa-duotone fa-solid fa-circle-info" aria-hidden="true"></i>
                        O projektu
                    </h4>
                </div>
                <div class="card-body">
                    Unikátní projekt <i>Platy politiků a úředníků</i>je součástí Hlídače státu.
                    <br />
                    Zjistěte víc o pozadí projektu i zpracování dat o platech.

                </div>
                <div class="card-footer">
                    <p class="text-center">
                        <a href="https://texty.hlidacstatu.cz/o-projektu/" class="btn btn-primary btn-sm">O projektu</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="container py-5 pageblock"> 
    <div class="row ">
        <div class="col-12">
            <h3>
                <i class="fas fa-info-circle mx-2"></i>
                Další informace
            </h3>
            <ul class="list-unstyled lh-lg">
                <li>
                    <a href="https://texty.hlidacstatu.cz/vypocet-platu-politiku/" class="">
                        <i class="fa-duotone fa-solid fa-question mx-2" style=""></i>
                        Jak se určují platy politiků?
                    </a>
                </li>
                <li>
                        <i class="fa-regular fa-building-columns mx-2" style=""></i>
                        Co všechno dělá poslanec, senátor, krajský zastupitel?
                </li>
                <li>
                    <a href="https://texty.hlidacstatu.cz/kumulace-funkci/" class="">
                        <i class="fa-duotone fa-solid fa-users-gear mx-2"></i>
                        Kumulace funkcí
                    </a>

                </li>
            </ul>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
</section>


