@using Devmasters.Enums
@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Util

@inject ZiggyCreatures.Caching.Fusion.IFusionCache cache;
@{
    int rok = PpRepo.DefaultYear;
    var stats = await PpRepo.GetGlobalStatAsync(rok);
    List<PpPrijem> platy = (List<PpPrijem>?)ViewData["platy"];

    var prumernyRocniPlatPoslance = (await PpRepo.GetPrijmyForGroupAsync(PpRepo.PoliticianGroup.Poslanci, rok)).Average(x => x.CelkovyRocniPlatVcetneOdmen);
    var prumernyRocniPlatSenatora = (await PpRepo.GetPrijmyForGroupAsync(PpRepo.PoliticianGroup.Senatori, rok)).Average(x => x.CelkovyRocniPlatVcetneOdmen);
    var prumernyRocniPlatMinistra = (await PpRepo.GetPrijmyForGroupAsync(PpRepo.PoliticianGroup.Vlada, rok)).Average(x => x.CelkovyRocniPlatVcetneOdmen);

    var vsichniNameIds = await PpRepo.GetNameIdsForGroupAsync(PpRepo.PoliticianGroup.Vse, rok);
    var prumernyRocniPlatMuzi = (await PpRepo.GetPrijmyBySex(false)).Average(x => x.CelkovyRocniPlatVcetneOdmen);
    var prumernyRocniPlatZeny = (await PpRepo.GetPrijmyBySex(true)).Average(x => x.CelkovyRocniPlatVcetneOdmen);

    decimal pocetFunkci = (decimal)(await PpRepo.GetPrijmyForGroupAsync(PpRepo.PoliticianGroup.Vse, rok))
            .GroupBy(k => k.Nameid, (k, v) => new { nameid = k, count = v.Count() })
            .Average(a => a.count);

    ;
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li class="active">Politici</li>
    </ol>
}

<section class="d-flex align-items-center justify-content-start">
    <div class="container d-flex">
        <div class="p-2 flex-grow-1">
            <div class="fs-2 fw-bold">Kolik berou čeští politici?</div>
            <p>
                Projekt "Platy politiků" je součástí Hlídače státu. Zjistěte, jaký příjem mají politici a kolik zastávají
                funkcí.
                Data jsme shromáždili na základě oficiální žádosti podle zákona o svobodném přístupu k informacím.
                Jedná se o příjmy z výkonu politické či exekutivní funkce.
                <strong>
                    od státních, polostátních nebo ? organizací,
                    kde působí. (teda všechno z daní?)
                </strong>
            </p>

            @{
                var groupList = new PpRepo.PoliticianGroup[]
                {
                        PpRepo.PoliticianGroup.Vlada,
                        PpRepo.PoliticianGroup.Poslanci,
                        PpRepo.PoliticianGroup.Senatori,
                        PpRepo.PoliticianGroup.KrajstiZastupitele,
                        PpRepo.PoliticianGroup.Vse,
                };
            }
            @foreach (var item in groupList)
            {
                <a class="btn btn-primary " href="/politici/seznam?groupName=@(item.ToString())&year=@(PpRepo.DefaultYear)" role="button">
                    @(item.ToNiceDisplayName())
                    <span class="badge text-bg-secondary bg-danger">@((await PpRepo.GetNameIdsForGroupAsync(item, rok)).Count)</span>
                </a>

                <br />
            }

        </div>
        <div class="p-2">
            <img class="img-fluid" src="Content/Img/politik u pultu.jpg" alt="politik u pultu" />
        </div>
    </div>
</section>
<section class="d-flex align-items-center justify-content-center alter-bg-color">
    <div class="container">
        <div class="row">
            
            <a class="col justify-content-center text-center align-text-bottom"
               href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Senatori.ToString("G"))&year=@(PpRepo.DefaultYear)">
                <i class="fa-light fa-venus fa-3x mb-2"
                   style="--fa-primary-color: #2668d9"></i>
                <div class="fs-5 fw-bold text-center">Průměrný roční plat političek</div>
                <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">
                    @RenderData.NicePriceHtml(prumernyRocniPlatZeny)
                </div>
            </a>
            <a class="col justify-content-center text-center align-text-bottom"
               href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Senatori.ToString("G"))&year=@(PpRepo.DefaultYear)">
                <i class="fa-light fa-mars fa-3x mb-2"
                   style="--fa-primary-color: #2668d9;"></i>
                <div class="fs-5 fw-bold text-center">Průměrný roční plat politiků</div>
                <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">
                    @RenderData.NicePriceHtml(prumernyRocniPlatMuzi)
                </div>
            </a>

            <a class="col justify-content-center text-center align-text-bottom"
               href="/politici/seznam">

                <i class="fa-duotone fa-solid fa-people-group fa-3x mb-2"
                   style="--fa-primary-color: #2668d9; --fa-secondary-color: #2668d9;"></i>
                <div class="fs-5 fw-bold text-center">Počet politiků<br />v databázi</div>
                <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">@(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetOsobPozadano))</div>

            </a>
            <a class="col justify-content-center text-center align-text-bottom"
               href="/politici/organizace">

                <i class="fa-light fa-building-magnifying-glass fa-3x mb-2" style="--fa-primary-color: #2668d9;"></i>
                <div class="fs-5 fw-bold text-center">Počet organizací<br />v databázi</div>
                <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">
                    @(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetOrganizaciPozadano))
                </div>

            </a>
        </div>
        <div class="row mt-5">

            <a class="col justify-content-center text-center align-text-bottom"
               href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Poslanci.ToString("G"))&year=@(PpRepo.DefaultYear)">

                <i class="fa-light fa-money-bill-wheat fa-3x mb-2"
                   style="--fa-primary-color: #2668d9;"></i>
                <div class="fs-5 fw-bold text-center">Průměrný počet placených pozic</div>
                <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">
                    @RenderData.NiceNumber(pocetFunkci, showDecimal: RenderData.ShowDecimalVal.Show)
                </div>
            </a>

            <a class="col justify-content-center text-center align-text-bottom"
               href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Poslanci.ToString("G"))&year=@(PpRepo.DefaultYear)">

                <i class="fa-light fa-money-bill-1-wave fa-3x mb-2"
                   style="--fa-primary-color: #2668d9;"></i>
                <div class="fs-5 fw-bold text-center">Průměrný roční plat poslance</div>
                <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">
                    @RenderData.NicePriceHtml(prumernyRocniPlatPoslance)
                </div>
            </a>

            <a class="col justify-content-center text-center align-text-bottom"
               href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Senatori.ToString("G"))&year=@(PpRepo.DefaultYear)">
                <i class="fa-light fa-money-bill-1-wave fa-3x mb-2 fa-rotate-by"
                   style="--fa-primary-color: #2668d9; --fa-rotate-angle: 30deg;"></i>
                <div class="fs-5 fw-bold text-center">Průměrný roční plat senátora</div>
                <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">
                    @RenderData.NicePriceHtml(prumernyRocniPlatSenatora)
                </div>
            </a>
            <a class="col justify-content-center text-center align-text-bottom"
               href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Vlada.ToString("G"))&year=@(PpRepo.DefaultYear)">

                <i class="fa-light fa-money-bill-1-wave fa-3x mb-2 fa-rotate-by"
                   style="--fa-primary-color: #2668d9; --fa-rotate-angle: 60deg;"></i>
                <div class="fs-5 fw-bold text-center">Průměrný roční plat ministra</div>
                <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">
                    @RenderData.NicePriceHtml(prumernyRocniPlatMinistra)
                </div>
            </a>

        </div>
    </div>
</section>
<section class="d-flex align-items-center justify-content-start">
    <div class="container d-flex flex-column">
        <div class="p-2">Politici s největším příjmem</div>
        <div class="p-2">Politici s největším počtem funkcí</div>
        <div class="p-2">Politici bez kumulace funkcí</div>
    </div>
</section>
<section class="d-flex align-items-center justify-content-center alter-bg-color">
    <div class="container">
        <div class="row">
            <div class="col h-100 d-flex flex-column justify-content-center text-center">
                <i class="fa-duotone fa-solid fa-question fa-beat fa-7x mb-2" style="--fa-animation-duration: 2s;"></i>
                <div class="fs-3 fw-bold text-center">Jak se určují platy politiků?</div>
            </div>
            <div class="col h-100 d-flex flex-column justify-content-center text-center">
                <i class="fa-regular fa-building-columns fa-beat fa-7x mb-2" style="--fa-animation-duration: 2s;"></i>
                <div class="fs-3 fw-bold text-center">Co všechno dělá poslanec/senátor/krajský zastupitel?</div>
            </div>
            <div class="col h-100 d-flex flex-column justify-content-center text-center">
                <div class="position-relative fa-beat fa-7x mb-2" style="--fa-animation-duration: 2s;">
                    <i class="fa-duotone fa-solid fa-box-ballot"></i>
                    <div class="position-absolute translate-middle"
                         style="left: 50%;top: 70%;font-weight: 700;font-size: 0.25em;color: #a7a8a9;">
                        Volby
                    </div>
                </div>
                <div class="fs-3 fw-bold text-center">Jak jsou voleni?</div>
            </div>
        </div>
    </div>
</section>
<hr />

@* <section class="d-flex align-items-center justify-content-center"> *@
@*     <div class="container"> *@
@*         <h1> *@
@*             Příjmy a benefity politiků v @PpRepo.DefaultYear *@
@*         </h1> *@
@*         <p class="lead"> *@
@*             Platy politiků - detailní přehled politických a z daní placených působnostech politiků a jejich příjmy  *@
@*             z veřejných prostředků. *@
@*         </p> *@
@*         <p> *@
@*             Snažíme se zjistit, kolik si politici skutečně vydělají z veřejných zdrojů. A to nejen za svou hlavní funkci – např.  *@
@*             jako poslanec, senátor nebo starosta – ale také za další pozice, které často zastávají navíc.  *@
@*             Může se jednat např. o místa v dozorčích radách státních nebo polostátních firem, v různých správních radách,  *@
@*             výborech nebo komisích, kde za svou účast dostávají další odměny. *@
@*         </p> *@
@*         <p> *@
@*             Na jednom místě přehledně ukazujeme, kdo z politiků pracuje na více místech najednou (tzv. kumulace funkcí)  *@
@*             a kolik peněz si díky tomu měsíčně nebo ročně navíc vydělá. Vše stavíme na ověřených a veřejných datech. *@
@*         </p> *@
@*         <strong class="lead">Jak data získáváme</strong> *@
@*         <p> *@
@*             Informace o příjmech politiků získáváme primárně prostřednictvím oficiálních žádostí podle zákona o svobodném  *@
@*             přístupu k informacím, které adresujeme institucím, v nichž politici působí. Zároveň umožňujeme samotným  *@
@*             politikům údaje doplnit či potvrdit. Politici tak mají možnost zkontrolovat informace, které jsme od organizací  *@
@*             získali a aktivně se podílet na vyšší transparentnosti české politiky i na zvyšování důvěry veřejnosti v  *@
@*             činnost samotných politiků. *@
@*         </p> *@
@*         <p class=""> *@
@*             Za @PpRepo.DefaultYear jsme máme informace o @(RenderData.NiceNumber(stats.PocetPrijmu)) příjmech a benefitech @(RenderData.NiceNumber(stats.PocetOsob)) politiků z *@
@*             @(RenderData.NiceNumber(stats.PocetOrganizaci)) organizací. *@
@*         </p> *@
@*     </div> *@
@* </section> *@



