@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Util

@inject ZiggyCreatures.Caching.Fusion.IFusionCache cache;
@{
    var stats = await PpRepo.GetGlobalStatAsync();
    List<PpPrijem> platy = (List<PpPrijem>?)ViewData["platy"];

    var prumernyRocniPlatPoslance = (await PpRepo.GetPrijmyForGroupAsync(PpRepo.PoliticianGroup.Poslanci)).Average(x => x.CelkovyRocniPlatVcetneOdmen);
    var prumernyRocniPlatSenatora = (await PpRepo.GetPrijmyForGroupAsync(PpRepo.PoliticianGroup.Senatori)).Average(x => x.CelkovyRocniPlatVcetneOdmen);
    var prumernyRocniPlatMinistra = (await PpRepo.GetPrijmyForGroupAsync(PpRepo.PoliticianGroup.Vlada)).Average(x => x.CelkovyRocniPlatVcetneOdmen);
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li class="active">Politici</li>
    </ol>
}

<section class="d-flex align-items-center justify-content-start">
    <div class="container d-flex">
        <div class="p-2 flex-grow-1">
            <div class="fs-2 fw-bold">Kolik berou čeští politici?</div>
            <p>Projekt "Platy politiků" je součástí Hlídače státu. Zjistěte, jaký příjem mají politici a kolik zastávají
                funkcí.
                Data jsme shromáždili na základě oficiální žádosti podle zákona o svobodném přístupu k informacím.
                Jedná se o příjmy z výkonu politické či exekutivní funkce.
                <strong>od státních, polostátních nebo ? organizací,
                    kde působí. (teda všechno z daní?)</strong>
            </p>
            <a href="/politici/seznam" class="btn btn-primary">Přehled platů všech politiků</a>
        </div>
        <div class="p-2">
            <img class="img-fluid" src="Content/Img/politik u pultu.jpg" alt="politik u pultu"/>
        </div>
    </div>
</section>
<section class="d-flex align-items-center justify-content-center alter-bg-color">
    <div class="container">
        <div class="row">
            <div class="col h-100">
                <div id="carouselExampleIndicators" class="carousel carousel-dark slide pb-3 mb-4"
                     data-bs-ride="carousel">
                    <div class="carousel-indicators top-100">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a class="col d-flex flex-column justify-content-center d-block w-100 text-center" href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Poslanci.ToString("G"))&year=@(PpRepo.DefaultYear)">
                                
                                    <i class="fa-light fa-money-bill-1-wave fa-7x mb-2"
                                       style="--fa-primary-color: #2668d9;"></i>
                                    <div class="fs-3 fw-bold text-center">Průměrný roční plat poslance</div>
                                    <div
                                        class="fs-3 fw-bold text-center">@RenderData.NicePriceHtml(prumernyRocniPlatPoslance)</div>
                                
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="col d-flex flex-column justify-content-center d-block w-100 text-center" href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Senatori.ToString("G"))&year=@(PpRepo.DefaultYear)">
                                    <i class="fa-light fa-money-bill-1-wave fa-7x mb-2 fa-rotate-by"
                                       style="--fa-primary-color: #2668d9; --fa-rotate-angle: 30deg;"></i>
                                    <div class="fs-3 fw-bold text-center">Průměrný roční plat senátora</div>
                                    <div
                                        class="fs-3 fw-bold text-center">@RenderData.NicePriceHtml(prumernyRocniPlatSenatora)</div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="col d-flex flex-column justify-content-center d-block w-100 text-center" href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Vlada.ToString("G"))&year=@(PpRepo.DefaultYear)">
                                
                                    <i class="fa-light fa-money-bill-1-wave fa-7x mb-2 fa-rotate-by"
                                       style="--fa-primary-color: #2668d9; --fa-rotate-angle: 60deg;"></i>
                                    <div class="fs-3 fw-bold text-center">Průměrný roční plat ministra</div>
                                    <div
                                        class="fs-3 fw-bold text-center">@RenderData.NicePriceHtml(prumernyRocniPlatMinistra)</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="col h-100 d-flex flex-column justify-content-center text-center" href="/politici/seznam">
                
                    <i class="fa-duotone fa-solid fa-people-group fa-7x mb-2"
                       style="--fa-primary-color: #2668d9; --fa-secondary-color: #2668d9;"></i>
                    <div class="fs-3 fw-bold text-center">Počet politiků v databázi</div>
                    <div class="fs-3 fw-bold text-center">@(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetOsob))</div>
                
            </a>
            <a class="col h-100 d-flex flex-column justify-content-center text-center" href="/politici/organizace">
            
                <i class="fa-light fa-building-magnifying-glass fa-7x mb-2" style="--fa-primary-color: #2668d9;"></i>
                <div class="fs-3 fw-bold text-center">Počet organizací v databázi</div>
                <div
                    class="fs-3 fw-bold text-center">@(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetOrganizaci))</div>
            
            </a>
        </div>
    </div>
</section>
<section class="d-flex align-items-center justify-content-start">
    <div class="container">
        <div class="row">
            <div class="col h-100 d-flex flex-column justify-content-center text-center">
                <i class="fa-duotone fa-solid fa-question fa-beat fa-7x mb-2" style="--fa-animation-duration: 2s;"></i>
                <div class="fs-3 fw-bold text-center">Jak se určují platy politiků?</div>
            </div>
            <div class="col h-100 d-flex flex-column justify-content-center text-center">
                <i class="fa-regular fa-building-columns fa-beat fa-7x mb-2" style="--fa-animation-duration: 2s;"></i>
                <div class="fs-3 fw-bold text-center">Co všechno dělá poslanec/senátor/krajský zastupitel?</div>
            </div>
            <div class="col h-100 d-flex flex-column justify-content-center text-center">
                <i class="fa-duotone fa-solid fa-box-ballot fa-beat fa-7x mb-2"
                   style="--fa-animation-duration: 2s;"></i>
                <div class="fs-3 fw-bold text-center">Jak jsou voleni?</div>
            </div>
        </div>
    </div>
</section>
<hr/>

@* <section class="d-flex align-items-center justify-content-center"> *@
@*     <div class="container"> *@
@*         <h1> *@
@*             Příjmy a benefity politiků v @PpRepo.DefaultYear *@
@*         </h1> *@
@*         <p class="lead"> *@
@*             Platy politiků - detailní přehled politických a z daní placených působnostech politiků a jejich příjmy  *@
@*             z veřejných prostředků. *@
@*         </p> *@
@*         <p> *@
@*             Snažíme se zjistit, kolik si politici skutečně vydělají z veřejných zdrojů. A to nejen za svou hlavní funkci – např.  *@
@*             jako poslanec, senátor nebo starosta – ale také za další pozice, které často zastávají navíc.  *@
@*             Může se jednat např. o místa v dozorčích radách státních nebo polostátních firem, v různých správních radách,  *@
@*             výborech nebo komisích, kde za svou účast dostávají další odměny. *@
@*         </p> *@
@*         <p> *@
@*             Na jednom místě přehledně ukazujeme, kdo z politiků pracuje na více místech najednou (tzv. kumulace funkcí)  *@
@*             a kolik peněz si díky tomu měsíčně nebo ročně navíc vydělá. Vše stavíme na ověřených a veřejných datech. *@
@*         </p> *@
@*         <strong class="lead">Jak data získáváme</strong> *@
@*         <p> *@
@*             Informace o příjmech politiků získáváme primárně prostřednictvím oficiálních žádostí podle zákona o svobodném  *@
@*             přístupu k informacím, které adresujeme institucím, v nichž politici působí. Zároveň umožňujeme samotným  *@
@*             politikům údaje doplnit či potvrdit. Politici tak mají možnost zkontrolovat informace, které jsme od organizací  *@
@*             získali a aktivně se podílet na vyšší transparentnosti české politiky i na zvyšování důvěry veřejnosti v  *@
@*             činnost samotných politiků. *@
@*         </p> *@
@*         <p class=""> *@
@*             Za @PpRepo.DefaultYear jsme máme informace o @(RenderData.NiceNumber(stats.PocetPrijmu)) příjmech a benefitech @(RenderData.NiceNumber(stats.PocetOsob)) politiků z *@
@*             @(RenderData.NiceNumber(stats.PocetOrganizaci)) organizací. *@
@*         </p> *@
@*     </div> *@
@* </section> *@



