@using Devmasters.Enums
@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Util
@using MathNet.Numerics.Statistics;

@inject ZiggyCreatures.Caching.Fusion.IFusionCache cache;
@functions {
    private bool _sectionBgSwitch = true;

    public string GetBgClass(bool toggle = true)
    {
        if (toggle)
            _sectionBgSwitch = !_sectionBgSwitch;

        return _sectionBgSwitch ? "alter-bg-color" : "";
    }
}

@{
    int rok = PpRepo.DefaultYear;
    var stats = await PpRepo.GetGlobalStatAsync(rok);
    Dictionary<string, PpPrijem[]> platyPerNameId = (Dictionary<string, PpPrijem[]>?)ViewData["platy"];

    var senatori = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Senatori);
    var poslanci = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Poslanci);
    var vlada = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Vlada);
    var kraj = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.KrajstiZastupitele);
    var vsichni = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Vse);

    var rocniPlatPoslancu = poslanci.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatSenatoru = senatori.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatMinistru = vlada.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatKraju = kraj.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    var vsichniNameIds = await PpRepo.GetNameIdsForGroupAsync(PpRepo.PoliticianGroup.Vse, rok);
    var rocniPlatMuzi = (await PpRepo.GetPrijmyBySexAsync(false))
        .Select(m => m.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    var rocniPlatZeny = (await PpRepo.GetPrijmyBySexAsync(true))
        .Select(m => m.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    decimal pocetFunkci = (decimal)vsichni
            .Average(a => a.Value.Count());

    int minJobCount = 4;
    decimal pocetLidiXjobs = (decimal)vsichni
            .Count(a => a.Value.Count()>=minJobCount);

    decimal pocetFunkci50thPercentile = (decimal)vsichni
            .Select(a => (double)a.Value.Count())
            .Percentile(50);

    ;
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li class="active">Platy politiků</li>
    </ol>
}

@*
<img src="/Content/Img/Hledani_politika_sipka.svg" id="sch_arrow_background" style="position: absolute;z-index: 1200; pointer-events: none;width: 260px;height: auto;" alt="Pozadí" />
<script>
    const bg = document.getElementById('sch_arrow_background');
    const anchor = document.getElementById('hlidac-autocomplete-base');

    function updatePosition() {
      const rect = anchor.getBoundingClientRect();
      bg.style.top = (rect.top + window.scrollY - 43) + 'px';  // posun Y
      bg.style.left = (rect.left + window.scrollX + 650) + 'px'; // posun X
    }

    window.addEventListener('scroll', updatePosition);
    window.addEventListener('resize', updatePosition);
    window.addEventListener('DOMContentLoaded', updatePosition);
</script>
*@

<section class="container pb-5 pageblock-small">
    <div class="row align-items-center">
        <div class="text-lg-start">
            <h1 class="display-3 mb-4 text-start">Příjmy politiků a kumulace funkcí</h1>
            <p class="lead text-body-secondary mb-5">
                Zjistěte, jaký příjem mají politici a kolik zastávají funkcí. Zmapovali jsme příjmy <b>@((await PpRepo.GetNameIdsForGroupAsync(PpRepo.PoliticianGroup.Vse, rok)).Count)</b> špičkových politiků v ČR.
            </p>
            <div class="row align-items-center justify-content-center justify-content-lg-start g-4">
                <div class="col-sm-auto">
                    <a class="btn btn-primary" href="/politici/seznam">Zobrazit všechny politiky</a>
                </div>
                <div class="col-sm-auto">
                    <a class="link-cta" href="/politici/reporty"><i class="fa-solid fa-chart-pie-simple-circle-dollar"></i> Statistiky, reporty a analýzy příjmů politiků</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container py-5 pageblock">
    <h2 class="visually-hidden">Vybrané statistiky</h2>
    <ul class="list-unstyled row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 mb-0">
        <li class="col-6 col-md-4">
            <a href="/politici/seznam/poslanci">
                <div class="icon icon-primary mb-3">
                    <i class="fa-duotone fa-solid fa-people-group fa-3x mb-2" aria-hidden="true"></i>
                </div>
                <h3>Poslankyně a poslanci</h3>
                <p class="text-body-secondary mb-0">
                    Poslanci vydělají od <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Min()))</b>
                    do <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Max()))</b> ročně.
                    <br /><br />
                    Najdete u nás celkem <b>@(HlidacStatu.Util.RenderData.NiceNumber(vlada.Count))</b> poslanců a poslankyň.
                </p>
            </a>
            <p><a href="/politici/seznam/poslanci" class="btn btn-outline-primary">Senátorky a senátoři</a></p>
        </li>
        <li class="col-6 col-md-4">
            <a href="/politici/seznam/vlada">
                <div class="icon icon-primary mb-3">
                    <i class="fa-duotone fa-solid fa-people-group fa-3x mb-2" aria-hidden="true"></i>
                </div>
                <h3>Ministři a premiér</h3>
                <p class="text-body-secondary mb-0">
                    Ministři mají příjem od <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Min()))</b>
                        do <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Max()))</b> ročně.
                    <br /><br />                    
                    Senátorů a senátorek u nás najdete <b>@(HlidacStatu.Util.RenderData.NiceNumber(vlada.Count))</b>.
                </p>
            </a>
            <p><a href="/politici/seznam/vlada" class="btn btn-outline-primary">Členové vlády</a></p>
        </li>
        <li class="col-6 col-md-4">
            <a href="/politici/seznam/senatori">
                <div class="icon icon-primary mb-3">
                    <i class="fa-duotone fa-solid fa-people-group fa-3x mb-2" aria-hidden="true"></i>
                </div>
                <h3>Senátoři a senátorky</h3>
                <p class="text-body-secondary mb-0">
                    Senátoři mají příjem od <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(@rocniPlatSenatoru.Min()))</b>
                    do <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(@rocniPlatSenatoru.Max()))</b> ročně.
                    <br /><br />
                    Senátorů a senátorek u nás najdete <b>@(HlidacStatu.Util.RenderData.NiceNumber(senatori.Count))</b>.
                </p>

            </a>
            <p><a href="/politici/seznam/senatori" class="btn btn-outline-primary">Senátorky a senátoři</a></p>
        </li>
        <li class="col-6 col-md-4">
            <a href="/politici/seznam/KrajstiZastupitele">
                <div class="icon icon-primary mb-3">
                    <i class="fa-duotone fa-solid fa-people-group fa-3x mb-2" aria-hidden="true"></i>
                </div>
                <h3>Krajští zastupitelé</h3>
                <p class="text-body-secondary mb-0">
                    Zastupitelé vydělají od <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Min()))</b>
                    do <b>@(HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Max()))</b> ročně.
                    <br /><br />
                    Najdete u nás celkem <b>@(HlidacStatu.Util.RenderData.NiceNumber(vlada.Count))</b> zastupitelů.
                </p>
            </a>
            <p><a href="/politici/seznam/KrajstiZastupitele" class="btn btn-outline-primary">Senátorky a senátoři</a></p>

        </li>
        <li class="col-6 col-md-4">
            <a href="/politici/seznam?report=zeny">
                <div class="icon icon-primary mb-3">
                    <i class="fa-duotone fa-solid fa-users-gear fa-3x mb-2" aria-hidden="true"></i>
                </div>
                <h3>Kumulace funkcí</h3>
                <p class="text-body-secondary mb-0">
                    Politici mají v průměru <b>@RenderData.NiceNumber(pocetFunkci, showDecimal: RenderData.ShowDecimalVal.Show)</b> placených a neplacených funkcí.
                    <br />
                    @(pocetLidiXjobs) politiků působí na více než <b>@minJobCount</b> pozicích. 
                    @{
                        var topJob = platyPerNameId
                            .OrderByDescending(p => p.Value.Count())
                            .ThenByDescending(o => o.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika))
                            .First();
                    }
                    <br />
                    Vede @(Osoby.GetByNameId.Get(topJob.Key).FullName()) s <b>@topJob.Value.Count()</b> funkcemi a celkovým ročním příjmem
                    <b>@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(topJob.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika), html: true))</b>.
                </p>
            </a>
            <p><a href="/politici/seznam/KrajstiZastupitele" class="btn btn-outline-primary">Senátorky a senátoři</a></p>

        </li>
        <li class="col-6 col-md-4 "> @* bg-secondary-subtle p-4 *@
            <a href="https://platyuredniku.hlidacstatu.cz/Texty/OProjektu">

                <div class="icon icon-primary mb-3">
                    <i class="fa-duotone fa-solid fa-circle-info fa-3x mb-2" aria-hidden="true"></i>
                </div>
                <h3>O projektu</h3>
                <p class="text-body-secondary mb-0">
                    Projekt "Platy politiků a úředníků" je součástí Hlídače státu. Zjistěte, jaký příjem mají politici a kolik zastávají
                    funkcí.
                    Data jsme shromáždili na základě oficiální žádosti podle zákona o svobodném přístupu k informacím.
                    Jedná se o příjmy z výkonu politické či exekutivní funkce
                        od státních, polostátních nebo městských organizací,
                        kde působí.
                    
                </p>
            </a>
            <p><a href="https://platyuredniku.hlidacstatu.cz/Texty/OProjektu" class="btn btn-outline-primary">Více o projektu</a></p>

        </li>
    </ul>
</section>

@if (false)
{
    <hr />
    <hr />
    <section class="d-flex align-items-center justify-content-start @(GetBgClass())  pageblock-small" style="padding-top:1rem;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        Projekt "Platy politiků" je součástí Hlídače státu. Zjistěte, jaký příjem mají politici a kolik zastávají
                        funkcí.
                        Data jsme shromáždili na základě oficiální žádosti podle zákona o svobodném přístupu k informacím.
                        Jedná se o příjmy z výkonu politické či exekutivní funkce.
                        <strong>
                            od státních, polostátních nebo ? organizací,
                            kde působí. (teda všechno z daní?)
                        </strong>
                    </p>
                    <h2>Kolik berou čeští politici?</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h5>Přehled politiků</h5>
                    <p>Přehledný seznam všech osob, platy a pozice</p>

                    @{
                        var groupList = new PpRepo.PoliticianGroup[]
                        {
                                PpRepo.PoliticianGroup.Vlada,
                                PpRepo.PoliticianGroup.Poslanci,
                                PpRepo.PoliticianGroup.Senatori,
                                PpRepo.PoliticianGroup.KrajstiZastupitele,
                                PpRepo.PoliticianGroup.Vse,
                        };
                    }
                    <ul class="list-group">

                        @foreach (var item in groupList)
                        {
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center lh-lg" href="/politici/seznam/@(item.ToString())?year=@(PpRepo.DefaultYear)" role="button">
                                @(item.ToNiceDisplayName())
                                <span class="badge text-bg-info rounded-pill">@((await PpRepo.GetNameIdsForGroupAsync(item, rok)).Count)</span>
                            </a>
                        }
                    </ul>
                </div>
                <div class="col-12 col-lg-4">
                    <h5>Top příjmy</h5>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Jméno</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var plat in platyPerNameId.OrderByDescending(p => p.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika)).Take(5))
                            {
                                <tr>
                                    <td>@Osoby.GetByNameId.Get(plat.Key).FullName()</td>
                                    <td class="number">@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(plat.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika), html: true))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-4">
                    <h5>Top kumulace</h5>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Jméno</th>
                                <th colspan="2">Počet funkc9</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var plat in platyPerNameId.OrderByDescending(p => p.Value.Where(m => m.CelkovyRocniPlatVcetneOdmen > 0).Count()).Take(5))
                            {
                                <tr>
                                    <td>@Osoby.GetByNameId.Get(plat.Key).FullName()</td>
                                    <td class="number">@(plat.Value.Count())</td>
                                    <td class="number">@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(plat.Value.Sum(m => m.CelkovyRocniPlatVcetneOdmen), html: true))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-12 text-center">
                    <a class="btn btn-primary btn-sm" href="/politici/reporty">Další reporty, statistiky a analýzy platů politiků</a>

                </div>
            </div>
        </div>
    </section>


    <section class="d-flex align-items-center justify-content-center  @(GetBgClass())  pageblock">
        <div class="container">
            <div class="row">

                <div class="col-6 col-lg-3 justify-content-center text-center align-text-bottom">
                    <a href="/politici/reporty">

                        <i class="fa-light fa-money-bill-wheat fa-3x mb-2"
                           style="--fa-primary-color: #2668d9;"></i>
                        <div class="fs-5 fw-bold text-center">Průměrný počet placených pozic</div>
                        <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">
                            @RenderData.NiceNumber(pocetFunkci, showDecimal: RenderData.ShowDecimalVal.Show)
                        </div>
                    </a>
                </div>
                <div class="col-6 col-lg-3 justify-content-center text-center align-text-bottom">
                    <a href="/politici/reporty">

                        <i class="fa-light fa-chart-area fa-3x mb-2 text-warning"></i>
                        <div class="fs-5 fw-bold text-center">Žebříčky, analýzy, přehledy</div>
                        <div class="fs-4 fw-bold text-center badge rounded-pill text-bg-warning">
                            Další reporty a statistiky
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

}
<section class="d-flex align-items-center justify-content-center  @(GetBgClass())  pageblock">
    <div class="container">
        <div class="row">
            <div class="col h-100 d-flex flex-column justify-content-center text-center">
                <i class="fa-duotone fa-solid fa-question fa-beat fa-7x mb-2" style="--fa-animation-duration: 2s;"></i>
                <div class="fs-3 fw-bold text-center">Jak se určují platy politiků?</div>
            </div>
            <div class="col h-100 d-flex flex-column justify-content-center text-center">
                <i class="fa-regular fa-building-columns fa-beat fa-7x mb-2" style="--fa-animation-duration: 2s;"></i>
                <div class="fs-3 fw-bold text-center">Co všechno dělá poslanec/senátor/krajský zastupitel?</div>
            </div>
            <div class="col h-100 d-flex flex-column justify-content-center text-center">
                <div class="position-relative fa-beat fa-7x mb-2" style="--fa-animation-duration: 2s;">
                    <i class="fa-duotone fa-solid fa-box-ballot"></i>
                    <div class="position-absolute translate-middle"
                         style="left: 50%;top: 70%;font-weight: 700;font-size: 0.25em;color: #a7a8a9;">
                        Volby
                    </div>
                </div>
                <div class="fs-3 fw-bold text-center">Jak jsou voleni?</div>
            </div>
        </div>
    </div>
</section>
<hr />

@* <section class="d-flex align-items-center justify-content-center"> *@
@*     <div class="container"> *@
@*         <h1> *@
@*             Příjmy a benefity politiků v @PpRepo.DefaultYear *@
@*         </h1> *@
@*         <p class="lead"> *@
@*             Platy politiků - detailní přehled politických a z daní placených působnostech politiků a jejich příjmy  *@
@*             z veřejných prostředků. *@
@*         </p> *@
@*         <p> *@
@*             Snažíme se zjistit, kolik si politici skutečně vydělají z veřejných zdrojů. A to nejen za svou hlavní funkci – např.  *@
@*             jako poslanec, senátor nebo starosta – ale také za další pozice, které často zastávají navíc.  *@
@*             Může se jednat např. o místa v dozorčích radách státních nebo polostátních firem, v různých správních radách,  *@
@*             výborech nebo komisích, kde za svou účast dostávají další odměny. *@
@*         </p> *@
@*         <p> *@
@*             Na jednom místě přehledně ukazujeme, kdo z politiků pracuje na více místech najednou (tzv. kumulace funkcí)  *@
@*             a kolik peněz si díky tomu měsíčně nebo ročně navíc vydělá. Vše stavíme na ověřených a veřejných datech. *@
@*         </p> *@
@*         <strong class="lead">Jak data získáváme</strong> *@
@*         <p> *@
@*             Informace o příjmech politiků získáváme primárně prostřednictvím oficiálních žádostí podle zákona o svobodném  *@
@*             přístupu k informacím, které adresujeme institucím, v nichž politici působí. Zároveň umožňujeme samotným  *@
@*             politikům údaje doplnit či potvrdit. Politici tak mají možnost zkontrolovat informace, které jsme od organizací  *@
@*             získali a aktivně se podílet na vyšší transparentnosti české politiky i na zvyšování důvěry veřejnosti v  *@
@*             činnost samotných politiků. *@
@*         </p> *@
@*         <p class=""> *@
@*             Za @PpRepo.DefaultYear jsme máme informace o @(RenderData.NiceNumber(stats.PocetPrijmu)) příjmech a benefitech @(RenderData.NiceNumber(stats.PocetOsob)) politiků z *@
@*             @(RenderData.NiceNumber(stats.PocetOrganizaci)) organizací. *@
@*         </p> *@
@*     </div> *@
@* </section> *@



