@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Util

@inject ZiggyCreatures.Caching.Fusion.IFusionCache cache;
@{
    var stats = await PpRepo.GetGlobalStatAsync();
    List<PpPrijem> platy = (List<PpPrijem>?)ViewData["platy"];
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li class="active">Politici</li>
    </ol>
}

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h1>
            Příjmy a benefity politiků v @PpRepo.DefaultYear
        </h1>
        <p class="lead">
            Platy politiků - detailní přehled politických a z daní placených působnostech politiků a jejich příjmy 
            z veřejných prostředků.
        </p>
        <p>
            Snažíme se zjistit, kolik si politici skutečně vydělají z veřejných zdrojů. A to nejen za svou hlavní funkci – např. 
            jako poslanec, senátor nebo starosta – ale také za další pozice, které často zastávají navíc. 
            Může se jednat např. o místa v dozorčích radách státních nebo polostátních firem, v různých správních radách, 
            výborech nebo komisích, kde za svou účast dostávají další odměny.
        </p>
        <p>
            Na jednom místě přehledně ukazujeme, kdo z politiků pracuje na více místech najednou (tzv. kumulace funkcí) 
            a kolik peněz si díky tomu měsíčně nebo ročně navíc vydělá. Vše stavíme na ověřených a veřejných datech.
        </p>
        <strong class="lead">Jak data získáváme</strong>
        <p>
            Informace o příjmech politiků získáváme primárně prostřednictvím oficiálních žádostí podle zákona o svobodném 
            přístupu k informacím, které adresujeme institucím, v nichž politici působí. Zároveň umožňujeme samotným 
            politikům údaje doplnit či potvrdit. Politici tak mají možnost zkontrolovat informace, které jsme od organizací 
            získali a aktivně se podílet na vyšší transparentnosti české politiky i na zvyšování důvěry veřejnosti v 
            činnost samotných politiků.
        </p>
        <p class="">
            Za @PpRepo.DefaultYear jsme máme informace o @(RenderData.NiceNumber(stats.PocetPrijmu)) příjmech a benefitech @(RenderData.NiceNumber(stats.PocetOsob)) politiků z
            @(RenderData.NiceNumber(stats.PocetOrganizaci)) organizací.
        </p>
    </div>
</section>

<section class="d-flex align-items-center justify-content-center alter-bg-color">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <a class="btn btn-primary btn-sm" href="/politici/organizace">
                        Seznam všech organizací <span class="badge text-bg-danger">@(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetOrganizaci))</span>
                    </a>
                </p>
                <p class="mb-2 mt-4 text-body-secondary">
                    Nejvíce politiků působí v ... 
                </p>
            </div>
            <div class="col">
                <p>
                    <a class="btn btn-primary btn-sm" href="/politici/seznam">
                        Seznam všech politiků a jejich příjmů <span class="badge text-bg-danger">@(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetOrganizaci))</span>
                    </a>
                    <a class="btn btn-primary btn-sm" href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Vlada.ToString("G"))&year=@(PpRepo.DefaultYear)">
                        Seznam vládců a jejich příjmů
                    </a>
                    <a class="btn btn-primary btn-sm" href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Poslanci.ToString("G"))&year=@(PpRepo.DefaultYear)">
                        Seznam pouze poslanců a jejich příjmů
                    </a>
                    <a class="btn btn-primary btn-sm" href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.Senatori.ToString("G"))&year=@(PpRepo.DefaultYear)">
                        Seznam pouze senátorů a jejich příjmů
                    </a>
                    <a class="btn btn-primary btn-sm" href="/politici/seznam?groupName=@(PpRepo.PoliticianGroup.KrajstiZastupitele.ToString("G"))&year=@(PpRepo.DefaultYear)">
                        Seznam pouze krajských zastupitelů a jejich příjmů
                    </a>
                </p>
                <p class="mb-2 mt-4 text-body-secondary">
                    Nejvyšší příjmy mají ...
                </p>
            </div>
        </div>
    </div>
</section>

