@using HlidacStatu.Repositories
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories.SharedModels

@model List<PpPrijem>
@addTagHelper *, HlidacStatu.Lib.Web.UI.TagHelpers

@functions {
    private bool _sectionBgSwitch = true;

    public string GetBgClass(bool toggle = true)
    {
        if (toggle)
            _sectionBgSwitch = !_sectionBgSwitch;

        return _sectionBgSwitch ? "alter-bg-color" : "";
    }
}
@{
    var politik = (Osoba?)ViewData["osoba"];
    if (politik is null)
        throw new Exception("Politik není znám");

    ViewBag.Title = politik.FullName();


    int[] othtypes = {
        (int)OsobaEvent.Types.VerejnaSpravaJine,
        (int)OsobaEvent.Types.VerejnaSpravaExekutivni,
        (int)OsobaEvent.Types.Osobni,
        (int)OsobaEvent.Types.Jine
    };

    var volenaFunkceOsoba = politik.Description(true,
           m => m.Type == (int)OsobaEvent.Types.VolenaFunkce,
        template: "<ul>{0}</ul>", itemTemplate: "<li>{0}</li>", itemDelimeter: "");
    var verejnaFunkceOsoba = politik.Description(true,
        m => othtypes.Contains(m.Type),
        template: "<ul>{0}</ul>", itemTemplate: "<li>{0}</li>", itemDelimeter: "");
    var politickaFunkceOsoba = politik.Description(true,
        m => m.Type == (int)OsobaEvent.Types.Politicka || m.Type == (int)OsobaEvent.Types.PolitickaExekutivni,
        template: "<ul>{0}</ul>", itemTemplate: "<li>{0}</li>", itemDelimeter: "");

    int[] roky = Model.Select(m => m.Rok).Distinct().OrderBy(o => o).ToArray();
    int rok = PpRepo.DefaultYear;
    if (roky.Any())
    {
        rok = roky.Max();
    }

    var platyZaRokPotvrzene = Model.Where(m => m.Status>=0);


    ViewBag.SocialShareTitle = $"{politik.FullNameWithYear()}";
    //ViewBag.SocialShareText = politik.InfoFactsCached().RenderFacts(4, true, true, ", ");
    ViewBag.SocialShareText = $"{politik.FullNameWithYear()} měl v {PpRepo.DefaultYear} roční příjem {HlidacStatu.Util.RenderData.NicePrice(platyZaRokPotvrzene.Sum(m => m.CelkoveRocniNakladyNaPolitika))}"
    + $" {Devmasters.Lang.CS.Plural.Get(platyZaRokPotvrzene.Count(), "z jedné pozice", "ze {0} pozic", "z {0} pozic")}.";

    ViewBag.SocialShareType = "article";
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/osoba?d={DateTime.Now.ToString("yyMMdd")}&v=" + politik.NameId;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
                            + "<meta property=\"og:image:height\" content=\"1080\" />"
                            + "<meta property=\"og:image:type\" content=\"image/png\" />";



}


@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Politici">Platy politiků</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<section class="d-flex justify-content-center  @(GetBgClass()) pageblock-small">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="person-profile-thumb">
                    <div class="photo">
                        <div class="profile-picture border"
                             style="background-image: url('@politik.GetPhotoUrl(false, Osoba.PhotoTypes.NoBackground)')"></div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <h2><i class="fa-regular fa-building-columns"></i>&nbsp;@politik.FullName()</h2>
                <p class="lead">@politik.MainRolesToString(PpRepo.DefaultYear)</p>

                <p>
                    <a href="@politik.GetUrl(false)" class="btn btn-outline-primary btn-sm ">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i> Plný profil politika na Hlídači státu
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Celkové příjmy z veřejných funkcí za @rok</h4>
                <div>
                    <table class="table" style="width:auto">
                        @if (platyZaRokPotvrzene.Sum(m => m.CelkoveRocniNahrady) > 0)
                        {
                            <tr>
                                <th class="text-nowrap">
                                    <celkovy-rocni-prijem />
                                </th>
                                <td class="fw-bold number">@HlidacStatu.Util.RenderData.NicePriceHtml(platyZaRokPotvrzene.Sum(m => m.CelkoveRocniNakladyNaPolitika))</td>
                            </tr>
                        }
                        <tr>
                            <th class="text-nowrap"
                                style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">
                                Roční osobní příjem
                                <i class="fa-solid fa-circle-info" style="color:@(SankeyDiagram.Color_primary_light);cursor:pointer" data-bs-toggle="tooltip"
                                   data-bs-title="Plat, odměny, bonusy, osobní příspěvky a náhrady (např. ubytování, cestovní náhrady, reprezentace)"></i>
                            </th>
                            <td class="fw-bold number"
                                style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(platyZaRokPotvrzene.Sum(m => m.CelkovyRocniPlatVcetneOdmen))
                            </td>
                        </tr>
                        @if (platyZaRokPotvrzene.Sum(m => m.CelkoveRocniNahrady) > 0)
                        {

                            <tr>
                                <th class="text-nowrap"
                                    style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">
                                    Ostatní náhrady
                                    <i class="fa-solid fa-circle-info" style="color:@(SankeyDiagram.Color_secondary_light);cursor:pointer" data-bs-toggle="tooltip"
                                       data-bs-title="peněžní a nepeněžní, účelově vázané náhrady (např. kancelář, administrativa, asistenti)"></i>
                                </th>
                                <td class="fw-bold number"
                                    style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">
                                    @HlidacStatu.Util.RenderData.NicePriceHtml(platyZaRokPotvrzene.Sum(m => m.CelkoveRocniNahrady))
                                </td>
                            </tr>
                        }

                        <tr>
                            <th class="">
                                Evidujeme příjmy od
                            </th>
                            <td class="fw-bold">
                                <ol>
                                    @Html.Raw(string.Join("", platyZaRokPotvrzene.Select(m => "<li>" + m.Organizace.FirmaDs.DsSubjName + "</li>")))
                                </ol>
                            </td>
                        </tr>
                    </table>

                </div>
                <div>
                    @* Graf here *@
                    @if (Model.Count > 1)
                    {
                        <div>
                            <partial name="Graphs/_SankeyDiagram"
                                     model="@(new SankeyDiagram() { PrijmyPolitiku = Model, Title = "Přehled celkových ročních příjmů", CssHeight = "380" })" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@if (platyZaRokPotvrzene.Count() > 1)
{
    <section class="d-flex @(GetBgClass()) pageblock">
        <div class="container">
            <h2>Rychlý souhrn platů</h2>
            <table class="table table-bordered table-striped table-hover caption-top" style="width:initial">
                <caption>Všechny odměny jsou uvedeny v hrubém za kalendářní rok @rok</caption>
                <thead>
                    <tr>
                        <td class="text-nowrap">Organizace</td>
                        <td class="text-nowrap"><celkovy-rocni-prijem /></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pprijem in platyZaRokPotvrzene)
                    {
                        @if (pprijem.Status == PpPrijem.StatusPlatu.Zjistujeme_zadost_106)
                        {
                            <tr>
                                <td><a href="/politici/organizace/@pprijem.Organizace.FirmaDs.Ico">@pprijem.Organizace.Nazev</a></td>
                                <td ><span class="text-warning">Neposkytla nám informace o platu politika</span></td>
                            </tr>
                        }
                        else if (pprijem.Status == PpPrijem.StatusPlatu.Prijem_nezjistovali_jsme)
                        {
                            <tr>
                                <td><a href="/politici/organizace/@pprijem.Organizace.FirmaDs.Ico">@pprijem.Organizace.Nazev</a></td>
                                <td>Na tento příjem jsme se organizace ani politika neptali.</td>
                            </tr>
                        }

                        else
                        {
                            <tr>
                                <td>
                                    <a href="/politici/organizace/@pprijem.Organizace.FirmaDs.Ico">@pprijem.Organizace.Nazev</a>
                                    @if (pprijem.CelkoveRocniNahrady > 0)
                                    {
                                        <div class="text-end">
                                            + účelové náhrady
                                        </div>
                                    }
                                    @if (pprijem.Status == PpPrijem.StatusPlatu.PotvrzenyPlat_od_politika)
                                    {
                                        <div class="small">
                                            (informace od politika)
                                        </div>
                                    }
                                </td>
                                <td class="number">
                                    @HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.CelkovyRocniPlatVcetneOdmen)
                                    <i class="fa-solid fa-circle-info" style="color:@(SankeyDiagram.Color_primary_light);cursor:pointer" data-bs-toggle="tooltip"
                                       data-bs-title="Plat, odměny, bonusy, osobní příspěvky a náhrady (např. ubytování, cestovní náhrady, reprezentace)"></i>
                                    @if (pprijem.CelkoveRocniNahrady > 0)
                                    {
                                        <div>
                                            @HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.CelkoveRocniNahrady)
                                            <i class="fa-solid fa-circle-info" style="color:@(SankeyDiagram.Color_secondary_light);cursor:pointer" data-bs-toggle="tooltip"
                                               data-bs-title="peněžní a nepeněžní, účelově vázané náhrady (např. kancelář, administrativa, asistenti)"></i>

                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <td class="fa-bold">Celkem</td>
                        <td class="number fa-bold">@HlidacStatu.Util.RenderData.NicePriceHtml(platyZaRokPotvrzene.Sum(m => m.CelkoveRocniNakladyNaPolitika))</td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </section>
}
<div class="container mt-5 mb-0">
    <h2>Detailní informace o příjmech po organizacích v @rok</h2>
</div>
@foreach (var pprijem in platyZaRokPotvrzene)
{
    <section class="d-flex block @(GetBgClass()) pageblock">
        <div class="container">

            <h3 id="@pprijem.Organizace.DS"><a href="/politici/organizace/@pprijem.Organizace.FirmaDs.Ico">@pprijem.Organizace.Nazev</a></h3>

            @if (pprijem.Status == PpPrijem.StatusPlatu.PotvrzenyPlat_jiny_zdroj)
            {
                <p class="lead text-warning">Informaci o tomto platu máme z jiného zdroje. Zdroj informace: <small>@pprijem.ZdrojInformace</small></p>
            }

            @if (pprijem.Status == PpPrijem.StatusPlatu.Zjistujeme_zadost_106)
            {
                <p class="lead text-warning">Organizace nám pro @politik.FullName() neposkytla žádné informace o platu.</p>
            }
            else if (pprijem.Status == PpPrijem.StatusPlatu.Prijem_nezjistovali_jsme)
            {
                <p class="lead text-body">
                    Na tento příjem jsme se organizace ani politika neptali.
                </p>
                @if (!string.IsNullOrWhiteSpace(pprijem.ZdrojInformace))
                {
                    <p>
                        Zdroj: <cite title="Zdroj">@pprijem.ZdrojInformace</cite>
                    </p>
                }
                @if (!string.IsNullOrWhiteSpace(pprijem.PoznamkaPlat))
                {
                    <p>
                        Poznámka: <cite title="Zdroj">@pprijem.PoznamkaPlat</cite>
                    </p>
                }
            }

            else
            {
                <table class="table table-hover caption-top">
                    <caption>Všechny odměny jsou uvedeny v hrubém za kalendářní rok @rok</caption>
                    <tbody>
                        <tr>
                            <th class="text-nowrap"><celkovy-rocni-prijem /> od této organizace</th>
                            <td width="100%">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.CelkoveRocniNakladyNaPolitika)</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap">Počet odpracovaných měsíců</th>
                            <td width="100%">@(pprijem.PocetMesicu.Value.ToString("N0"))</td>
                        </tr>
                        <tr>
                            <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">Základní odměna</th>
                            <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.Plat ?? 0)

                                @if (pprijem.Organizace.FirmaDs.Ico == "00006572" //plat pro Snemovnu
                                                        && platyZaRokPotvrzene.Select(m => m.Organizace.FirmaDs.Ico).Any(m => HlidacStatu.Entities.UradyConstants.Ica.Vlada.Contains(m)) //a je ve vlade
                                                        )
                                {
                                    <p>
                                        <span class="text-warning fas fa-exclamation-circle" aria-hidden="true" title="Upozornění"></span><span class="sr-only">Upozornění</span>
                                        <b>Upozornění: </b>
                                        Pokud je osoba poslancem a současně ministrem, dostává plat pouze z funkce, kde je plat vyšší.
                                    </p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">Mimořádná odměna</th>
                            <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.Odmeny ?? 0)</td>
                        </tr>
                        @if (pprijem.NahradaReprezentace.HasValue)
                        {
                            <tr>
                                <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">Náhrady na reprezentaci</th>
                                <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaReprezentace ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaCestovni.HasValue)
                        {
                            <tr>
                                <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">Náhrady cestovní</th>
                                <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaCestovni ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaUbytovani.HasValue)
                        {
                            <tr>
                                <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">Náhrady na ubytování</th>
                                <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_primary_light).ToRGBA(0.4m))">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaUbytovani ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.CelkoveRocniNahrady > 0)
                        {
                            <tr class="table-group-divider">
                                <th colspan="2">
                                    Ostatní, účelově vázané náhrady
                                </th>
                            </tr>
                        }
                        @if (pprijem.NahradaAdministrativa.HasValue)
                        {
                            <tr>
                                <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">Náhrady na administrativu</th>
                                <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaAdministrativa ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaAsistent.HasValue)
                        {
                            <tr>
                                <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">Náhrady na asistenty</th>
                                <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaAsistent ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaTelefon.HasValue)
                        {
                            <tr>
                                <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">Náhrady na pronájem a provoz kanceláře</th>
                                <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaTelefon ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaKancelar.HasValue)
                        {
                            <tr>
                                <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">Náhrady na pronájem a provoz kanceláře</th>
                                <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaKancelar ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.Prispevky.HasValue)
                        {
                            <tr>
                                <th style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">Další příspěvky</th>
                                <td style="background-color:@(new Devmasters.Imaging.RGBA(SankeyDiagram.Color_secondary_light).ToRGBA(0.4m))">@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.Prispevky ?? 0)</td>
                            </tr>
                        }

                        <tr>
                            <th>
                                Další benefity
                                <i class="fa-solid fa-circle-info link-default me-2" data-bs-toggle="tooltip"
                                   data-bs-title="(např. stravenky,ošatné = příspěvek na úpravu zevnějšku, aj.) peněžní i nepeněžní">
                                </i>

                            </th>
                            <td>@pprijem.NefinancniBonus</td>
                        </tr>
                        @if (!string.IsNullOrWhiteSpace(pprijem.PoznamkaPlat))
                        {
                            <tr>
                                <th>
                                    Poznámka k platu:
                                    <i class="fa-solid fa-circle-info link-default me-2" data-bs-toggle="tooltip"
                                       data-bs-title="někdy uvedená úřadem či politikem, nebo související se zdrojem informace">
                                    </i>

                                </th>
                                <td>
                                    <figure>
                                        <blockquote class="blockquote">
                                            <p>@pprijem.PoznamkaPlat</p>
                                        </blockquote>
                                        @if (!string.IsNullOrWhiteSpace(pprijem.ZdrojInformace))
                                        {
                                            <figcaption class="blockquote-footer">
                                                Zdroj: <cite title="Zdroj">@pprijem.ZdrojInformace</cite>
                                            </figcaption>
                                        }
                                    </figure>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                @if (pprijem.Status == PpPrijem.StatusPlatu.PotvrzenyPlat_od_politika)
                {
                    <p><i class="fa-solid fa-flag text-warning"></i> Tyto informace poskytl@((politik.Zena() ? "a" : "")) @(politik.FullName()) a ručí za ně.</p>
                }


            }
            @if (pprijem.Status == PpPrijem.StatusPlatu.Zjistujeme_zadost_106
                    || pprijem.Status == PpPrijem.StatusPlatu.PotvrzenyPlat_od_organizace
                    )
            {

                <h4>Průběh komunikace s organizací</h4>
                <p>
                    <ol class="list-group" style="max-width:800px;">

                        @foreach (var evd in (await PpRepo.GetEventsForPolitikAndOrganizace(politik.NameId, pprijem.IdOrganizace)).OrderBy(o => o.Datum).Select(m => m.GetEventDescription()))
                        {
                            <li class="list-group-item list-group-item-@(evd.BootStrapColor())">
                                <div class="d-flex w-100 justify-content-between">
                                    <span>@evd.Title</span>
                                    <small>@(evd.Date.ToString("d.M.yyyy"))</small>
                                </div>
                                @if (!string.IsNullOrWhiteSpace(evd.Note))
                                {
                                    <small>@evd.Note</small>
                                }
                            </li>
                        }
                    </ol>
                </p>


            }


        </div>
    </section>
}


<section class="d-flex @GetBgClass() pageblock">
    <div class="container">
        <h3>Přehled funkcí @politik.FullName()</h3>

        <div>
            @if (!string.IsNullOrWhiteSpace(volenaFunkceOsoba))
            {
                <p class="py-0 my-0  fw-bold">Volené funkce</p>
                <p class="py-0 my-0">@Html.Raw(volenaFunkceOsoba)</p>
            }
            @if (!string.IsNullOrWhiteSpace(verejnaFunkceOsoba))
            {
                <p class="py-0 my-0  fw-bold">Veřejné funkce</p>
                <p class="py-0 my-0">@Html.Raw(verejnaFunkceOsoba)</p>
            }
            @if (!string.IsNullOrWhiteSpace(politickaFunkceOsoba))
            {
                <p class="py-0 my-0  fw-bold">Politické funkce</p>
                <p class="py-0 my-0">@Html.Raw(politickaFunkceOsoba)</p>
            }
        </div>
    </div>
</section>