@using HlidacStatu.Repositories
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories.SharedModels
@using HlidacStatu.Entities.Facts

@model List<PpPrijem>
@addTagHelper *, HlidacStatu.Lib.Web.UI.TagHelpers

@functions {
    private bool _sectionBgSwitch = true;

    public string GetBgClass(bool toggle = true)
    {
        if (toggle)
            _sectionBgSwitch = !_sectionBgSwitch;

        return _sectionBgSwitch ? "alter-bg-color" : "";
    }
}
@{
    var politik = (Osoba?)ViewData["osoba"];
    if (politik is null)
        throw new Exception("Politik není znám");

    ViewBag.Title = politik.FullName();


    int[] othtypes = {
        (int)OsobaEvent.Types.VerejnaSpravaJine,
        (int)OsobaEvent.Types.VerejnaSpravaExekutivni,
        (int)OsobaEvent.Types.Osobni,
        (int)OsobaEvent.Types.Jine
    };

    var volenaFunkceOsoba = politik.Description(true,
           m => m.Type == (int)OsobaEvent.Types.VolenaFunkce,
        template: "<ul>{0}</ul>", itemTemplate: "<li>{0}</li>", itemDelimeter: "");
    var verejnaFunkceOsoba = politik.Description(true,
        m => othtypes.Contains(m.Type),
        template: "<ul>{0}</ul>", itemTemplate: "<li>{0}</li>", itemDelimeter: "");
    var politickaFunkceOsoba = politik.Description(true,
        m => m.Type == (int)OsobaEvent.Types.Politicka || m.Type == (int)OsobaEvent.Types.PolitickaExekutivni,
        template: "<ul>{0}</ul>", itemTemplate: "<li>{0}</li>", itemDelimeter: "");

    int[] roky = Model.Select(m => m.Rok).Distinct().OrderBy(o => o).ToArray();
    int rok = PpRepo.DefaultYear;
    if (roky.Any())
    {
        rok = roky.Max();
    }

    var platyZaRok = Model.Where(m => m.Rok == rok);

    ViewBag.SocialShareTitle = $"{politik.FullNameWithYear()}";
    //ViewBag.SocialShareText = politik.InfoFactsCached().RenderFacts(4, true, true, ", ");
    ViewBag.SocialShareText = $"{politik.FullNameWithYear()} měl v {PpRepo.DefaultYear} roční příjem {HlidacStatu.Util.RenderData.NicePrice(platyZaRok.Sum(m => m.CelkovyRocniPlatVcetneOdmen))}"
    + $" {Devmasters.Lang.CS.Plural.Get(platyZaRok.Count(), "z jedné pozice", "ze {0} pozic", "z {0} pozic")}.";

    ViewBag.SocialShareType = "article";
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/osoba?d={DateTime.Now.ToString("yyMMdd")}&v=" + politik.NameId;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
                            + "<meta property=\"og:image:height\" content=\"1080\" />"
                            + "<meta property=\"og:image:type\" content=\"image/png\" />";



}


@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Politici">Platy politiků</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<section class="d-flex justify-content-center  @(GetBgClass()) pageblock-small">
    <div class="container">
        <div>
            <h2><i class="fa-regular fa-building-columns"></i>&nbsp;@politik.FullName()</h2>
            <div class="d-flex">
                <div class="me-3">
                    <div class="d-flex">
                        <div>
                            <div class="person-profile-thumb">
                                <div class="photo">
                                    <div class="profile-picture border"
                                         style="background-image: url('@politik.GetPhotoUrl(false, Osoba.PhotoTypes.NoBackground)')"></div>
                                </div>
                            </div>
                            <p class="mt-4"><hr class="dotted gray w-75" /><a href="@politik.GetUrl()"><i class="fa-solid fa-arrow-up-right-from-square"></i> kompletní profil na Hlídač státu</a></p>
                        </div>
                        <div class="mt-1">

                            <h3>Celkové příjmy z veřejných funkcí</h3>
                            <div>
                                <dl class="row">
                                    <dt class="col-12 col-sm-12 text-nowrap fs-3">@(rok)</dt>
                                    <dt class="col-6 col-sm-6 col-md-3 text-nowrap fs-5">
                                        Roční osobní příjem
                                        <i class="fa-solid fa-circle-info" style="color:@(SankeyDiagram.Color_primary_light);cursor:pointer" data-bs-toggle="tooltip"
                                           data-bs-title="Plat, odměny, bonusy, osobní příspěvky a náhrady (např. ubytování, cestovní náhrady, reprezentace)"></i>
                                    </dt>
                                    <dd class="col-6 col-sm-6 col-md-9 text-nowrap fs-5">@HlidacStatu.Util.RenderData.NicePriceHtml(platyZaRok.Sum(m => m.CelkovyRocniPlatVcetneOdmen))</dd>
                                    @if (platyZaRok.Sum(m => m.CelkoveRocniNahrady) > 0)
                                    {
                                        <dt class="col-6 col-sm-6 col-md-3 text-nowrap fs-5">
                                            Ostatní náhrady
                                            <i class="fa-solid fa-circle-info" style="color:@(SankeyDiagram.Color_secondary_light);cursor:pointer" data-bs-toggle="tooltip"
                                               data-bs-title="peněžní a nepeněžní, účelově vázané náhrady (např. kancelář, administrativa, asistenti)"></i>


                                        </dt>
                                        <dd class="col-6 col-sm-6 col-md-9 text-nowrap fs-5">@HlidacStatu.Util.RenderData.NicePriceHtml(platyZaRok.Sum(m => m.CelkoveRocniNahrady))</dd>
                                    }
                                    <dt class="col-6 col-sm-6 col-md-3 text-nowrap fs-5">Evidujeme příjmy od </dt>
                                    <dd class="col-6 col-sm-6 col-md-9">@(string.Join(", ", platyZaRok.Select(m => m.Organizace.FirmaDs.DsSubjName)))</dd>
                                </dl>

                            </div>
                            <div>
                                @* Graf here *@
                                @if (Model.Count > 1)
                                {
                                    <div>
                                        <partial name="Graphs/_SankeyDiagram"
                                                 model="@(new SankeyDiagram() { PrijmyPolitiku = Model, Title = "Přehled celkových ročních příjmů", CssHeight = "380" })" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
@if (platyZaRok.Count() > 1)
{
    <section class="d-flex @(GetBgClass()) pageblock">
        <div class="container">
            <h2>Rychlý souhrn platů</h2>
            <table class="table table-bordered table-striped table-hover caption-top" style="width:initial">
                <caption>Všechny odměny jsou uvedeny v hrubém za kalendářní rok @rok</caption>
                <thead>
                    <tr>
                        <td class="text-nowrap">Organizace</td>
                        <td class="text-nowrap">Celkový roční příjem včetně odměn</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pprijem in platyZaRok)
                    {
                        @if (pprijem.Status == PpPrijem.StatusPlatu.Zjistujeme_zadost_106)
                        {
                            <tr>
                                <td>@pprijem.Organizace.Nazev</td>
                                <td class="number"><span class="text-warning">Neposkytla nám informace o platu politika</span></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @pprijem.Organizace.Nazev
                                    @if (pprijem.CelkoveRocniNahrady > 0)
                                    {
                                        <div class="text-end">
                                            + účelové náhrady
                                        </div>
                                    }
                                    @if (pprijem.Status == PpPrijem.StatusPlatu.PotvrzenyPlat_od_politika)
                                    {
                                        <div class="small">
                                            (informace od politika)
                                        </div>
                                    }
                                </td>
                                <td class="number">
                                    @HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.CelkovyRocniPlatVcetneOdmen)
                                    <i class="fa-solid fa-circle-info" style="color:@(SankeyDiagram.Color_primary_light);cursor:pointer" data-bs-toggle="tooltip"
                                       data-bs-title="Plat, odměny, bonusy, osobní příspěvky a náhrady (např. ubytování, cestovní náhrady, reprezentace)"></i>
                                    @if (pprijem.CelkoveRocniNahrady > 0)
                                    {
                                        <div>
                                            @HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.CelkoveRocniNahrady)
                                            <i class="fa-solid fa-circle-info" style="color:@(SankeyDiagram.Color_secondary_light);cursor:pointer" data-bs-toggle="tooltip"
                                               data-bs-title="peněžní a nepeněžní, účelově vázané náhrady (např. kancelář, administrativa, asistenti)"></i>

                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <td class="fa-bold">Celkem</td>
                        <td class="number fa-bold">@HlidacStatu.Util.RenderData.NicePriceHtml(platyZaRok.Sum(m => m.CelkovyRocniPlatVcetneOdmen))</td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </section>
}
<div class="container mt-5 mb-0">
    <h2>Detailní informace o příjmech po organizacích v @rok</h2>
</div>
@foreach (var pprijem in platyZaRok)
{
    <section class="d-flex block @(GetBgClass()) pageblock">
        <div class="container">

            <h3 id="@pprijem.Organizace.DS">@pprijem.Organizace.Nazev</h3>

            @if (pprijem.Status == PpPrijem.StatusPlatu.Zjistujeme_zadost_106)
            {
                <p class="lead text-warning">Organizace nám pro @politik.FullName() neposkytla žádné informace o platu.</p>
                <h4>Průběh komunikace s organizací</h4>
                <p>
                    <ol class="list-group" style="max-width:800px;">

                        @foreach (var evd in (await PpRepo.GetEventsForPolitikAndOrganizace(politik.NameId, pprijem.IdOrganizace)).OrderBy(o => o.Datum).Select(m => m.GetEventDescription()))
                        {
                            <li class="list-group-item list-group-item-@(evd.BootStrapColor())">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@evd.Title</h5>
                                    <small>@(evd.Date.ToString("d.M.yyyy"))</small>
                                </div>
                                @if (!string.IsNullOrWhiteSpace(evd.Note))
                                {
                                    <small>@evd.Note</small>
                                }
                            </li>
                        }
                    </ol>
                </p>
            }
            else
            {
                <table class="table table-hover caption-top">
                    <caption>Všechny odměny jsou uvedeny v hrubém za kalendářní rok @rok</caption>
                    <tbody>
                        <tr>
                            <th class="text-nowrap">Počet odpracovaných měsíců</th>
                            <td width="100%">@(pprijem.PocetMesicu.Value.ToString("N0"))</td>
                        </tr>
                        <tr>
                            <th>Základní odměna</th>
                            <td>@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.Plat ?? 0)</td>
                        </tr>
                        <tr>
                            <th>Mimořádná odměna</th>
                            <td>@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.Odmeny ?? 0)</td>
                        </tr>
                        @if (pprijem.NahradaReprezentace.HasValue)
                        {
                            <tr>
                                <th>Náhrady na reprezentaci</th>
                                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaReprezentace ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaCestovni.HasValue)
                        {
                            <tr>
                                <th>Náhrady cestovní</th>
                                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaCestovni ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaUbytovani.HasValue)
                        {
                            <tr>
                                <th>Náhrady na ubytování</th>
                                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaUbytovani ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.CelkoveRocniNahrady > 0)
                        {
                            <tr class="table-group-divider">
                                <th colspan="2">
                                    Ostatní, účelově vázané náhrady
                                </th>
                            </tr>
                        }
                        @if (pprijem.NahradaAdministrativa.HasValue)
                        {
                            <tr>
                                <th>Náhrady na administrativu</th>
                                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaAdministrativa ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaAsistent.HasValue)
                        {
                            <tr>
                                <th>Náhrady na asistenty</th>
                                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaAsistent ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaTelefon.HasValue)
                        {
                            <tr>
                                <th>Náhrady na pronájem a provoz kanceláře</th>
                                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaTelefon ?? 0)</td>
                            </tr>
                        }
                        @if (pprijem.NahradaKancelar.HasValue)
                        {
                            <tr>
                                <th>Náhrady na pronájem a provoz kanceláře</th>
                                <td>@HlidacStatu.Util.RenderData.NicePriceHtml(pprijem.NahradaKancelar ?? 0)</td>
                            </tr>
                        }

                        <tr>
                            <th>
                                Další benefity
                                <a href="#" class="link-default me-2" data-bs-toggle="tooltip"
                                   data-bs-title="(např. stravenky,ošatné = příspěvek na úpravu zevnějšku, aj.) peněžní i nepeněžní">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>

                            </th>
                            <td>@pprijem.NefinancniBonus</td>
                        </tr>
                    </tbody>
                </table>
                @if (pprijem.Status == PpPrijem.StatusPlatu.PotvrzenyPlat_od_politika)
                {
                    <p><i class="fa-solid fa-flag text-warning"></i> Tyto informace poskytl@((politik.Zena() ? "a" : "")) @(politik.FullName()) a ručí za ně.</p>
                }


                @if (pprijem.Status == PpPrijem.StatusPlatu.Zjistujeme_zadost_106
                        || pprijem.Status == PpPrijem.StatusPlatu.PotvrzenyPlat_od_organizace
                        )
                {
                    <lowbox width="@((pprijem.Status == 0 ? 300 : 130 ))">
                        <h4>Průběh komunikace s organizací</h4>
                        <p>
                            <ol class="list-group" style="max-width:800px;">

                                @foreach (var evd in (await PpRepo.GetEventsForPolitikAndOrganizace(politik.NameId, pprijem.IdOrganizace)).OrderBy(o => o.Datum).Select(m => m.GetEventDescription()))
                                {
                                    <li class="list-group-item list-group-item-@(evd.BootStrapColor())">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@evd.Title</h5>
                                            <small>@(evd.Date.ToString("d.M.yyyy"))</small>
                                        </div>
                                        @if (!string.IsNullOrWhiteSpace(evd.Note))
                                        {
                                            <small>@evd.Note</small>
                                        }
                                    </li>
                                }
                            </ol>
                        </p>
                    </lowbox>

                }
            }


        </div>
    </section>
}


<section class="d-flex @GetBgClass() pageblock">
    <div class="container">
        <h3>Přehled funkcí @politik.FullName()</h3>

        <div>
            @if (!string.IsNullOrWhiteSpace(volenaFunkceOsoba))
            {
                <p class="py-0 my-0  fw-bold">Volené funkce</p>
                <p class="py-0 my-0">@Html.Raw(volenaFunkceOsoba)</p>
            }
            @if (!string.IsNullOrWhiteSpace(verejnaFunkceOsoba))
            {
                <p class="py-0 my-0  fw-bold">Veřejné funkce</p>
                <p class="py-0 my-0">@Html.Raw(verejnaFunkceOsoba)</p>
            }
            @if (!string.IsNullOrWhiteSpace(politickaFunkceOsoba))
            {
                <p class="py-0 my-0  fw-bold">Politické funkce</p>
                <p class="py-0 my-0">@Html.Raw(politickaFunkceOsoba)</p>
            }
        </div>
    </div>
</section>