@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Util
@using MathNet.Numerics.Statistics;

@{
    ViewBag.Title = "Reporty a statistiky";

    int rok = PpRepo.DefaultYear;
    var stats = await PpRepo.GetGlobalStatAsync(rok);


    var senatori = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Senatori);
    var poslanci = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Poslanci);
    var vlada = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Vlada);
    var kraj = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.KrajstiZastupitele);
    var vsichni = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Vse);

    var rocniPlatPoslancu = poslanci.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatSenatoru = senatori.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatMinistru = vlada.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatKraju = kraj.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    var vsichniNameIds = await PpRepo.GetNameIdsForGroupAsync(PpRepo.PoliticianGroup.Vse, rok);
    var rocniPlatMuzi = (await PpRepo.GetPrijmyBySexAsync(false))
        .Select(m => m.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    var rocniPlatZeny = (await PpRepo.GetPrijmyBySexAsync(true))
        .Select(m => m.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    decimal pocetFunkci = (decimal)vsichni
            .Average(a => a.Value.Count());

    int minJobCount = 4;
    decimal pocetLidiXjobs = (decimal)vsichni
            .Count(a => a.Value.Count() >= minJobCount);

    decimal pocetFunkci50thPercentile = (decimal)vsichni
            .Select(a => (double)a.Value.Count())
            .Percentile(50);

    decimal prumernyMzdaCR = 46_165 * 12;
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Politici">Platy politiků</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


@functions {
    private bool _sectionBgSwitch = true;

    public string GetBgClass(bool toggle = true)
    {
        if (toggle)
            _sectionBgSwitch = !_sectionBgSwitch;

        return _sectionBgSwitch ? "alter-bg-color" : "";
    }
}

<section class="d-flex align-items-center justify-content-center  @(GetBgClass()) pageblock-small">
    <div class="container">
        <h2>Zajímavé statistiky</h2>
        <div class="row gy-3">
            <div class="col-6 col-lg-4">
                <div class="h-md-100  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Příjmy: Ženy <i class="fa-regular fa-venus-mars fa-xs"></i> muži</h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                <span class="text-nowrap">
                                    @((rocniPlatZeny.Average() / 1_000_000m).ToString("F2")) 
                                        vs.
                                    @((rocniPlatMuzi.Average() / 1_000_000m).ToString("F2")) mil. Kč
                                </span>
                            </h5>
                            Političky mají průměrný příjem <div class="me-2 badge text-bg-warning">
                                @(HlidacStatu.Util.MathTools.DifferenceInPercentText(rocniPlatMuzi.Average(), rocniPlatZeny.Average()))
                            </div> než muži.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="h-md-100  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Průměrný roční příjem <b>poslanců</b></h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatPoslancu.Average())
                            </h5>
                            Poslanci mají průměrný příjem 
                             <div class="me-2 badge text-bg-warning">
                                @(HlidacStatu.Util.MathTools.DifferenceInPercentText(prumernyMzdaCR, rocniPlatPoslancu.Average()))
                            </div> než je 
                            <abbr title="Průměrná měsíční mzda rok @PpRepo.DefaultYear je @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR/12). Roční je  @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR)">průměrná roční mzda v ČR.</abbr>.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="h-md-100  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Průměrný roční příjem <b>členů vlády</b></h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Average())
                            </h5>
                            Premiér a ministři mají průměrný příjem
                            <div class="me-2 badge text-bg-warning">
                                @(HlidacStatu.Util.MathTools.DifferenceText(prumernyMzdaCR, rocniPlatMinistru.Average()))
                            </div> než je
                            <abbr title="Průměrná měsíční mzda rok @PpRepo.DefaultYear je @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR / 12). Roční je  @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR)">průměrná roční mzda v ČR.</abbr>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-4">
                <div class="h-md-100  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Průměrný roční příjem <b>členů Senátu</b></h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatSenatoru.Average())
                            </h5>
                            Poslanci mají průměrný příjem
                            <div class="me-2 badge text-bg-warning">
                                @(HlidacStatu.Util.MathTools.DifferenceInPercentText(prumernyMzdaCR, rocniPlatSenatoru.Average()))
                            </div> než je
                            <abbr title="Průměrná měsíční mzda rok @PpRepo.DefaultYear je @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR / 12). Roční je  @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR)">průměrná roční mzda v ČR.</abbr>.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="h-md-100  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Průměrný roční příjem <b>kr. zastupitelů</b></h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatKraju.Average())
                            </h5>
                            Krajští zastupitelé mají průměrný příjem
                            <div class="me-2 badge text-bg-warning">
                                o @HlidacStatu.Util.RenderData.NicePrice(rocniPlatKraju.Average() - prumernyMzdaCR ) Kč vyšší
                            </div> než je
                            <abbr title="Průměrná měsíční mzda rok @PpRepo.DefaultYear je @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR / 12). Roční je  @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR)">průměrná roční mzda v ČR.</abbr>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-4">
                <div class="h-md-100  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Nejvytíženější politici</h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                Průměrně @RenderData.NiceNumber(pocetFunkci, showDecimal: RenderData.ShowDecimalVal.Show)</b> funkcí
                            </h5>
                            @(pocetLidiXjobs) politiků působí na více než <b>@minJobCount</b> pozicích.
                            @{
                                var topJob = vsichni
                                .OrderByDescending(p => p.Value.Count())
                                .ThenByDescending(o => o.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika))
                                .First();
                            }
                            <p>
                                Vede <b>@(Osoby.GetByNameId.Get(topJob.Key).FullName())</b> s 
                                <span class="me-2 badge text-bg-warning">
                                    @topJob.Value.Count()</b> funkcemi</span> a celkovým ročním příjmem
                                <span class="me-2 badge text-bg-warning">@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(topJob.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika), html: true))</span>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="col-4 col-lg-2 justify-content-center text-center align-text-bottom pt-3 mt-3">
                <a href="/politici/organizace">

                    <i class="fa-light fa-building-magnifying-glass fa-3x mb-2" style="--fa-primary-color: #2668d9;"></i>
                    <div class="fs-6 fw-bold text-center">Počet organizací<br />v databázi</div>
                    <div class="fs-5 fw-bold text-center badge rounded-pill text-bg-warning">
                        @(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetOrganizaciPozadano))
                    </div>

                </a>
            </div> *@
        </div>
    </div>
</section>
<section class="d-flex align-items-center justify-content-center  @(GetBgClass()) pageblock">
    <div class="container">
        <h2>Reporty</h2>
        <p>
            <div class="list-group">

                <a href="/politici/seznam?report=top-prijem" class="list-group-item list-group-item-action">
                    Politici s nejvyšším celkovým příjmem z veřejných funkcí
                </a>
                <a href="/politici/seznam?report=top-funkce" class="list-group-item list-group-item-action">
                    Politici s největším počtem funkcí
                </a>
                <a href="/politici/seznam?report=transparentnost" class="list-group-item list-group-item-action">
                    Přehled nejméně transparentních politiků
                </a>
                <a href="/politici/reporty/report3" class="list-group-item list-group-item-action">
                    Přehled nejméně transparentních organizaci
                </a>
                <a href="/politici/reporty/report1" class="list-group-item list-group-item-action">
                    Političky a politici
                </a>
                <a href="/politici/reporty/report2" class="list-group-item list-group-item-action">
                    Mladí vs. senioři
                </a>
                <a href="/politici/reporty/report4" class="list-group-item list-group-item-action">
                    Rekordmani na krajích
                </a>
            </div>
        </p>

    </div>
</section>
