@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Cache
@using HlidacStatu.Util

@{
    ViewBag.Title = "Žebříčky, analýzy a zajímavosti";

    int rok = PpRepo.DefaultYear;

    var senatori = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Senatori);
    var poslanci = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Poslanci);
    var vlada = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Vlada);
    var kraj = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.KrajstiZastupitele);
    var vsichni = await PpRepo.GetPrijmyGroupedByNameIdAsync(rok, group: PpRepo.PoliticianGroup.Vse);

    var rocniPlatPoslancu = poslanci.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatSenatoru = senatori.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatMinistru = vlada.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));
    var rocniPlatKraju = kraj.Select(x => x.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    var rocniPlatMuzi = (await PpRepo.GetPrijmyBySexAsync(false))
        .Select(m => m.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    var rocniPlatZeny = (await PpRepo.GetPrijmyBySexAsync(true))
        .Select(m => m.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika));

    decimal pocetFunkci = (decimal)vsichni
        .Average(a => a.Value.Count());

    int minJobCount = 4;
    decimal pocetLidiXjobs = (decimal)vsichni
        .Count(a => a.Value.Count() >= minJobCount);

    decimal prumernyMzdaCR = 46_165 * 12;
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Politici">Platy politiků</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


@functions {
    private bool _sectionBgSwitch = true;

    public string GetBgClass(bool toggle = true)
    {
        if (toggle)
            _sectionBgSwitch = !_sectionBgSwitch;

        return _sectionBgSwitch ? "alter-bg-color" : "";
    }

}

<section class="d-flex align-items-center justify-content-center  @(GetBgClass()) pageblock-small">
    <div class="container">
        <h2>Zajímavé statistiky</h2>
        <div class="row gy-3">
            <div class="col-6 col-lg-4">
                <div class="  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Příjmy: Ženy <i class="fa-regular fa-venus-mars fa-xs"></i> muži</h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                <span class="text-nowrap">
                                    @((rocniPlatZeny.Average() / 1_000_000m).ToString("F2"))
                                    vs.
                                    @((rocniPlatMuzi.Average() / 1_000_000m).ToString("F2")) mil. Kč
                                </span>
                            </h5>
                            Političky mají průměrný příjem
                            <div class="badge text-bg-warning">
                                @(HlidacStatu.Util.MathTools.DifferenceInPercentText(rocniPlatMuzi.Average(), rocniPlatZeny.Average()))
                            </div>
                            než muži.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Průměrný roční příjem <b>poslanců</b></h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatPoslancu.Average())
                            </h5>
                            Poslanci mají průměrný příjem
                            <div class="badge text-bg-warning">
                                @(HlidacStatu.Util.MathTools.DifferenceText(prumernyMzdaCR, rocniPlatPoslancu.Average()))
                            </div>
                            <span>než je</span>
                            <abbr title="Průměrná měsíční mzda rok @PpRepo.DefaultYear je @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR / 12). Roční je  @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR)">
                                průměrná
                                roční mzda v ČR
                            </abbr>.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Průměrný roční příjem <b>členů vlády</b></h4>
                    </div>
                    <div class="d-flex card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatMinistru.Average())
                            </h5>
                            Premiér a ministři mají průměrný příjem
                            <div class="badge text-bg-warning">
                                @(HlidacStatu.Util.MathTools.DifferenceText(prumernyMzdaCR, rocniPlatMinistru.Average()))
                            </div>
                            <span>než je</span>
                            <abbr title="Průměrná měsíční mzda rok @PpRepo.DefaultYear je @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR / 12). Roční je  @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR)">
                                průměrná
                                roční mzda v ČR
                            </abbr>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-4">
                <div class="card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Průměrný roční příjem <b>členů Senátu</b></h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatSenatoru.Average())
                            </h5>
                            Senátoři mají průměrný příjem
                            <div class="badge text-bg-warning">
                                @(HlidacStatu.Util.MathTools.DifferenceText(prumernyMzdaCR, rocniPlatSenatoru.Average()))
                            </div>
                            <span>než je</span>
                            <abbr title="Průměrná měsíční mzda rok @PpRepo.DefaultYear je @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR / 12). Roční je  @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR)">
                                průměrná
                                roční mzda v ČR
                            </abbr>.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="  card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Průměrný roční příjem <b>kr. zastupitelů</b></h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                @HlidacStatu.Util.RenderData.NicePriceHtml(rocniPlatKraju.Average())
                            </h5>
                            Krajští zastupitelé mají průměrný příjem
                            <div class="badge text-bg-warning">
                                @(HlidacStatu.Util.MathTools.DifferenceText(prumernyMzdaCR, rocniPlatKraju.Average()))
                                vyšší
                            </div>
                            <span>než je</span>
                            <abbr title="Průměrná měsíční mzda rok @PpRepo.DefaultYear je @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR / 12). Roční je  @HlidacStatu.Util.RenderData.NicePrice(prumernyMzdaCR)">
                                průměrná
                                roční mzda v ČR
                            </abbr>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-4">
                <div class="card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Nejvíce kumulující politici</h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                Průměrně
                                <b>@RenderData.NiceNumber(pocetFunkci, showDecimal: RenderData.ShowDecimalVal.Show)</b>
                                funkcí
                            </h5>
                            @(pocetLidiXjobs) politiků působí na více než <b>@minJobCount</b> pozicích.
                            @{
                                var topJob = vsichni
                                .OrderByDescending(p => p.Value.Count())
                                .ThenByDescending(o => o.Value.Sum(m => m.CelkoveRocniNakladyNaPolitika))
                                .First();
                            }
                            <p>
                                Vede <b>@((await OsobaCache.GetPersonByNameIdAsync(topJob.Key)).FullName())</b> s&nbsp;<span class="badge text-bg-warning"><b>@topJob.Value.Count()</b></span> funkcemi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-4">
                <div class="card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Oslovené úřady a organizace</h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            @{
                                var allOrgs = vsichni.SelectMany(m => m.Value).Select(m => m.IdOrganizace).Distinct();
                                var noPlatyOrgs = vsichni.SelectMany(m => m.Value)
                                    .Where(m => m.Status ==  HlidacStatu.Entities.PpPrijem.StatusPlatu.Zjistujeme_zadost_106)
                                    .Select(m => m.IdOrganizace)
                                    .Distinct();

                            }
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                <b>@RenderData.NiceNumber(allOrgs.Count())</b>
                                organizací.
                            </h5>
                            O příjmy politiků jsme požádali @RenderData.NiceNumber(allOrgs.Count()) veřejných organizací.
                            @RenderData.NiceNumber(allOrgs.Count() - noPlatyOrgs.Count()) z nich informace poskytlo, <span class="badge text-bg-warning"><b>@RenderData.NiceNumber(noPlatyOrgs.Count())</b></span> odmítlo či údaje nedodalo.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-4">
                <div class="card h-100">
                    <div class="pb-0 card-header">
                        <h4 class="">Politici se skrytými příjmy</h4>
                    </div>
                    <div class="d-flex  card-body">
                        <div>
                            @{

                                var anyMissingPlat = vsichni
                                    .Where(m => m.Value.Any(v=> v.Status == HlidacStatu.Entities.PpPrijem.StatusPlatu.Zjistujeme_zadost_106));

                            }
                            <h5 class="mb-2 text-700 fw-normal lh-1">
                                <b>@RenderData.NiceNumber(anyMissingPlat.Count())</b>
                                politiků nemá komplet příjem.
                            </h5>
                            Z @RenderData.NiceNumber(vsichni.Count()) politiků máme kompletní data o příjmech u 
                            @RenderData.NiceNumber(vsichni.Count - anyMissingPlat.Count()).
                            U <span class="badge text-bg-warning"><b>@RenderData.NiceNumber(anyMissingPlat.Count())</b></span>
                            politiků nám alespoň jeden příjem chybí - organizace, kde se angažují, částky neposkytly.
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="d-flex align-items-center justify-content-center  @(GetBgClass()) pageblock">
    <div class="container">
        <h2>Žebříčky a analýzy</h2>
        <div class="list-group">
            <a href="/politici/reporty/top-prijem" class="list-group-item list-group-item-action">
                Politici s nejvyšším celkovým příjmem z veřejných funkcí
            </a>
            <a href="/politici/reporty/top-funkce" class="list-group-item list-group-item-action">
                Politici s největším počtem kumulací
            </a>
            <a href="/politici/reporty/politici-taji-prijem" class="list-group-item list-group-item-action">
                Přehled politiků se skrytými příjmy
            </a>
            <a href="/politici/reporty/organizace-taji-platy" class="list-group-item list-group-item-action">
                Přehled nejméně transparentních organizací
            </a>
            <a href="/politici/reporty/dle-pohlavi" class="list-group-item list-group-item-action">
                Političky vs. politici
            </a>
            <a href="/politici/reporty/dle-veku" class="list-group-item list-group-item-action">
                Mladí vs. starší politici
            </a>
            <a href="/politici/reporty/report4" class="list-group-item list-group-item-action disabled">
                Rekordmani na krajích  (připravujeme)
            </a>
        </div>
    </div>
</section>
