@using HlidacStatu.Entities
@using HlidacStatu.Repositories

@{
    ViewBag.Title = "";
}
@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Politici">Platy politiků</a>
        </li>
        <li>
            <a asp-action="Reporty" asp-controller="Politici">Reporty a statistiky</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


@functions {
    private bool _sectionBgSwitch = true;

    public string GetBgClass(bool toggle = true)
    {
        if (toggle)
            _sectionBgSwitch = !_sectionBgSwitch;

        return _sectionBgSwitch ? "alter-bg-color" : "";
    }
}

<section class="d-flex align-items-center justify-content-center  @(GetBgClass()) pt-5">
    <div class="container">
        <h2>@ViewData["title"]</h2>

    </div>
</section>
<section class="d-flex align-items-center justify-content-center  @(GetBgClass())">
    <div class="container">
        <p class="lead">@Html.Raw(ViewData["noteHtml"])</p>

    </div>
</section>
