@model (PpRepo.PoliticianGroup Group, int Year)

@using Devmasters.Enums
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render
@using HlidacStatu.Util
@using PlatyUredniku.Cache

@{
    List<PpPrijem> vsechnyPlaty = await PpRepo.GetPrijmyForGroupAsync(PpRepo.PoliticianGroup.Vse, Model.Year);

    string grouName = Model.Group.ToNiceDisplayName();

    List<string> nameIdFilter = [];
    if (Model.Group == PpRepo.PoliticianGroup.Vse)
    {
        nameIdFilter = vsechnyPlaty.Select(m => m.Nameid).Distinct().ToList();
        ViewBag.Title = $"Seznam platů politiků";

    }
    else
    {
        nameIdFilter = await PpRepo.GetNameIdsForGroupAsync(Model.Group, Model.Year);
        ViewBag.Title = $"Seznam platů politiků - " + Model.Group.ToNiceDisplayName();
    }

    ReportDataSource<PpPrijem[]> rds = new(
        new ReportDataSource<PpPrijem[]>.Column()
        {
            Name = "Politik",
            HtmlRender = (m) =>
            {
                return $"<a href='/politici/politik/{m.First().Nameid}'>{OsobyRolesCache.Get(m.First().Nameid).FullName}</a>";
            },
            OrderValueRender = (m) =>
            {
                return $"{OsobyRolesCache.Get(m.First().Nameid).Prijmeni} {OsobyRolesCache.Get(m.First().Nameid).Jmeno}";
            },
        },
        new ReportDataSource<PpPrijem[]>.Column()
        {
            Name = "Politické role",
            HtmlRender = (m) => OsobyRolesCache.Get(m.First().Nameid).Role,
            OrderValueRender = (m) => OsobyRolesCache.Get(m.First().Nameid).Role,
        },
        new ReportDataSource<PpPrijem[]>.Column()
        {
            Name = "Celkový roční příjem",
            HtmlRender = (m) =>
            {
                return $"<a href='/politici/politik/{m.First().Nameid}'>{HlidacStatu.Util.RenderData.NicePrice(m.Sum(v => v.CelkovyRocniPlatVcetneOdmen), html: true)}</a>";
            },
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.Sum(v => v.CelkovyRocniPlatVcetneOdmen)),
            CssClass = "number"
        },
        new ReportDataSource<PpPrijem[]>.Column()
        {
            Name = "Působí v organizacích (řazeno podle počtu)",
            HtmlRender = (m) => { return "<ol>" + string.Join("", m
                                            .Select(n => n.Organizace)
                                            .Distinct()
                                            .Select(o => $"<li><a href='/politici/organizace/{o.DS}'>{o.Nazev}</a></li>")
                                            ) + "</ul>";

            },
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.Count()),
            //CssClass = "text-nowrap overflow-x-hidden "
        }
    );
    foreach (var pol in nameIdFilter)
    {
        var platyPerPolitik = vsechnyPlaty.Where(m => m.Nameid == pol).ToArray();
        if (platyPerPolitik.Any())
        {
            rds.AddRow(platyPerPolitik);

        }
    }
    //rds.AddRows(platyPerPolitik);
}


@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Politici">Platy politiků</a>
        </li>
        <li class="active">Seznam politiků</li>
        <li>
            <a href="@(this.Context.Request.GetCurrentUrl("rok", Model.Year.ToString()))">@ViewBag.Title</a>
        </li>
    </ol>
}

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
}

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h2>@ViewBag.Title </h2>
        <div class="row">
            @{
                var groupList = new PpRepo.PoliticianGroup[]
                {
                        PpRepo.PoliticianGroup.Vse,
                        PpRepo.PoliticianGroup.Vlada,
                        PpRepo.PoliticianGroup.Poslanci,
                        PpRepo.PoliticianGroup.Senatori,
                        PpRepo.PoliticianGroup.KrajstiZastupitele,
                };
            }
            @foreach (var item in groupList)
            {
                <a class="btn btn@(Model.Group == item ? "" : "-outline")-primary btn-sm col @(Model.Group == item ? "disabled" : "")" href="/politici/seznam/@(item.ToString())?year=@(PpRepo.DefaultYear)" role="button">
                    @(item.ToNiceDisplayName())
                </a>
            }
        </div>
        <div>
            <p>
                @Html.DataToHTMLTable(rds,
                dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc"))
            </p>
        </div>
    </div>
</section>