@model AreaRangeRenderOptions

@* COPY OF 
    Hlidac-Statu\PlatyUredniku\Views\Shared\Graphs\_AreaRangePlot.cshtml

ANY MODIFICATION HERE CONSIDER FOR primary file Hlidac-Statu\PlatyUredniku\Views\Shared\Graphs\_AreaRangePlot.cshtml

*@


@using HlidacStatu.Repositories.SharedModels
@using HlidacStatu.Entities.Entities
@using MathNet.Numerics.Statistics

@{
    string chartId = HlidacStatu.Util.Consts.Rnd.Next(999).ToString("000");


    AreaRangePlot chartData = AreaRangePlot.ToAreaRangePlotWithPrumer(Model.Platy,"Vývoj platů ");
    
}

@if (chartData == null)
{
    if (!string.IsNullOrEmpty(Model.TextForNoData))
    {
        <div>@Model.TextForNoData</div>
    }

    return;
}
<figure >
    <div id="chart-container-@chartId"></div>

    @if (!string.IsNullOrEmpty(Model.Description))
    { 
        <div class="text-muted">@Model.Description</div>
    }

</figure>

<script>
    Highcharts.chart('chart-container-@(chartId)', {
        chart: {
            height: '@Model.CssHeight' , // 16:6 ratio
            width: null // 16:6 ratio
        },
        colors: ['#fd7f6f', '#7eb0d5', '#b2e061', '#bd7ebe', '#ffb55a', '#ffee65', '#beb9db', '#fdcce5', '#8bd3c7', '#ea5545', '#f46a9b', '#ef9b20', '#edbf33', '#ede15b', '#bdcf32', '#87bc45', '#27aeef', '#b33dc6'],
        title: {
            text: '@Html.Raw(chartData.Title)',
            align: 'left'
        },
        subtitle: {
            text: '@Html.Raw(chartData.Subtitle)',
            align: 'left'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: '@Html.Raw(Model.YAxisTitle)'
            },
            labels: {
                format: '{value:,.0f} Kč'
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true,
            valueSuffix: ' Kč'
        },
        plotOptions: {
            series: {
                pointStart: Date.UTC(@chartData.FirstYear, 1, 1),
                pointIntervalUnit: 'year'
            }
        },
        series: [
            {
                name: 'Plat šéfa',
                color: 'red',
                data: @chartData.DrawExtras(),
                zIndex: 1
            }, {
                name: 'Medián',
                data: @chartData.DrawMedians(),
                zIndex: 1,
                marker: {
                    fillColor: 'white',
                    lineWidth: 2,
                    lineColor: '#fd7f6f'
                }
            }, {
                name: 'Rozsah',
                data: @chartData.DrawMinMaxes(),
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: '#fd7f6f',
                fillOpacity: 0.3,
                zIndex: 0,
                marker: {
                    enabled: false
                }
            }]
    });

</script>

