@using HlidacStatu.JobsWeb.Models
@using HlidacStatu.JobsWeb.Services
@model JobOverviewViewModel

@{
    bool showStatistics = !string.IsNullOrWhiteSpace(Model.Statistics.Name); 
    var statistics = new List<JobStatistics>();
    if(showStatistics)
        statistics = JobService.GetTagStatistics(Model.Statistics.Name);
    
    var histogram = new BarGraph()
    {
        Data = JobService.GetDistinctJobs()
            .Where(j => j.JobGrouped == Model.Statistics.Name)
            .ToList(),
        Title = Model.Statistics.Name
    };
    
    var tableModel = new TableViewModel()
    {
        Statistics = statistics,
        FirstColumnName = "Tag"
    };

}


<h2>@Model.Statistics.Name</h2>

<p>Obvyklá cena pro kategorii @Model.Statistics.Name je @Model.Statistics.Median.ToString("N0") a pohybuje se v rozpětí od @Model.Statistics.DolniKvartil.ToString("N0") do @Model.Statistics.HorniKvartil.ToString("N0") bez DPH.</p>
<p>@Html.Raw(Model.CustomText)</p>


<partial name="Shared/_SouhrnTable" model="tableModel"/>

<partial name="Shared/_BarGraph" model="histogram"/>