@using HlidacStatu.JobsWeb.Models
@using HlidacStatu.JobsWeb.Services
@model JobOverviewViewModel

@{
    bool showStatistics = !string.IsNullOrWhiteSpace(Model.Statistics.Name);
    var statistics = new List<JobStatistics>();
    if (Model.Key.HasValue == false)
    {
        return;
    }
    var key = Model.Key.Value;
    if (showStatistics)
        statistics = JobService.GetTagStatistics(Model.Statistics.Name, key);

    var histogram = new BarGraph()
            {
                Data = JobService.GetDistinctJobs(Model.Key.Value)
                    .Where(j => j.Polozka == Model.Statistics.Name)
                    .ToList(),
                Title = Model.Statistics.Name
            };

    var tableModel = new TableViewModel()
            {
                Statistics = statistics,
                FirstColumnName = "Tag"
            };

}


<h3>@Model.Statistics.Name</h3>

<p>Obvyklá cena pro kategorii @Model.Statistics.Name je @Model.Statistics.Median.ToString("N0") Kč bez DPH a pohybuje se v rozpětí od @Model.Statistics.DolniKvartil.ToString("N0") Kč do @Model.Statistics.HorniKvartil.ToString("N0") Kč bez DPH.</p>
<p>@Model.Statistics.Description</p>
@if (!string.IsNullOrEmpty(Model.CustomText))
{
    <p>@Html.Raw(Model.CustomText)</p>
}

<partial name="Shared/_SouhrnTable" model="tableModel" />

<partial name="Shared/_BarGraph" model="histogram" />