@using HlidacStatu.JobsWeb.Services
@{
    var analyza = this.Context.TryFindKey();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hlídač státu</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css">


    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/content/new.v1.11.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,700&amp;subset=latin-ext" rel="stylesheet" />

    <link rel="shortcut icon" href="/content/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/icons/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/content/icons/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/content/icons/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/content/icons/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/content/icons/largetile.png" />

    <script src="https://kit.fontawesome.com/a0fc082c81.js" crossorigin="anonymous"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CS12JWPEFS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CS12JWPEFS');
</script>

</head>
<body class="new-body">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <svg width="46" height="46" viewBox="0 0 46 46">
                        <use xlink:href="/content/img/defs.svg#logo"></use>
                    </svg>
                    <span style="color:#25272d">Hlídač</span>&nbsp;<strong>státu</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <!-- aligned left -->
                        <a class="nav-link" href="https://www.hlidacstatu.cz/smlouvy">Smlouvy</a>
                        <a class="nav-link" href="https://www.hlidacstatu.cz/VerejneZakazky">Veřejné zakázky</a>
                        <a class="nav-link" href="https://www.hlidacstatu.cz/Dotace">Dotace</a>
                        <a class="nav-link" href="https://www.hlidacstatu.cz/Insolvence">Insolvence</a>
                        <a class="nav-link" href="https://www.hlidacstatu.cz/sponzori">Sponzoři</a>
                        <a class="nav-link" href="https://www.hlidacstatu.cz/StatniWeby">Weby státu</a>
                    </div>
                    <partial name="_LoginPartial" /> <!-- aligned right -->
                </div>
            </div>
        </nav>


        <div class="d-print-none">

            @if (ViewBag.BigBanner == true)
            {
                <div class="header__content ">

                    <div class="header__title">
                        <h1>Cenové analýzy</h1>
                        <div class="header__text">
                            Analýzy nabízí detailní přehled obvyklých cen IT služeb na českém trhu. 
                            Jde o <b style="color:yellow">nejrozsáhlejší</b> a <b style="color:yellow">nejspolehlivější přehled</b> jednotkových cen, 
                            který je státní správě i veřejnosti k dispozici. 
                            Největším přínosem analýzy je pomoc úřadům s <b style="color:yellow">orientací v obvyklých cenových relacích</b>, a dodavatelům se zvýšením šance ve výběrovém řízení.

                            <br />
                            <a style="margin-top:20px" href="/objednat" class="btn btn-primary">Objednat</a>
                        </div>
                    </div>

                </div>

            }
            else
            {
                <div class="header__content ">

                    <div style="padding-top:20px;color:#FFF"><a href="/" style="color:#FFF;text-decoration:none;"><i class="fa-regular fa-house"></i> Cenové analýzy</a> 
                        <sup class="text-warning">@(this.Context.HasAccess("IT", 2020).Result.AnalyzeLevelText)</sup>
                        &gt;</div>
                    <!-- desktop menu items only -->
                <h2 style="padding-top:20px;color:white">@ViewData["Title"]</h2>

                    @if (!string.IsNullOrEmpty(ViewData["Description"] as string))
                    {
                        <small>@ViewData["Description"]</small>
                    }
                    else if (analyza?.IsDemo == true)
                    {
                        <small class="text-warning">Toto je ukázková, volně dostupná analáza za období leden-březen 2018. Ostatní analýzy vždy pokrývají celý kalendářní rok.</small>

                    }
                    <!-- desktop menu items only -->

            </div>
            }
        </div>

    </header>
<div class="bg-light">
    <div class="container pt-2">
        <partial name="_NavBar" />
    </div>
</div>

<div class="container mt-2">
@*    <div class="col-sm-3">
        <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
    </div>
*@
    <main role="main" class="pb-3">

        <div class="pt-5">
            @RenderBody()
        </div>
        @if (analyza != null && analyza.HasValue)
        {
            var data = JobService.DistinctJobsForYearAndSubject(analyza.Value);
            <div style="margin-top:50px;" class="alert alert-secondary">
                Data jsou platná k @(analyza.Value.PlatnostK), za období <b>@analyza.Value.ProObdobi</b>
                    @if (this.Context.HasAccess("IT", 2020).Result.Access)
                    {
                        <span>@(this.Context.User?.Identity?.Name)</span>
                    }
            </div>
        }
    </main>

</div>



    <footer style="margin-top:50px;" >

        <div style="background:#f2f5f7;" class="d-print-none">
            <div class="footer__content">
                <div class="footer__content__col">
                    <a href="https://texty.hlidacstatu.cz/o-serveru">O nás</a>
                    <a href="https://texty.hlidacstatu.cz/vize">Naše vize</a>
                    <a href="https://texty.hlidacstatu.cz/kodex">Náš kodex</a>
                    <a href="https://texty.hlidacstatu.cz/kontakt">Kontakt</a>
                    <a href="https://texty.hlidacstatu.cz/pro-media">Pro média, loga</a>
                </div>
                <div class="footer__content__gap"></div>
                <div class="footer__content__col">
                    <a href="https://texty.hlidacstatu.cz/team">Team</a>
                    <a href="https://texty.hlidacstatu.cz/pomohu-spravnemu-fungovani-cr/" style="color:#3c763d;font-weight:bold">Podpořte nás!<i class="fas fa-heart" style="color:red"></i></a>
                    <a href="/api">API a Open data pro vývojáře</a>
                    <a href="https://texty.hlidacstatu.cz/provoznipodminky/">Podmínky užívání a ochrana soukromí</a>
                    <a href="https://texty.hlidacstatu.cz/series/tipy/">Tipy, nápověda</a>
                </div>
                <div class="footer__content__gap"></div>
                <div class="footer__content__col">
                    <div style="padding: 7px 5px">
                        <a href="https://texty.hlidacstatu.cz/kontakt/" target="_blank" style="color:orange"><span style="color:orange" class="fas fa-exclamation-triangle"></span>&nbsp;Nahlásit chybu</a>/ <a href="/status">Běží nám servery?</a>
                    </div>
                    <div style="padding: 7px 5px"><a href="https://texty.hlidacstatu.cz/k-index/">K-index: Hlídáme stát s odvahou!</a>/<a href="https://texty.hlidacstatu.cz/k-index-watchdog-bravely-monitors-public-corruption/">EN</a></div>
                    <div style="padding: 7px 5px">
                        <span>Sledujte nás</span>
                        <a href="https://www.facebook.com/hlidacstatu">
                            <i class="fab fa-facebook-square fa-2x"></i>
                        </a>
                        <a href="https://twitter.com/hlidacstatu">
                            <i class="fab fa-twitter-square fa-2x"></i>
                        </a>
                        <a href="https://www.instagram.com/hlidacstatu/">
                            <i class="fab fa-instagram-square fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer class="d-none d-print-block">
        (c) 2022 Hlídač státu z.ú.

    </footer>
</body>
</html>