@{
    Context.Items.TryGetValue("obor", out var obor);
    Context.Items.TryGetValue("rok", out var rok);

    bool choosenAnal = false;
    if (string.IsNullOrEmpty(obor?.ToString())==false && string.IsNullOrEmpty(rok?.ToString())==false)
    {
        choosenAnal = true;
    }
}

@*<h2>Analýza <b>@obor</b> <small  class="text-muted">pro rok @rok</small></h2>*@
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav level2">
@*                <a style="font-size:1.4em;color:#0074e4;" class="nav-link" href="/">Titulka</a>*@
                @if (choosenAnal)
                {
                    <a style="margin-right:2em;font-size:1.1em;color:#0074e4;" class="nav-link" asp-page="/Souhrn" asp-route-obor="@obor" asp-route-rok="@rok">Souhrn</a>
                    <a style="margin-right:2em;font-size:1.1em;color:#0074e4;" class="nav-link" asp-page="/BenchmarkUradu" asp-route-obor="@obor" asp-route-rok="@rok">Benchmark úřadů</a>
                    <a style="margin-right:2em;font-size:1.1em;color:#0074e4;" class="nav-link" asp-page="/BenchmarkDodavatelu" asp-route-obor="@obor" asp-route-rok="@rok">Benchmark dodavatelů</a>
                    <a style="margin-right:2em;font-size:1.1em;color:#0074e4;" class="nav-link" asp-page="/Pdf" asp-route-obor="@obor" asp-route-rok="@rok">Celá zpráva</a>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a style="color:#0074e4;" class="nav-link" asp-page="/JedenJob" asp-route-obor="@obor" asp-route-rok="@rok">▸ Experiment</a>
                    }
                }
            </div>
            
        </div>
    </div>
</nav>
