@model (List<WatchdogAnalytics.Models.JobStatistics> statistics, Firma zadavatel, WatchdogAnalytics.Models.YearlyStatisticsGroup.Key? Key)

@using HlidacStatu.Entities
@using WatchdogAnalytics.Models
@using WatchdogAnalytics.Services

@{
    List<JobStatistics> zadavatelStatistics = Model.statistics;

    var smlouvyIds = zadavatelStatistics.SelectMany(m => m.Contracts).Distinct();
    if (smlouvyIds.Count() == 0)
    {
        return;
    }
    
    var firmyCount = await JobService.GetDodavateleListAsync(Model.Key.Value);
    var firmy = zadavatelStatistics.SelectMany(m => m.Dodavatele).Distinct()
        .Select(m => new
        {
            ico = m,
            name = HlidacStatu.Repositories.Firmy.GetJmenoAsync(m),
            count = firmyCount.Any(c => c.ico == m) ? firmyCount.First(c => c.ico == m).pocetCen : 0
        })
        .OrderBy(o => o.name);

}

@if (this.Context.HasAccess().Result.AnalyzeLevel < CenyCustomer.AccessDetail.AccessDetailLevel.PRO)
{
    <p>
        Detailní informace porovnávající ceny mezi jednotlivými pro zadavately a dodavately jsou k dispozici v Analýzách PRO.
        Tuto úroveň analýzy nemáte zakoupenu.
        <a class="btn btn-hs btn-success btn-sm" href="/contact">Objednat</a>
    </p>
    return;
}
<div class="row">
    <h2>Porovnání cen dodavatelů pro zadavatele @Model.zadavatel.Jmeno podle jednotlivých položek</h2>
    
    @foreach (var polozka in zadavatelStatistics.OrderBy(m => m.Name))
    {
        JobStatistics zadavatelStatisticsPolozka = zadavatelStatistics.FirstOrDefault(m => m.Name == polozka.Name);
        List<(JobStatistics stat, string firmaName)> firmyStatPolozka = new List<(JobStatistics stat, string firmaName)>();
        foreach (var f in firmy.OrderByDescending(o => o.count))
        {
            var firmaStat = JobService.GetDodavatelForOdberatelStatistics(f.ico, Model.zadavatel.ICO, Model.Key.Value);
            var firmaPolozka = firmaStat.FirstOrDefault(m => m.Name.ToLowerInvariant() == polozka.Name.ToLowerInvariant());
            if (firmaPolozka != null)
            {
                firmyStatPolozka.Add((firmaPolozka, f.name));
            }
        }

        <h3> @polozka.Name</h3>


        <table class="table table-hover table-sm mt-4">
            <caption>ceny s DPH</caption>
            <thead>
                <tr>
                    <th scope="col">Firma</th>
                    <th scope="col" class="text-end">Minimum</th>
                    <th scope="col" class="text-end">Dolní kvartil</th>
                    <th scope="col" class="text-end">Medián</th>
                    <th scope="col" class="text-end">Horní kvartil</th>
                    <th scope="col" class="text-end">Max</th>
                    <th scope="col" class="text-end">Počet cen</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-success bg-opacity-10">
                    <th></th>
                    <th class="align-middle border-start"><div class="middle-line right"></div></th>
                    <th class="align-middle text-center" colspan="4">
                        <div class="middle-line left right"><b style="color:black">&nbsp;Rozsah obvyklých cen&nbsp;</b></div>
                    </th>
                    <th class="align-middle border-end"><div class="middle-line left "></div></th>
                </tr>
                <tr class="bg-success bg-gradient bg-opacity-10">
                    <td><b>Zadavatel</b><br />@(Devmasters.TextUtil.ShortenText( Model.zadavatel.Jmeno,30))</td>
                    <td class="text-end number border-start">
                        @zadavatelStatisticsPolozka.Minimum.ToString("N0")
                    </td>
                    <td class="text-end number">
                        <b>
                            @zadavatelStatisticsPolozka.DolniKvartil.ToString("N0")
                        </b>
                    </td>
                    <td class="text-end number"><b>@zadavatelStatisticsPolozka.Median.ToString("N0")</b></td>
                    <td class="text-end number"><b>@zadavatelStatisticsPolozka.HorniKvartil.ToString("N0")</b></td>
                    <td class="text-end number">@zadavatelStatisticsPolozka.Maximum.ToString("N0")</td>
                    <td class="text-end number">@zadavatelStatisticsPolozka.PriceCount</td>

                </tr>
                <tr class="bg-light">
                    <th></th>
                    <th class="align-middle border-start"><div class="middle-line right"></div></th>
                    <th class="align-middle text-center" colspan="4">
                        <div class="middle-line left right">
                            <b style="color:black">&nbsp;Ceny firmy pro výše <br />uvedeného zadavatele&nbsp;</b>
                        </div>
                    </th>
                    <th class="align-middle border-end"><div class="middle-line left "></div></th>
                </tr>
                @foreach (var firmaPolozka in firmyStatPolozka)
                {
                    <tr class="bg-light">
                        <td scope="row">@firmaPolozka.firmaName</td>
                        <td class="text-end border-start number">
                            @firmaPolozka.stat.Minimum.ToString("N0")
                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(zadavatelStatisticsPolozka.Minimum, firmaPolozka.stat.Minimum,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number">
                            <b>@firmaPolozka.stat.DolniKvartil.ToString("N0")</b>                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(zadavatelStatisticsPolozka.DolniKvartil, firmaPolozka.stat.DolniKvartil,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number">
                            <b>@firmaPolozka.stat.Median.ToString("N0")</b>                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(zadavatelStatisticsPolozka.Median, firmaPolozka.stat.Median,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number">
                            <b>@firmaPolozka.stat.HorniKvartil.ToString("N0")</b>                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(zadavatelStatisticsPolozka.HorniKvartil, firmaPolozka.stat.HorniKvartil,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number ">
                            @firmaPolozka.stat.Maximum.ToString("N0")                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(zadavatelStatisticsPolozka.Maximum, firmaPolozka.stat.Maximum,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number ">@firmaPolozka.stat.PriceCount</td>
                    </tr>

                }
            </tbody>
        </table>


    }
</div>
