@model (List<WatchdogAnalytics.Models.JobStatistics> statistics, Firma dodavatel, WatchdogAnalytics.Models.YearlyStatisticsGroup.Key? Key)

@using HlidacStatu.Entities
@using WatchdogAnalytics.Models
@using WatchdogAnalytics.Services



@{
    List<WatchdogAnalytics.Models.JobStatistics> dodavatelStatistics = Model.statistics;

    var smlouvyIds = dodavatelStatistics.SelectMany(m => m.Contracts).Distinct();
    if (smlouvyIds.Count() == 0)
    {
        return;
    }

    var uradyCount = await JobService.GetOdberateleListAsync(Model.Key.Value);
    
    var distinctIcos = dodavatelStatistics.SelectMany(m => m.Odberatele).Distinct();
    var urady = new List<(string Ico, string Name, int Count)>();
    foreach (var ico in distinctIcos)
    {
        var name = await HlidacStatu.Repositories.Firmy.GetJmenoAsync(ico);
        var count = uradyCount.Any(c => c.ico == ico) ? uradyCount.First(c => c.ico == ico).pocetCen : 0;
        urady.Add((ico, name, count));
    }
    var uradySorted = urady.OrderBy(o => o.Name).ToList();
    
}

@if (this.Context.HasAccess().Result.AnalyzeLevel < CenyCustomer.AccessDetail.AccessDetailLevel.PRO)
{
    <p>
        Detailní informace porovnávající ceny mezi jednotlivými pro zadavately a dodavately jsou k dispozici v Analýzách PRO.
        Tuto úroveň analýzy nemáte zakoupenu.
        <a class="btn btn-hs btn-success btn-sm" href="/contact">Objednat</a>
    </p>
    return;
}
<div class="row">
    <h2>Porovnání cen dodavatele @Model.dodavatel.Jmeno pro jednotlivé úřady podle jednotlivých položek</h2>
    
    @foreach (var polozka in dodavatelStatistics.OrderBy(m => m.Name))
    {
        JobStatistics dodavatelStatisticsPolozka = dodavatelStatistics.FirstOrDefault(m => m.Name == polozka.Name);
        List<(JobStatistics stat, string firmaName)> uradyStatPolozka = new List<(JobStatistics stat, string firmaName)>();
        foreach (var f in uradySorted.OrderByDescending(o => o.Count))
        {
            var uradStat = JobService.GetDodavatelForOdberatelStatistics(Model.dodavatel.ICO, f.Ico, Model.Key.Value);
            var uradPolozka = uradStat.FirstOrDefault(m => m.Name.ToLowerInvariant() == polozka.Name.ToLowerInvariant());
            if (uradPolozka != null)
            {
                uradyStatPolozka.Add((uradPolozka, f.Name));
            }
        }
        if (uradyStatPolozka.Count == 0)
        {
            continue;
        }
        <h3> @polozka.Name</h3>


        <table class="table table-hover table-sm mt-4">
            <caption>ceny s DPH</caption>
            <thead>
                <tr>
                    <th scope="col">Firma</th>
                    <th scope="col" class="text-end">Minimum</th>
                    <th scope="col" class="text-end">Dolní kvartil</th>
                    <th scope="col" class="text-end">Medián</th>
                    <th scope="col" class="text-end">Horní kvartil</th>
                    <th scope="col" class="text-end">Max</th>
                    <th scope="col" class="text-end">Počet cen</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-success bg-opacity-10">
                    <th></th>
                    <th class="align-middle border-start"><div class="middle-line right"></div></th>
                    <th class="align-middle text-center" colspan="4">
                        <div class="middle-line left right"><b style="color:black">&nbsp;Rozsah obvyklých cen&nbsp;</b></div>
                    </th>
                    <th class="align-middle border-end"><div class="middle-line left "></div></th>
                </tr>
                <tr class="bg-success bg-gradient bg-opacity-10">
                    <td><b>Dodavatel</b><br />@(Devmasters.TextUtil.ShortenText( Model.dodavatel.Jmeno,30))</td>
                    <td class="text-end number border-start">
                        @dodavatelStatisticsPolozka.Minimum.ToString("N0")
                    </td>
                    <td class="text-end number">
                        <b>
                            @dodavatelStatisticsPolozka.DolniKvartil.ToString("N0")
                        </b>
                    </td>
                    <td class="text-end number"><b>@dodavatelStatisticsPolozka.Median.ToString("N0")</b></td>
                    <td class="text-end number"><b>@dodavatelStatisticsPolozka.HorniKvartil.ToString("N0")</b></td>
                    <td class="text-end number">@dodavatelStatisticsPolozka.Maximum.ToString("N0")</td>
                    <td class="text-end number">@dodavatelStatisticsPolozka.PriceCount</td>

                </tr>
                <tr class="bg-light">
                    <th></th>
                    <th class="align-middle border-start"><div class="middle-line right"></div></th>
                    <th class="align-middle text-center" colspan="4">
                        <div class="middle-line left right">
                            <b style="color:black">&nbsp;Ceny výše uvedeného dodavatele pro <br />zadavatele&nbsp;</b>
                        </div>
                    </th>
                    <th class="align-middle border-end"><div class="middle-line left "></div></th>
                </tr>
                @foreach (var upolozka in uradyStatPolozka)
                {
                    <tr class="bg-light">
                        <td scope="row">@upolozka.firmaName</td>
                        <td class="text-end border-start number">
                            @upolozka.stat.Minimum.ToString("N0")
                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(dodavatelStatisticsPolozka.Minimum, upolozka.stat.Minimum,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number">
                            <b>@upolozka.stat.DolniKvartil.ToString("N0")</b>                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(dodavatelStatisticsPolozka.DolniKvartil, upolozka.stat.DolniKvartil,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number">
                            <b>@upolozka.stat.Median.ToString("N0")</b>                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(dodavatelStatisticsPolozka.Median, upolozka.stat.Median,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number">
                            <b>@upolozka.stat.HorniKvartil.ToString("N0")</b>                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(dodavatelStatisticsPolozka.HorniKvartil, upolozka.stat.HorniKvartil,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number ">
                            @upolozka.stat.Maximum.ToString("N0")                            <br />
                            @Html.Raw(Calc.PercentChangeHtml(dodavatelStatisticsPolozka.Maximum, upolozka.stat.Maximum,"procentní rozdíl oproti obvyklé ceně zadavatele"))
                        </td>
                        <td class="text-end number ">@upolozka.stat.PriceCount</td>
                    </tr>

                }
            </tbody>
        </table>


    }
</div>
