@model HlidacStatu.JobsWeb.Models.TableViewModel

<table class="table table-sm table-striped mt-4">
    <caption>@Model.Caption</caption>
    <thead>
    <tr>
        <th scope="col">@Model.FirstColumnName</th>
        <th scope="col" class="text-end">Dolní kvartil</th>
        <th scope="col" class="text-end">Medián</th>
        <th scope="col" class="text-end">Horní kvartil</th>
        <th scope="col" class="text-end">Minimum</th>
        <th scope="col" class="text-end">Průměr</th>
        <th scope="col" class="text-end">Maximum</th>
        <th scope="col" class="text-end">Počet smluv</th>
        @if (!Model.HideDodavatelCount)
        {
            <th scope="col" class="text-end">Počet dodavatelů</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var row in Model.Statistics)
    {
        <tr>
            @if (string.IsNullOrEmpty(Model.LinkHref))
            {
                <th scope="row">@row.Name</th>
            }
            else
            {
                <th scope="row"><a href="@Model.LinkHref/@row.Name">@row.Name</a></th>
            }
            <td class="text-end">@row.DolniKvartil.ToString("N0")</td>
            <td class="text-end">@row.Median.ToString("N0")</td>
            <td class="text-end">@row.HorniKvartil.ToString("N0")</td>
            <td class="text-end">@row.Minimum.ToString("N0")</td>
            <td class="text-end">@row.Average.ToString("N0")</td>
            <td class="text-end">@row.Maximum.ToString("N0")</td>
            <td class="text-end">@row.ContractCount</td>
            @if (!Model.HideDodavatelCount)
            {
                <td class="text-end">@row.SupplierCount</td>
            }
        </tr>
    }
    </tbody>
</table>