@using HlidacStatu.JobsWeb.Services

@{
    var obory = JobService.DistinctJobs
        .GroupBy(x => x.AnalyzaName)
        .ToDictionary(k => k.Key, v => v.Select(x => x.Year).Distinct().ToList());
    
    var key = Context.TryFindKey();
}

<form>
    <div class="row container">
        <div class="col-auto">
            <label class="col-form-label">Vyberte obor a rok</label>
        </div>
        
        <div class="col-auto">
            <select class="form-select" name="obor" id="obor_selector">
                <option disabled selected="@(!key.HasValue)"> -- vyberte obor -- </option>
                @foreach (var obor in obory)
                {
                    <option value="@obor.Key" selected="@(obor.Key == key?.Obor)" data-years="[@string.Join(',', obor.Value)]">@obor.Key</option>
                }
            </select>
        </div>

        <div class="col-auto">
            <select class="form-select" name="rok" id="year_selecor">
                <option disabled selected="@(!key.HasValue)"> -- vyberte rok -- </option>
                @if (key.HasValue)
                {
                    foreach (var rok in obory[key?.Obor])
                    {
                        <option value="@rok" selected="@(rok == key?.Rok)">@rok</option>
                    }
                }
                
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-sm col-auto">Potvrdit</button>
    </div>
</form>

<script>
$('#obor_selector').change(function() {
    var element = $(this).find('option:selected');
    var years = element.data("years"); 
    
    $('#year_selecor').empty()
        .append('<option disabled selected> -- vyberte rok -- </option>');
    
    years.forEach(y => {
        $('#year_selecor')
            .append('<option value="' + y + '">' + y + '</option>')
    });
            
});
</script>