@using System.Linq;
@using Devmasters.Enums;
@using HlidacStatu.Entities;
@using HlidacStatu.Repositories.Cache
@{
    ViewBag.Title = "Hlídač státních webů";
    ViewBag.SubTitle = "Žebříček HTTPS Labs hodnocení";


    var servers = HlidacStatu.Repositories.UptimeServerRepo.AllActiveServers();
    var data = (await UptimeSslCache.AllLatestSslAsync())
            .OrderByDescending(m=>m.SSLGrade())
            .ToArray();


    UptimeSSL.SSLGrades? lastGrade = null;
    int gridCount = 0;
}

@section scripts
{


}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "StatniWeby")">Hlídač Webů</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@if (data == null)
{
    <div class="card bg-danger">
        <div class="card-header">
            <h3 class="card-title">Chyba!</h3>
        </div>
        <div class="card-body">
            Data nejsou v tuto chvíli k dispozici. Omlouváme se, zkuste to znovu za pár minut.
        </div>
    </div>
}
else
{

    <h3>Časová platnost HTTPs certifikátů</h3>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-dotted">
                @foreach(var domain in data
                                .Where(m=>m.CertExpiration()!=null)
                                .Where(m=>(m.CertExpiration().Value - DateTime.Now).TotalDays<15)
                                .OrderBy(o=>o.CertExpiration()) 
                )
                {
                    var server = servers.FirstOrDefault(m => m.HostDomain().ToLower() == domain.Domain.ToLower());
                    if (server == null)
                        continue;

                    <tr>
                        <td>@Html.Raw(domain.CertExpirationToString(true,"{sentence}", sentenceTemplate:"{icon} {action}{actionPast} {expiration}.", action:"Skončí",actionPast:"Skončila"))</td>
                        <td><a href="@server.pageUrl">@server.Name</a> (@(string.IsNullOrEmpty(server.ICO)?"" : HlidacStatu.Repositories.Firmy.GetJmenoAsync( server.ICO)))</td>
                    </tr>
                }
            </table>
        </div>
    </div>


    <div class="bs-callout primary">
        <h4>Rating HTTPS webů</h4>
        <p>
            HTTPS (Hypertext Transfer Protocol Secure) je v protokol umožňující zabezpečenou komunikaci protokoly HTTP a SSL/TLS mezi prohlížečem uživatele a vzdáleným serverem státu.
            Všeobecně se <a href="https://www.michalspacek.cz/prednasky/https-vsude-proc-f5forum" onclick="return trackOutLink(this,'statniweby/info');">doporučuje podporovat HTTPS</a> místo nezabezpečeného HTTP pro všechny webové stránky. Proč?
        </p>
        <p>
            HTTPS zajišťuje <b>nejen utajení (šifrování) přenášeného obsahu</b>, ale zejména <b>prokazuje identitu serveru</b>, tj. dává uživateli jistotu, že komunikuje <b>skutečně se správným serverem, ne podvrženým</b>.
            Proto je nezbytností nejenom na webech, kde se zadávají citlivé údaje, ale i na webech, které publikují jakékoliv veřejné informace, které mají být důvěryhodné.
        </p>
    </div>


    <div class="row">

        @for (int i = 0; i < data.Count(); i++)
        {
            var server = servers.FirstOrDefault(m => m.HostDomain().ToLower() == data[i].Domain.ToLower());
            if (server == null)
                continue;

            gridCount++;
            var host = data[i];
            if (i == 0)
            {
                //lastGrade = w.Status();
            }
            if (host.SSLGrade() != lastGrade)
            {
                lastGrade = host.SSLGrade();
                gridCount = 1;
                <div class="clearfix"></div>
                <h3 style="margin-top:50px">Rating @lastGrade.ToNiceDisplayName() <small>@UptimeSSL.StatusDescription(lastGrade.Value)</small></h3>
            }
            <div class="col-xs-6 col-sm-4"
                 style="border-top: 1px solid #ddd;padding-top:10px;margin-top:20px;">
                <a href="/statniweby/info/@(server.Id)">
                    <table>
                        <tr>
                            <td>@Html.Raw(UptimeSSL.StatusHtml(host.SSLGrade(), 30))</td>
                            <td>
                                <div style="margin-left:0.5em;">
                                    <div style="word-break:normal;">@(server.PublicUrl?.Replace(".", ". "))</div>
                                    <div class="text-muted small">
                                        <span class="fad fa-calendar-alt" aria-hidden="true"></span>
                                        @host.Created.ToString("dd.MM.yyyy")
                                    </div>
                                </div>
                            </td>
                        </tr>
                        @if (host.SSLGrade() == UptimeSSL.SSLGrades.Unknown)
                        {<tr>
                            <td colspan="2" class="text-muted small">
                                @host.ScanProblem()
                            </td>
                        </tr>                            
                        }
                    </table>

                </a>
            </div>
            if (gridCount % 6 == 0)
            {
                <div class="clearfix d-none d-sm-block d-md-none"></div>
                <div class="clearfix d-none d-md-block d-lg-none"></div>
                <div class="clearfix d-none d-lg-block d-xl-none"></div>
            }
            else if (gridCount % 4 == 0)
            {
                <div class="clearfix d-flex .d-sm-none"></div>
            }
        }
    </div>

    <div class="card" style="margin-top:50px;">
        <div class="card-header">
            <h3 class="card-title">Systém hodnocení HTTPS</h3>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt style="color:@UptimeSSL.StatusOrigColor(UptimeSSL.SSLGrades.A)">Zelená známka A+, A nebo A-</dt>
                <dd>@UptimeSSL.StatusDescription(UptimeSSL.SSLGrades.A, true)</dd>
                <dt style="color:@UptimeSSL.StatusOrigColor(UptimeSSL.SSLGrades.B)">Žlutá známka B,C,D,E</dt>
                <dd>@UptimeSSL.StatusDescription(UptimeSSL.SSLGrades.B, true).</dd>
                <dt style="color:@UptimeSSL.StatusOrigColor(UptimeSSL.SSLGrades.F)">Červené F</dt>
                <dd>@UptimeSSL.StatusDescription(UptimeSSL.SSLGrades.F, true).</dd>
                <dt style="color:@UptimeSSL.StatusOrigColor(UptimeSSL.SSLGrades.M)">Červené M</dt>
                <dd>@UptimeSSL.StatusDescription(UptimeSSL.SSLGrades.M, true).</dd>
                <dt style="color:@UptimeSSL.StatusOrigColor(UptimeSSL.SSLGrades.T)">Červené T</dt>
                <dd>@UptimeSSL.StatusDescription(UptimeSSL.SSLGrades.T, true).</dd>
                <dt style="color:@UptimeSSL.StatusOrigColor(UptimeSSL.SSLGrades.X)">Červené X</dt>
                <dd>@UptimeSSL.StatusDescription(UptimeSSL.SSLGrades.X, true).</dd>
            </dl>
        </div>
    </div>

    <hr/>
    
    @await WebyChartUtil.TableNextGroupsAsync("https")
}

@section footerscripts{
}