@using HlidacStatu.Entities

@{
    ViewBag.Title = "Hlídač státních webů";
    ViewBag.SubTitle = "Hlídáme je, jestli běží!";


}
@section scripts
    {
    <script src="/scripts/highcharts-6/highcharts.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/data.js"></script>
    <script src="/scripts/highcharts-6/modules/boost-canvas.js"></script>
    <script src="/scripts/highcharts-6/modules/boost.js"></script>
    @WebyChartUtil.OnPageSharedJavascript()

    <style>
        .avail_OK {
            color: @(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.OK));
        }

        .avail_Pomale {
            color: @(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Pomalé));
        }

        .avail_Nedostupne {
            color: @(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Nedostupné));
        }
    </style>



}

    @*<div class="card bg-danger">
    <div class="card-header">
    <h3 class="card-title">Chyba!</h3>
    </div>
    <div class="card-body">
    Data dostupnosti webů nejsou v tuto chvíli k dispozici. Omlouváme se, zkuste to znovu za pár minut.
    </div>
    </div>*@
    @section breadcrumb
    {
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="@Url.Action("Index","StatniWeby")">Hlídač Webů</a></li>
        <li class="active">Dostupnost nejdůležitějších webů</li>
    </ol>
}
    <partial name="~/Views/StatniWeby/_Info.cshtml" model="@ViewData" />

    @{
    var data = HlidacStatu.Repositories.UptimeSSLRepo.AllLatestSSL()
            .OrderByDescending(m => m.SSLGrade())
            .ToArray();
}
@if (data != null)
{
    var servers = HlidacStatu.Repositories.UptimeServerRepo.AllActiveServers();
    var expired = data.Where(m => m.CertExpiration() != null).Where(m => (m.CertExpiration().Value - DateTime.Now).TotalDays < 0);
    var closeToExpiration = data
        .Where(m => m.CertExpiration() != null)
        .Where(m => (m.CertExpiration().Value - DateTime.Now).TotalDays > 0)
        .OrderBy(o => o.CertExpiration());

    <h3 style="margin-top:20px;">Časová platnost HTTPs certifikátů</h3>
    <div class="row">
        <div class="col-xs-12">
            @if (expired.Count() > 0)
            {
                <div class="card">
                    <div class="card-header">
                        Již neplatné (expirované certifikáty)
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <ul class="list-inline">
                                @foreach (var domain in expired)
                                {
                                    var server = servers.FirstOrDefault(m => m.HostDomain().ToLower() == domain.Domain.ToLower());
                                    if (server != null)
                                    {
                                        TimeSpan interval = domain.CertExpiration().Value - DateTime.Now;
                                        var expiresIn = "Skončila " + Devmasters.DT.Util.Ago(new TimeSpan(-1 * interval.Ticks), HlidacStatu.Util.Consts.czCulture);

                                        <li class="list-inline-item"><i class='fa-solid fa-alarm-exclamation text-danger blinking'></i> <a href="@server.pageUrl">@server.Name</a>.</li>
                                    }
                                }
                            </ul>
                        </p>
                    </div>
                </div>
                <div style="margin-bottom:20px;"></div>
            }
            @if (closeToExpiration.Count() > 0)
            {
                <div class="card">
                    <div class="card-header">
                        Certifikáty, co budou neplatné do týdne
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <ul class="list-inline">
                                @foreach (var _dom in closeToExpiration.Where(m => (m.CertExpiration().Value - DateTime.Now).TotalDays < 15)
                               )
                                {
                                    var server = servers.FirstOrDefault(m => m.HostDomain().ToLower() == _dom.Domain.ToLower());
                                    if (server == null)
                                    {
                                        continue;
                                    }
                                    TimeSpan interval = _dom.CertExpiration().Value - DateTime.Now;
                                    var expiresIn = "Skončí " + Devmasters.DT.Util.Ago(new TimeSpan(-1 * interval.Ticks), HlidacStatu.Util.Consts.czCulture);
                                    string icon = "";
                                    if (interval.TotalDays < 4)
                                    {
                                        icon = "<i class='fa-solid fa-circle-exclamation text-danger'></i>";
                                    }
                                    else
                                    {
                                        icon = "<i class='fa-solid fa-circle-exclamation  text-warning'></i>";
                                    }

                                    <li class="list-inline-item">@Html.Raw(icon) <a href="@server.pageUrl">@server.Name</a> (@expiresIn).</li>
                                }
                            </ul>
                        </p>
                    </div>
                </div>
                <a href="/statniweby/https" class="btn btn-warning btn-sm">Více informací o HTTPS všech serverů</a>

            }
        </div>
    </div>



}
<div class="clearfix" style="margin-bottom:30px"></div>
<hr />
@{
    var topNedostupnosti24H = HlidacStatu.Repositories.UptimeServerRepo.AllActiveServers24hoursStat()
                    //.Where(m=>m.Host.Id == 108)
                    .Where(o => (o.Statistics().DurationTotal.Pomale.TotalSeconds) + o.Statistics().DurationTotal.Nedostupne.TotalSeconds > 0)
                    .OrderByDescending(o => (o.Statistics().DurationTotal.Pomale.TotalSeconds) + (o.Statistics().DurationTotal.Nedostupne.TotalSeconds * 5.0))
                    .Take(30)
                    .ToArray();
    //debug
    foreach (var item in HlidacStatu.Repositories.UptimeServerRepo.AllActiveServersWeekStat())
    {
        try
        {
            var i = item.Statistics().DurationTotal.Pomale.TotalSeconds + item.Statistics().DurationTotal.Nedostupne.TotalSeconds;
        }
        catch (Exception)
        {
            HlidacStatu.Util.Consts.Logger.Error($"Statistics error for {item.Host.Id} - {item.Host.Name}");           
        }
    }

    var topNedostupnostiW = HlidacStatu.Repositories.UptimeServerRepo.AllActiveServersWeekStat()
                    //.Where(m=>m.Host.Id == 108)
                    .Where(o => (o.Statistics().DurationTotal.Pomale.TotalSeconds) + o.Statistics().DurationTotal.Nedostupne.TotalSeconds > 0)
                    .OrderByDescending(o => (o.Statistics().DurationTotal.Pomale.TotalSeconds) + (o.Statistics().DurationTotal.Nedostupne.TotalSeconds * 5.0))
                    .Take(30)
                    .ToArray();

    int pocetNedostupnost = Math.Max(10, topNedostupnosti24H.Count() / 2);
}

@if (topNedostupnosti24H.Count() > 0 || topNedostupnostiW.Count() > 0)
{
    <h2>Nejdelší výpadky služeb </h2>
    <div class="col">
        <button class="btn btn-info btn-sm" type="button" data-bs-toggle="collapse" data-bs-target=".chart">Ukázat výpadky graficky</button>
    </div>
    <div class="row">
        @if (topNedostupnosti24H?.Count() > 0)
        {
            <div class="col-sm-6 col-xs-12">
                <h2>za posledních 24 hodin</h2>
                <ol>

                    @foreach (var item in topNedostupnosti24H)
                    {
                        <li>
                            <div>
                                <a href="@item.Host.pageUrl">@(Devmasters.TextUtil.ShortenText( item.Host.Name,38))</a>
                                @if (item.Statistics().DurationTotal.Nedostupne.TotalSeconds > 0)
                                {
                                    <span>
                                        nedostupná <span class="avail_Nedostupne">@item.Statistics().PercentOfTime.Nedostupne.ToString("P2")</span>
                                    </span>
                                }
                                @if (item.Statistics().DurationTotal.Pomale.TotalSeconds > 0 && item.Statistics().DurationTotal.Nedostupne.TotalSeconds > 0)
                                {
                                    <span> a </span>

                                }
                                @if (item.Statistics().DurationTotal.Pomale.TotalSeconds > 0)
                                {
                                    <span>
                                        pomalá <span class="avail_Pomale">@item.Statistics().PercentOfTime.Pomale.ToString("P2")</span>
                                    </span>
                                }
                                .
                            </div>
                            <div class="row collapse chart">
                                @WebyChartUtil.Chart("w" + item.Host.Id, 24, 30, true, item.Host.Hash,showLegend:false, showYAxisNames:false, showXAxis:false)
                            </div>
                        </li>
                    }

                </ol>

            </div>
        }

        @if (topNedostupnostiW?.Count() > 0)
        {
            <div class="col-sm-6 col-xs-12">
                <h2>za poslední týden</h2>
                <ol>

                    @foreach (var item in topNedostupnostiW)
                    {
                        <li>
                            <div>
                                <a href="@item.Host.pageUrl">@(Devmasters.TextUtil.ShortenText( item.Host.Name,38))</a>
                                @if (item.Statistics().DurationTotal.Nedostupne.TotalSeconds > 0)
                                {
                                    <span>
                                        nedostupná <span class="avail_Nedostupne">@item.Statistics().PercentOfTime.Nedostupne.ToString("P2")</span>
                                    </span>
                                }
                                @if (item.Statistics().DurationTotal.Pomale.TotalSeconds > 0 && item.Statistics().DurationTotal.Nedostupne.TotalSeconds > 0)
                                {
                                    <span> a </span>

                                }
                                @if (item.Statistics().DurationTotal.Pomale.TotalSeconds > 0)
                                {
                                    <span>
                                        pomalá <span class="avail_Pomale">@item.Statistics().PercentOfTime.Pomale.ToString("P2")</span>
                                    </span>
                                }
                                .
                            </div>
                            <div class="row collapse chart">
                                @WebyChartUtil.Chart("w" + item.Host.Id, 24*7, 30, true, item.Host.Hash,showLegend:false, showYAxisNames:false, showXAxis:false)
                            </div>
                        </li>
                    }

                </ol>

            </div>
        }
    </div>
}

<div class="clearfix"></div>

@WebyChartUtil.TableNextGroups("index")


<div class="bs-callout bs-callout-primary">
    <h4>Hlídání dostupnosti státní webů. Co to vlastně děláme?</h4>
    <p>
        Měříme každou minutu, zda důležité weby státu vůbec běží, a pokud ano, tak jak rychle odpovídají. A tomu odpovídají i zobrazené barvy.
        Pokud služba odpovídá rychle, dáváme <b style="color:@(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.OK))">zelenou - v pořádku</b>.
        Pokud odpovídá déle, dáváme <b style="color:@(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Pomalé))">oranžovou - pomalá odpověď.</b>.
        Pokud neodpoví nebo odpoví za dlouhou dobu, použijeme <b style="color:@(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Nedostupné))">červenou za nedostupnost</b>.
    </p>
    <p>
        <a href="@Url.Action("JakMerime", "StatniWeby")">Podrobný popis měření a hodnocení</a>.
    </p>
</div>



<div class="clearfix"></div>
<p class="text-muted">Údaje na této stránce mohou být až 5 minut staré.</p>



@section footerscripts{
}

