@model UptimeServer
@using HlidacStatu.XLib
@using HlidacStatu.Entities
@using HlidacStatu.Repositories

@{
    ViewBag.Title = "Hlídač " + Model.Name;
    ViewBag.SubTitle = "Týdenní dostupnost pro " + Model.Name;

    int hoursBack = 48;
    DateTime backHours = DateTime.Now.AddHours(-1 * hoursBack);

    UptimeServer.HostAvailability web = null;
    UptimeSSL webssl = null;
    try
    {
        web = await Devmasters.Net.HttpClient.Simple.GetAsync<UptimeServer.HostAvailability?>(
                        HlidacStatu.Web.Framework.Constants.ApiURL + $"api/v2/weby/AvailabilityForWeekById?id={Model.Id}",
                        timeout: TimeSpan.FromSeconds(10),
                        headers: new Dictionary<string, string> { { "Authorization", HlidacStatu.Web.Framework.Constants.ApiToken } }
                    ); 

        webssl = await UptimeSSLRepo.LoadLatestAsync(Model.HostDomain());
    }
    catch (Exception)
    {
    }


    ViewBag.SocialShareTitle = $"Dostupnost webu " + Model.Name;
    ViewBag.SocialShareText = Model.Description;
    ViewBag.SocialShareType = "article";
    ViewBag.SocialImage = Model.socialBannerUrl;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1000\" />\n"
                    + "<meta property=\"og:image:height\" content=\"1000\" />"
                    + "<meta property=\"og:image:type\" content=\"image/png\" />";

}
@section scripts
    {
    <script src="/scripts/highcharts-6/highcharts.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/data.js"></script>
    <script src="/scripts/highcharts-6/modules/boost-canvas.js"></script>
    <script src="/scripts/highcharts-6/modules/boost.js"></script>
    @WebyChartUtil.OnPageSharedJavascript()

    <style>
        .avail_OK {
            color: @(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.OK));
        }
        .avail_Pomale {
            color: @(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Pomalé));
        }
        .avail_Nedostupne {
            color: @(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Nedostupné));
        }
    </style>

}



    @if (web == null)
{
    <div class="card bg-danger">
        <div class="card-header">
            <h3 class="card-title">Chyba!</h3>
        </div>
        <div class="card-body">
            Data dostupnosti webů nejsou v tuto chvíli k dispozici. Omlouváme se, zkuste to znovu za 5 minut.
        </div>
    </div>
}
else
{
    @section breadcrumb
    {
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="@Url.Action("Index", "StatniWeby")">Hlídač Webů</a></li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}
    <partial name="~/Views/StatniWeby/_Info.cshtml" model="@ViewData" />

    <h2>
        @(web.Host.Name)
        <br /><small><a href="@web.Host.PublicUrl" target="_blank" onclick="return trackOutLink(this,'statniweby/info');">@web.Host.PublicUrl</a></small>
    </h2>
    <p class="lead">
        @UptimeServerRepo.PatriPodUradJmeno(web.Host) @Html.Raw(web.Host.Description)
    </p>
    <hr />
    if (webssl != null)
    {

        <h3>Zabezpečení komunikace</h3>
        <div class="row">
            <div class="col-xs-3 col-sm-2  justify-content-center text-center">
                <div class="d-flex justify-content-center text-center">
                    @Html.Raw(UptimeSSL.StatusHtml(webssl.SSLGrade(), 80))
                </div>
                <div class="d-flex justify-content-center text-center mt-3">
                    @Html.Raw(webssl.CertExpirationToString())
                </div>
            </div>
            <div class="col-xs-9 col-sm-10">
                <div class="bs-callout @(UptimeSSL.StatusStyleColor(webssl.SSLGrade()))" style="margin:0;">
                    <h4>Výsledek analýzy HTTPS na @web.Host.HostDomain() <small class="text-muted">ze dne @webssl.Created.ToString("dd.MM.yyyy")</small></h4>
                    @if (webssl.SSLGrade() == UptimeSSL.SSLGrades.Unknown)
                    {
                        <p>
                            Kontrola pro tento server neproběhla úspěšně.
                        </p>
                    }
                    @if (webssl.SSLGrade() == UptimeSSL.SSLGrades.X)
                    {
                        <p>
                            Tato služba zabezpečenou komunikaci nepodporuje.
                        </p>
                    }
                    else
                    {
                        <p>
                            @UptimeSSL.StatusDescription(webssl.SSLGrade(), true)
                        </p>
                    }
                    <div class="text-muted text-center">
                        <a href="/statniweby/infoHttps/@(Model.pageUrlIdParams)" onclick="return trackOutLink(this,'statniweby/infoHttps');">detailní analýza HTTPs</a>
                    </div>
                </div>
            </div>
        </div>
        if (webssl.IP6support != null)
        {
            <hr class="gray dotted " />
            <h3>Podpora IPv6</h3>
            <p>
                Podpora protokolu IPv6 je pro ústřední orgány státní správy povinné, pro samosprávu (kraje, města, obce, jejich organizace) dobrovolná.
                Vyplývá to z řady usnesení vlády z let
                <a target="_blank" href="https://kormoran.vlada.cz/usneseni/usneseni_webtest.nsf/0/6BFDE5B071A154C5C12575E5004024F1/$FILE/727%20uv090608.0727.pdf">2009</a>,
                <a target="_blank" href="https://apps.odok.cz/attachment/-/down/VPRA9EVEBJYC">2013</a> a
                <a target="_blank" href="https://apps.odok.cz/attachment/-/down/IHOA9ZWF7D8R">2015</a>.

                Proto v <b>testovacím režimu</b> testujeme podporu dostupnosti webových aplikací i prostřednictvím IPv6 protokolu.
            </p>
            <div class="row">
                <div class="col-xs-3 col-sm-2  justify-content-center text-center">
                    <div class="d-flex justify-content-center text-center">
                        @{
                            var ipv6supported = webssl.IP6support.IPv6Working();
                            var ipv6NS = webssl.IP6support.Site_NS_IPv6Addresses?.Any() ?? false;
                            var ipv6MX = webssl.IP6support.Site_MX_IPv6Addresses?.Any() ?? false;

                        }
                        @if (ipv6supported)
                        {
                            <span class="text-success" style="font-size:4em;"><i class="fa-solid fa-circle-check"></i></span>

                        }
                        else
                        {
                            <span class="text-danger" style="font-size:4em;"><i class="fa-solid fa-circle-xmark"></i></span>
                        }
                    </div>
                </div>
                <div class="col-xs-9 col-sm-10">
                    <div class="bs-callout @(ipv6supported ? "success" : "danger" )" style="margin:0;">
                        <h4>Výsledek analýzy IPv6 na @web.Host.HostDomain() <small class="text-muted">ze dne @webssl.Created.ToString("dd.MM.yyyy")</small></h4>
                        @if (ipv6supported)
                        {
                            string addrs = string.Join(", ", webssl.IP6support.Site_IPv6Addresses.Select(m => m.IP6Address));
                            <div>
                                <span class="text-success"><i class="fa-solid fa-circle-check"></i></span>
                                Server je dostupný pomocí IPv6 protokolu na
                                @Html.Raw(Devmasters.Lang.CS.Plural.Get(webssl.IP6support.Site_IPv6Addresses.Count(), $"adrese <samp>{addrs}</samp>", $"adresách <samp>{addrs}</samp>", $"adresách <samp>{addrs}</samp>")).
                            </div>
                        }
                        else
                        {
                            if (webssl.IP6support?.Site_IPv6Addresses?.Count() > 0)
                            {
                                <div>
                                    <span class="text-danger"><i class="fa-solid fa-circle-xmark"></i></span>
                                     Server @(web.Host.HostDomain()) má existující IPv6 adresy, ale není možné se na ně připojit.
                                </div>
                            }
                            else
                            {
                                <div>
                                    <span class="text-danger"><i class="fa-solid fa-circle-xmark"></i></span>
                                     Server @(web.Host.HostDomain()) nemá žádné existující IPv6 adresy.
                                </div>                                
                            }
                        }
                        @if (webssl.IP6support?.Site_NS_IPv6Addresses?.Count() > 0)
                        {
                            <div>
                                <span class="text-success"><i class="fa-solid fa-circle-check"></i></span>
                                    Server @(web.Host.HostDomain()) má doménové name servery dostupné přes IPv6 spojení.
                            </div>
                        }
                        else
                        {
                            <div>
                                <span class="text-danger"><i class="fa-solid fa-circle-xmark"></i></span>
                                    Server @(web.Host.HostDomain()) nemá doménové name servery dostupné přes IPv6.
                            </div>                                
                        }                            
                        @if (webssl.IP6support?.Site_MX_IPv6Addresses?.Count() > 0)
                        {
                            <div>
                                <span class="text-success"><i class="fa-solid fa-circle-check"></i></span>
                                    Server @(web.Host.HostDomain()) má IPv6 adresy pro příchozí emailové servery.
                            </div>
                        }
                        else
                        {
                            <div>
                                <span class="text-danger"><i class="fa-solid fa-circle-xmark"></i></span>
                                    Server @(web.Host.HostDomain()) nemá IPv6 adresy pro příchozí emailové servery.
                            </div>                                
                        }
                        
@*                     <div class="text-muted text-center">
                        <a href="/statniweby/infoHttps/@(Model.pageUrlIdParams)" onclick="return trackOutLink(this,'statniweby/infoHttps');">detailní analýza HTTPs</a>
                    </div>
*@
                    </div>
                </div>
            </div>
        }
        <hr class="gray dotted " />
    }

    <h3>Dostupnost za poslední týden</h3>
    <p>
        V období od @web.Statistics().MinDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
        do @web.Statistics().MaxDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")

        běžela služba <span class="avail_OK">v pořádku po @web.Statistics().PercentOfTime.OK.ToString("P2")</span> doby.
        @if (web.Statistics().PercentOfTime.Pomale > 0)
        {
            <text>
                <span class="avail_Pomale">
                    Pomalu běžela
                    @web.Statistics().PercentOfTime.Pomale.ToString("P2")
                </span>
                (tj. celkem @RenderTools.FormatAvailability(web.Statistics().DurationTotal.Pomale, RenderTools.DateTimePart.Hour)).
            </text>
        }
        @if (web.Statistics().PercentOfTime.Nedostupne > 0)
        {
            <text>
                <p>
                    <span class="avail_Nedostupne">
                        Nedostupná byla
                        @web.Statistics().PercentOfTime.Nedostupne.ToString("P2")
                    </span>
                    (tj. celkem @RenderTools.FormatAvailability(web.Statistics().DurationTotal.Nedostupne, RenderTools.DateTimePart.Hour)).
                    Nejdelší výpadek trval @RenderTools.FormatAvailability(web.Statistics().LongestDuration.Nedostupne, RenderTools.DateTimePart.Hour).
                </p>
            </text>
        }
        else
        {
            <text>
                Služba v tomto období neměla žádný výpadek.
            </text>

        }
        @if (web.Statistics().PercentOfTime.Unknown > 0.1m)
        {
        <p>
            V @web.Statistics().PercentOfTime.Unknown.ToString("P2") času se nám nepodařilo odezvu serveru změřit z důvodu neschopnosti připojit se k serveru či z důvodů chybového návratového kódu serveru.
        </p>
        }
            </p>
    <hr />

    <h2>Dostupnost serveru</h2>
    <div class="row">
        <div class="col-xs-12">
            <h4>Za poslední 4 hodiny</h4>
            @WebyChartUtil.Chart("w" + web.Host.Id, 4, 150, true)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Za posledních 24 hodin</h4>
            @WebyChartUtil.Chart("w" + web.Host.Id, 24, 150, true)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Za posledních 7 dní</h4>
            @WebyChartUtil.Chart("w" + web.Host.Id, 7 * 24, 150, true)
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="text-end">
                <a href="https://api.hlidacstatu.cz/api/v2/Weby/@(Model.Id)?days=1">Stahnout dostupnost v JSON (Open Data)</a>
            </div>
        </div>

    </div>

    <div class="clearfix"></div>

    @WebyChartUtil.TableNextGroups("")



    @{
        ViewData["DisplayHttpsRating"] = true;
    }
    <partial name="_CoVlastneDelamePartial.cshtml" view-data="ViewData" />



    <p class="text-muted">Údaje na této stránce mohou být až 20 minut staré.</p>




}
@section footerscripts{
}

