@model UptimeServer
@using HlidacStatu.XLib
@using HlidacStatu.Entities
@using HlidacStatu.Repositories

@{
    ViewBag.Title = "Hlídač " + Model.Name;
    ViewBag.SubTitle = "Týdenní dostupnost pro " + Model.Name;

    int hoursBack = 48;
    DateTime backHours = DateTime.Now.AddHours(-1 * hoursBack);

    UptimeServer.HostAvailability web = null;
    UptimeSSL webssl = null;
    try
    {
        web = HlidacStatu.Repositories.UptimeServerRepo.AvailabilityById(Model.Id,7*24);
        webssl = UptimeSSLRepo.LoadLatest(Model.HostDomain());
    }
    catch (Exception)
    {
    }



}
@section scripts
{
    <script src="/scripts/highcharts-6/highcharts.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/data.js"></script>
    <script src="/scripts/highcharts-6/modules/boost-canvas.js"></script>
    <script src="/scripts/highcharts-6/modules/boost.js"></script>
    @WebyChartUtil.OnPageSharedJavascript()

    <style>
        .avail_OK {
            color: @(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.OK));
        }
        .avail_Pomale {
            color: @(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Pomalé));
        }
        .avail_Nedostupne {
            color: @(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Nedostupné));
        }
    </style>

}



@if (web == null)
{
    <div class="card bg-danger">
        <div class="card-header">
            <h3 class="card-title">Chyba!</h3>
        </div>
        <div class="card-body">
            Data dostupnosti webů nejsou v tuto chvíli k dispozici. Omlouváme se, zkuste to znovu za 5 minut.
        </div>
    </div>
}
else
{
    @section breadcrumb
{
        <ol class="breadcrumb">
            <li><a href="/">Hlídač Státu</a></li>
            <li><a href="@Url.Action("Index", "StatniWeby")">Hlídač Webů</a></li>
            <li class="active">@ViewBag.SubTitle</li>
        </ol>
}
    <partial name="~/Views/StatniWeby/_Info.cshtml" model="@ViewData"/>

    <h2>
        @(web.Host.Name)
        <br /><small><a href="@web.Host.PublicUrl" target="_blank" onclick="return trackOutLink(this,'statniweby/info');">@web.Host.PublicUrl</a></small>
    </h2>
    <p class="lead">
        @UptimeServerRepo.PatriPodUradJmeno(web.Host) @Html.Raw(web.Host.Description)
    </p>
    <hr />
    if (webssl != null )
    {

        <h3>Zabezpečení komunikace</h3>
        <div class="row">
            <div class="col-xs-3 col-sm-2 text-center">
                @Html.Raw(UptimeSSL.StatusHtml(webssl.SSLGrade(), 80))
                <div class="text-muted small text-center">
                    @webssl.Created.ToString("dd.MM.yyyy")
                </div>
                <div class="text-muted small text-center">
                    <a href="https://www.ssllabs.com" onclick="return trackOutLink(this,'statniweby/info');">&copy; Qualys, Inc</a>
                </div>
            </div>
            <div class="col-xs-9 col-sm-10">
                <div class="bs-callout bs-callout-@(UptimeSSL.StatusStyleColor(webssl.SSLGrade()))" style="margin:0;">
                    <h4>Výsledek analýzy HTTPS na @web.Host.HostDomain()</h4>
                    @if (webssl.SSLGrade() == UptimeSSL.SSLGrades.X)
                    {
                        <p>
                            Tato služba zabezpečenou komunikaci nepodporuje.
                        </p>
                    }
                    else 
                    {
                        <p>
                            @UptimeSSL.StatusDescription(webssl.SSLGrade(), true)
                        </p>
                    }
                </div>
            </div>
        </div>
        <hr />
    }

    <h3>Dostupnost za poslední týden</h3>
    <p>
        V období od @web.Statistics().MinDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
        do @web.Statistics().MaxDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")

        běžela služba <span class="avail_OK">v pořádku po @web.Statistics().PercentOfTime.OK.ToString("P2")</span> doby.
        @if (web.Statistics().PercentOfTime.Pomale > 0)
        {
            <text>
                <span class="avail_Pomale">
                    Pomalu běžela
                    @web.Statistics().PercentOfTime.Pomale.ToString("P2")
                </span>
                (tj. celkem @RenderTools.FormatAvailability(web.Statistics().DurationTotal.Pomale, RenderTools.DateTimePart.Hour)).
            </text>
        }
        @if (web.Statistics().PercentOfTime.Nedostupne > 0)
        {
            <text>
            <p>
                <span class="avail_Nedostupne">
                    Nedostupná byla
                    @web.Statistics().PercentOfTime.Nedostupne.ToString("P2")
                </span>
                (tj. celkem @RenderTools.FormatAvailability(web.Statistics().DurationTotal.Nedostupne, RenderTools.DateTimePart.Hour)).
                Nejdelší výpadek trval @RenderTools.FormatAvailability(web.Statistics().LongestDuration.Nedostupne, RenderTools.DateTimePart.Hour).
            </p>
            </text>
        }
        else
        {
            <text>
                Služba v tomto období neměla žádný výpadek.
            </text>

        }
        @if (web.Statistics().PercentOfTime.Unknown > 0.1m)
        {
            <p>
                V @web.Statistics().PercentOfTime.Unknown.ToString("P2") času se nám nepodařilo odezvu serveru změřit z důvodu neschopnosti připojit se k serveru či z důvodů chybového návratového kódu serveru.

            </p>
        }
        </p>
        <hr />

        <h2>
            Graf dostupnosti <small>
                Dostupnost
                Období od @web.Statistics().MinDate.ToString("dd.MM.yyyy HH:mm")
                do @web.Statistics().MaxDate.ToString("dd.MM.yyyy HH:mm")
            </small>
        </h2>
        <div class="row">
            <div class="col-xs-12">
                @WebyChartUtil.Chart("w" + web.Host.Id, 7 * 24, 190, true, web.Host.Hash)
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-end">
                    <a asp-controller="ApiV2Weby" asp-action="Status" asp-route-id="@Model.Id">Stahnout dostupnost v JSON (Open Data)</a>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        @WebyChartUtil.TableNextGroups("")



        <div class="bs-callout bs-callout-primary">
            <h4>Hlídání dostupnosti státní webů. Co to vlastně děláme?</h4>
            <p>
                Měříme každou minutu, zda důležité weby státu vůbec běží, a pokud ano, tak jak rychle odpovídají. A tomu odpovídají i zobrazené barvy.
                Pokud služba odpovídá rychle, dáváme <b style="color:@(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.OK))">zelenou - v pořádku</b>.
                Pokud odpovídá déle, dáváme <b style="color:@(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Pomalé))">oranžovou - pomalá odpověď.</b>.
                Pokud neodpoví nebo odpoví za dlouhou dobu, použijeme <b style="color:@(UptimeServer.Availability.GetStatusChartColor(UptimeSSL.Statuses.Nedostupné))">červenou za nedostupnost</b>.
            </p>
            <p>
                Systém hodnocení HTTPS je jednoduchý: A+ je nejlepší známka, F nejhorší, M znamená špatné jméno serveru v certifikátu, T znamená špatný certifikát, X že zabezpečený přenos není vůbec podporován.
            </p>
            <p>
                <a href="@Url.Action("JakMerime", "StatniWeby")">Podrobný popis měření a hodnocení</a>.
            </p>
        </div>



        <p class="text-muted">Údaje na této stránce mohou být až 20 minut staré.</p>




    }
@section footerscripts{
}

