@model (string oborName, string kraj, bool zakazky)
@using HlidacStatu.Entities
@using Devmasters.Enums

@{
    Firma.Zatrideni.SubjektyObory? oborFromId = null;
    if (Enum.TryParse<Firma.Zatrideni.SubjektyObory>(Model.oborName, true, out var ob))
    {
        oborFromId = ob;
    }

    if (oborFromId.HasValue)
    {
    ViewBag.Title = oborFromId.ToNiceDisplayName();
    ViewBag.SubTitle = "Adresář českých úřadů";

    }
    else
    {
    ViewBag.Title = "Adresář";
    ViewBag.SubTitle = "Adresář českých úřadů";
    }
    @if (!string.IsNullOrEmpty(Model.kraj))
    {
        ViewBag.SubTitle = Model.kraj;
    }
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        @if (oborFromId.HasValue)
        { 
        <li><a href="/adresar">Úřady a firmy</a></li>
        }
        <li class="active">Úřady a firmy - @ViewBag.Title</li>
    </ol>
}


@if (string.IsNullOrEmpty(Model.oborName))
{
    <cache enabled="@(!Html.IsDebug())" expires-after="@Constants.CachedActionLength.Cache12H">
        <partial name="Partials/Adresar_Index" model=Model />
    </cache>
}
else
{
    <cache enabled="@(!Html.IsDebug())" expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@($"{Model.oborName}_{Model.kraj}_{Model.zakazky}")">
        <partial name="Partials/Adresar_List" model=Model />
    </cache>

}

