@model HlidacStatu.Repositories.Searching.Search.GeneralResult<HlidacStatu.Entities.Firma>
@using HlidacStatu.Entities;
@using HlidacStatu.Repositories.Searching;
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render

@{
    ViewBag.Title = "Hledání subjektů";
    ViewBag.ShowBookmarkUrl = true;
    string subTitle = "";
    if (!string.IsNullOrEmpty(Context.Request.Query["subtitle"]))
    {
        subTitle = Context.Request.Query["subtitle"];
    }

}
@section scripts
{
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>Hledání subjektů</li>
        <li class="active">@Model.Query</li>
    </ol>
}

@if (Model.HasResult == false)
{

    <div class="searching container">
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-1">
                <img style="margin-top:20px; height:30px;width:auto" src="/Content/img/icon-not-found.svg">

            </div>
            <div class="col-xs-11">
                <div class="new-p--big">
                    Pro hledaný výraz <span title="@Model.Query" class="emphasized">@Devmasters.TextUtil.ShortenText(Model.Query, 80, "...")</span> jsme bohužel nic nenašli
                </div>
            </div>
        </div>
    </div>
    return;
}

<div class="row" id="firmy">
    <div class="col-xs-12">
        <div class="searching__watcher">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Nalezené subjekty
                </h2>
                <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Total)</span>
            </div>
        </div>
    </div>
</div>

<h4>@(subTitle)</h4>
@{
    if (Model.Query.Contains("\"") == false)
    {
        Osoba jmeno = Validators.JmenoInText(Model.Query, false);
        if (jmeno != null)
        {
            string sjmeno = $"\"{jmeno.FullName()}\"";
            <div class="row" style="margin-top:10px;margin-bottom:10px;">
                <div class="col-xs-12">
                    <div class="card bg-warning">
                        <div class="card-header">
                            <h3 class="card-title" style="font-size:1.2em;font-weight:bold" >
                                <span class="text-warning fas fa-exclamation-circle" aria-hidden="true" title="Upozornění"></span>
                                Upozornění!
                            </h3>
                        </div>
                        <div class="card-body">
                            V hledaném výrazu jsme našli nejméně jedno jméno. Vyhledávání hledá každou část jména samostatně a <b>vyhledané výsledky proto nemusí s osobou tohoto jména souviset</b>
                            Pokud chcete hledat informace spojené s konkrétní osobou, dejte její jméno do uvozovek.
                            Příklad hledání přesného jména: <code style="font-size:120%;font-weight:bold"><a href="hledat?q=@(System.Net.WebUtility.UrlEncode(sjmeno))">@(sjmeno)<i class="fa-solid fa-up-right-from-square"></i></a></code>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
}

<div class="row" style="">
    <partial name="SearchResults/SearchResultsFirmy" model="Model"/>
</div>


