@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@{
    ViewBag.Title = "Analytické a souhrnné reporty";

}
@section scripts
{
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    }
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h3 style="margin-top:0;">Politici</h3>
            <div class="col-block-shadow ">
                <h3><a href="/Report/21">Členové vlády</a></h3>
                <p>Kdo jsou poradci na úřadu vlády? Obchodují jejich firmy se státem? Hrozí jim nějaký konflikt zájmů?</p>
                <p><a class="btn btn-default" href="/Report/21" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/19">Poradci na úřadu vlády</a></h3>
                <p>Kdo jsou poradci na úřadu vlády? Obchodují jejich firmy se státem? Hrozí jim nějaký konflikt zájmů?</p>
                <p><a class="btn btn-default" href="/Report/19" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/18">Krajští hejtmani</a></h3>
                <p>Sponzorují krajští hejtmani politické strany? Jaké mají obchodní vztahy se státem?</p>
                <p><a class="btn btn-default" href="/Report/18" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/16">Poslanci</a></h3>
                <p>Přehled poslanců ČR</p>
                <p><a class="btn btn-default" href="/Report/16" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/29">Senátoři</a></h3>
                <p>Přehled senátorů ČR</p>
                <p><a class="btn btn-default" href="/Report/29" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/31">Europoslanci</a></h3>
                <p>Přehled europoslanců ČR</p>
                <p><a class="btn btn-default" href="/Report/31" role="button">Podrobnosti »</a></p>
            </div>

        </div><!-- /.col-lg-4 -->
        
        <div class="col-sm-12 col-md-4">
            <h3 style="margin-top:0;">Smlouvy</h3>
            <div class="col-block-shadow">
                @{
                    double platnych = StaticData.BasicStatisticData.Get()[0];
                    double neplatnych = StaticData.BasicStatisticData.Get()[1];
                    double celkemKc = StaticData.BasicStatisticData.Get()[2];
                }
                <h3><a href="/Report/7">Základní statistiky Registru smluv</a></h3>
                <p>Celkem smlouvy za @Html.Raw(Smlouva.ShortNicePrice(Convert.ToDecimal(celkemKc), html: true)) s DPH, @(platnych.ToString("N0")) platných smluv, @(neplatnych.ToString("N0")) neplatných.</p>
                <p><a class="btn btn-default" href="/report/7" role="button">Podrobnosti »</a></p>
            </div>

        <div class="col-block-shadow">
            <h3><a href="/HledatSmlouvy?q=&order=1">Nejnovější smlouvy</a></h3>
            <p>
                Naposledy uveřejněné smlouvy v registru smluv.
                Smlouvy uveřejněné <a href="/HledatSmlouvy?Q=zverejneno:@(DateTime.Now.ToString("yyyy-MM-dd"))">dnes</a>,
                Smlouvy uveřejněné <a href="/HledatSmlouvy?Q=zverejneno:@(DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd"))">včera</a>,
                @for (int i = 2; i < 8; i++)
                {
                    <a href="/HledatSmlouvy?Q=zverejneno:@(DateTime.Now.AddDays(-1*i).ToString("yyyy-MM-dd"))">@(DateTime.Now.AddDays(-1 * i).ToString("d.M"))</a>
                    @(i < 7 ? ", " : ".")

                }
            </p>
        </div>



            <div class="col-block-shadow">
                <h3><a href="/Report/2">Smlouvy s nejvíce chybami</a></h3>
                <p>Každou smlouvu analyzujeme a hledáme v ní chyby. Zde jsou ty nejhorší smlouvy.</p>
                <p><a class="btn btn-default" href="/Report/2" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/3">Smlouvy s chybami nad 5mil Kč </a></h3>
                <p>Smlouvy s nejvíce chybami a hodnotou alespoň 5mil Kč.</p>
                <p><a class="btn btn-default" href="/Report/3" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/9">Firmy založené kolem data uzavření smlouvy</a></h3>
                <p>Všechny firmy založené těsně před uzavřením smlouvy nebo až po uzavření smlouvy.</p>
                <p><a class="btn btn-default" href="/Report/9" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/5">Smlouvy soukromých firem s vazbou na politiky</a></h3>
                <p>Smlouvy se soukromými ekonomickými subjekty, u kterých existuje přímá a nepřímá vazba (majitel, člen orgánu společnosti) na politiky.</p>
                <p><a class="btn btn-default" href="/Report/5" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/4">Nejdražší smlouvy</a></h3>
                <p>Smlouvy uzavřené na nejvyšší částky.</p>
                <p><a class="btn btn-default" href="/Report/4" role="button">Podrobnosti »</a></p>
            </div>
    
            <div class="col-block-shadow">
                <h3><a href="/Report/6">Nové úřady a firmy v rejstříku smluv</a></h3>
                <p>Firmy a úřady, které se nyní objevily v rejstříku poprvé.</p>
                <p><a class="btn btn-default" href="/Report/6" role="button">Podrobnosti »</a></p>
            </div>
        </div>
    
        <div class="col-sm-12 col-md-4">
            <h3 style="margin-top:0;">Další</h3>
            <div class="col-block-shadow newbadge top-right">
                <h3><a href="/Report/27">Pomáhá stát v koronavirové krizi jak slibuje?</a></h3>
                <p>
                    Jaká je slibovaná a jaká je skutečná pomoc státu v dobách koronavirové epidemie?

                    Dopady pandemie koronaviru a restart ekonomiky by měli politici řešit rychle, jednoduše a účinně. Sliby politiků jsme slyšeli, pojďme se kouknout na skutečnou pomoc.
                </p>
                <p><a class="btn btn-default" href="/Report/27" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow newbadge top-right">
                <h3><a href="/Report/25">Které politické strany mají největší podíl na řízení státu?</a></h3>
                <p>
                    Které strany a hnutí v ČR dominují?
                </p>
                <p><a class="btn btn-default" href="/Report/24" role="button">Podrobnosti »</a></p>
            </div>
            @*<div class="col-block-shadow">
                <h3><a href="/Report/24">2018: Osoby s největšími obchodními vztahy se státem dle registru smluv</a></h3>
                <p>
                    Osoby s největšími obchodními vztahy se státem dle registru smluv v roce 2018
                </p>
                <p><a class="btn btn-default" href="/Report/24" role="button">Podrobnosti »</a></p>
            </div>*@
            @*<div class="col-block-shadow ">
                <h3><a href="/Report/23">2018: Firmy a holdingy s největšími obchodními vztahy se státem</a></h3>
                <p>
                    Firmy a holdingy s největšími obchodními vztahy se státem dle registru smluv v roce 2018
                </p>
                <p><a class="btn btn-default" href="/Report/23" role="button">Podrobnosti »</a></p>
            </div>*@
        </div>

    </div>
    
    <div class="clearfix"></div>
