@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@{
    ViewBag.Title = "Hlídač smluv";
    ViewBag.SubTitle = "Registr smluv přehledně. Větší veřejná kontrola obchodování státu a místní správy, politiků a firem.";
    ViewBag.HideAd = true;

    double platnych = StaticData.BasicStatisticData.Get()[0];
    double neplatnych = StaticData.BasicStatisticData.Get()[1];
    double celkemKc = StaticData.BasicStatisticData.Get()[2];

}

@section scripts
{
    <script>
        _showFAD = false;
    </script>
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Smlouvy", "Home")">Hlídač Smluv</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

<div class="clearfix"></div>

<div class="row d-none d-sm-flex">
    <h3 style="margin-top:0;">Přehledy</h3>
    <div class="col-sm-4">
        <div class="col-block-shadow">
            <h3>
                <a href="/Report/7">Základní statistiky Registru smluv</a>
            </h3>
            <p>
                Celkem smlouvy za @Html.Raw(Smlouva.ShortNicePrice(Convert.ToDecimal(celkemKc), html: true)) s DPH, @(platnych.ToString("N0")) platných smluv, @(neplatnych.ToString("N0")) neplatných.
            </p>
            <p>
                <a class="btn btn-default" href="/report/7" role="button">Podrobnosti »</a>
            </p>
        </div>
        <div class="col-block-shadow">
            <h3>
                <a href="/Hledat?q=&order=1">Nejnovější smlouvy</a>
            </h3>
            <p>
                Naposledy uveřejněné smlouvy v registru smluv.
                Smlouvy uveřejněné
                @for (int i = 1; i < 8; i++)
                {
                    <a href="/HledatSmlouvy?Q=zverejneno:@(DateTime.Now.AddDays(-1 * i).ToString("yyyy-MM-dd"))">@(i == 1 ? "včera" : DateTime.Now.AddDays(-1 * i).ToString("d.M"))</a>
                    @(i < 7 ? ", " : ".")
                }
            </p>
            <p>
                <a class="btn btn-default" href="/Hledat?Q=zverejneno:@(DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd"))" role="button">Podrobnosti »</a>
            </p>
        </div>

        <div class="col-block-shadow">
            <h3>
                <a href="/Report/2">Smlouvy s nejvíce chybami</a>
            </h3>
            <p>Každou smlouvu analyzujeme a hledáme v ní chyby. Zde jsou ty nejhorší smlouvy.</p>
            <p>
                <a class="btn btn-default" href="/Report/2" role="button">Podrobnosti »</a>
            </p>
        </div>
        <div class="col-block-shadow">
            <h3>
                <a href="/Report/3">Smlouvy s chybami nad 5mil Kč </a>
            </h3>
            <p>Smlouvy s nejvíce chybami a hodnotou alespoň 5mil Kč.</p>
            <p>
                <a class="btn btn-default" href="/Report/3" role="button">Podrobnosti »</a>
            </p>
        </div>


    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">


        <div class="col-block-shadow">
            <h3>
                <a href="/Report/9">Firmy založené kolem data uzavření smlouvy</a>
            </h3>
            <p>Všechny firmy založené těsně před uzavřením smlouvy nebo až po uzavření smlouvy.</p>
            <p>
                <a class="btn btn-default" href="/Report/9" role="button">Podrobnosti »</a>
            </p>
        </div>
        @*<div class="col-block-shadow newbadge top-right">
                    <h3><a href="/Report/14">Úřady nejvíce obchodující s podezřele založenými firmami</a></h3>
                    <p>Úřady, které nejvíce obchodují s firmami založenými těsně před uzavřením smlouvy anebo dokonce až po podepsání smlouvy.</p>
                    <p><a class="btn btn-default" href="/Report/14" role="button">Podrobnosti »</a></p>
                </div>*@
        <div class="col-block-shadow">
            <h3>
                <a href="/Report/5">Smlouvy soukromých firem s vazbou na politiky</a>
            </h3>
            <p>Smlouvy se soukromými ekonomickými subjekty, u kterých existuje přímá a nepřímá vazba (majitel, člen orgánu společnosti) na politiky.</p>
            <p>
                <a class="btn btn-default" href="/Report/5" role="button">Podrobnosti »</a>
            </p>
        </div>
        <div class="col-block-shadow">
            <h3>
                <a href="/Report/4">Nejdražší smlouvy</a>
            </h3>
            <p>Smlouvy uzavřené na nejvyšší částky.</p>
            <p>
                <a class="btn btn-default" href="/Report/4" role="button">Podrobnosti »</a>
            </p>
        </div>


        <div class="col-block-shadow">
            <h3>
                <a href="/Report/6">Nové úřady a firmy v rejstříku smluv</a>
            </h3>
            <p>Firmy a úřady, které se nyní objevily v rejstříku poprvé.</p>
            <p>
                <a class="btn btn-default" href="/Report/6" role="button">Podrobnosti »</a>
            </p>
        </div>
    </div>


</div>
<div class="row d-flex d-sm-none">

    <div class="col-xs-12">
        <h3>Přehledy</h3>

        <div class="col-block-shadow">
            <h3>
                <a href="/Report/7">Základní statistiky Registru smluv</a>
            </h3>
            <p>
                Celkem smlouvy za @Html.Raw(Smlouva.ShortNicePrice(Convert.ToDecimal(celkemKc), html: true)) s DPH, @(platnych.ToString("N0")) platných smluv, @(neplatnych.ToString("N0")) neplatných.
            </p>
            <p>
                <a class="btn btn-default" href="/report/7" role="button">Podrobnosti »</a>
            </p>
        </div>
        <div class="col-block-shadow">
            <h3>
                <a href="/Hledat?q=&order=1">Nejnovější smlouvy</a>
            </h3>
            <p>
                Naposledy uveřejněné smlouvy v registru smluv.
                Smlouvy uveřejněné
                @for (int i = 1; i < 8; i++)
                {
                    <a href="/Hledat?Q=zverejneno:@(DateTime.Now.AddDays(-1 * i).ToString("yyyy-MM-dd"))">@(i == 1 ? "včera" : DateTime.Now.AddDays(-1 * i).ToString("d.M"))</a>
                    @(i < 7 ? ", " : ".")
                }
            </p>
            <p>
                <a class="btn btn-default" href="/Hledat?q=&order=1" role="button">Podrobnosti »</a>
            </p>
        </div>
        <div class="col-block-shadow">
            <h3>
                <a href="/Report/2">Smlouvy s nejvíce chybami</a>
            </h3>
            <p>Každou smlouvu analyzujeme a hledáme v ní chyby. Zde jsou ty nejhorší smlouvy.</p>
            <p>
                <a class="btn btn-default" href="/Report/2" role="button">Podrobnosti »</a>
            </p>
        </div>
        <div class="col-block-shadow">
            <h3>
                <a href="/Report/3">Smlouvy s chybami nad 5mil Kč </a>
            </h3>
            <p>Smlouvy s nejvíce chybami a hodnotou alespoň 5mil Kč.</p>
            <p>
                <a class="btn btn-default" href="/Report/3" role="button">Podrobnosti »</a>
            </p>
        </div>

        <div class="col-block-shadow">
            <h3>
                <a href="/Report/4">Nejdražší smlouvy</a>
            </h3>
            <p>Smlouvy uzavřené na nejvyšší částky.</p>
            <p>
                <a class="btn btn-default" href="/Report/4" role="button">Podrobnosti »</a>
            </p>
        </div>

        <div class="col-block-shadow">
            <h3>
                <a href="/Report/6">Nové úřady a firmy v rejstříku smluv</a>
            </h3>
            <p>Firmy a úřady, které se nyní objevili v rejstříku poprvé.</p>
            <p>
                <a class="btn btn-default" href="/Report/6" role="button">Podrobnosti »</a>
            </p>
        </div>

        <div class="col-block-shadow">
            <h3>
                <a href="/Report/9">Firmy založené kolem data uzavření smlouvy</a>
            </h3>
            <p>Všechny firmy založené těsně před uzavřením smlouvy nebo až po uzavření smlouvy.</p>
            <p>
                <a class="btn btn-default" href="/Report/9" role="button">Podrobnosti »</a>
            </p>
        </div>
        @*<div class="col-block-shadow newbadge top-right">
                    <h3><a href="/Report/14">Úřady nejvíce obchodující s podezřele založenými firmami</a></h3>
                    <p>Úřady, které nejvíce obchodují s firmami založenými těsně před uzavřením smlouvy anebo dokonce až po podepsání smlouvy.</p>
                    <p><a class="btn btn-default" href="/Report/14" role="button">Podrobnosti »</a></p>
                </div>*@

        <div class="col-block-shadow">
            <h3>
                <a href="/Report/5">Smlouvy soukromých firem s vazbou na politiky</a>
            </h3>
            <p>Smlouvy se soukromými ekonomickými subjekty, u kterých existuje přímá a nepřímá vazba (majitel, člen orgánu společnosti) na politiky.</p>
            <p>
                <a class="btn btn-default" href="/Report/5" role="button">Podrobnosti »</a>
            </p>
        </div>
    </div>

</div>

<div class="clearfix"></div>