@using HlidacStatu.Entities
@using Devmasters.Enums
@{
    ViewBag.Title = "Snadné hledání smluv podle více parametrů";

}

@section scripts
{
    <script type="text/javascript" charset="utf8" src="~/Scripts/moment.min.js"></script>
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Smlouvy", "Home")">Hlídač Smluv</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<h2>Najít záznamy splňující tyto požadavky:</h2>
<div class="row">
    <div class="col-xs-12 col-sm-11 col-sm-push-1">
        @using (Html.BeginForm("SnadneHledani", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
        {
            <h4>Textove hledání</h4>
            <div class="form-group">
                <label for="txt" class="col-sm-2 control-label">Všechna tato slova</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="alltxt" id="alltxt" placeholder="Slova">
                </div>
                <div class="clearfix"></div>
                <label for="txt" class="col-sm-2 control-label">Přesně toto slovo nebo sousloví:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="exacttxt" id="exacttxt" placeholder="Slovo nebo sousloví">
                </div>
                <div class="clearfix"></div>
                <label for="txt" class="col-sm-2 control-label">Libovolné z těchto slov:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="anytxt" id="anytxt" placeholder="Slova">
                </div>
                <div class="clearfix"></div>
                <label for="txt" class="col-sm-2 control-label">Žádné z těchto slov:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="nonetxt" id="nonetxt" placeholder="Slova">
                </div>
                <div class="clearfix"></div>
                <label for="txt" class="col-sm-2 control-label">Hledat slova pouze v textu smlouvy:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="textsmlouvy" id="textsmlouvy" placeholder="Slova">
                </div>
            </div>
            <hr/>
            <h4>Vyhledávání podle smluvních stran</h4>
            <div class="form-group">
                <label for="subjektIco" class="col-sm-2 control-label">Úřad, plátce, objednatel</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="icoPlatce" id="icoPlatce" placeholder="ICO plátce">
                    <input type="text" class="form-control" name="dsPlatce" id="dsPlatce" placeholder="nebo Datová schránka plátce">
                    <input type="text" class="form-control" name="jmenoPlatce" id="jmenoPlatce" placeholder="Jméno nebo část jména plátce">
                </div>
            </div>

            <div class="form-group">
                <label for="subjektIco" class="col-sm-2 control-label">Dodavatel,<br/>příjemce peněz</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="icoPrijemce" id="icoPrijemce" placeholder="ICO příjemce">
                    <input type="text" class="form-control" name="dsPrijemce" id="dsPrijemce" placeholder="Datová schránka příjemce">
                    <input type="text" class="form-control" name="jmenoPrijemce" id="jmenoPrijemce" placeholder="Jméno nebo část jména příjemce">
                </div>
            </div>
            <hr/>
            <h4>Vyhledávání podle další kritérií</h4>
            <div class="form-group">
                <label for="cenaOd" class="col-sm-2 control-label">Hodnota smlouvy, veřejné zakázky</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="cenaOd" id="cenaOd" placeholder="od částky v Kč">
                    <input type="text" class="form-control" name="cenaDo" id="cenaDo" placeholder="do částky v Kč">
                </div>
            </div>

            <div class="form-group">
                <label for="podepsanoOd" class="col-sm-2 control-label">Smlouva nebo zakázka <br/>zveřejněna od-do data</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" name="zverejnenoOd" id="zverejnenoOd" placeholder="Zveřejneno od data">
                    <input type="date" class="form-control" name="zverejnenoDo" id="zverejnenoDo" placeholder="Zveřejneno do data">
                    
                </div>
            </div>

            <div class="form-group">
                <label for="podepsanoOd" class="col-sm-2 control-label">Smlouva nebo zakázka <br/>podepsána od-do data</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" name="podepsanoOd" id="podepsanoOd" placeholder="podepsáno od data">
                    <input type="date" class="form-control" name="podepsanoDo" id="podepsanoDo" placeholder="podepsáno do data">
                </div>
            </div>

            <div class="form-group">
                <label for="politik" class="col-sm-2 control-label">Smlouvy s vazbou na osobu</label>
                <div class="col-sm-8">
                    <partial name="_SnadneHledaniAutocomplete"/>
                    
                </div>
            </div>
            <div class="form-group">
                <label for="politik" class="col-sm-2 control-label">Smlouvy s vazbou na holding</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="holding" id="holding" placeholder="IČO matky holdingu">
                </div>
            </div>

            <div class="form-group">
                <label for="obory" class="col-sm-2 control-label">Smlouvy podle oborů do kterých patří</label>
                <div class="col-sm-8">
                    <div class="checkbox" style="height:400px;overflow-y:auto;border:1px #d0d0d0 solid;width:80%;overflow-x:hidden;padding:10px;">
                        @{
                            var classifications = Enum.GetValues<Smlouva.SClassification.ClassificationsTypes>()
                                .Select(m => new
                                {
                                    stringValue = m.ToString("G"),
                                    name = m.ToNiceDisplayName(),
                                    intValue = (int)m
                                }).ToList(); 
                        }
                        
                        @foreach (var main in classifications.Where(m => m.intValue % 100 == 0).OrderBy(m => m.name))
                        {
                            <div>
                                <label>
                                    <input type="checkbox" name="obory" value="@(main.stringValue)"/><b>@main.name</b>
                                </label>
                            </div>
                            foreach (var item in classifications.Where(m => m.intValue % 100 != 0)
                                .Where(m => m.intValue - (m.intValue % 100) == main.intValue)
                                .OrderBy(m => m.name))
                            {
                                <div>
                                    <label>
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="obory" value="@(item.stringValue)"/>@(item.name)
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" name="hledatvse" value="1" class="btn btn-hs btn-primary">Hledat v celém Hlídači</button>
                    <br/>
                    <button type="submit" name="hledatsmlouvy" value="1" class="btn btn-hs btn-secondary btn-sm">Hledat pouze ve smlouvách</button>
                    <button type="submit" name="hledatvz" value="1" class="btn btn-hs btn-secondary btn-sm">Hledat pouze ve veřejných zakázkách</button>
                </div>
            </div>
        }

    </div>
</div>
<div class="clearfix"></div>