@model (List<OsobaStret> strety, string nameId, string paragraf)

@using HlidacStatu.Entities
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Analysis
@using HlidacStatu.Repositories.StretZajmu
@using HlidacStatu.XLib;

@{
    ViewBag.Title = "Analýza střetu zájmů dle zákona o střetu zájmů";
    ViewBag.SubTitle = "";

    var strety = Model.strety;
    var nameId = Model.nameId;
    var paragraf = Model.paragraf;

    List<(decimal smlouvySum, long smlouvyCount, decimal dotaceSum, long dotaceCount)> stretyStats = new();


}

<h2>Analýza střetu zájmů dle zákona o střetu zájmů dle § @paragraf</h2>

<h3>Analyzované osoby</h3>
<p>U následujících osob jsme nalezli možný střet zájmu</p>
<ol class="list-group list-group-numbered">
    @foreach (var os in strety
        .Where(m => m.Stat_SmlouvyCount + m.Stat_DotaceCount > 0)
        .OrderByDescending(o => o.Stat_SmlouvySum + o.Stat_DotaceSum)
        .ThenByDescending(o => o.Stat_SmlouvyCount + o.Stat_DotaceCount)

        )
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    <a href="#@($"{os.Osoba_with_Event.Osoba.NameId}_{os.Stret_za_obdobi.ToNiceString(dateFormat: "d.M.yyyy", noValue: "", dateDelimiter: "-")}")">
                        @os.Osoba_with_Event.Osoba.FullName()
                        (@(os.Osoba_with_Event.Event.AddInfo))
                    </a>
                </div>
                <div>
                    Za období <b>@(os.Stret_za_obdobi.ToNiceString(dateFormat: "d.M.yyyy", noValue: ""))</b>
                </div>
                <div>
                    Smlouvy: <b>@Html.Raw(HlidacStatu.Util.RenderData.NiceNumber(os.Stat_SmlouvyCount, true))</b> ks, celkem <b>@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(os.Stat_SmlouvySum, html: true, mena: ""))</b> Kč<br />
                    Dotace: <b>@Html.Raw(HlidacStatu.Util.RenderData.NiceNumber(os.Stat_DotaceCount, true))</b> ks, celkem <b>@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(os.Stat_DotaceSum, html: true, mena: ""))</b> Kč
                </div>
            </div>
        </li>

    }
</ol>

<p>Tyto osoby jsme zkontrolovali a možný střet zájmu nenalezli.</p>
<ul class="list-group ">
    @foreach (var os in strety
        .Where(m => m.Stat_SmlouvyCount + m.Stat_DotaceCount == 0)
        .OrderByDescending(o => o.Osoba_with_Event.Osoba.Prijmeni)
        .ThenByDescending(o => o.Osoba_with_Event.Osoba.Jmeno)
        )
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div >

                    <b>@os.Osoba_with_Event.Osoba.FullName()</b>
                    (@(os.Osoba_with_Event.Event.AddInfo))

                    <small>
                        za období <b>@(os.Stret_za_obdobi.ToNiceString(dateFormat: "d.M.yyyy", noValue: ""))</b>
                    </small>
                </div>
            </div>
        </li>

    }
</ul>
<hr />
@foreach (var os in strety
        .Where(m => m.Stat_SmlouvyCount + m.Stat_DotaceCount > 0)
        .OrderByDescending(o => o.Stat_SmlouvySum + o.Stat_DotaceSum)
        .ThenByDescending(o => o.Stat_SmlouvyCount + o.Stat_DotaceCount)
)
{
    <h4 id="@($"{os.Osoba_with_Event.Osoba.NameId}_{os.Stret_za_obdobi.ToNiceString(dateFormat: "d.M.yyyy", noValue: "", dateDelimiter: "-")}")">
        @(os.Osoba_with_Event.Osoba.FullNameWithYear())
    </h4>

    <ol class="list-group list-group-numbered">


        @foreach (var item in os.Strety
            .OrderByDescending(o => o.DotaceStat.Summary().CelkemPrideleno + o.SmlouvyStat.Summary().CelkovaHodnotaSmluv)
            .ThenByDescending(o => o.DotaceStat.Summary().PocetDotaci + o.SmlouvyStat.Summary().PocetSmluv)
            )
        {
            var vazbyPerIco = await OsobaVazbyRepo.VazbyProIcoCachedAsync(os.Osoba_with_Event.Osoba, item.Firma.ICO);

            string iOd = item.Za_obdobi.From?.ToString("yyyy-MM-dd") ?? "*";
            string iDo = item.Za_obdobi.To?.ToString("yyyy-MM-dd") ?? "*";
            string querySmlouvy = $"ico:{item.Firma.ICO} AND podepsano:[{iOd} TO {iDo}] ";

            int yFrom = item.Za_obdobi.From?.Year ?? 1990;
            int yTo = item.Za_obdobi.To?.Year ?? DateTime.Now.Year + 1;
            int[] years = Enumerable.Range(yFrom, yTo - yFrom + 1).ToArray();
            string[] yearQueries = years.Select(y => $"approvedYear:{y}").ToArray();
            string queryDotace = $"ico:{item.Firma.ICO} AND ( {string.Join(" OR ", yearQueries)} )";

            string customUrlSmlouvy = $"https://www.hlidacstatu.cz/hledatsmlouvy?q=" + System.Net.WebUtility.UrlEncode(querySmlouvy);
            string customUrlDotace = $"https://www.hlidacstatu.cz/dotace/hledat?q=" + System.Net.WebUtility.UrlEncode(queryDotace);

            var svazba = await HlidacStatu.Repositories.Graph.Render.RenderVazbyAsync(vazbyPerIco, html: true, multiline: false);
            if (item.SmlouvyStat.Summary().PocetSmluv == 0 && item.DotaceStat.Summary().PocetDotaci == 0)
            {
                //sb.AppendLine($"{item.Firma.ICO} {item.Firma.Jmeno} {item.Za_obdobi.ToNiceString()}\n{svazba}");
                //sb.AppendLine($"<p>Vše v pořádku, žádné smlouvy či dotace v tomto období</p>");
            }
            else
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">@(item.Firma.ICO) @(item.Firma.Jmeno) @(item.Za_obdobi.ToNiceString(dateFormat: "d.M.yyyy")))</div>
                        <div>
                            Za období <b>@(item.Za_obdobi.ToNiceString(dateFormat: "d.M.yyyy", noValue: ""))</b>
                        </div>
                        <div>
                            Smlouvy: @Html.Raw(item.SmlouvyStat.Summary().ToNiceLinkString(null, html: true, customUrl: customUrlSmlouvy))
                            <br />
                            Dotace: @Html.Raw(item.DotaceStat.Summary().ToNiceLinkString_1pad(null, html: true, customUrl: customUrlDotace))
                        </div>
                    </div>
                </li>

            }

        }
    </ol>
}

<hr />

<h2>Zákon o střetu zájmů dle § @paragraf</h2>
<pre style="overflow-x: auto;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;">
(1) Veřejný funkcionář uvedený v § 2 odst. 1 písm. c) až m) nesmí
    a) podnikat nebo provozovat jinou samostatnou výdělečnou činnost,
    b) být členem statutárního orgánu, členem řídícího, dozorčího nebo kontrolního orgánu právnické osoby, která podniká (dále jen „podnikající právnická osoba“), pokud zvláštní právní předpis nestanoví jinak, nebo
    c) být v pracovněprávním nebo obdobném vztahu nebo ve služebním poměru, nejde-li o vztah nebo poměr, v němž působí jako veřejný funkcionář.

(2) Omezení podle odstavce 1 se nevztahuje na správu vlastního majetku a na činnost vědeckou, pedagogickou, publicistickou, literární, uměleckou nebo sportovní, nejde-li o vlastní podnikání v těchto oborech.

(3) Veřejní funkcionáři uvedení v odstavci 1 jsou povinni činnosti tam uvedené ukončit bez zbytečného odkladu poté, co začali vykonávat svou funkci, nejpozději však do 30 dnů ode dne zahájení výkonu funkce. Není-li k ukončení činnosti z důvodů nezávislých na vůli veřejného funkcionáře možné dodržet lhůtu uvedenou v předchozí větě, veřejný funkcionář o této skutečnosti v dané lhůtě informuje evidenční orgán a provede současně všechna potřebná opatření směřující k ukončení činnosti. Ustanovení zvláštních právních předpisů tím nejsou dotčena4).
</pre>
