@using HlidacStatu.Entities
@using HlidacStatu.Repositories

<div class="card mb-3">
    <h5 class="card-header">Politické strany</h5>
    <div class="card-body">
        <div class="mx-auto">
            @foreach (var politicalParty in PoliticalParties)
            {
                <div class="row">
                    <div class="col-3 form-floating">
                        <input type="text" id="polStrana"
                               class="form-control"
                               @bind="@politicalParty.Organizace"/>
                        <label for="polStrana">Politická strana</label>
                    </div>
                    <div class="col-3 form-floating">
                        <input type="date" id="datefrom"
                               class="form-control"
                               @bind="@politicalParty.DatumOd"/>
                        <label for="datefrom">Datum působení od</label>
                    </div>
                    <div class="col-3 form-floating">
                        <input type="date" id="dateto"
                               class="form-control"
                               @bind="@politicalParty.DatumDo"/>
                        <label for="dateto">Datum působení do</label>
                    </div>
                    <div class="col-3 form-floating">
                        <input type="text" id="funkce"
                               class="form-control"
                               @bind="@politicalParty.AddInfo"/>
                        <label for="funkce">Funkce v politické straně</label>
                    </div>
                </div>
            }
        </div>
    </div>
    
    <div class="card-footer text-body-secondary">
        <button class="btn btn-primary" @onclick="@(AddPartyAffiliation)">Přidat působení ve straně</button>
        <button class="btn btn-success" @onclick="@(Save)">Uložit změny</button>
        <button class="btn btn-warning" @onclick="@(Cancel)">Zrušit změny</button>
    </div>

</div>

@code
{
    [Parameter]
    public int OsobaId { get; set; }

    private List<OsobaEvent> PoliticalParties { get; set; } = new();


    private void AddPartyAffiliation()
    {
        OsobaEvent newEvent = new OsobaEvent()
        {
            OsobaId = OsobaId,
            Type = (int)OsobaEvent.Types.PolitickaStrana
        };
        PoliticalParties.Insert(0, newEvent);
    }

    protected override void OnParametersSet()
    {
        PoliticalParties = OsobaEventRepo
            .GetByOsobaId(OsobaId, x => x.Type == (int)OsobaEvent.Types.PolitickaStrana)
            .OrderBy(p => p.DatumOd).ToList();

        base.OnParametersSet();
    }

    private Task Save()
    {
        throw new NotImplementedException();
    }

    private Task Cancel()
    {
        throw new NotImplementedException();
    }
}
