@using System.Security.Claims
@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Auditing
@using PoliticiEditor.Components.Account

@inject UserHelper UserHelper

@implements IAsyncDisposable

<div class="card mb-3">
    <h5 class="card-header">Politické strany</h5>
    <div class="card-body">
        <div class="mx-auto">
            @foreach (var politicalParty in PoliticalParties)
            {
                <div class="row mb-3">
                    <div class="col-3">
                        <label for="polStrana">Politická strana</label>
                        <input type="text" id="polStrana"
                               class="form-control"
                               @bind="@politicalParty.Organizace"/>
                    </div>
                    <div class="col-3">
                        <label for="datefrom">Datum působení od</label>
                        <input type="date" id="datefrom"
                               class="form-control"
                               @bind="@politicalParty.DatumOd"/>
                    </div>
                    <div class="col-3">
                        <label for="dateto">Datum působení do</label>
                        <input type="date" id="dateto"
                               class="form-control"
                               @bind="@politicalParty.DatumDo"/>
                    </div>
                    <div class="col-3">
                        <label for="funkce">Funkce v politické straně</label>
                        <input type="text" id="funkce"
                               class="form-control"
                               @bind="@politicalParty.AddInfo"/>
                    </div>
                </div>
            }
        </div>
    </div>
    
    <div class="card-footer text-body-secondary">
        <button class="btn btn-primary" @onclick="@(AddPartyAffiliation)">Přidat působení ve straně</button>
        <button class="btn btn-success" @onclick="@(Save)">Uložit změny</button>
        <button class="btn btn-warning" @onclick="@(Cancel)">Zrušit změny</button>
    </div>

</div>

@code
{
    [Parameter]
    public int OsobaId { get; set; }

    private List<OsobaEvent> PoliticalParties { get; set; } = new();
    
    private DbEntities? _db = new();
    
    private ClaimsPrincipal User { get; set; }
    
    private void AddPartyAffiliation()
    {
        OsobaEvent newEvent = new OsobaEvent()
        {
            OsobaId = OsobaId,
            Type = (int)OsobaEvent.Types.PolitickaStrana
        };
        PoliticalParties.Insert(0, newEvent);
        if (_db is not null)
        {
            _db.OsobaEvent.Add(newEvent);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await RefreshContextAsync();
    }
    
    protected override async Task OnInitializedAsync()
    {
        User = await UserHelper.GetCurrentUserAsync();
    }

    private async Task RefreshContextAsync()
    {
        if (_db is not null)
            await _db.DisposeAsync();

        _db = new DbEntities();
        
        PoliticalParties = OsobaEventRepo
            .GetByOsobaIdTracked(_db, OsobaId, x => x.Type == (int)OsobaEvent.Types.PolitickaStrana)
            .OrderBy(p => p.DatumOd).ToList();
    }
    
    public async ValueTask DisposeAsync()
    {
        if (_db is not null)
        {
            await _db.DisposeAsync();
        }
    }

    private async Task Save()
    {
        //todo: this should be probably created after db.save? So we get prop. Ids?
        var auditLogs = ChangeTracker.CreateAuditLogs(_db, UserHelper.GetNameId(User));
        
        await _db.SaveChangesAsync();
        
        await ChangeTracker.SaveAuditLogAsync(auditLogs);
        await RefreshContextAsync();
    }

    private async Task Cancel()
    {
        await RefreshContextAsync();
    }
}
