@using Microsoft.AspNetCore.Http.Extensions
<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @{
        ViewBag.ThisIsEmbeded = true;
        ViewBag.MaxWidth = Context.Request.Query["maxwidth"].ToString();
        HlidacStatu.Web.Framework.Visit.AddVisit(Context.Request.GetEncodedPathAndQuery(), HlidacStatu.Web.Framework.Visit.VisitChannel.Embed);

        string title = ViewBag.Title;
        if (string.IsNullOrEmpty(title))
        {
            title = "Hlídač smluv státních a veřejných institucí. Vylepšený Registr smluv.";
        }
        else
        {
            title = title + " - " + "Hlídač smluv.";
        }
        string description = ViewBag.Description + " Vylepšený Registr smluv." ?? "Hlídač a analýza smluv státních a veřejných institucí z registru smluv ČR. Vylepšený Registr smluv. Veřejnoprospěšný projekt.";
    }
    <title>@title</title>
    <meta name="description" content="@description" />
    <meta name="author" content="Michal Bláha" />
    <meta name="keywords" content="Registr smluv, Hlídač smluv, politici, smlouvy státu">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet"/>


    @RenderSection("metatags", required: false)

    <link rel="stylesheet" href="~/css/bootstrap.min.css" >
    <script src="~/js/bootstrap.bundle.min.js"></script>
    
    <script src="/Scripts/jquery-1.11.3.min.js"></script>
    @* skript bundle *@
    <script src="/Scripts/respond.min.js"></script>
    <script src="/Scripts/hlidac.v1.14.js"></script>
    <script src="/Scripts/fuckadblock.min.js"></script>
    @* <script src="/Scripts/social-share-kit.min.js"></script> *@
    
    <script src="/Scripts/modernizr-2.8.3.js"></script>



    @RenderSection("scripts", required: false)
    <base target="_top">

    <style>
        #embLogo {
            position: relative;
            z-index: 100;
        }

            #embLogo .logo {
                position: absolute;
                top: 5px;
                right: 5px;
                opacity: 0.3;
                font-size: 20px;
                text-decoration: none;
            }
    </style>
    <!-- Matomo Tag Manager -->
    <script>
        var _mtm = window._mtm = window._mtm || [];
        _mtm.push({ 'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start' });
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true; g.src = 'https://ma.hlidacstatu.cz/js/container_rZ3U6hIe.js'; s.parentNode.insertBefore(g, s);
    </script>
    <!-- End Matomo Tag Manager -->
    <script>
        var _showFAD = true;
    </script>

</head>
<body class="embed">
    <div class="body embed">
        <div class="container">
            @*<div id="embLogo">
                <a href="@(Context.Request.GetDisplayUrl()?.Replace("embed=1",""))" target="_top" class="logo">
                    <img src="/content/img/logoonly.svg" width="45" height="45" style="vertical-align:text-bottom" />
                </a>
            </div>*@


            @if (IsSectionDefined("onlyembed"))
            {
                IgnoreBody();
                if (IsSectionDefined("title"))
                {
                    IgnoreSection("title");
                }
                if (IsSectionDefined("breadcrumb"))
                {
                    IgnoreSection("breadcrumb");
                }
                @RenderSection("onlyembed", false)
            }
            else
            {
                if (IsSectionDefined("onlyembed")) {
                    IgnoreSection("onlyembed");
                }
                if (IsSectionDefined("title"))
                {
                    IgnoreSection("title");
                }
                if (IsSectionDefined("breadcrumb"))
                {
                    IgnoreSection("breadcrumb");
                }

                @RenderBody()

            }

        </div>

        <footer>
            <div class="center-block text-center">&copy; 2016 - @DateTime.Now.Year Hlídač Státu z.ú. <a href="/texty/licence">Licence</a></div>
        </footer>
    </div>

    @RenderSection("footerscripts", required: false)
    <script type="text/javascript" src="/Scripts/iframeResizer.contentWindow.min.js"></script>

</body>
</html>