@using System.Linq
@using System.Net.Http
@using Devmasters.Collections
@using HlidacStatu.Entities
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.Primitives

@inject IHttpClientFactory HttpClientFactory

@{
    int PocetReportu = 24;

    try
    {
        var query = new StringValues();
        if (string.IsNullOrEmpty(ViewBag.Query)
            && Context.Request.Query.TryGetValue("Q", out query)
        )
        {
            ViewBag.Query = query;
        }
    }
    catch (Exception)
    {
        if (ViewData.ContainsKey("InvokeErrorAction") == false)
        {
            throw;
        }
    }

    string title = ViewBag.Title;
    if (string.IsNullOrEmpty(title))
    {
        title = "Hlídač státu. Hlídame je, protože si to zaslouží.";
    }
    else
    {
        title = title + " - " + "Hlídač státu.";
    }
    string description = "Hlídač státu - veřejná kontrola státních a veřejných institucí. Veřejnoprospěšný projekt. Hlídač smluv a registr smluv. Hlídač Webů.";
    if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        description = ViewBag.Description + " Hlídač státu.";
    }

    bool ShowEmailConfirmation = false;
    if (User.Identity?.IsAuthenticated ?? false)
    {
        if (!string.IsNullOrEmpty(this.User?.Identity?.Name))
        {
            var email = this.User?.Identity?.Name;
            using (DbEntities db = new())
            {
                var user = db.Users.AsQueryable().Where(m => m.Email == email && m.EmailConfirmed == false).FirstOrDefault();
                ShowEmailConfirmation = user != null;
            }
        }

    }



}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@title</title>
    <link rel="canonical" href="https://www.hlidacstatu.cz@(Context.Request.GetEncodedPathAndQuery())" />
    <meta name="description" content="@description" />
    <meta name="author" content="Michal Bláha" />
    <meta name="keywords" content="e-gov, e-government, efektivita státu, efektivní stát, Registr smluv, Hlídač státu, HlidacStatu, HlidacSmluv, Hlídač smluv, politici, smlouvy státu">

    @{
        string urlfirst = $"{Context.Request.Scheme}://{Context.Request.Host}";
        string defaultSocialImg = urlfirst + "/content/icons/largetile.png";
        string url = ViewBag.SocialShareUrl ?? Context.Request.GetDisplayUrl();
        string text = ViewBag.SocialShareText ?? description;
        string type = ViewBag.SocialShareType ?? "website";
        string socialTitle = ViewBag.SocialShareTitle ?? title;

        //additional, HlidacStatu specific
        string socialhtml = ViewBag.SocialShareHtml ?? "";
        string socialfooter = ViewBag.SocialShareHtmlFooter ?? "";
        string socialsubfooter = ViewBag.SocialShareHtmlSubFooter ?? "";
        string socialfooterimg = ViewBag.SocialShareHtmlFooterImg ?? defaultSocialImg;

        string img = ViewBag.SocialImage ?? defaultSocialImg;

        if (img == defaultSocialImg && string.IsNullOrEmpty(socialhtml) == false)
        {
            img = urlfirst + "/socialbanner/page?v=" + System.Net.WebUtility.UrlEncode(Context.Request.GetDisplayUrl());
        }
    }

    <link rel="shortcut icon" href="/content/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/icons/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/content/icons/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/content/icons/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/content/icons/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/content/icons/largetile.png" />

    <meta name="twitter:site" content="HlidacStatu" />
    <meta property="fb:app_id" content="803455203348459" />
    <meta property="og:title" content="@socialTitle" />
    <meta property="og:url" content="@url" />
    <meta property="og:site_name" content="Hlídač Státu" />
    <meta property="og:type" content="@type" />
    <meta property="og:description" content="@text" />
    <meta property="og:image" content="@Html.Raw(img.Trim())" />
    <meta name="twitter:image" content="@Html.Raw(img.Trim())" />
    @if (img != defaultSocialImg)
    {
        <meta name="twitter:card" content="summary_large_image" />
    }
    @if (ViewBag.OpenGraphMore != null)
    {
        @Html.Raw(ViewBag.OpenGraphMore)
    }
    <meta property="og:hlidac_html" content="@socialhtml" />
    <meta property="og:hlidac_footer" content="@socialfooter" />
    <meta property="og:hlidac_subfooter" content="@socialsubfooter" />
    <meta property="og:hlidac_footerimg" content="@socialfooterimg" />

    @RenderSection("metatags", required: false)

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,700&amp;subset=latin-ext" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/a0fc082c81.js" crossorigin="anonymous"></script>

    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/scriptbundle"></script>
    <link rel="stylesheet" href="~/content/bundled.css" />
    <script src="~/bundles/modernizr"></script>

    <!-- Matomo Tag Manager -->
    <script>
        var _mtm = window._mtm = window._mtm || [];
        _mtm.push({ 'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start' });
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true; g.src = 'https://ma.hlidacstatu.cz/js/container_rZ3U6hIe.js'; s.parentNode.insertBefore(g, s);
    </script>
    <!-- End Matomo Tag Manager -->

    <script>
        function closeMegaMenu(el) {
            var navItem = $(el).closest('.dropdown-menu.shadow').prev('a');
            var dd = new bootstrap.Dropdown(navItem[0]);
            dd.hide();
        }

    </script>
    @RenderSection("Scripts", required: false)


    <link href="/scripts/selectize/selectize.bootstrap5.css" rel="stylesheet" />
    <script src="/scripts/selectize/selectize.min.js"></script>

    @*
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        _paq.push(['alwaysUseSendBeacon']);
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://ma.hlidacstatu.cz/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
        @if (this.User?.Identity?.IsAuthenticated == true)
        {
            <text>
                    _paq.push(['setUserId', '@(this.User.Identity.Name)']);
            </text>
        }
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
    *@
    <base href="~/" />
</head>
<body class="new-body">

    @if (ShowEmailConfirmation)
    {
        <div class="alert alert-danger" role="alert" id="msgConfirmationEmailInfo">
            Nepotvrdil(a) jste nám e-mail použitý při registraci. Bez potvrzení není účet aktivní.
            <a class="btn btn-default" href="#" role="button" onclick="javascript:ResendConfirmationMail(this)">Odeslat potvrzovací link e-mailem</a>

        </div>
    }

    @if (IsSectionDefined("toplinemsg"))
    {
        @RenderSection("toplinemsg", required: false)
    }
    else
    {
        if (DateTime.Now < new DateTime(2023, 1, 25, 0, 0, 0))
        {
            string[] hlasky = new string[]
            {
    "Vše podstatné o organizaci prezidentských voleb!",
    "Pomoc s žádostí o voličský průkaz",
    "Prezidentské volby 2023",
    "To nejdůležitější k lednovým volbám",
    "Voličský průkaz snadno a rychle"
            };

            <div class="alert alert-dark adlinemsg" role="alert">
                <div class="text-center center-block fs-4">
                    <a href="https://volby.hlidacstatu.cz/">
                        <img src="/Content/Img/vlajka_small.png" height="39px" alt="česká vlajka" />
                        <span>@(hlasky[DateTime.Now.Second % hlasky.Length])</span>
                    </a>
                </div>
            </div>
        }
    }
    <!-- ##head## -->
    <style>
        .navbar.hlidac .nav-item {
            line-height: 1.2em;
        }

    </style>
    <nav class="navbar navbar-expand-lg navbar-light shadow hlidac">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="margin-right:1em;">
                <a href="/" class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46px" height="46px" viewBox="0 0 46 46" version="1.1">
                        <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="06-DOBRA" transform="translate(-31.000000, -18.000000)">
                                <g id="Group" transform="translate(31.000000, 18.000000)">
                                    <path d="M34.7926176,43 L34.7926176,25.8136542 C34.7926176,19.2536826 29.4005716,14.55625 22.8156981,14.55625 L22.7226406,14.55625 C16.137767,14.55625 10.4707785,19.2536826 10.4707785,25.8136542 L10.4707785,43 L34.7926176,43 Z" id="Fill-1" fill="#25272D" />
                                    <path d="M30.6778527,27.9431372 C29.1549094,27.5784772 26.5447427,27.4633214 24.731801,27.9431372 C22.9188592,28.422953 22.6712952,30.9140119 24.731801,30.9140119 C26.7923068,30.9140119 32.200796,28.3077972 30.6778527,27.9431372 Z" id="Oval" fill="#266cae" />
                                    <path d="M21.7334082,27.9431372 C20.2104649,27.5784772 17.6002983,27.4633214 15.7873565,27.9431372 C13.9744148,28.422953 13.7268507,30.9140119 15.7873565,30.9140119 C17.8478623,30.9140119 23.2563515,28.3077972 21.7334082,27.9431372 Z" id="Oval" fill="#266cae" transform="translate(18.166667, 29.269506) scale(-1, 1) translate(-18.166667, -29.269506) " />
                                    <path d="M23.1340731,0.78903332 C22.7184471,0.423872614 22.0477586,0.424188294 21.6368425,0.78903332 L0.744673078,19.3388181 C0.333401493,19.7039788 0.245239258,20.3678589 0.557111502,20.8356673 L1.4428885,22.1643327 C1.75057268,22.625859 2.33675444,22.7031399 2.74956077,22.3392375 L22.3815156,5.03302363 L42.2405567,22.3392375 C42.6593161,22.7041666 43.2441756,22.6321411 43.5562369,22.1643327 L44.4425508,20.8356673 C44.7504215,20.374141 44.6627092,19.7036631 44.2474425,19.3388181 L23.1340731,0.78903332 Z" id="Combined-Shape" fill="#25272D" />
                                </g>
                            </g>
                        </g>
                    </svg>
                    <div style="float: right;line-height: 1.2em;">
                        <div>Hlídač</div><div><strong>státu</strong></div>
                    </div>
                </a>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                <div class="hamburger-toggle">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbar-content">

                <ul class="d-none d-lg-block navbar-nav mr-auto mb-2 mb-lg-0 mainmenu">
                    <li class="nav-item mainmenu">
                        <a class="nav-link active" aria-current="page" href="" onclick="return false;" style="visibility:hidden;cursor:pointer;">&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                        <a class="nav-link dropdown-toggle mainmenu" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Úřady<br />a úředníci</a>
                        @* Urady a urednici megacontent *@
                        <div class="dropdown-menu shadow">
                            <cache expires-after="@Constants.CachedActionLength.Cache12H" enabled="@(!Html.IsDebug())">
                                <partial name="MegaMenu/_urady" />
                            </cache>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                        <a class="nav-link dropdown-toggle mainmenu" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Firmy, sponzoři,<br />politické strany</a>
                        <div class="dropdown-menu shadow">
                            <cache expires-after="@Constants.CachedActionLength.Cache12H" enabled="@(!Html.IsDebug())">
                                <partial name="MegaMenu/_firmy" />
                            </cache>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                        <a class="nav-link dropdown-toggle mainmenu" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Smlouvy<br />se státem</a>
                        @* Smlouvy megacontent *@
                        <div class="dropdown-menu shadow">
                        <cache expires-after="@Constants.CachedActionLength.Cache12H" enabled="@(!Html.IsDebug())">
                            <partial name="MegaMenu/_smlouvy" />
                        </cache>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                        <a class="nav-link dropdown-toggle mainmenu" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Veřejné<br />zakázky</a>
                        @* Verejne zakazky megacontent *@
                        <div class="dropdown-menu shadow">
                        <cache expires-after="@Constants.CachedActionLength.Cache12H" enabled="@(!Html.IsDebug())">
                            <partial name="MegaMenu/_verejnezakazky" />
                        </cache>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                        <a class="nav-link dropdown-toggle mainmenu" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Dotace a<br />další</a>
                        <div class="dropdown-menu shadow">
                        <cache expires-after="@Constants.CachedActionLength.Cache12H" enabled="@(!Html.IsDebug())">
                            <partial name="MegaMenu/_dalsi" />
                        </cache>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-mega position-static mainmenu">
                        <a class="nav-link dropdown-toggle mainmenu" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Vše o Hlídači<br /><i class="fas fa-heart" style="color:red" aria-hidden="true"></i> Podpořte nás</a>
                        <div class="dropdown-menu shadow">
                            <partial name="MegaMenu/_hlidac" />
                        </div>
                    </li>
                </ul>
                <ul class="d-lg-none navbar-nav mr-auto mb-2 mb-lg-0 list-group">
                    <li class="nav-item list-group-item mainmenu fw-bold">
                        <a href="/menupage/urady">Úřady a úředníci</a>
                    </li>
                    <li class="nav-item list-group-item mainmenu fw-bold">
                        <a href="/menupage/firmy">
                            Firmy, sponzoři,
                            politické strany
                        </a>
                    </li>
                    <li class="nav-item list-group-item mainmenu fw-bold">
                        <a href="/menupage/smlouvy">Smlouvy státu</a>
                    </li>
                    <li class="nav-item list-group-item mainmenu fw-bold">
                        <a href="/menupage/verejnezakazky">Veřejné zakázky</a>
                    </li>
                    <li class="nav-item list-group-item mainmenu fw-bold">
                        <a href="/menupage/dalsi">Dotace a další</a>
                    </li>
                    <li class="nav-item list-group-item mainmenu fw-bold">
                        <a href="/menupage/hlidac">Vše o Hlídači</a>
                    </li>
                    <li class="nav-item list-group-item mainmenu bg-body-secondary">

                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <a href="/manage/Watchdogs"
                               alt="Všichni uložení hlídači" title="Všichni uložení hlídači"
                               onclick="_my_event('send', 'event', 'btnWatchDog', 'List', 'authenticated');" role="button"
                               class="btn btn-warning btn-sm"
                               style="margin-right: 0.5em;">
                                <i style="color:black;" class="fas fa-eye"></i>
                            </a>

                            <a style="color:#c9302c;margin-right: 0.4em;position:relative;"
                               title="Všechny uložené záložky" alt="Všechny uložené záložky"
                               href="/manage/zalozky" class="bookmark bookmarkOn btn btn-small">
                                <i class="fa-duotone fa-bookmark fa-lg"></i>

                            </a>
                            <a style="margin-right: 0.5em;position:relative" href="/Identity/Account/manage/"
                               title="Nastavení účtu" alt="Nastavení účtu"><i class="fa-solid fa-user fa-xl"></i></a>

                            <a style="position:relative;font-weight:bolder"
                               href="/Identity/Account/Logout?rnd=@Guid.NewGuid().ToString("N")">Odhlásit</a>
                        }
                        else
                        {
                            string nextUrl = Context.Request.GetEncodedPathAndQuery();
                            if (nextUrl.ToLower().StartsWith(System.Net.WebUtility.UrlEncode("Identity/account/")))
                            {
                                nextUrl = "";
                            }

                            <a style="position:relative;font-weight:bolder;margin-right:1em;"
                               onclick="_my_event('send', 'event', 'loginBtn', 'click','@Context.Request.Path'); return true;"
                               href="/Identity/Account/Login?returnUrl=@(nextUrl)"
                               id="loginLink">
                                <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                                Přihlášení
                            </a>
                            <a style="position:relative;font-weight:bolder"
                               onclick="_my_event('send', 'event', 'registerBtn', 'click','@Context.Request.Path'); return true;"
                               href="/Identity/Account/Register?returnUrl=@(nextUrl)" id="regLink">
                                <i class="fa-solid fa-file-user fa-lg"></i> Registrace
                            </a>
                        }

                    </li>
                </ul>
            </div>
            <div class="d-none d-lg-flex rightmenu">

                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <a href="/manage/Watchdogs"
                       alt="Všichni uložení hlídači" title="Všichni uložení hlídači"
                       onclick="_my_event('send', 'event', 'btnWatchDog', 'click', 'authenticated');" role="button"
                       class="btn btn-warning btn-sm"
                       style="margin-right: 0.5em;">
                        <i style="color:black;" class="fas fa-eye"></i>
                    </a>

                    <a style="display:block;color:#c9302c;margin-right: 0.4em;position:relative;top:6px;"
                       title="Všechny uložené záložky" alt="Všechny uložené záložky"
                       onclick="_my_event('send', 'event', 'bookmarkListBtn', 'click','@Context.Request.Path'); return true;"
                       href="/manage/zalozky" class="bookmark bookmarkOn btn btn-small">
                        <i class="fa-duotone fa-bookmark fa-lg"></i>

                    </a>
                    <a style="display:block;margin-right: 0.5em;top:10px;position:relative" href="/Identity/Account/manage/"
                       onclick="_my_event('send', 'event', 'manageBtn', 'click','@Context.Request.Path'); return true;"
                       title="Nastavení účtu" alt="Nastavení účtu"><i class="fa-solid fa-user fa-xl"></i></a>

                    <a style="display:block;top:10px;position:relative;font-weight:bolder"
                       onclick="_my_event('send', 'event', 'logoutBtn', 'click','@Context.Request.Path'); return true;"
                       href="/Identity/Account/Logout?rnd=@Guid.NewGuid().ToString("N")">Odhlásit</a>
                }
                else
                {
                    string nextUrl = Context.Request.GetEncodedPathAndQuery();
                    if (nextUrl.ToLower().StartsWith(System.Net.WebUtility.UrlEncode("Identity/account/")))
                    {
                        nextUrl = "";
                    }

                    <a style="display:block;top:10px;position:relative;font-weight:bolder;margin-right:1em;"
                       onclick="_my_event('send', 'event', 'loginBtn', 'click','@Context.Request.Path'); return true;"
                       href="/Identity/Account/Login?returnUrl=@(nextUrl)"
                       id="loginLink">
                        <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                        Přihlášení
                    </a>
                    <a style="display:block;top:10px;position:relative;font-weight:bolder"
                       onclick="_my_event('send', 'event', 'registerBtn', 'click','@Context.Request.Path'); return true;"
                       href="/Identity/Account/Register?returnUrl=@(nextUrl)" id="regLink">
                        <i class="fa-solid fa-file-user fa-lg"></i> Registrace
                    </a>
                }

            </div>
        </div>
    </nav>
    <!-- ##/head## -->
    @if (IsSectionDefined("title"))
    {
        <div class="d-print-none">
            @RenderSection("title", required: false)
        </div>
    }
    else
    {
        <div class="header__content header__content--compact  d-print-none">
            <div class="header__search">
                <form class="header__search__input-wrapper old-search-input" id="old-search-input" method="get" style="visibility:visible">
                    <input value="@ViewBag.Query" id="Q" name="Q" type="text" class="header__search__input" placeholder="Smluvní strana, Název instituce, Jméno osoby, IČO, téma smlouvy …">
                    <button class="header__search__btn" formaction="/hledat">Hledat</button>
                </form>
                
                <div id="new-search-input" class="new-search-input">
                    <partial name="_AutocompletePartial"/>
                </div>


                <div>
                    <button class="header__search__hint btn btn-link new-search-input" style="margin-right: 5px; text-decoration: none; padding-top: 2px; font-size: 15px;color:#FFBF66">
                        <i class="fas fa-blind"></i> Přepnout na vyhledávání bez našeptávače
                    </button>
                    <button class="header__search__hint btn btn-link old-search-input" style="margin-right: 5px; text-decoration: none; padding-top: 2px; font-size: 15px;color:#FFBF66">
                        <i class="fas fa-baby"></i> Přepnout na vyhledávání s našeptávačem
                    </button>
                    <a class="header__search__hint" style="padding-top:2px;font-size:15px;text-decoration:none;" href="/napoveda">
                        <i class="fa-regular fa-question-square" style=""></i> Nápověda jak vyhledávat
                    </a>
                    <a class="header__search__hint float-end" style="padding-top:2px;font-size:15px;text-decoration:none;" href="/snadnehledani">
                        <i class="fa-regular fa-magnifying-glass"></i> Snadné hledání
                    </a>
                </div>
            </div>

        </div>
    }


    <div class="container">

        @if (IsSectionDefined("breadcrumb"))
        {
            @RenderSection("breadcrumb", required: false)
        }

        @if (
        !(ViewBag.HideTitle == true)
        &&
        !string.IsNullOrEmpty((string)ViewBag.Title)
        )
        {
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="new-title text-start">
                        @if (Model as IBookmarkable == null) //ViewBag.ShowBookmarkUrl == true)
                        {
                            <add-bookmark name="@(ViewBag.Title + " " + ViewBag.SubTitle)" url="@Context.Request.GetDisplayUrl()" style="font-size:0.7em;vertical-align:top;"></add-bookmark>
                        }
                        else
                        {
                            <add-bookmark item="@Model"></add-bookmark>
                        }
                        @ViewBag.Title

                        @if (!string.IsNullOrEmpty((string)ViewBag.SubTitle))
                        {
                            <small>
                                @ViewBag.SubTitle
                            </small>
                        }

                    </h1>
                </div>
            </div>
        }
        @RenderBody()
    </div>

    <partial name="BackToTop" />

    <partial name="_Footer" />

    @await RenderSectionAsync("footerscripts", required: false)
    <!-- render-scripts -->
    <render-scripts></render-scripts>

    <partial name="ads/_bookmark" />

    <partial name="ads/_ceny" />



    @if (!(this.User?.Identity?.IsAuthenticated == true))
    {
        <div id="bookmarkInfoAnon" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title">Záložky</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Pokud vás zaujme nějaký dokument, profil firmy, výsledek hledání či prakticky jakýkoliv údaj na Hlídači,
                            <b>nemusíte si ho pamatovat</b>. Stačí si ho uložit do záložek a my si to zapamatujeme za vás.
                        </p>
                        <p>
                            Uložení záložky je snadné, stačí kliknout na ikonu  <a style="font-size:120%" href="#" class="bookmark bookmarkOff" onclick="javascript:return false;"></a>.
                            Pokud už je konkrétní záložka vytvořená, pak je vybarvena červeně <a style="font-size:120%" href="#" class="bookmark bookmarkOn" onclick="javascript:return false;"></a>.
                        </p>
                        <p>Abychom ale vědeli, komu jaké záložky patří, <a href="/Identity/Account/login" class="btn btn-default">musíte se zalogovat</a>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Zavřít</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- /.modal -->
        string anontitle = "Veřejné zakázky";
        string anonbody = "Podrobné informace o veřejných zakázkách jsou z licenčních důvodů dostupné pouze registrovaným uživatelům Hlídače Státu. Registrace je zdarma a je velmi jednoduchá.";
        if (Context.Request.GetDisplayUrl().ToLower().Contains("insolvence"))
        {
            anontitle = "Insolvence";
            anonbody = "Podrobné informace o insolvencích jsou dostupné pouze registrovaným uživatelům Hlídače Státu. Registrace je zdarma a je velmi jednoduchá. "
            + "<br/><br/><b>Novináři a datový analytici</b> mají přístup ke všem datům, ostatní pouze k insolvencím, které mají vztah ke kontrole státu a firem a osob s ním obchodujícím.";
        }

        <div id="VZInfoAnon" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title">@anontitle</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            @Html.Raw(anonbody)
                        </p>
                        <p>Pokud jste již zaregistrováni, <a id="VZInfoAnonLogin" href="/Identity/Account/login?returnUrl=" class="btn btn-default">zalogujte se</a>. </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Zavřít</button>
                        <a id="VZInfoAnonRegister" onclick="_my_event('send', 'event', 'registerBtn', 'click','@Context.Request.Path#VZPristupOmezen'); return true;" href="/Identity/account/Register?returnUrl=" class="btn btn-primary">Zaregistrovat se</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- /.modal -->
    }


    @if (IsSectionDefined("bottomlinemsg"))
    {
        @RenderSection("bottomlinemsg", required: false)
    }
    else
    {
        if (DateTime.Now < new DateTime(2023, 03, 01, 0, 0, 0))
        {
            string[] colors = new[] { "primary", "success", "danger", "warning", "info", "dark" };
            string[] txts = new[]
            {
    "Analýza <b>obvyklých cenových relacích za ICT služby</b>. Unikátní analýza opět ke stažení.",
    "Cenové analýzy Hlídače státu: <b>unikátní nástroj</b> pro státní správu i dodavatele.",
    "Detailní přehled obvyklých cen za služby v ICT oblasti <b>aktuálně k dispozici</b>.",
    "Kdo, s kým a za kolik v IT? My to víme a <b>nyní můžete i vy</b>!",
    "Navazujeme na přehled obvyklých cen ICT prací od Ministerstva vnitra: analýza cen ICT služeb a prací.",
    "Přehled obvyklých cen IT prací. <b>Chcete znát ceny vašich konkurentů na trhu?</b>",
    "Nejrozsáhlejší a nejspolehlivější analýza jednotkových cen ICT prací na českém trhu.",
    "Pomoc úřadům i dodavatelům ve výběrových řízeních - Přehled obvyklých cen ICT prací.",
    "Přehled a rozptyl jednotkových cen ICT služeb je na českém trhu.",
    "Přehled obvyklých cen IT prací ve státní správě. <b>Jistota při zadávání veřejných zakázek.</b>",
    "Přehled obvyklých cen IT prací. <b>Znáte ceny vašich konkurentů?</b> My ano. Můžete i vy!",
    };
            int tipIndex = 0;
            string tipTxt = txts.TipOfTheDay(out tipIndex);

            <div class="fixed-bottom alert alert-@(colors.TipOfTheDay()) adlinemsg " role="alert" style="margin-bottom:0">
                <div class="text-center center-block adlinemsgtxt " style="">
                    @Html.Raw(tipTxt)
                    <a class="btn btn-dark btn-sm" href="https://www.WatchdogAnalytics.cz/?utm_source=hp&utm_medium=referral&utm_campaign=start&utm_content=stickyFooter_ad@(tipIndex)" role="button"><b>Více 👉</b></a>
                </div>
            </div>
            <div style="margin-bottom:50px">&nbsp;</div>
        }
    }



    @{
        if (IsSectionDefined("onlyembed"))
        {
            IgnoreSection("onlyembed");
        }
    }
</body>
</html>