@using HlidacStatu.Extensions
@using HlidacStatu.Datastructures.Graphs
@using HlidacStatu.Repositories
@model HlidacStatu.Entities.Firma

@{
    var ovmCats = await Model.KategorieOVMAsync();
}
<p>
    @if (Model.JsemOVM())
    {
        <span>Úřad - orgán veřejné moci. @Model.Kod_PF_Popis().</span>
    }
    else if (Model.JsemStatniFirma())
    {
        <span>Firma (spolu)vlastněná státem či samosprávou. @Model.Kod_PF_Popis().</span>
    }
    else if (Model.JsemPolitickaStrana())
    {
        <span>Politická strana.</span>
    }
    else
    {
        <span>Soukromá firma. @Model.Kod_PF_Popis().</span>
    }
    @if (!string.IsNullOrWhiteSpace(Model.StatusFull()))
    {
        <span class="text-muted">@Model.StatusFull().</span>
    }
    @if (Model.AktualniVazby(Relation.AktualnostType.Nedavny).Any())
    {
        if (Model.PatrimStatu())
        {
            <span>
                Řídí <a href="/subjekt/Vazby/@Model.ICO">@(Devmasters.Lang.CS.Plural.Get(Model.PocetPodrizenychSubjektu(Relation.AktualnostType.Nedavny), "jednu podřízenou organizaci", "{0} podřízené organizace", "{0} podřízených organizací")).</a>
            </span>
        }
        else
        {
            <span>
                Řídí <a href="/subjekt/Vazby/@Model.ICO">@(Devmasters.Lang.CS.Plural.Get(Model.PocetPodrizenychSubjektu(Relation.AktualnostType.Nedavny), "jeden podřízený subjekt", "{0} podřízené subjekty", "{0} podřízených subjektů")).</a>
            </span>
        }
    }
    @if (ovmCats.Any())
    {
        <span>
            Je součástí <a href="/subjekt/DalsiInformace/@Model.ICO">@Devmasters.Lang.CS.Plural.Get(ovmCats.Count(), "jedné kategorie", "{0} kategorií", "{0} kategorií") orgánu veřejné moci.</a>
        </span>
    }
</p>