@model DynamicModalViewModel

@{
    string modalId = $"m{Devmasters.TextUtil.GenRandomString(10)}"; 
}
<a href="#" data-bs-toggle="modal" id="btn@(modalId)" data-bs-target="#@(modalId)Form" data-remote="false" class="@Model.CssClass" style="@Model.Style">
    <span class="fal fa-edit" aria-hidden="true"></span>@(Model.NazevOdkazu)
</a>
<div class="modal fade" id="@(modalId)Form" tabindex="-1" role="dialog" aria-labelledby="@(modalId)Title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="@(modalId)content">
        </div>
    </div>
</div>
<script>
    $('#btn@(modalId)').on('click', function () {
        $('#@(modalId)content').html('<div class="loader2">@(Model.LoadingText)</div>');
        $('#@(modalId)content').load('@(Model.DynamicContentRelUrl)modalId=@(modalId)', function () {
            $('#@(modalId)Form').modal({ show: true });
        });
    });
</script>
