@using Microsoft.AspNetCore.Http.Extensions
@model FeedbackPrilohaViewModel

@{
    string idPrefix = $"m{Guid.NewGuid():N}";
}
<!-- Button trigger modal -->
<button class="@Model.Style" data-bs-toggle="modal" data-bs-target="#@(idPrefix)fbForm">Zpřístupnit tuto přílohu</button> <!-- Modal -->
<div class="modal fade" id="@(idPrefix)fbForm" tabindex="-1" role="dialog"
     aria-labelledby="@(idPrefix)fbTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal">
                    
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="@(idPrefix)fbTitle">
                    Zpřístupnění skryté přílohy
                </h4>
                <p>
                    Přílohy zneplatněných smluv jsou z registru smluv smazané (obvykle z důvodu ochrany osobních údajů). My je však pro jistotu uchováváme, ale nezveřejňujeme.
                </p>
                <p>
                    Pokud existuje závažný veřejný zájem na dostupnosti této přílohy, pošlete nám podrobnosti/odůvodnění a my vám přílohu zpřístupníme.
                </p>
            </div>

            <!-- Modal Body -->
            <form class="form-horizontal" role="form">
                <div class="modal-body">

                    <input type="hidden" name="@(idPrefix)fbUrl" id="@(idPrefix)fbUrl" value="@Context.Request.GetDisplayUrl()"/>
                    <input type="hidden" name="@(idPrefix)fbPriloha" id="@(idPrefix)fbUrl" value="@Model.PrilohaId"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="@(idPrefix)fbInputTxt">
                            Vzkaz, odůvodnění
                        </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="@(idPrefix)fbInputTxt" cols="60" rows="5" placeholder="Text zprávy"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="@(idPrefix)fbInputEmail">
                            Váš email
                        </label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control"
                                   id="@(idPrefix)fbInputEmail" placeholder="Email"/>
                        </div>
                    </div>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                        Zrušit
                    </button>
                    <button type="button" onclick="send@(idPrefix)();" class="btn btn-primary" data-bs-dismiss="modal">
                        Odeslat vzkaz
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function send@(idPrefix)() {
        var prf = '#@(idPrefix)';
        var typ = "Zpřístupnění přílohy";
        var email = $(prf + "fbInputEmail").val();
        var text = $(prf + "fbInputTxt").val();
        var url = $(prf + "fbUrl").val();
        $.get("/sendFeedbackMail", { typ: typ, email: email, txt: text, url: url })
          .always(function () {
              alert("Děkujeme za zaslání zprávy.");
          });

    }
</script>