@using Microsoft.AspNetCore.Http.Extensions
@model FeedbackViewModel

@{
    bool defaultForm = Model.Options == null;
    string[] defaultOptions = new string[]
    {
        "Chyba", "Chci upozornit na chybu",
        "Afera", "Tuhle aféru byste meli sledovat",
        "Stiznost", "Chci si stěžovat",
        "Pochvala", "Chci vás pochválit",
        "NabidkaPomoci", "Nabízím vám pomoc",
        "Jiné", "Jiné",
    };
    if (defaultForm)
    {
        Model.Options = defaultOptions;
    }

    if (string.IsNullOrEmpty(Model.Style))
    {
        Model.Style = "btn btn-primary btn-sm";
    }
    if (string.IsNullOrEmpty(Model.IdPrefix))
    {
        Model.IdPrefix = $"m{Guid.NewGuid():N}";
    }

}
@if (Model.MustAuth == false || (Model.MustAuth && User.Identity?.IsAuthenticated == true))
{
    <!-- Button trigger modal -->
    <button class="@Model.Style" data-bs-toggle="modal" data-bs-target="#@(Model.IdPrefix)fbForm">@Model.ButtonText</button>
    <!-- Modal -->
    <div class="modal fade" id="@(Model.IdPrefix)fbForm" tabindex="-1" role="dialog"
         aria-labelledby="@(Model.IdPrefix)fbTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="@(Model.IdPrefix)fbTitle">
                        Upozornění na chybu Hlídače státu či poslání vzkazu
                    </h4>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal">
                        <span class="sr-only">Close</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    @if (defaultForm)
                    {
                        <div class="alert alert-danger" role="alert">
                                Opravy údajů u smlouvy je možné provádět pouze přes <a href="https://portal.gov.cz/registr-smluv/formulare" target="_blank">formuláře registru smluv</a>
                            <br/>
                            My pouze přebíráme údaje v registru smluv. Měnit je nemůžeme.
                        </div>
                    }
                    <form class="form-horizontal" role="form">
                        <input type="hidden" id="@(Model.IdPrefix)fbdata" name="@(Model.IdPrefix)fbdata" value="@Model.AddData"/>

                        <input type="hidden" name="@(Model.IdPrefix)fbUrl" id="@(Model.IdPrefix)fbUrl" value="@Context.Request.GetDisplayUrl()"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="@(Model.IdPrefix)fbInputTyp">
                                Typ zprávy
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control" id="@(Model.IdPrefix)fbInputTyp">
                                    @for (int i = 0; i < Model.Options?.Length; i = i + 2)
                                    {
                                        <option selected="@(Model.Options[i] == Model.SelectOption)" value="@Model.Options[i]">@Model.Options[i + 1]</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="@(Model.IdPrefix)fbInputTxt">
                                Vzkaz
                            </label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="@(Model.IdPrefix)fbInputTxt" cols="60" rows="5" placeholder="Text zprávy"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="@(Model.IdPrefix)fbInputEmail">
                                Váš e-mail
                            </label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control"
                                       id="@(Model.IdPrefix)fbInputEmail" placeholder="Email" value="@(User.Identity?.Name)"/>
                            </div>
                        </div>
                    </form>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-hs btn-secondary" data-bs-dismiss="modal">
                        Zrušit
                    </button>
                    <button type="button" onclick="send@(Model.IdPrefix)();" class="btn btn-hs btn-primary" data-bs-dismiss="modal">
                        Odeslat vzkaz
                    </button>
                    <br/>
                    <div>
                        <a class="btn btn-hs btn-secondary btn-sm" href="/Kontakt">Další kontakty zde</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function send@(Model.IdPrefix)() {
        var prf = '#@(Model.IdPrefix)';
        var typ = $(prf + "fbInputTyp").val();
        var email = $(prf + "fbInputEmail").val();
        var text = $(prf + "fbInputTxt").val();
        var url = $(prf + "fbUrl").val();
        var adddata = $(prf + "fbdata").val();
        $.get("/sendFeedbackMail", { typ: typ, email: email, txt: text, url: url, data: adddata, auth: @Model.MustAuth.ToString().ToLower() })
          .always(function () {
              alert("Děkujeme za zaslání zprávy.");
          });

    }
    </script>
}
else
{
    <text>
        <!-- Button trigger modal -->
        <button class="@Model.Style" data-bs-toggle="modal" data-bs-target="#@(Model.IdPrefix)fbForm">@Model.ButtonText</button>

        <!-- Modal -->
        <div class="modal fade" id="@(Model.IdPrefix)fbForm" tabindex="-1" role="dialog"
             aria-labelledby="@(Model.IdPrefix)fbTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="@(Model.IdPrefix)fbTitle">
                            Musíte být přihlášeni
                        </h4>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal">
                            
                            <span class="sr-only">Close</span>
                        </button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <p>Pro poslání vzkazu musíte být přihlášeni.</p>
                            <p>
                                <login-link></login-link>
                            </p>
                        </form>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-hs btn-secondary" data-bs-dismiss="modal">
                            Zavřít
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </text>
}