@using HlidacStatu.Repositories
@using PlatyUredniku.Models;
@using System.Collections.Generic;

@{
    bool max = this.Context.Request.Query.GetFirstQueryParameter("max") != "false";

    int minYear = Devmasters.ParseText.ToInt(this.Context.Request.Query.GetFirstQueryParameter("minyear")) ?? 2021;
    var orgs = await PuRepo.GetPlatyForYearsAsync(minYear, PuRepo.DefaultYear);

    List<PrumerPlatu> rusty = new();
    foreach (var org in orgs)
    {
        var platyCeos = org.Platy.Where(plat => plat.JeHlavoun == true).ToList();
        var platyPrvniRok = platyCeos.Where(p => p.Rok == minYear);
        var platyPosledniRok = platyCeos.Where(p => p.Rok == PuRepo.DefaultYear);
        if (!platyPrvniRok.Any() || !platyPosledniRok.Any())
            continue;

        var rustPlatu = new PrumerPlatu()
                {
                    DatovaSchrankaOrganizace = org.DS,
                    NazevOrganizace = org.Nazev,
                    PlatPrvniRok = platyPrvniRok.FirstOrDefault()?.HrubyMesicniPlatVcetneOdmen,
                    PlatPosledniRok = platyPosledniRok.FirstOrDefault()?.HrubyMesicniPlatVcetneOdmen,
                    PocetMesicu = platyPosledniRok.FirstOrDefault()?.PocetMesicu
                };

        //filter results
        if (
            rustPlatu.PlatPrvniRok > 0 && rustPlatu.PlatPosledniRok > 0
            )
        {
            if (max && rustPlatu.NarustProcentualni > 0)
                rusty.Add(rustPlatu);
            else if (max == false && rustPlatu.NarustProcentualni < 0)
                rusty.Add(rustPlatu);
        }

    }
}
@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">Platy úředníků</a>
        </li>
        <li>
            <a asp-action="Analyzy">Analýzy</a>
        </li>
        <li class="active">
            @(max ? "Největší navýšení" : "Největší snížení") platů nejvyšších představitelů od roku @minYear
        </li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
}

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h2>@(max ? "Největší navýšení" : "Největší snížení") platů nejvyšších představitelů od roku @minYear</h2>
        <p class="text-muted">
            Analýza @(max ? "největšího navýšení" : "největšího snížení")  platů včetně odměn
            <b>nejvyšších představených</b> jednotlivých úřadů, státních podniků
            či příspěvkových organizací mezi roky @minYear a @PuRepo.DefaultYear .
        </p>

        <div class="tab-pane width-75vp" id="rustPlatuCeo" role="tabpanel">
            <script>
                $(document).ready(function () {
                    $('#tblSum_rustPlatuCeo').DataTable(
                        {
                            'language': {
                                'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                            },
                            "searching": false,
                            "paging": true,
                            "pageLength": 20,
                            "lengthChange": false,
                            "ordering": true,
                            "order": [[3, @Html.Raw(max ? "'desc'" : "'asc'")]],
                            "info": false
                        });
                });
            </script>

            <table class="table table-borderless table-striped table-hover" id="tblSum_rustPlatuCeo">
                <thead class="table-light">
                <th>Organizace</th>
                <th><abbr title="Průměrný měsíční plat přepočtený z ročního příjmu včetně odměn">Měsíční plat</abbr> v @minYear</th>
                <th><abbr title="Průměrný měsíční plat přepočtený z ročního příjmu včetně odměn">Měsíční plat</abbr> v @PuRepo.DefaultYear</th>
                <th>Změna v %</th>
                <th>Změna v Kč</th>
                <th></th>
                </thead>
                <tbody>
                    @foreach (var prumerPlatu in rusty.OrderByDescending(p => p.NarustProcentualni))
                    {
                        <tr>
                            <td>
                                <a asp-action="Detail" asp-route-id="@prumerPlatu.DatovaSchrankaOrganizace">@prumerPlatu.NazevOrganizace</a>
                            </td>
                            <td class="number text-nowrap" data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(prumerPlatu.PlatPrvniRok ?? 0))">@HlidacStatu.Util.RenderData.NicePrice(prumerPlatu.PlatPrvniRok ?? 0)</td>
                            <td class="number text-nowrap" data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(prumerPlatu.PlatPosledniRok ?? 0))">@HlidacStatu.Util.RenderData.NicePrice(prumerPlatu.PlatPosledniRok ?? 0)</td>
                            <td class="number text-nowrap" data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(prumerPlatu.NarustProcentualni ?? 0))">@prumerPlatu.NarustProcentualni?.ToString("P")</td>
                            <td class="number text-nowrap" data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(prumerPlatu.NarustAbsolutni ?? 0))">@HlidacStatu.Util.RenderData.NicePrice(prumerPlatu.NarustAbsolutni ?? 0)</td>
                            <td>
                                @if (prumerPlatu.PocetMesicu < 12)
                                {
                                    <a href="#" class="link-danger" data-bs-toggle="tooltip" data-bs-title="Plat je pouze za @Devmasters.Lang.CS.Plural.Get((long)prumerPlatu.PocetMesicu.Value, "jeden měsíc", "{0} měsíce", "{0} měsíců") a může obsahovat odstupné či jinou smluvní odměnu"><i class="fa-solid fa-triangle-exclamation"></i>Info</a>
                                }
                                else
                                {
                                    <text>&nbsp;</text>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
