@using MathNet.Numerics.Statistics
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PlatyUredniku.Models
@model HlidacStatu.Entities.Entities.PuOrganizace

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

}

<style>

    .boxes h4 {
        font-size: 24px;
        font-weight: bold;
        padding-top: 20px;
    }

    .boxes p {
        font-size: 16px;
    }


    .boxes hr {
        border-top: 3px dotted #E0E6ED;
        margin-top: 24px;
        margin-bottom: 14px;
    }

</style>


@{
    int rok = (int)ViewData["rok"];
    string viewName = this.ViewContext.RouteData.Values["action"] as string;
    string currUrlWithoutYear = $"/{viewName}/{ViewData["id"]}";
    string currUrlWithYear = $"{currUrlWithoutYear}?rok={rok}";

    var metadataForYear = Model.Metadata.FirstOrDefault(m => m.Rok == rok);
}
<div class="row boxes">

    <div class="px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">@Model.Nazev</h2>
        <p>
            IČO: @Model.Ico <br />
            Datová schránka: @Model.DS <br />
            <a href="https://www.hlidacstatu.cz/subjekt/@(Model.Ico)">Více informací o subjektu</a>
        </p>
        
        @{
            var salariesYearly = Model.Platy
                .GroupBy(p => p.Rok, p => p)
                .OrderBy(k => k.Key)
                .ToDictionary(g => g.Key, g => g.Select(x => x).ToList());

            if (salariesYearly.Any())
            {
                Dictionary<int, AreaRangePlot.PlotData?> plotData = new();
                
                for (int year = salariesYearly.Keys.Min(); year <= salariesYearly.Keys.Max(); year++)
                {
                    AreaRangePlot.PlotData? dataForYear = new AreaRangePlot.PlotData();
                    
                    if (salariesYearly.TryGetValue(year, out var platyForYear))
                    {
                        var hrubeMesicniPlaty = platyForYear
                            .Select(p => (double)p.HrubyMesicniPlat)
                            .ToList();
                        dataForYear.Median = hrubeMesicniPlaty?.Median() ?? null;
                        dataForYear.Min = hrubeMesicniPlaty?.Min() ?? null;
                        dataForYear.Max = hrubeMesicniPlaty?.Max() ?? null; 
                        
                        var hrubeMesicniPlatyCeo = platyForYear
                            .Where(p=> p.JeHlavoun == true)
                            .Select(p => (double)p.HrubyMesicniPlat);
                        dataForYear.Ceo = hrubeMesicniPlatyCeo?.Sum() ?? null;

                    }
                    
                    plotData.Add(year, dataForYear);
                }
                
                var graphData = new AreaRangePlot()
                {
                    Title = "Vývoj platů",
                    Subtitle = "vývoj průměrného platu po letech",
                    Values = plotData
                };
                <partial name="Graphs/_AreaRangePlot" model="graphData"/>
                
            }
            
        }
        
        @if(metadataForYear != null)
        {
            <h4>Detaily komunikace ohledně platů za rok @metadataForYear.Rok</h4>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col d-flex align-items-start">
                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                    </div>
                    <div>
                        <h3 class="fs-2 text-body-emphasis">Doba trvání</h3>
                        <p>
                            Žádost o výši platů jsme odeslali @(metadataForYear.DatumOdeslaniZadosti?.ToString("dd.MM.yyyy"))
                            @if (metadataForYear.DatumPrijetiOdpovedi.HasValue)
                            {
                                <span>a odpověď obdrželi po
                                    @(Devmasters.Lang.CS.Plural.Get((int)(metadataForYear.DatumPrijetiOdpovedi.Value-metadataForYear.DatumOdeslaniZadosti.Value).TotalDays,"jednom dni","{0} dnech","{0} dnech")).
                                </span>
                            }
                        </p>
                    </div>
                </div>
                
                <div class="col d-flex align-items-start">
                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                    </div>
                    <div>
                        <h3 class="fs-2 text-body-emphasis">Zdůvodnění mimořádných odměn</h3>
                        <p>Součástí naší žádosti byl požadavek na zaslání odůvodnění mimořádných odměn pracovníků. Toto odůvodnění jsme @(metadataForYear.ZduvodneniMimoradnychOdmen == true ? "dostali" : "nedostali").</p>
                    </div>
                </div>
            </div>

        }
    </div>

    @{
        var platyPoLetech = Model.Platy.GroupBy(p => p.Rok).OrderByDescending(pg => pg.Key).ToList();
    }

    <div class="card">
        <div class="card-body">

            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link disabled" type="button" disabled="disabled">Rok</button>
                    @{
                        string classAttributes = "nav-link";

                        foreach (var platRok in platyPoLetech)
                        {
                            <a href="/@(viewName)/@(ViewData["id"])?rok=@(platRok.Key)" class="@classAttributes @((platRok.Key==rok) ? "active" : "")" >@platRok.Key</a>
                            
                        }
                    }
                </div>
                <div class="tab-content" >
                    @{
                        classAttributes = "tab-pane fade show active";

                        foreach (var platGroup in platyPoLetech.Where(m=>m.Key == rok))
                        {
                            <div class="@classAttributes" id="year-@platGroup.Key" role="tabpanel">
                                <script>
                                    $(document).ready(function () {
                                        $('#tblSum_@rok').DataTable(
                                            {
                                                'language': {
                                                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                                                },
                                                "paging": false,
                                                "ordering": true,
                                                "info": false
                                            });
                                    });
                                </script>

                                <table class="table table-striped" id="tblSum_@rok">
                                <thead>
                                    <tr>
                                        <th>NazevPozice</th>
                                        <th>Celkový roční<br />příjem</th>
                                        <th>Přepočtený průměrný<br />měsíční plat</th>
                                        <th>NefinancniBonus</th>
                                        <th>Detail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var plat in platGroup.OrderBy(p => p.DisplayOrder).ThenBy(p => p.NazevPozice))
                                    {
                                        <tr>
                                            <td><a href="@(currUrlWithYear)#plat@(plat.Id)">@plat.NazevPozice</a></td>
                                                <td data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(plat.CelkovyRocniPlat))" style="number">@HlidacStatu.Util.RenderData.NicePrice(plat.CelkovyRocniPlat)</td>
                                                <td data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(plat.HrubyMesicniPlat))">@HlidacStatu.Util.RenderData.NicePrice(plat.HrubyMesicniPlat)</td>
                                            <td>@plat.NefinancniBonus</td>
                                            <td><a href="@(currUrlWithYear)#plat@(plat.Id)"><i class="fa-regular fa-memo-circle-info"></i></a></td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            classAttributes = "tab-pane";
                        }
                    }
                </div>
            </div>
        </div>
    </div>


    @foreach (var platGroup in platyPoLetech.Where(m=>m.Key == rok))
    {
        @foreach (var plat in platGroup.OrderBy(p => p.DisplayOrder).ThenBy(p => p.NazevPozice))
        {
            <hr />
            <partial name="_platDetail" model="(@plat, @Model)" />
        }
    }
</div>