@using Devmasters
@using HlidacStatu.Entities
@using HlidacStatu.Repositories.SharedModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PlatyUredniku.Models
@using HlidacStatu.Repositories;
@using PlatyUredniku.Views.Shared.TagHelpers


@model HlidacStatu.Entities.PuOrganizace

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        function adjustDataTablesWidth() {
        $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        }
    </script>
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">Platy úředníků</a>
        </li>
        <li>
            <a asp-action="Oblasti">Oblasti</a>
        </li>
        <li>
            <hashtag tag="@ViewData["mainTag"]" style="font-size:13px; padding:0.2em"></hashtag>
        </li>
        <li class="active">@Model.Nazev</li>
    </ol>
}
@{
    bool sectionBgSwitch = false;
    var neaktivniOrg = PuRepo.GetNeaktivniOrganizace().ToArray();

}

<section class="d-flex align-items-center justify-content-center @(sectionBgSwitch ? "alter-bg-color" : "")">
    <div class="container">


        <h2 class="pb-2 border-bottom">@Model.Nazev</h2>
        <p>
            IČO: <a href="https://www.hlidacstatu.cz/subjekt/@(Model.Ico)" target=”_blank”>@Model.Ico<i class="fa-solid fa-arrow-up-right-from-square"></i></a> <br />
            Datová schránka: @Model.DS <br />
        </p>
        <div>
            @foreach (var tag in Model.Tags)
            {
                <hashtag tag="@tag.Tag"></hashtag>
            }
        </div>

        <div class="row">
            @if(Model.Platy.Any())
            {
                string cl = (this.User.IsInRole("Admin") && Model.PrijmyPolitiku.Any()) ? "col-md-6" : "";
                <div class="@cl">
                    <partial name="Graphs/_AreaRangePlot" model="@(new AreaRangeRenderOptions(){ Platy= Model.Platy, CssHeight="380" })" />
                </div>
            }
            @if(this.User.IsInRole("Admin") && Model.PrijmyPolitiku.Any())
            {
                string cl = Model.Platy.Any() ? "col-md-6" : "";
                <div class="@cl">
                    <partial name="Graphs/_AreaRangePlotPolitici" model="@(new AreaRangeRenderOptions(){ PrijmyPolitiku= Model.PrijmyPolitiku, CssHeight="380" })" />
                </div>
            }
        </div>
    </div>
</section>


@{
    var platyPoLetech = Model.Platy.GroupBy(p => p.Rok)
                .Select(m => new { Key = m.Key, Platy = m.ToList() })
                .ToList();

    if (platyPoLetech.Any(m => m.Key == PuRepo.DefaultYear) == false)
    {
        platyPoLetech.Add(new { Key = PuRepo.DefaultYear, Platy = new List<PuPlat>() });
    }

    platyPoLetech = platyPoLetech.OrderByDescending(pg => pg.Key).ToList();
}

@{
    var prijmyPoLetech = Model.PrijmyPolitiku.GroupBy(p => p.Rok)
        .Select(m => new { Key = m.Key, Platy = m.ToList() })
        .ToList();

    if (prijmyPoLetech.Any(m => m.Key == PpRepo.DefaultYear) == false)
    {
        prijmyPoLetech.Add(new { Key = PpRepo.DefaultYear, Platy = new List<PuPolitikPrijem>() });
    }

    prijmyPoLetech = prijmyPoLetech.OrderByDescending(pg => pg.Key).ToList();
}

@{
    sectionBgSwitch = !sectionBgSwitch;
}
<section class="d-flex justify-content-center  @(sectionBgSwitch ? "alter-bg-color" : "")">
    <div class="container">
        <div class="row">

            <div class="@((this.User.IsInRole("Admin") && Model.PrijmyPolitiku.Any()) ? "col-md-6" : "")">
                <h3>Přehled platů</h3>
                <div class="nav flex-row nav-pills my-5" id="v-pills-tab" role="tablist">
                    <button class="nav-link disabled" type="button" disabled="disabled">Rok</button>
                    @{
                        string classAttributes = "nav-link active";

                        foreach (var platRok in platyPoLetech)
                        {
                            <button class="@classAttributes"
                            id="year-@platRok.Key-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#year-@platRok.Key"
                            type="button"
                            role="tab"
                            onclick="adjustDataTablesWidth()">
                                @platRok.Key
                            </button>

                            classAttributes = "nav-link";
                        }
                    }
                </div>
                <div class="tab-content width-75vp">
                    @{
                        classAttributes = "tab-pane width-75vp fade show active";

                        foreach (var platGroup in platyPoLetech)
                        {
                            <div class="@classAttributes" id="year-@platGroup.Key" role="tabpanel">
                                <script>
                                    $(document).ready(function () {
                                    $('#tblSum_urednik_@platGroup.Key').DataTable(
                                    {
                                    'language': {
                                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                                    },
                                    "searching": false,
                                    "paging": false,
                                    "ordering": true,
                                    "order": [],
                                    "info": false
                                    });
                                    });
                                </script>

                                @if (platGroup.Platy.Count > 0)
                                {
                                    <table class="table table-borderless table-hover" id="tblSum_urednik_@platGroup.Key">
                                        <thead>
                                            <tr>
                                                <th>Název pozice</th>
                                                <th class="text-end">Celkový roční příjem</th>
                                                <th class="text-end">Přepočtený průměrný měsíční plat</th>
                                                <th style="max-width:20rem">Nefinanční bonus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var plat in platGroup.Platy.OrderBy(p => p.DisplayOrder).ThenBy(p => p.NazevPozice))
                                            {
                                                <tr>
                                                    <td>
                                                        <a asp-action="Plat" asp-route-id="@plat.Id">@plat.NazevPozice</a>
                                                    </td>
                                                    <td data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(plat.CelkovyRocniPlatVcetneOdmen))" class="number">
                                                        @if (plat.PocetMesicu < 12)
                                                        {
                                                            <a href="#" class="link-danger me-2" data-bs-toggle="tooltip" data-bs-title="Plat je pouze za @Devmasters.Lang.CS.Plural.Get((long)plat.PocetMesicu.Value, "jeden měsíc", "{0} měsíce", "{0} měsíců") a může obsahovat odstupné či jinou smluvní odměnu"><i class="fa-solid fa-circle-info"></i></a>
                                                        }

                                                        @HlidacStatu.Util.RenderData.NicePrice(plat.CelkovyRocniPlatVcetneOdmen)</td>
                                                    <td data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(plat.HrubyMesicniPlatVcetneOdmen))" class="number">
                                                        @if (plat.PocetMesicu < 12)
                                                        {
                                                            <a href="#" class="link-danger me-2" data-bs-toggle="tooltip" data-bs-title="Plat je pouze za @Devmasters.Lang.CS.Plural.Get((long)plat.PocetMesicu.Value, "jeden měsíc", "{0} měsíce", "{0} měsíců") a může obsahovat odstupné či jinou smluvní odměnu"><i class="fa-solid fa-circle-info"></i></a>
                                                        }
                                                        @HlidacStatu.Util.RenderData.NicePrice(plat.HrubyMesicniPlatVcetneOdmen)
                                                    </td>
                                                    <td>@plat.NefinancniBonus</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else 
                                {
                                    var desc = Model.GetMetadataDescription(PuOrganizaceMetadata.TypMetadat.PlatyUredniku, platGroup.Key);

                                    <div class="alert alert-@(desc.BootstrapStatus)" role="alert">
                                        <h4 class="alert-heading">@desc.TextStatus</h4>
                                        <p>@desc.Detail.</p>
                                    </div>
                                }
                                @*
                                else if (!Model.HasMetadataForYear(platGroup.Key, PuOrganizaceMetadata.TypMetadat.PlatyUredniku))
                                {
                                    <div class="alert alert-info" role="alert">
                                        <h4 class="alert-heading">V roce @platGroup.Key jsme o data nežádali.</h4>
                                        <p>Této organizace jsme se na data zapomněli zeptat</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Platy pro rok @platGroup.Key jsme nedostali</h4>
                                        <p>Požadované informace o platech a odměnách za rok 2023 jsme od @Model.Nazev nedostali.</p>
                                        <hr>
                                        <p class="mb-0">
                                            V souladu se zákonem o právu na informace se ptáme na platy nejvyššího představitele organizace a nejvyššího managementu pod ním.
                                        </p>
                                    </div>
                                }
                                *@
                            </div>
                            classAttributes = "tab-pane width-75vp";
                        }
                    }
                </div>
            </div>
            <div class="@((this.User.IsInRole("Admin") && Model.Platy.Any()) ? "col-md-6" : "") @(Model.PrijmyPolitiku.Any() ? "" : "d-none")">
                <h3>Přehled přijmů politiků</h3>
                <div class="nav flex-row nav-pills my-5" id="v-pills-tab" role="tablist">
                    <button class="nav-link disabled" type="button" disabled="disabled">Rok</button>
                    @{
                        string classAttributesPrijemPolitika = "nav-link active";

                        foreach (var prijemRok in prijmyPoLetech)
                        {
                            <button class="@classAttributesPrijemPolitika"
                                    id="year-@prijemRok.Key-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#year-@prijemRok.Key"
                                    type="button"
                                    role="tab"
                                    onclick="adjustDataTablesWidth()">
                                @prijemRok.Key
                            </button>

                            classAttributesPrijemPolitika = "nav-link";
                        }
                    }
                </div>
                <div class="tab-content width-75vp">
                    @{
                        classAttributesPrijemPolitika = "tab-pane width-75vp fade show active";

                        foreach (var prijemGroup in prijmyPoLetech)
                        {
                            <div class="@classAttributesPrijemPolitika" id="year-@prijemGroup.Key" role="tabpanel">
                                <script>
                                    $(document).ready(function () {
                                        $('#tblSum_politik_@prijemGroup.Key').DataTable(
                                            {
                                                'language': {
                                                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                                                },
                                                "searching": false,
                                                "paging": false,
                                                "ordering": true,
                                                "order": [],
                                                "info": false
                                            });
                                    });
                                </script>

                                @if (prijemGroup.Platy.Count > 0)
                                {
                                    <table class="table table-borderless table-hover" id="tblSum_politik_@prijemGroup.Key">
                                        <thead>
                                        <tr>
                                            <th>Název pozice</th>
                                            <th class="text-end">Celkový roční příjem</th>
                                            <th class="text-end">Přepočtený průměrný měsíční plat</th>
                                            <th style="max-width:20rem">Nefinanční bonus</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var prijemPolitika in prijemGroup.Platy.OrderBy(p => p.DisplayOrder).ThenBy(p => p.NazevFunkce))
                                        {
                                            <tr>
                                                <td>
                                                    <a asp-action="Prijem" asp-route-id="@prijemPolitika.Id">@prijemPolitika.NazevFunkce</a>
                                                </td>
                                                <td data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(prijemPolitika.CelkovyRocniPlatVcetneOdmen))" class="number">
                                                    @if (prijemPolitika.PocetMesicu < 12)
                                                    {
                                                        <a href="#" class="link-danger me-2" data-bs-toggle="tooltip" data-bs-title="Plat je pouze za @Devmasters.Lang.CS.Plural.Get((long)prijemPolitika.PocetMesicu.Value, "jeden měsíc", "{0} měsíce", "{0} měsíců") a může obsahovat odstupné či jinou smluvní odměnu"><i class="fa-solid fa-circle-info"></i></a>
                                                    }

                                                    @HlidacStatu.Util.RenderData.NicePrice(prijemPolitika.CelkovyRocniPlatVcetneOdmen)</td>
                                                <td data-order="@(HlidacStatu.Util.RenderData.OrderValueFormat(prijemPolitika.HrubyMesicniPlatVcetneOdmen))" class="number">
                                                    @if (prijemPolitika.PocetMesicu < 12)
                                                    {
                                                        <a href="#" class="link-danger me-2" data-bs-toggle="tooltip" data-bs-title="Plat je pouze za @Devmasters.Lang.CS.Plural.Get((long)prijemPolitika.PocetMesicu.Value, "jeden měsíc", "{0} měsíce", "{0} měsíců") a může obsahovat odstupné či jinou smluvní odměnu"><i class="fa-solid fa-circle-info"></i></a>
                                                    }
                                                    @HlidacStatu.Util.RenderData.NicePrice(prijemPolitika.HrubyMesicniPlatVcetneOdmen)
                                                </td>
                                                <td>@prijemPolitika.NefinancniBonus</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                }
                                else if (neaktivniOrg.Any(m => m.Item1 == Model.DS))
                                {
                                    <div class="alert alert-warning" role="alert">
                                        <h4 class="alert-heading">Platy pro rok @prijemGroup.Key jsme nedostali</h4>
                                        <p>@Model.Nazev je zaniklá organizace anebo v likvidaci.</p>
                                    </div>

                                }
                                else if (!Model.HasMetadataForYear(prijemGroup.Key, PuOrganizaceMetadata.TypMetadat.PlatyPolitiku))
                                {
                                    <div class="alert alert-info" role="alert">
                                        <h4 class="alert-heading">V roce @prijemGroup.Key jsme o data nežádali.</h4>
                                        <p>Této organizace jsme se na data zapomněli zeptat</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Platy pro rok @prijemGroup.Key jsme nedostali</h4>
                                        <p>Požadované informace o platech a odměnách za rok 2023 jsme od @Model.Nazev nedostali.</p>
                                        <hr>
                                        <p class="mb-0">
                                            V souladu se zákonem o právu na informace se ptáme na platy nejvyššího představitele organizace a nejvyššího managementu pod ním.
                                        </p>
                                    </div>
                                }

                            </div>
                            classAttributesPrijemPolitika = "tab-pane width-75vp";
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@{
    string[] compareTo = Model.CZISCO?.Split(new char[] { ',', ';', ' ' }, StringSplitOptions.RemoveEmptyEntries);
}
@if (compareTo?.Length > 0 && Model.Platy != null && Model.Platy.Any())
{
    sectionBgSwitch = !sectionBgSwitch;
    <section class="d-flex justify-content-center @(sectionBgSwitch ? "alter-bg-color" : "")">
        <div class="container">
            <h3>Porovnání vývoje platů vzhledem k vybraným kategoriím pracovníků</h3>

            @{
                //AreaRangePlot uradData =
                List<AreaRangePlot> data = new List<AreaRangePlot>();
                data.Add(AreaRangePlot.ToAreaRangePlotWithPrumer(Model.Platy, Model.Nazev));
                if (Model.Nazev.Contains("Ministerstvo"))
                {
                    data[0].ExtraTitle = "Ministr/yně";
                }
                else if (Model.Platy.Any(m => m.JeHlavoun == true))
                {
                    data[0].ExtraTitle = Model.Platy.Where(m => m.JeHlavoun == true).OrderByDescending(m => m.Rok).First().NazevPozice;
                }
                else
                {
                    data[0].ExtraTitle = "Nejvyšší představitel/ka organizace";
                }

                foreach (var compItem in compareTo)
                {
                    var d = await PuRepo.LoadVydelekForZamestnaniAsync(compItem, HlidacStatu.Entities.PuVydelek.VydelekSektor.StatSamosprava);
                    if (d?.Any() == true)
                    {
                        var dName = d.OrderByDescending(m => m.Rok).Select(m => m.FullNazevKategorieZamestnani()).FirstOrDefault().ShortenMe(140);
                        data.Add(AreaRangePlot.ToAreaRangePlotWithPrumer(d, dName));
                    }
                    d = await PuRepo.LoadVydelekForZamestnaniAsync(compItem, HlidacStatu.Entities.PuVydelek.VydelekSektor.Soukromy);
                    if (d?.Any() == true)
                    {
                        var dName = d.OrderByDescending(m => m.Rok).Select(m => m.FullNazevKategorieZamestnani()).FirstOrDefault().ShortenMe(140);
                        data.Add(AreaRangePlot.ToAreaRangePlotWithPrumer(d, dName));
                    }

                }

                //calculate height
                var height = 430
                + data.Count() * 12 //pul radku na jednu serii
                + (data.Count(m => m.Title.Length > 80) * 17); //dlouhe nazvy serii pocitej na cely radek

                AreaRangeCompareRenderOptions chartModel = new AreaRangeCompareRenderOptions()
                {
                    CssHeight = height.ToString(),
                    Data = data.ToArray(),
                    Title = "Porovnání s jinými oblastmi trhu"
                };
                <partial name="Graphs/_AreaRangeComparePlot" model="@chartModel" />
            }

        </div>
    </section>
}



@if (Model.Metadata.Any())
{
    sectionBgSwitch = !sectionBgSwitch;

    <section class="d-flex justify-content-center @(sectionBgSwitch ? "alter-bg-color" : "")">
        <div class="container">
            <div class="row">
                <div class="@((this.User.IsInRole("Admin") && Model.MetadataPrijmyPolitiku.Any()) ? "col-md-6" : "")">
                    <h3>Detaily komunikace instituce ohledně platů</h3>
                    <div class="nav flex-row nav-pills my-5" id="v-meta-pills-tab" role="tablist">
                        <button class="nav-link disabled" type="button" disabled="disabled">Rok</button>
                        @{
                            string metadataClassAttributes = "nav-link active";

                            foreach (var metadata in Model.MetadataPlatyUredniku.OrderByDescending(m => m.Rok))
                            {
                                <button class="@metadataClassAttributes"
                                        id="meta-year-@metadata.Rok-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#meta-year-@metadata.Rok"
                                        type="button"
                                        role="tab">
                                    @metadata.Rok
                                </button>

                                metadataClassAttributes = "nav-link";
                            }
                        }
                    </div>
                    <div class="tab-content width-75vp">
                        @{
                            metadataClassAttributes = "tab-pane width-75vp fade show active";

                            foreach (var metadataForYear in Model.MetadataPlatyUredniku.OrderByDescending(m => m.Rok))
                            {
                                <div class="@metadataClassAttributes" id="meta-year-@metadataForYear.Rok" role="tabpanel">
                                    <div>
                                        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                                            <div class="col d-flex align-items-start">
                                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                                    <svg class="bi" width="1em" height="1em">
                                                        <use xlink:href="#toggles2"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <h4 class="fw-bold">Doba trvání</h4>
                                                    <p>
                                                        Žádost o výši platů jsme odeslali @(metadataForYear.DatumOdeslaniZadosti?.ToString("dd.MM.yyyy"))
                                                        @if (metadataForYear.DatumPrijetiOdpovedi.HasValue)
                                                        {
                                                            <span>
                                                                a odpověď obdrželi po
                                                                @(Devmasters.Lang.CS.Plural.Get((int)(metadataForYear.DatumPrijetiOdpovedi.Value - metadataForYear.DatumOdeslaniZadosti.Value).TotalDays, "jednom dni", "{0} dnech", "{0} dnech")).
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span>odpověď jsem zatím neobdrželi nebo nezpracovali.</span>
                                                        }
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col d-flex align-items-start">
                                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                                    <svg class="bi" width="1em" height="1em">
                                                        <use xlink:href="#cpu-fill"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <h4 class="fw-bold">Zdůvodnění mimořádných odměn</h4>
                                                    <p>Součástí naší žádosti byl požadavek na zaslání odůvodnění mimořádných odměn pracovníků. Toto odůvodnění jsme @(metadataForYear.ZduvodneniMimoradnychOdmen == true ? "dostali" : "nedostali").</p>
                                                </div>
                                            </div>

                                            @if (!string.IsNullOrWhiteSpace(metadataForYear.PoznamkaHlidace))
                                            {
                                                <div class="col d-flex align-items-start">
                                                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                                        <svg class="bi" width="1em" height="1em">
                                                            <use xlink:href="#cpu-fill"></use>
                                                        </svg>
                                                    </div>
                                                    <div>
                                                        <h4 class="fw-bold">Poznámka Hlídače</h4>
                                                        <p>@metadataForYear.PoznamkaHlidace</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                metadataClassAttributes = "tab-pane width-75vp";
                            }
                        }
                    </div>
                </div>
                <div class="@((this.User.IsInRole("Admin") && Model.MetadataPlatyUredniku.Any()) ? "col-md-6" : "") @(Model.MetadataPrijmyPolitiku.Any() ? "" : "d-none")">
                    <h3>Detaily komunikace instituce ohledně příjmů politiků</h3>
                    <div class="nav flex-row nav-pills my-5" id="v-meta-pills-tab" role="tablist">
                        <button class="nav-link disabled" type="button" disabled="disabled">Rok</button>
                        @{
                            string metadataPrijmyClassAttributes = "nav-link active";

                            foreach (var metadata in Model.MetadataPrijmyPolitiku.OrderByDescending(m => m.Rok))
                            {
                                <button class="@metadataPrijmyClassAttributes"
                                        id="meta-year-@metadata.Rok-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#meta-year-@metadata.Rok"
                                        type="button"
                                        role="tab">
                                    @metadata.Rok
                                </button>

                                metadataPrijmyClassAttributes = "nav-link";
                            }
                        }
                    </div>
                    <div class="tab-content width-75vp">
                        @{
                            metadataPrijmyClassAttributes = "tab-pane width-75vp fade show active";

                            foreach (var metadataForYear in Model.MetadataPrijmyPolitiku.OrderByDescending(m => m.Rok))
                            {
                                <div class="@metadataPrijmyClassAttributes" id="meta-year-@metadataForYear.Rok" role="tabpanel">
                                    <div>
                                        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                                            <div class="col d-flex align-items-start">
                                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                                    <svg class="bi" width="1em" height="1em">
                                                        <use xlink:href="#toggles2"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <h4 class="fw-bold">Doba trvání</h4>
                                                    <p>
                                                        Žádost o výši platů jsme odeslali @(metadataForYear.DatumOdeslaniZadosti?.ToString("dd.MM.yyyy"))
                                                        @if (metadataForYear.DatumPrijetiOdpovedi.HasValue)
                                                        {
                                                            <span>
                                                                a odpověď obdrželi po
                                                                @(Devmasters.Lang.CS.Plural.Get((int)(metadataForYear.DatumPrijetiOdpovedi.Value - metadataForYear.DatumOdeslaniZadosti.Value).TotalDays, "jednom dni", "{0} dnech", "{0} dnech")).
                                                            </span>
                                                        }
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col d-flex align-items-start">
                                                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                                    <svg class="bi" width="1em" height="1em">
                                                        <use xlink:href="#cpu-fill"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <h4 class="fw-bold">Zdůvodnění mimořádných odměn</h4>
                                                    <p>Součástí naší žádosti byl požadavek na zaslání odůvodnění mimořádných odměn pracovníků. Toto odůvodnění jsme @(metadataForYear.ZduvodneniMimoradnychOdmen == true ? "dostali" : "nedostali").</p>
                                                </div>
                                            </div>

                                            @if (!string.IsNullOrWhiteSpace(metadataForYear.PoznamkaHlidace))
                                            {
                                                <div class="col d-flex align-items-start">
                                                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                                        <svg class="bi" width="1em" height="1em">
                                                            <use xlink:href="#cpu-fill"></use>
                                                        </svg>
                                                    </div>
                                                    <div>
                                                        <h4 class="fw-bold">Poznámka Hlídače</h4>
                                                        <p>@metadataForYear.PoznamkaHlidace</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                metadataPrijmyClassAttributes = "tab-pane width-75vp";
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@{
    sectionBgSwitch = !sectionBgSwitch;
}
<section class="d-flex justify-content-center  @(sectionBgSwitch ? "alter-bg-color" : "")">
    <div class="container">
        <h3>Open data</h3>
        <p>Open data s kompletními platy pro <b>@(Model.Nazev)</b> za všechny dostupné roky</p>
        <partial name="ExportModal" model="@(new ExportModalViewModel() { DatovaSchranka = Model.DS, Titulek = $"Export dat pro {Model.Nazev}", NazevTlacitka=$"Open data pro {Model.Nazev}" })" />

    </div>
</section>


<div class="pb-3"></div>
