@model HlidacStatu.Entities.Entities.PuOrganizace

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Platy úřeníků</a>
        </li>
        @foreach (var oblast in Model.OblastPath())
        {
            <li>
                <a href="@Url.Action("Oblast", "Home", new { oblast })">@Model.PathName(oblast)</a>
            </li>
        }
        <li class="active">@Model.Nazev</li>
    </ol>
}

<div>
    <h3>@Model.Nazev</h3>
    <small>IČO - @Model.Ico</small>
    <small>Datová schránka - @Model.DS</small>
    <p>@Model.Info</p>
    
    @foreach (var platGroup in Model.Platy.GroupBy(p => p.Rok).OrderBy(pg => pg.Key))
    {
        <p>@platGroup.Key</p>
        <table>
            <tr>
                <td>NazevPozice</td>
                <td>Rok</td>
                <td>Plat</td>
                <td>Odmeny</td>
                <td>Uvazek</td>
                <td>NefinancniBonus</td>
                <td>PocetMesicu</td>
                <td>PoznamkaPlat</td>
                <td>PoznamkaPozice</td>
            </tr>
            
            @foreach (var plat in platGroup.OrderBy(p => p.DisplayOrder).ThenBy(p => p.NazevPozice))
            {
                <tr>
                    <th>@plat.NazevPozice</th>
                    <th>@plat.Rok</th>
                    <th>@plat.Plat</th>
                    <th>@plat.Odmeny</th>
                    <th>@plat.Uvazek</th>
                    <th>@plat.NefinancniBonus</th>
                    <th>@plat.PocetMesicu</th>
                    <th>@plat.PoznamkaPlat</th>
                    <th>@plat.PoznamkaPozice</th>
                </tr>
            }
        </table>
    }
    
    
</div>