@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.SharedModels
@{
    ViewBag.Title = "Platy politiků, úředníků a zaměstnanců státu";

    var puPlatyStats = await PuRepo.GetPlatyPerYearStatCache.GetAsync(PuRepo.DefaultYear);
    var puOrgStats = await PuRepo.GetGlobalStatOrganizaceAsync();
    PpGlobalStat polStats = await PpRepo.GetGlobalStatAsync(PpRepo.DefaultYear);

    DateTime stopNovinkaPolitici = new DateTime(2025, 10, 15);

    var organizationOfTheDay = await PuRepo.GetOrganizationOfTheDayAsync();
    var ceoOfTheDay = organizationOfTheDay.Platy.FirstOrDefault(p => p.JeHlavoun == true && p.Rok == PuRepo.DefaultYear);
    var dataForOrganizationOfTheDay = await UredniciStaticCache.GetFullDetailAsync(organizationOfTheDay.DS);
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<section class="py-5 text-center container pageblock-small">
    <div class="row py-lg-5">
        <div class="col-lg-10 col-md-12 mx-auto">
            <h1 class="fw-light">Platy politiků a úředníků</h1>
            <p class="lead text-body-secondary">
                Mapujeme reálné <b>platy úředníků a manažerů státních organizací</b>. Nově ukazujeme i <b>příjmy politiků</b> z jejich hlavních i vedlejších funkcí, abychom vám umožnili kontrolovat, jak se nakládá s veřejnými penězi
            </p>
            <p>
                <a href="/politici" class="btn btn-primary my-2">Příjmy <span class="badge text-bg-light">@(HlidacStatu.Util.RenderData.NiceNumber(polStats.PocetOsobPozadano))</span> politiků.</a>
                <a href="/urednici" class="btn btn-secondary my-2">Platy <span class="badge text-bg-light">@(HlidacStatu.Util.RenderData.NiceNumber(puPlatyStats.Pocet))</span> úředníků a státních manažerů.</a>
            </p>
        </div>
    </div>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <p class="lead">
                    Projekt <b>Platy</b> je součástí Hlídače státu. <br />
                    <i class="fa-solid fa-circle-1"></i> Zjistěte, jaký roční příjem mají významní politici či kolik zastávají funkcí. Jde o novinku, ptáme se poprvé na rok 2024. A budeme to opakovat každý rok.
                    <br />
                    <i class="fa-solid fa-circle-2"></i> Informace o platech a odměnách soudců, vedení úřadů, státních podniků či příspěvkových organizací v ČR u nás najdete už spoustu let.
                </p>
                <p>
                    Data shromažďujeme na základě oficiální žádosti podle zákona o svobodném přístupu k informacím.             Platy a odměny jsou stanoveny
                    <a asp-controller="Texty" asp-action="PlatyStatnichZamestnancu">nařízením vlády</a>
                    nebo
                    <a asp-controller="Texty" asp-action="Nejvyssi">zákonem</a>.
                    <br />
                    <i class="fa-solid fa-circle-heart" style="color:red"></i> Sesbírat platy tisíců manažerů a dalších tisiců politiků je obrovské množství práce. <a target="_blank" href="https://texty.hlidacstatu.cz/jak-podporit-hlidac-statu-fungovani-ceska/">Podpořte nás v tom, abychom mohli získat platy i příští rok! Díky!!</a>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none">
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-sm-12 col-md-6 border-end">
            <h3>
                Příjmy politiků a kumulace funkcí
                @if (DateTime.Now < stopNovinkaPolitici)
                {
                    <small class="ps-1 text-danger-emphasis">Novinka!</small>
                }
            </h3>
            <div>
                <img src="/Content//politik.png" class="float-start w-25 p-3" alt="Politik">
                <p>
                    Za rok @PuRepo.DefaultYear jsme získali <b>@(HlidacStatu.Util.RenderData.NiceNumber(polStats.PocetPrijmu))</b> příjmů od celkem
                    <b>@(HlidacStatu.Util.RenderData.NiceNumber(polStats.PocetOsobPozadano))</b> politiků.

                    Alespoň jeden plat nám poskytlo <b>@(HlidacStatu.Util.RenderData.NiceNumber(polStats.PocetOrganizaciDaliPlat))</b> organizací.
                </p>
                <p>Ohledně platů jsme oslovili jak  organizace, kde politici působí, tak 911 samotných politiků <small>(na které jsme našli platný email)</small>.</p>
                <p class="clearfix"></p>
                <p>
                    <a asp-controller="Politici" asp-action="Index" class="btn btn-primary">Příjmy a placené funkce všech politiků</a>
                </p>
            </div>

        </div>
        <div class="col-sm-12 col-md-6">
            <h3>Platy úředníků a manažerů</h3>
            <div>
                <img src="/Content//manazer.png" class="float-start w-25 p-3" alt="Politik">
                <p>
                    Za @PuRepo.DefaultYear jsme žádali o platy @(HlidacStatu.Util.RenderData.NiceNumber(puOrgStats.PocetOslovenych)) organizací
                    a plat nám @(DateTime.Now < new DateTime(2025, 04, 1) ? "zatím" : "") poskytlo @(HlidacStatu.Util.RenderData.NiceNumber(puOrgStats.PocetCoPoslaliPlat)) z nich.
                    Najdete u nás platy @(HlidacStatu.Util.RenderData.NiceNumber(puPlatyStats.Pocet)) lidí a pozic.
                </p>
                <div class="clearfix"></div>
                <p>
                    <a asp-controller="Urednici" asp-action="Index" class="btn btn-primary">Vše o platech úředníků a manažerů</a>
                </p>
            </div>
        </div>

    </div>

    <hr class="mt-4" />
    <p class="lead">
        Projekt <b>Platy</b> je součástí Hlídače státu. <br />
        <i class="fa-solid fa-circle-1"></i> Zjistěte, jaký roční příjem mají významní politici či kolik zastávají funkcí. Jde o novinku, ptáme se poprvé na rok 2024. A budeme to opakovat každý rok.
        <br />
        <i class="fa-solid fa-circle-2"></i> Informace o platech a odměnách soudců, vedení úřadů, státních podniků či příspěvkových organizací v ČR u nás najdete už spoustu let.
    </p>
    <p>
        Data shromažďujeme na základě oficiální žádosti podle zákona o svobodném přístupu k informacím.             Platy a odměny jsou stanoveny
        <a asp-controller="Texty" asp-action="PlatyStatnichZamestnancu">nařízením vlády</a>
        nebo
        <a asp-controller="Texty" asp-action="Nejvyssi">zákonem</a>.
        <br />
        <i class="fa-solid fa-circle-heart" style="color:red"></i> Sesbírat platy tisíců manažerů a dalších tisiců politiků je obrovské množství práce. <a target="_blank" href="https://texty.hlidacstatu.cz/jak-podporit-hlidac-statu-fungovani-ceska/">Podpořte nás v tom, abychom mohli získat platy i příští rok! Díky!!</a>
    </p>

</div>


<p class="m-5">

</p>

