@using HlidacStatu.Repositories
@{
    var stats = await PuRepo.GetGlobalStatAsync();

    var organizationOfTheDay = await PuRepo.GetOrganizationOfTheDayAsync();
    var ceoOfTheDay = organizationOfTheDay.Platy.FirstOrDefault(p => p.JeHlavoun == true && p.Rok == PuRepo.DefaultYear);
}

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h3 class="new-title">
            Platy úředníků v @PuRepo.DefaultYear
        </h3>
        <p class="fs-4">
            V mnoha demokratických zemích je běžné, že veřejnost může kontrolovat odměňování těch, kteří hospodaří s penězi daňových poplatníků.
            <b>Informace o platech a odměnách</b> vedoucích úřadů, státních podniků či příspěvkových organizací v ČR ale veřejně <b>dostupné či dohledatelné nejsou</b>.
            Proto jsme tu my! Využíváme zákona o svobodném přístupu k informacím a na platy a odměny se ptáme. 
        </p>
        <p class="fs-5">
            Za 2022 jsme žádali o platy @(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetOslovenych)) organizací
            a plat nám poskytlo @(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetCoPoslaliPlat)) z nich.
        </p>
        <p class="fs-5" style="display: none">
            Polovina představených úřadů má plat nižší než @(HlidacStatu.Util.RenderData.NicePrice(stats.PercentilyPlatuHlavounu[50])),
            čtvrtina má plat vyšší než @(HlidacStatu.Util.RenderData.NicePrice(stats.PercentilyPlatuHlavounu[75])) měsíčně včetně odměn.
        </p>
        <p class="fs-5">
            Platy a odměny jsou stanoveny
            <a asp-controller="Texty" asp-action="PlatyStatnichZamestnancu">nařízením vlády</a>
            nebo
            <a asp-controller="Texty" asp-action="Nejvyssi">zákonem</a>.
        </p>
        <p>
            <a class="btn btn-primary btn-sm" href="/oblasti">Seznam všech organizací</a>
        </p>
        
        <div>
            @foreach (var tag in PuRepo.MainTags)
            {
                <hashtag tag="@tag"></hashtag>
            }
        </div>
    </div>
</section>

<section class="d-flex align-items-center justify-content-center alter-bg-color">
    <div class="container">

        <h3 class="new-title">
            Organizací dne je - @organizationOfTheDay.Nazev 
        </h3>
        <div>
            Najdete ji v kategoriích: 
            @foreach (var tag in organizationOfTheDay.Tags)
            {
                <hashtag tag="@tag.Tag"></hashtag>
            }
        </div>
        <br/>
        
        @if (ceoOfTheDay is not null)
        {
            <h5></h5>
            <p class="fs-5">
                Nejvyšším představitelem organizace je <strong>@ceoOfTheDay.NazevPozice</strong>.
                Jeho hrubý měsíční plat je @HlidacStatu.Util.RenderData.NicePrice(ceoOfTheDay.HrubyMesicniPlat).
            </p>
            
        }
        
        <p>
            <a asp-action="Detail" 
               asp-route-id="@organizationOfTheDay.DS" 
               asp-route-rok="@PuRepo.DefaultYear" 
               class="btn btn-primary btn-sm">@organizationOfTheDay.Nazev</a>
        </p>

    </div>

</section>

<section class="d-flex align-items-center justify-content-center">
    <div class="container">

        <h3 class="new-title">
            Žebříčky
        </h3>
        <div class="card text-bg-light mb-3">
            <div class="card-header">Přehledy podle platu</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a asp-action="DlePlatu" asp-route-id="1">Platy nižší než má pokladní</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="DlePlatu" asp-route-id="2">Nižší než průměrné platy</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="DlePlatu" asp-route-id="3">Vyšší než průměrné platy</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="DlePlatu" asp-route-id="4">Nejvyšší platy</a>
                </li>
            </ul>
        </div>
    </div>
</section>