@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.SharedModels
@{
    ViewBag.Title = "";

    var stats = await PuRepo.GetGlobalStatOrganizaceAsync();
    PpGlobalStat statsPolitici = await PpRepo.GetGlobalStatAsync(PpRepo.DefaultYear);

    var organizationOfTheDay = await PuRepo.GetOrganizationOfTheDayAsync();
    var ceoOfTheDay = organizationOfTheDay.Platy.FirstOrDefault(p => p.JeHlavoun == true && p.Rok == PuRepo.DefaultYear);
    var dataForOrganizationOfTheDay = await UredniciStaticCache.GetFullDetailAsync(organizationOfTheDay.DS);
}

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <p class="">
            V mnoha demokratických zemích je běžné, že veřejnost může kontrolovat odměňování těch, kteří hospodaří s penězi daňových poplatníků.
            <b>Informace o platech a odměnách</b> vedoucích úřadů, státních podniků či příspěvkových organizací v ČR ale veřejně <b>dostupné či dohledatelné nejsou</b>.
            Proto jsme tu my! Využíváme zákona o svobodném přístupu k informacím a na platy a odměny se ptáme už mnoho let.             Platy a odměny jsou stanoveny
            <a asp-controller="Texty" asp-action="PlatyStatnichZamestnancu">nařízením vlády</a>
            nebo
            <a asp-controller="Texty" asp-action="Nejvyssi">zákonem</a>.
        </p>
        <hr class="mb-4" />
        <div class="row">
            <div class="col-sm-12 col-md-6 border-end">
                <h3>Platy úředníků a manažerů</h3>
                <p>
                    Za @PuRepo.DefaultYear jsme žádali o platy @(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetOslovenych)) organizací
                    a plat nám @(DateTime.Now < new DateTime(2025, 04, 1) ? "zatím" : "") poskytlo @(HlidacStatu.Util.RenderData.NiceNumber(stats.PocetCoPoslaliPlat)) z nich.
                </p>
                <p>
                    <a asp-controller="Urednici" asp-action="Index" class="btn btn-primary btn-sm">Vše o platech úředníků a manažerů <span class="badge text-bg-danger">@(@PuRepo.DefaultYear)</span></a>
                </p>
                <p class="mb-2 mt-4 text-body-secondary">
                    Oblasti:
                    @foreach (var item in PuRepo.MainTags)
                    {
                        <hashtag tag="@item" typ="PlatyUredniku" additional-class="badge rounded-pill border me-3 mb-2" style="font-size:0.9em"></hashtag>
                    }
                </p>

            </div>
            <div class="col-sm-12 col-md-6">
                <h3>Příjmy politiků a kumulace funkcí</h3>
                <p>
                    Za @PuRepo.DefaultYear jsme žádali o celkem <b>@(HlidacStatu.Util.RenderData.NiceNumber(statsPolitici.PocetPrijmuPozadano))</b> příjmů <b>@(HlidacStatu.Util.RenderData.NiceNumber(statsPolitici.PocetOsobPozadano))</b> politiků.
                    Dostali jsme jich <b>@(HlidacStatu.Util.RenderData.NiceNumber(statsPolitici.PocetPrijmu))</b>. Alespoň jeden plat nám poskytlo <b>@(HlidacStatu.Util.RenderData.NiceNumber(statsPolitici.PocetOrganizaciDaliPlat))</b> z celkově @(HlidacStatu.Util.RenderData.NiceNumber(statsPolitici.PocetOrganizaciPozadano)) oslovených.
                </p>
                <p>Kromě organizací jsme jednotlivě oslovili většinu politiků s existujícím či funkčním kontaktem.</p>
                <p>
                    <a asp-controller="Politici" asp-action="Index" class="btn btn-primary btn-sm">Příjmy a placené funkce všech politiků <span class="badge text-bg-danger">@(@PuRepo.DefaultYear)</span></a>
                </p>

            </div>
        </div>
    </div>
</section>

<section class="d-flex align-items-center justify-content-center alter-bg-color">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 border-end border-black">
            </div>
            <div class="col-sm-12 col-md-6">
            </div>
        </div>
    </div>
</section>

<p class="m-5">

</p>

