@using System.Collections.Generic;
@using HlidacStatu.Entities.Entities;

@model List<PuPlat>

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">Platy úředníků</a>
        </li>
        <li class="active">
            Přehled růstu platů
        </li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
}

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h2>Přehled nejvyšších odměn v poměru k platu za rok @ViewData["rok"]</h2>
        <p class="text-muted">Přehled nejvyšších odměn v poměru k platu.</p>

        <div class="tab-pane width-75vp" id="prehledOdmen" role="tabpanel">
            <script>
                $(document).ready(function () {
                    $('#tblSum_prehledOdmen').DataTable(
                        {
                            'language': {
                                'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                            },
                            "searching": false,
                            "paging": false,
                            "ordering": true,
                            "order": [],
                            "info": false
                        });
                });
            </script>

            <table class="table table-borderless table-hover" id="tblSum_prehledOdmen">
                <thead class="xtable-light">
                <th>Organizace</th>
                <th>Pozice</th>
                <th><abbr title="Průměrný měsíční plat přepočtený z ročního příjmu">Měsíční plat</abbr></th>
                <th><abbr title="Průměrné měsíční odměny přepočtené z ročního příjmu">Měsíční odměny</abbr></th>
                <th>Poměr odměn k platu %</th>
                </thead>
                <tbody>
                @foreach (var plat in Model.OrderByDescending(p => p.OsobniOhodnoceniPerc))
                {
                <tr>
                    <td>
                        <a asp-action="Detail" asp-route-id="@plat.Organizace.DS">@plat.Organizace.Nazev</a>
                    </td>
                    <td>
                        <a asp-action="Plat" asp-route-id="@plat.Id">@plat.NazevPozice</a>
                    </td>
                    <td class="number">@HlidacStatu.Util.RenderData.NicePriceHtml(plat.PlatMesicne ?? 0)</td>
                    <td class="number">@HlidacStatu.Util.RenderData.NicePriceHtml(plat.OdmenyMesicne ?? 0)</td>
                    <td class="number">@plat.OsobniOhodnoceniPerc?.ToString("P")</td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>
