@using HlidacStatu.Repositories

@model List<HlidacStatu.Entities.Entities.PuOrganizace>

@{
    var platyHlavounu = Model.SelectMany(o => o.Platy).Where(p => p.Rok == PuRepo.DefaultYear && p.JeHlavoun == true)
        .ToList();

    string? prumerHlavounu = platyHlavounu.Any() ? platyHlavounu.Average(p => p.HrubyMesicniPlat).ToString("N0") : null;
}
<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div>
            @if (Model is not null && Model.Any())
            {
                <h3 class="pt-5">
                    V této oblasti máme @Model.Count institucí s
                    @Model.SelectMany(o => o.Platy).Count(p => p.Rok == PuRepo.DefaultYear) typy pozic.
                </h3>
            }

        </div>

        @if (Model is not null && Model.Any())
        {
            <div>
                <h2>Organizace</h2>

                <table class="table table-new table-new--dotted table-hover">
                    <tbody>
                    @foreach (var org in Model.OrderBy(o => o.Nazev))
                    {
                        var platy = org.Platy.Rok().Count > 1 ? $", <i class='fa-solid fa-money-bills'></i> {HlidacStatu.Util.RenderData.NicePrice(org.Platy.Rok().Min(m => m.HrubyMesicniPlat))} - {HlidacStatu.Util.RenderData.NicePrice(org.Platy.Rok().Max(m => m.HrubyMesicniPlat))}" : ".";
                        <tr>
                            <td style="width:50%">
                                <h4>
                                    <a asp-action="Detail" asp-route-id="@org.DS">@org.Nazev</a>
                                </h4>
                            </td>
                            <td style="width:50%">
                                @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(org.Platy.Rok().Count,
                                    "<span class='text-danger'><i class='fa-solid fa-circle-xmark'></i> Nedostali jsme žádný plat</span>",
                                    "<span class='text-warning'><i class='fa-solid fa-circle-exclamation'></i></span> Evidujeme jeden plat jedné pozice",
                                    $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platy{platy}",
                                    $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platů{platy}")
                                ).
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>


            </div>
        }
    </div>
</section>