@using HlidacStatu.Repositories

@model List<HlidacStatu.Entities.Entities.PuOrganizace>

@{
    string currentOblast = (string)ViewData["oblast"];

    var organizace = Model.Where(o => o.Oblast == currentOblast).ToArray();

    var oblasti = await PuRepo.GetFollowingOblastiAsync(currentOblast);

    var platyHlavounu = Model.SelectMany(o => o.Platy).Where(p => p.Rok == PuRepo.DefaultYear && p.JeHlavoun == true)
        .ToList();

    string? prumerHlavounu = platyHlavounu.Any() ? platyHlavounu.Average(p => p.HrubyMesicniPlat).ToString("N0") : null;
}
<div class="row">
    <div class="col-6">
        @if (organizace is not null && organizace.Any())
        {
            <h3 class="pt-5">
                V této oblasti / podoblasti máme @organizace.Length institucí s
                @organizace.SelectMany(o => o.Platy).Count(p => p.Rok == PuRepo.DefaultYear) typy pozic.
            </h3>
        }

    </div>
    @if (prumerHlavounu is not null)
    {
        <div class="col-6 bg-warning-subtle p-5">
            <h3>@prumerHlavounu</h3>
            <p>Průměr nejvyšších představitelů úřadů oblasti</p>
        </div>
    }
</div>
<div class="row">
    <div class="col-12">
        @if (organizace is not null && organizace.Any())
        {
            <h2>Instituce</h2>
            <table class="table table-new table-new--dotted table-hover">
                <tbody>

                    @foreach (var org in organizace)
                    {
                        var platy = org.Platy.Rok().Count > 1 ? $", <i class='fa-solid fa-money-bills'></i> {HlidacStatu.Util.RenderData.NicePrice(org.Platy.Rok().Min(m => m.HrubyMesicniPlat))} - {HlidacStatu.Util.RenderData.NicePrice(org.Platy.Rok().Max(m => m.HrubyMesicniPlat))}" : ".";
                        <tr>
                            <td style="width:50%">
                                <h4><a asp-action="Detail" asp-route-id="@org.Id">@org.Nazev</a></h4>
                            </td>
                            <td style="width:50%">
                                @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(org.Platy.Rok().Count,
                                         "<span class='text-danger'><i class='fa-solid fa-circle-xmark'></i> Nedostali jsme žádný plat</span>",
                                         "<span class='text-warning'><i class='fa-solid fa-circle-exclamation'></i></span> Evidujeme jeden plat jedné pozice",
                                         $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platy{platy}",
                                         $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platů{platy}")
                                ).
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
    @if (oblasti is not null && oblasti.Any())
    {
        <div class="col-12">
            <h2>Oblasti</h2>

                @{

                    foreach (var oblast in oblasti)
                    {
                        var orgsInOblast = Model.Where(o => o.Oblast == oblast.Value).ToList();

                        <h2>@oblast.Value</h2>
                    <table class="table table-new table-new--dotted table-hover">
                        <tbody>
                            @foreach (var org in orgsInOblast)
                            {
                                var platy = org.Platy.Rok().Count > 1 ? $", <i class='fa-solid fa-money-bills'></i> {HlidacStatu.Util.RenderData.NicePrice(org.Platy.Rok().Min(m => m.HrubyMesicniPlat))} - {HlidacStatu.Util.RenderData.NicePrice(org.Platy.Rok().Max(m => m.HrubyMesicniPlat))}" : ".";
                                <tr>
                                    <td style="width:50%">
                                        <h4><a asp-action="Detail" asp-route-id="@org.Id">@org.Nazev</a></h4>
                                    </td>
                                    <td style="width:50%">
                                        @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(org.Platy.Rok().Count,
                                             "<span class='text-danger'><i class='fa-solid fa-circle-xmark'></i> Nedostali jsme žádný plat</span>",
                                             "<span class='text-warning'><i class='fa-solid fa-circle-exclamation'></i></span> Evidujeme jeden plat jedné pozice",
                                             $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platy{platy}",
                                             $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platů{platy}")
                                             ).
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                }
        </div>
    }
</div>