@using HlidacStatu.Repositories
@using HlidacStatu.Entities.Entities

@model List<HlidacStatu.Entities.Entities.PuOrganizace>

@{
    var platyHlavounu = Model.SelectMany(o => o.Platy).Where(p => p.Rok == PuRepo.DefaultYear && p.JeHlavoun == true)
        .ToList();

    string? prumerHlavounu = platyHlavounu.Any() ? platyHlavounu.Average(p => p.HrubyMesicniPlat).ToString("N0") : null;

    List<PuOrganizace> goodOrgs = new();
    List<PuOrganizace> badOrgs = new();
    if (Model is not null && Model.Any())
    {
        goodOrgs = Model.Where(o => o.Platy.AktualniRok().Any()).ToList();
        badOrgs = Model.Where(o => !o.Platy.AktualniRok().Any()).ToList();
    }
}
@if (goodOrgs.Any())
{
    <section class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div>
                @if (Model is not null && Model.Any())
                {
                    <h3 class="pt-5">
                        Oblast @ViewData["oblast"] obsahuje @goodOrgs.Count institucí, které poskytli platy.
                    </h3>
                }
            </div>

            <div>
                <div class="border-start border-primary border-opacity-25 border-2">
                    <table class="table table-borderless table-hover">
                        <tbody>
                        @foreach (var org in goodOrgs.OrderBy(o => o.Nazev))
                        {
                            var platy = org.Platy.AktualniRok().Count > 1 ? $", <i class='fa-solid fa-money-bills'></i> {HlidacStatu.Util.RenderData.NicePrice(org.Platy.AktualniRok().Min(m => m.HrubyMesicniPlat))} - {HlidacStatu.Util.RenderData.NicePrice(org.Platy.AktualniRok().Max(m => m.HrubyMesicniPlat))}" : ".";
                            <tr>
                                <td style="width:50%">
                                    <h4>
                                        <a asp-action="Detail" asp-route-id="@org.DS">@org.Nazev</a>
                                    </h4>
                                </td>
                                <td style="width:50%">
                                    @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(org.Platy.AktualniRok().Count,
                                        "<span class='text-danger'><i class='fa-solid fa-circle-xmark'></i> Nedostali jsme žádný plat</span>",
                                        "<span class='text-warning'><i class='fa-solid fa-circle-exclamation'></i></span> Evidujeme jeden plat jedné pozice",
                                        $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platy{platy}",
                                        $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platů{platy}")
                                    ).
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}

@if (badOrgs.Any())
{
    <section class="d-flex align-items-center justify-content-center alter-bg-color">
        <div class="container">
            <div>
                @if (Model is not null && Model.Any())
                {
                    <h3 class="pt-5">
                        Oblast @ViewData["oblast"] obsahuje @badOrgs.Count institucí, které odmítli poskytnout platy.
                    </h3>
                }
            </div>
            <div>
                <div class="border-start border-primary border-opacity-25 border-2">
                    <table class="table table-borderless table-hover">
                        <tbody>
                        @foreach (var org in badOrgs.OrderBy(o => o.Nazev))
                        {
                            var platy = org.Platy.AktualniRok().Count > 1 ? $", <i class='fa-solid fa-money-bills'></i> {HlidacStatu.Util.RenderData.NicePrice(org.Platy.AktualniRok().Min(m => m.HrubyMesicniPlat))} - {HlidacStatu.Util.RenderData.NicePrice(org.Platy.AktualniRok().Max(m => m.HrubyMesicniPlat))}" : ".";
                            <tr>
                                <td style="width:50%">
                                    <h4>
                                        <a asp-action="Detail" asp-route-id="@org.DS">@org.Nazev</a>
                                    </h4>
                                </td>
                                <td style="width:50%">
                                    @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(org.Platy.AktualniRok().Count,
                                        "<span class='text-danger'><i class='fa-solid fa-circle-xmark'></i> Nedostali jsme žádný plat</span>",
                                        "<span class='text-warning'><i class='fa-solid fa-circle-exclamation'></i></span> Evidujeme jeden plat jedné pozice",
                                        $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platy{platy}",
                                        $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platů{platy}")
                                    ).
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}