@using HlidacStatu.Repositories

@model List<HlidacStatu.Entities.Entities.PuOrganizace>

@{
    string currentOblast = (string)ViewData["oblast"];

    var organizace = Model.Where(o => o.Oblast == currentOblast).ToArray();

    var oblasti = await PuRepo.GetFollowingOblastiAsync(currentOblast);
}

<div class="row">
    <div class="col-6">
        <h2>Instituce</h2>
        <div class="list-group">
            @foreach (var org in organizace)
            {
                <a asp-action="Detail" asp-route-id="@org.Id">@org.Nazev</a>
            }
        </div>

    </div>
    <div class="col-6">
        <h2>Oblasti</h2>
        <div class="row">
            @{
                int columnBreak = 0;

                foreach (var oblast in oblasti)
                {
                    columnBreak++;
                    var orgsInOblast = Model.Where(o => o.Oblast == oblast.Value).ToList();

                    <div class="card col m-1" style="background-image: url('/oblast.png'); height: 150px">
                        <a asp-action="Oblast" asp-route-id="@oblast.Value">
                            <div class="card-body">
                                <h5 class="card-title">@oblast.Key</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@orgsInOblast.Count</h6>
                                <p class="card-text">Průměrný roční plat: @orgsInOblast.SelectMany(o => o.Platy).Average(p => p.HrubyMesicniPlat).ToString("N0")&nbsp;Kč</p>

                            </div>
                        </a>
                    </div>

                    if (columnBreak % 2 == 0)
                    {
                        <div class="w-100 d-none d-md-block"></div>
                    }
                }
            }
        </div>
    </div>
</div>