@using HlidacStatu.Repositories

@model List<HlidacStatu.Entities.Entities.PuOrganizace>

@{
    string currentOblast = (string)ViewData["oblast"];

    var organizace = Model.Where(o => o.Oblast == currentOblast).ToArray();

    var oblasti = await PuRepo.GetFollowingOblastiAsync(currentOblast);

    var platyHlavounu = Model.SelectMany(o => o.Platy).Where(p => p.Rok == Util.DefaultYear && p.JeHlavoun == true)
        .ToList();
    
    string? prumerHlavounu = platyHlavounu.Any() ? platyHlavounu.Average(p => p.HrubyMesicniPlat).ToString("N0") : null; 
}
<div class="row">
    <div class="col-6">
        @if (organizace is not null && organizace.Any())
        {
            <h3 class="pt-5">
                V této oblasti / podoblasti máme @organizace.Length institucí s
                @organizace.SelectMany(o => o.Platy).Count(p => p.Rok == Util.DefaultYear) typy pozic.
            </h3>
        }

    </div>
    @if (prumerHlavounu is not null)
    {
        <div class="col-6 bg-warning-subtle p-5">
            <h3>@prumerHlavounu</h3>
            <p>Průměr nejvyšších představitelů úřadů oblasti</p>
        </div>
    }
</div>
<div class="row">
    <div class="col-6">
        @if (organizace is not null && organizace.Any())
        {
            <h2>Instituce</h2>
            <div class="list-group">
                @foreach (var org in organizace)
                {
                    <a asp-action="Detail" asp-route-id="@org.Id">@org.Nazev</a>
                }
            </div>
        }

    </div>
    <div class="col-6">
        @if (oblasti is not null && oblasti.Any())
        {
            <h2>Oblasti</h2>
            <div class="row">
                @{
                    int columnBreak = 0;

                    foreach (var oblast in oblasti)
                    {
                        columnBreak++;
                        var orgsInOblast = Model.Where(o => o.Oblast == oblast.Value).ToList();

                        <div class="card col m-1" style="background-image: url('/content/img/oblast2.png'); height: 150px">
                            <a asp-action="Oblast" asp-route-id="@oblast.Value">
                                <div class="card-body">
                                    <h5 class="card-title">@oblast.Key</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@orgsInOblast.Count</h6>
                                </div>
                            </a>
                        </div>

                        if (columnBreak % 2 == 0)
                        {
                            <div class="w-100 d-none d-md-block"></div>
                        }
                    }
                }
            </div>
        }
    </div>
</div>