@using HlidacStatu.Repositories
@using HlidacStatu.Entities.Entities

@model List<HlidacStatu.Entities.Entities.PuOrganizace>

@{
    var platyHlavounu = Model.SelectMany(o => o.Platy).Where(p => p.Rok == PuRepo.DefaultYear && p.JeHlavoun == true)
        .ToList();

    string? prumerHlavounu = platyHlavounu.Any() ? platyHlavounu.Average(p => p.HrubyMesicniPlat).ToString("N0") : null;

    List<PuOrganizace> goodOrgs = new();
    List<PuOrganizace> badOrgs = new();
    if (Model is not null && Model.Any())
    {
        goodOrgs = Model.Where(o => o.Platy.AktualniRok().Any()).ToList();
        badOrgs = Model.Where(o => !o.Platy.AktualniRok().Any()).ToList();
    }

    var aktualniPlaty = goodOrgs.SelectMany(o => o.Platy.AktualniRok()).ToList();
    var platyMin = aktualniPlaty.Any() ? aktualniPlaty.Min(p => p.HrubyMesicniPlat) : 0;
    var platyMax = aktualniPlaty.Any() ? aktualniPlaty.Max(p => p.HrubyMesicniPlat) : 0;
    var platyLength = platyMax - platyMin;
    if (platyLength == 0)
        platyLength = 0.01m;
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">Platy úředníků</a>
        </li>
        <li>
            <a asp-action="Oblasti">Oblasti</a>
        </li>
        <li class="active">
            <hashtag tag="@ViewData["oblast"]" style="font-size:13px; padding:0.2em" additional-class=""></hashtag>
        </li>
    </ol>
}

@if (Model is not null && Model.Any())
{
    <section class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div>
                <h3 class="pb-5">
                    Instituce z oblasti <hashtag tag="@ViewData["oblast"]"></hashtag>
                </h3>
                <p>
                    V roce @PuRepo.DefaultYear @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(goodOrgs.Count,
                "odmítli poskytnout platy všechny instituce",
                "poskyla plat jedna instituce",
                $"poskytli plat {{0}} instituce",
                $"poskytlo plat {{0}} institucí")).
                    @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(badOrgs.Count,
                             "",
                             " Jedna instituce plat neposkytla.",
                             $" Plat odmítly poskytnout {{0}} instituce.",
                             $" Plat odmítlo poskytnout {{0}} institucí.")
                             )
                </p>
            </div>

            <div>
                <div>
                    <table class="table table-sm">
                        <tbody>
                            @{
                                var noPlaty = Model.Where(m => m.Platy.AktualniRok().Count == 0);
                                var sorted = noPlaty.Concat(Model.Where(m => m.Platy.AktualniRok().Count > 0).OrderBy(o => o.Nazev));
                            }
                            @foreach (var org in sorted)
                            {
                                <tr>
                                    <td class="col" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 20rem;">
                                        <a asp-action="Detail" asp-route-id="@org.DS">@org.Nazev</a>
                                    </td>
                                    <td class="col-3">
                                        @Html.Raw(Devmasters.Lang.CS.Plural.GetWithZero(org.Platy.AktualniRok().Count,
                                                 "<span class='text-danger'><i class='fa-solid fa-circle-xmark'></i> Odmítli poskytnout platy</span>",
                                                 "<span class='text-warning'><i class='fa-solid fa-circle-exclamation'></i></span> Evidujeme jeden plat jedné pozice",
                                                 $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platy",
                                                 $"<span class='text-success'><i class='fa-solid fa-badge-check'></span></i> {{0}} platů")
                                                 ).
                                    </td>
                                    @if (org.Platy.AktualniRok().Any())
                                    {
                                        var minimalniPlatOrganizace = org.Platy.AktualniRok().Min(m => m.HrubyMesicniPlat);
                                        var maximalniPlatOrganizace = org.Platy.AktualniRok().Max(m => m.HrubyMesicniPlat);
                                        var startPer = Math.Round((minimalniPlatOrganizace - platyMin) / platyLength * 100);
                                        var endPer = Math.Round((maximalniPlatOrganizace - minimalniPlatOrganizace) / platyLength * 100);
                                        if (endPer == 0)
                                            endPer = 1;
                                        var minimalniPlatAsString = HlidacStatu.Util.RenderData.NicePrice(minimalniPlatOrganizace).Replace(" ", "&nbsp;");
                                        var maximalniPlatAsString = HlidacStatu.Util.RenderData.NicePrice(maximalniPlatOrganizace).Replace(" ", "&nbsp;");

                                        <td class="col" title="Platové rozmezí v organizace se pohybuje od @Html.Raw(minimalniPlatAsString) do @Html.Raw(maximalniPlatAsString)">
                                            <span>@Html.Raw(minimalniPlatAsString)&nbsp;-&nbsp;@Html.Raw(maximalniPlatAsString)</span>
                                        </td>
                                        <td class="col-2 text-start d-none d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell" title="Platové rozmezí v organizace se pohybuje od @Html.Raw(minimalniPlatAsString) do @Html.Raw(maximalniPlatAsString)">
                                            <div class="d-flex"
                                                 style="width: 100%;height: 1rem;background: linear-gradient(90deg, hsl(216deg 100% 87%) 0%, hsl(216deg 100% 26.67%) 100%);">
                                                <div class="border-start  bg-light" style="width: @startPer%;height: 1rem"></div>
                                                <div class="bg-transparent rounded-pill position-relative"
                                                     style="width: @endPer%;height: 1rem;">
                                                </div>
                                                <div class="border-end bg-light" style="width: @(100 - endPer - startPer)%;height: 1rem"></div>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}