@model HlidacStatu.Entities.Entities.PuPlat

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Platy úředníků</a>
        </li>
        @foreach (var oblast in Model.Organizace.OblastPath())
        {
            <li>
                <a asp-action="Oblast" asp-route-id="@oblast.Value">@oblast.Key</a>
            </li>
        }
        <li>
            <a asp-action="Detail" asp-route-id="@Model.Organizace.Id">@Model.Organizace.Nazev</a>
        </li>
        <li class="active">@Model.NazevPozice <span class="small">(@Model.Rok)</span></li>
    </ol>
}
<style>

    .boxes h4 {
        font-size: 24px;
        font-weight: bold;
        padding-top: 20px;
    }

    .boxes p {
        font-size: 16px;
    }


    .boxes hr {
        border-top: 3px dotted #E0E6ED;
        margin-top: 24px;
        margin-bottom: 14px;
    }

</style>


<partial name="_platDetail" model="@Model" />
