@using HlidacStatu.Repositories
@using PlatyUredniku.Models;

@model List<PrumerPlatu>

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">Platy úředníků</a>
        </li>
        <li class="active">
            Přehled růstu platů
        </li>
    </ol>
}


<section class="d-flex align-items-center justify-content-center alter-bg-color">
    <div class="container">
        <h2>@ViewData["title"]</h2>
        <p class="text-muted">Přehled růstu manažerských platů včetně odměn vedoucích úřadů, státních podniků či příspěvkových organizací mezi roky @PuRepo.MinYear a @PuRepo.DefaultYear.</p>
    </div>
</section>
<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <p class="lead">@Html.Raw(ViewData["noteHtml"])</p>

        <table class="table table-hover table-striped">
            <thead class="xtable-light">
            <th>Organizace</th>
            <th><abbr title="Průměrný měsíční plat přepočtený z ročního příjmu včetně odměn">Měsíční plat</abbr> v @PuRepo.MinYear</th>
            <th><abbr title="Průměrný měsíční plat přepočtený z ročního příjmu včetně odměn">Měsíční plat</abbr> v @PuRepo.DefaultYear</th>
            <th>Nárůst %</th>
            <th>Nárůst absolutní</th>
            </thead>
            <tbody>
                @foreach (var prumerPlatu in Model.OrderByDescending(p => p.NarustProcentualni))
                {
                    <tr>
                        <td>
                            <a asp-action="Detail" asp-route-id="@prumerPlatu.DatovaSchrankaOrganizace">@prumerPlatu.NazevOrganizace</a>
                        </td>
                        <td class="number">@HlidacStatu.Util.RenderData.NicePrice(prumerPlatu.PlatPrvniRok ?? 0)</td>
                        <td class="number">@HlidacStatu.Util.RenderData.NicePrice(prumerPlatu.PlatPosledniRok ?? 0)</td>
                        <td class="number">@prumerPlatu.NarustProcentualni?.ToString("P")</td>
                        <td class="number">@HlidacStatu.Util.RenderData.NicePrice(prumerPlatu.NarustAbsolutni ?? 0)</td>
                        
                    </tr>
                }
            </tbody>
            <caption>Zobrazeno @(Model.Count) platů z celkem @(ViewData["pocetPlatuCelkem"])</caption>
        </table>

    </div>
</section>
