@using System.Net
@using HlidacStatu.Datasets
@using HlidacStatu.Repositories.Searching
@using HlidacStatu.XLib.Render
@model HlidacStatu.Web.Models.DataDetailModel

@{
    var registration = await Model.Dataset.RegistrationAsync();

    Newtonsoft.Json.Linq.JObject jmodel = await Model.Dataset.GetDataObjAsync(Model.Data);
    dynamic model = (dynamic)jmodel;

    string itemId = (model.Id ?? model.id) ?? "";
    ViewBag.Title = registration.name;
    ViewBag.SubTitle = itemId ;


    ViewBag.SocialShareTitle = $"<b>{ViewBag.Title}</b>";
    ViewBag.SocialShareText = await Model.Dataset.GetPreviewTextValueFromItemAsync(jmodel);
    ViewBag.SocialShareHtml = await Model.Dataset.GetPreviewTextValueFromItemAsync(jmodel);
    ViewBag.SocialShareHtmlFooter = Model.Dataset.DatasetItemUrl(itemId,false) ;
    ViewBag.SocialShareHtmlSubFooter = $"<b>Hlídáme je, protože si to zaslouží!</b>";
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/page?d={DateTime.Now.ToString("d.M.yy")}&v=" + WebUtility.UrlEncode(ViewContext.GetDisplayUrl());
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
            + "<meta property=\"og:image:height\" content=\"1080\" />"
            + "<meta property=\"og:image:type\" content=\"image/png\" />"
            ;


    IReadOnlyDictionary<string, IReadOnlyCollection<string>> highlightingData = ViewBag.Highlighting as IReadOnlyDictionary<string, IReadOnlyCollection<string>>;

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/data">Další databáze</a></li>
        <li><a href="@Model.Dataset.DatasetUrl()">@registration.name</a></li>
        <li class="active">Záznam: @ViewBag.Id</li>
    </ol>
    <div class="active float-end"><a href="/data/manage" class="btn btn-primary btn-sm" style="color:whitesmoke;text-decoration:none">Snadné přidání nového datasetu</a></div>
}

<partial name="Partials/_SearchForm" 
         model="@(new DataSearchRawResult() {DataSet = Model.Dataset,  Q = Context.Request.Query["qs"] })"/>

<hr style="margin-top: 35px;padding-bottom:15px;" />

<div id="data-detail-content">
    @{
        try
        {
            if (registration?.detailTemplate?.IsNewTemplate() == true)
            {
                var html = DatasetsRenderer.Render(registration.detailTemplate, Model.Dataset, model, highlightingData: highlightingData);
                @Html.Raw(html)
            }
            else
            {

                var dataId = Model.Data;
                var dataset = Model.Dataset;
                var itemInS = await dataset.GetDataAsync(dataId);
                var newModel = new DataDetailModel() { Dataset = dataset, Data = itemInS };
                Registration dsReg = DataSetDB.Instance.GetRegistrationAsync(model.Dataset.DatasetId);
                if (dsReg == null)
                {
                    <partial name="Partials/_data_noTemplate" model="@(newModel)"/>
                }
                else
                {
                    <partial name="Partials/_data_detail_properties" model="@(newModel)"/>
                }
                
            }
        }
        catch (Exception e)
        {
            var msg = e?.InnerException?.Message ?? e.Message;
            msg = Devmasters.RegexUtil.ReplaceWithRegex(msg, "", @".*: \s* error \s* CS\d{1,8}:");

            @Html.Raw($"<h2>Chyba v template - zpráva pro autora této databáze</h2><pre>{msg}</pre>")
            HlidacStatu.Util.Consts.Logger.Warning("Detail_CustomdataTemplate", e);

            if (msg != "Interní chyba")
            {
                await Model.Dataset.SendErrorMsgToAuthorAsync(ViewContext.GetDisplayUrl(), msg);
            }
        }
    }

    <hr />
    <table class="table">
        <tr>
            <td>Záznam v JSON</td>
            <td>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <a href="https://api.hlidacstatu.cz/api/v2/datasety/@(Model.Dataset.DatasetId)/zaznamy/@(itemId)">
                        https://api.hlidacstatu.cz/api/v2/datasety/@(Model.Dataset.DatasetId)/zaznamy/@(itemId)
                    </a>
                }
                else
                {
                    <code>https://api.hlidacstatu.cz/api/v2/datasety/@(Model.Dataset.DatasetId)/zaznamy/@(itemId)</code>
                }
                <br />
                <a href="/api">Popis API</a>

            </td>
        </tr>
    </table>
</div>

<partial name="Partials/_new"/>
