@model HlidacStatu.Web.Models.DatasetIndexStat[]
@using System.Linq;
@using HlidacStatu.Datasets

@{
    ViewBag.Title = "Hlídač státu";
    ViewBag.SubTitle = "Další databáze";

    List<string> alreadyRendered = new List<string>();

    var veklep = DataSet.CachedDatasets.Get("veklep");
    var vyjadreniPolitiku = DataSet.CachedDatasets.Get("vyjadreni-politiku");
    var jednaniVlady = DataSet.CachedDatasets.Get("jednani-vlady");
    var stenoZaznamy = DataSet.CachedDatasets.Get("stenozaznamy-psp");
    var tiskoveKonferenceVlady = DataSet.CachedDatasets.Get("tiskove-konference-vlady");
    var vyboryPsp = DataSet.CachedDatasets.Get("vybory-psp");
    var fondPokorneJermanove = DataSet.CachedDatasets.Get("fond-hejtmanky-pokorne-jermanove");
    var zasedaniZastupitelstev = DataSet.CachedDatasets.Get("zasedani-zastupitelstev");
    var rozhodnutiUohs = DataSet.CachedDatasets.Get("rozhodnuti-uohs");
    var ministryInvoices = DataSet.CachedDatasets.Get("ministry-invoices");
    var rejstrikTrestuPravnickychOsob = DataSet.CachedDatasets.Get("rejstrik-trestu-pravnickych-osob");
    var stavMostu = DataSet.CachedDatasets.Get("stav-mostu");
    var narodniInvesticniPlan = DataSet.CachedDatasets.Get("narodni-investicni-plan");
    var covidPodpory = DataSet.CachedDatasets.Get("covid-podpory-mpo");
    var prijemcyPodporyCovidProgramu = DataSet.CachedDatasets.Get("prijemci-podpory-covid-programu");
    var pomocCovid = DataSet.CachedDatasets.Get("pomoc-covid");
    var deMinimis = DataSet.CachedDatasets.Get("de-minimis");
    var seznamPolitickychStran = DataSet.CachedDatasets.Get("seznam-politickych-stran");
    var kvalifikovaniDodavatele = DataSet.CachedDatasets.Get("kvalifikovanidodavatele");
    var sbirka_pravnich_predpisu = DataSet.CachedDatasets.Get("sbirka-pravnich-predpisu");
    var ministri = DataSet.CachedDatasets.Get("ministri");
    var prijemcidotaci = DataSet.CachedDatasets.Get("prijemcidotaci");
}


@section breadcrumb
    {
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/data">Další databáze</a></li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
    <div class="active float-end"><a href="/data/manage" class="btn btn-primary btn-sm" style="color:whitesmoke;text-decoration:none">Snadné přidání nového datasetu</a></div>
}

    <div class="watcher-blocks">

        <div class="watcher-blocks__wrapper">


            <div class="watcher-block">
                <div class="watcher__title">
                    <img src="/Content/img/icon-person-watcher.svg">
                    <h3 class="new-title">
                        Vyjádření politiků
                    </h3>
                </div>
                @{
                alreadyRendered.AddRange(new string[] {
            "vyjadreni-politiku",
            "jednani-vlady",
            "stenozaznamy-psp",
            "tiskove-konference-vlady",
            "vybory-psp","ministri"
                });
            }
            <div class="block-col ">
                <p>
                    Snadno fulltextově dohledatelná vyjádření politiků, která najdete
                    <span class="exclusive">exkluzivně pouze na <img style="height:14px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>
                </p>
            </div>

            <div class="block-col ">
                <ul class="block-list" style="width:99%">
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/vyjadreni-politiku" class="tag">Vyjádření 100+ politiků na sociálních sítích</a>
                            <i class="fab fa-facebook-square"></i> <i class="fab fa-twitter-square"></i> <i class="fab fa-youtube"></i>
                        </span>  <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>
                        <div class="small" style="padding-left:1em;">
                            <b>@HlidacStatu.Util.RenderData.NiceNumber(vyjadreniPolitiku is null? 0 : await vyjadreniPolitiku.NumberOfRecordsAsync()) statusů</b>,
                            stovky videí převedených do textu.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/stenozaznamy-psp" class="tag">Kompletní přepis poslaneckých proslovů</a>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Stenozáznamy projevů v Poslanecké sněmovně, od 2008 do @(DateTime.Now.Year).
                            <span style="white-space:nowrap">
                                <b>@HlidacStatu.Util.RenderData.NiceNumber(stenoZaznamy is null? 0 : await stenoZaznamy.NumberOfRecordsAsync()) vystoupení</b>,
                            </span> propojení politiků, přehled kdo o tom mluvil.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/jednani-vlady" class="tag">Programy jednání vlády</a>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Plánovaná jednání, aktuální i archív od 2007.
                            <span style="white-space:nowrap">
                                <b>@HlidacStatu.Util.RenderData.NiceNumber(jednaniVlady is null? 0 : await jednaniVlady.NumberOfRecordsAsync()) záznamů</b>,
                            </span> milióny podkladových dokumentů, kompletní fulltextové prohledávání jejich obsahu, provázání na eKLEP.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/tiskove-konference-vlady" class="tag">Tiskové konference vlády</a>
                            <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Kompletní přepis obsahu tiskových konferecí na úřadu vlády, od 2006 do @(DateTime.Now.Year).
                            <span style="white-space:nowrap">
                                <b>@HlidacStatu.Util.RenderData.NiceNumber(tiskoveKonferenceVlady is null? 0 : await tiskoveKonferenceVlady.NumberOfRecordsAsync()) tiskovek</b>,
                            </span> kompletní fulltextové prohledávání jejich obsahu.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/vybory-psp" class="tag">Jednání výborů PSP</a>
                            <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Kompletní přepis obsahu parlamentních výborů Poslanecké sněmovny Parlamentu ČR.
                            <span style="white-space:nowrap">
                                <b>@HlidacStatu.Util.RenderData.NiceNumber(vyboryPsp is null? 0 : await vyboryPsp.NumberOfRecordsAsync()) záznamů</b>,
                            </span> kompletní fulltextové prohledávání zápisů z jednání a audio záznamů převedených do textu.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/ministri" class="tag">Ministři českých vlád</a>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Jak dlouho zodpovídají jednotlivé politické strany za fungování státu a jednotlivé resorty?
                            Které strany jsou tradiční a které se jimi stávají?
                            Zde je seznam ministrů českých vlád od 1992. Zdrojem dat je seznam ministrů vlád ČR z Wikipedie, který jsme vyčistili a znormalizovali pomocí OpenRefine.
                            Názvy resortů jsme sjednotili či jednodušili tehdy, pokud politická pozice odpovídala za obdobné oblasti, jen se trochu lišili.


                            <br>Obsahuje <b>@HlidacStatu.Util.RenderData.NiceNumber(ministri is null? 0 : await ministri.NumberOfRecordsAsync()) členů vlády</b>.
                        </div>
                    </li>
                </ul>

            </div>

        </div>

        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h3 class="new-title">
                    Rejstříky
                </h3>
            </div>

            @{
                alreadyRendered.AddRange(new string[] {
            "kvalifikovanidodavatele",
            "rejstrik-trestu-pravnickych-osob",
            "seznam-politickych-stran",
            "de-minimis",
            "sbirka-pravnich-predpisu"
                });
            }
            <div class="block-col ">
                <ul class="block-list" style="width:99%">
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/de-minimis" class="tag">
                                Registr podpor de minimis
                            </a> <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Seznam de minimis podpor pro malé a střední firmy od EU na základě pravidel EU.
                            <br />
                            Registr obsahuje také <a href="/data/Hledat/de-minimis?Q=PoskytovatelIco%3A44848943%20AND%20PodporaDatum%3A%5B2020-04-01%20TO%20%2A%5D&order=PodporaCzk%20desc">záruky bankovních úvěrů a dalších podpor v rámci vládních programů COVID-I a COVID-II</a> a i jiné formy podpor od státní organizací.

                            Evidujeme <b>@HlidacStatu.Util.RenderData.NiceNumber(deMinimis is null? 0 : await deMinimis.NumberOfRecordsAsync()) záznamů</b> od roku 2006.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/rejstrik-trestu-pravnickych-osob" class="tag">Rejstřík trestů právnických osob</a>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Seznam firem, které byly pravomocně odsouzeny podle zákona o trestní odpovědnosti právnických osob
                            a řízení proti nim.
                            Evidujeme <b>@HlidacStatu.Util.RenderData.NiceNumber(rejstrikTrestuPravnickychOsob is null? 0 : await rejstrikTrestuPravnickychOsob.NumberOfRecordsAsync())</b> záznamů.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/seznam-politickych-stran" class="tag">
                                Seznam politických stran a hnutí
                            </a>

                        </span>
                        <div class="small" style="padding-left:1em;">
                            Rejstřík politických stran a politických hnutí vedený Ministerstvem vnitra
                            od 1. ledna 2001 na základě zákona o sdružování v politických stranách a v politických hnutích.
                            Obsahuje i osoby v orgánech strany.


                            Obsahuje <b>@HlidacStatu.Util.RenderData.NiceNumber(seznamPolitickychStran is null? 0 : await seznamPolitickychStran.NumberOfRecordsAsync())</b> stran.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/kvalifikovanidodavatele" class="tag">
                                Kvalifikovani dodavatelé
                            </a>

                        </span>
                        <div class="small" style="padding-left:1em;">
                            Dodavatelé veřejných zakázek, kteří splnili kvalifikaci podle § 74 (základní způsobilost) a § 77 (profesní způsobilost) zákona o zadávání veřejných zakázek
                            a splnění kvalifikace doložili ministerstvu příslušnými doklady a současně zaplatili správní poplatek

                            Obsahuje <b>@HlidacStatu.Util.RenderData.NiceNumber(kvalifikovaniDodavatele is null? 0 : await kvalifikovaniDodavatele.NumberOfRecordsAsync()) dodavatelů</b>.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/sbirka-pravnich-predpisu" class="tag" style="white-space:normal">Sbírky právních předpisů územních samosprávných celků a některých správních úřadů</a>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Sbírky právních předpisů územních samosprávných celků a některých správních úřadů slouží k vyhlašování právních předpisů územních samosprávných celků a zákonem stanovených správních úřadů a ke zveřejňování dalších zákonem vymezených aktů.

                            Obsahuje <b>@HlidacStatu.Util.RenderData.NiceNumber(sbirka_pravnich_predpisu is null? 0 : await sbirka_pravnich_predpisu.NumberOfRecordsAsync()) předpisů</b>.
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h3 class="new-title">
                    Ekonomika
                </h3>
            </div>

            @{
                alreadyRendered.AddRange(new string[] {
            "narodni-investicni-plan",
            "covid-podpora",
            "ministry-invoices",
            "covid-podpory-mpo",
            "prijemcidotaci"
                });
            }
            <div class="block-col ">
                <ul class="block-list" style="width:99%">

                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/covid-podpora" class="tag">
                                Covid podpory 2020-2021 od všech resortů
                            </a> <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>

                        </span>
                        <div class="small" style="padding-left:1em;">
                            Kompletní seznam všech mimořádných COVID podpora od všech resortů.

                            @HlidacStatu.Util.RenderData.NiceNumber(covidPodpory is null? 0 : await covidPodpory.NumberOfRecordsAsync()) podpor.
                        </div>
                    </li>

                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/covid-podpory-mpo" class="tag">
                                Covid podpory od MPO
                            </a> <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>

                        </span>
                        <div class="small" style="padding-left:1em;">
                            Kompletní a detailní COVID výzvy vypsané Ministerstvem průmyslu a obchodu.

                            @HlidacStatu.Util.RenderData.NiceNumber(covidPodpory is null? 0 : await covidPodpory.NumberOfRecordsAsync()) podpor.
                        </div>
                    </li>


                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/pomoc-covid" class="tag">
                                Skutečně vydaná pomoc vlády v rámci COVID podpor
                            </a> <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>

                        </span>
                        <div class="small" style="padding-left:1em;">
                            Dopady pandemie koronaviru a restart ekonomiky by měli politici řešit rychle a podle pravidel. Hlídač státu spolu s Rekonstrukcí státu analyzuje státní pomoc ekonomice a zde jsou zdrojová data.
                            Jde o součást projektu „NEZHASÍNAT!”,
                            Obsahuje @HlidacStatu.Util.RenderData.NiceNumber(pomocCovid is null? 0 : await pomocCovid.NumberOfRecordsAsync()) sledovaných programů.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/ministry-invoices" class="tag">
                                Faktury ministerstev ČR
                            </a> <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>

                        </span>
                        <div class="small" style="padding-left:1em;">
                            Faktury ministerstev České republiky zpracované OpenDataLab.cz. Autor neručí za aktuálnost, správnost, úplnost a kvalitu předávaných informací.
                            Obsahuje @HlidacStatu.Util.RenderData.NiceNumber(ministryInvoices is null? 0 : await ministryInvoices.NumberOfRecordsAsync()) faktur od roku 2009.
                        </div>
                    </li>
                    <li>
                            <span style="white-space:nowrap">
                                <a href="/data/Index/prijemcidotaci" class="tag">Příjemci dotací</a>
                            <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg"></span>
                            </span>
                            <div class="small" style="padding-left:1em;">
                                Seznam příjemců dotací z fondů EU a ze státního rozpočtu ČR prostřednictvím administrace Státního zemědělského intervenčního fondu (SZIF)

                                Obsahuje @HlidacStatu.Util.RenderData.NiceNumber(prijemcidotaci is null? 0 : await prijemcidotaci.NumberOfRecordsAsync()) dotačních podpor.
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h3 class="new-title">
                    Veřejná správa
                </h3>
            </div>

            @{
                alreadyRendered.AddRange(new string[] {
            "fond-hejtmanky-pokorne-jermanove",
            "rozhodnuti-uohs",
            "veklep",
            "zasedani-zastupitelstev"
                });
            }
            <div class="block-col ">
                <ul class="block-list" style="width:99%">
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/veklep" class="tag">VeKLEP</a>
                            Elektronická knihovna legislativního procesu
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Eklep pro veřejnost (zkratka VeKLEP) zpřístupňuje vládní dokumenty z elektronická knihovna legislativního procesu. Jsou to dokumenty
                            legislativní povahy, které se nacházejí ve schvalovacím procesu státní správy. Najdete zde návrhy zákonů, novel, připomínky úřadů a vypořádání připomínek.
                            <br />Obsahuje <b>@HlidacStatu.Util.RenderData.NiceNumber(veklep is null? 0 : await veklep.NumberOfRecordsAsync()) záznamů</b>.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/fond-hejtmanky-pokorne-jermanove" class="tag">
                                Dotace z fondu hejtmanky Pokorné-Jermanové
                            </a>
                            <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Schválené a neschválené a žádosti o dotaci z fondu hejtmanky ing. Jaroslavy Pokorné Jermanové od roku 2017.
                            Zdrojové údaje získány žádostí dle 106/1999 Sb.
                            <br /><b>Obsahuje @HlidacStatu.Util.RenderData.NiceNumber(fondPokorneJermanove is null? 0 : await fondPokorneJermanove.NumberOfRecordsAsync()) rozhodnutí</b>.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/rozhodnuti-uohs" class="tag">
                                Rozhodnutí ÚOHS
                            </a>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Sbírka rozhodnutí Úřadu pro ochranu hospodářské soutěže od roku 1999 v oblastech hospodářské soutěže, veřejných zakázek,
                            veřejné podpory a v oblasti významné tržní síly.
                            <br /><b>Obsahuje @HlidacStatu.Util.RenderData.NiceNumber(rozhodnutiUohs is null? 0 : await rozhodnutiUohs.NumberOfRecordsAsync()) rozhodnutí</b>.
                        </div>
                    </li>
                    <li>
                        <span style="white-space:nowrap">
                            <a href="/data/Index/zasedani-zastupitelstev" class="tag">
                                Zasedání zastupitelstev
                            </a>
                            <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>
                        </span>
                        <div class="small" style="padding-left:1em;">
                            Audio záznamy zasedání zastupitelstev, přepis audia do textu, plné fulltextové vyhledávání.
                            <br /><b>Obsahuje @HlidacStatu.Util.RenderData.NiceNumber(zasedaniZastupitelstev is null? 0 : await zasedaniZastupitelstev.NumberOfRecordsAsync()) zasedání</b>.
                        </div>
                    </li>
                </ul>
            </div>
        </div>



        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h3 class="new-title">
                    Další databáze
                </h3>
            </div>
            @{
                string[] dsExclusive = new string[] { "prijemci-podpory-covid-programu", "narodni-investicni-plan", "rada-ceske-televize", "kapacity-nemocnic", "stav-mostu", "transparentni-ucty-transakce", "transparentni-ucty" };
            }
            <div class="block-col ">
                <ul class="block-list" style="width:99%">


                    @foreach (var ds in Model
                    .Where(m => m.Ds.betaversion == false)
                    .Where(m => alreadyRendered.Contains(m.Ds.id) == false)
                    .OrderBy(r => r.Ds.name).ThenBy(r => r.Ds.id))
                    {

                        <li>
                            <span style="white-space:nowrap">
                                <a href="/data/Index/@ds.Ds.id" class="tag">@ds.Ds.name</a>
                                @if (dsExclusive.Contains(ds.Ds.id))
                                {
                                    <span class="exclusive small">exkluzivně na <img style="height:12px;color:yellow" src="/Content/HlidacLoga/Hlidac-statu-ctverec%20invert%20transparent%20notext.svg" /></span>
                                }
                            </span>
                            <div class="small" style="padding-left:1em;">
                                @ds.Ds.description
                                @{
                                    var specificDataset = DataSet.CachedDatasets.Get(ds.Ds.id);
                                }

                                <br>Obsahuje <b>@HlidacStatu.Util.RenderData.NiceNumber(specificDataset is null? 0 : await specificDataset.NumberOfRecordsAsync()) záznamů</b>.
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>

        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h3 class="new-title">
                    Databáze v betě
                </h3>
            </div>
            <div class="block-col ">
                <p>
                    Mohou být nefunkční, obsahovat zkušební, neúplná či testovací data.
                </p>
            </div>


            <div class="block-col ">
                <ul class="block-list" style="width:99%">
                    @foreach (var ds in Model
                    .Where(m => m.Ds.betaversion == true)
                    .Where(m => alreadyRendered.Contains(m.Ds.id) == false)
                    .OrderBy(r => r.Ds.name).ThenBy(r => r.Ds.id))
                    {

                        <li>
                            <span style="white-space:nowrap">
                                <a href="/data/Index/@ds.Ds.id" class="tag">@ds.Ds.name</a>

                            </span>
                            <div class="small" style="padding-left:1em;">
                                @ds.Ds.description
                                @{
                                    var betaDataset = DataSet.CachedDatasets.Get(ds.Ds.id);
                                }
                                Obsahuje @HlidacStatu.Util.RenderData.NiceNumber(betaDataset is null? 0 : await betaDataset.NumberOfRecordsAsync()) záznamů.
                            </div>
                        </li>
                    }

                </ul>
            </div>



        </div>

    </div>
</div>

<div class="row">

    @*@RenderDatasets2(Model.Where(m => m.Ds.betaversion == false).OrderBy(r => r.Ds.name).ThenBy(r => r.Ds.id), email)*@
</div>

<hr />


<div class="bs-callout primary">
    <h4>Další databáze na Hlídači státu</h4>
    <div>
        Na této stránce je přehled databází, které na Hlídači státu zpracováváme sami, anebo s pomocí našich pomocníků a komunity kolem Hlídače.
    </div>
    <div>
        Data sem může zdarma nahrát každý registrovaný uživatel Hlídače státu, velmi snadno je propojit s ostatními databázemi Hlídače a zpřístupnit je tak všem.
        Data jsou na Hlídač státu nahrány pomocí <a href="/api">našeho API</a> nebo přímo z webu tlačítkem. <a href="/data/manage" class="btn btn-primary btn-sm" style="color:whitesmoke;text-decoration:none">Snadné přidání nového datasetu</a>
    </div>
    <div>
        Pokud máte tip na zajímavý zdroj dat, <a href="mailto:podpora@hlidacstatu.cz" target="_blank">napište nám</a>.
;    </div>
</div>

<partial name="Partials/_new" />
