@model AreaRangeRenderOptions

@using HlidacStatu.Entities.Entities
@using MathNet.Numerics.Statistics
@using PlatyUredniku.Models

@{
    string chartId = HlidacStatu.Util.Consts.Rnd.Next(999).ToString("000");


    PlatyUredniku.Models.AreaRangePlot chartData = PlatyUredniku.Models.AreaRangePlot.ToAreaRangePlotWithPrumer(Model.Platy,"Vývoj platů ");
    
}

@if (chartData == null)
{
    if (!string.IsNullOrEmpty(Model.TextForNoData))
    {
        <div>@Model.TextForNoData</div>
    }

    return;
}
<figure >
    <div id="chart-container-@chartId"></div>

    <div class="text-muted">Rozsah průměrných manažerských měsíčních platů vedení organizace (včetně odměn) přepočtených z ročního příjmu za sledované období</div>

</figure>

<script>
    Highcharts.chart('chart-container-@(chartId)', {
        chart: {
            height: '@Model.CssHeight' , // 16:6 ratio
            width: null // 16:6 ratio
        },
        title: {
            text: '@Html.Raw(chartData.Title)',
            align: 'left'
        },
        subtitle: {
            text: '@Html.Raw(chartData.Subtitle)',
            align: 'left'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Výše platu'
            },
            labels: {
                format: '{value:,.0f} Kč'
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true,
            valueSuffix: ' Kč'
        },
        plotOptions: {
            series: {
                pointStart: Date.UTC(@chartData.FirstYear, 1, 1),
                pointIntervalUnit: 'year'
            }
        },
        series: [
            {
                name: 'Plat šéfa',
                color: 'red',
                data: @chartData.DrawExtras(),
                zIndex: 1
            }, {
                name: 'Medián',
                data: @chartData.DrawMedians(),
                zIndex: 1,
                marker: {
                    fillColor: 'white',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[0]
                }
            }, {
                name: 'Rozsah',
                data: @chartData.DrawMinMaxes(),
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[0],
                fillOpacity: 0.3,
                zIndex: 0,
                marker: {
                    enabled: false
                }
            }]
    });

</script>

