@using HlidacStatu.DS.Graphs
@using HlidacStatu.Extensions;
@using HlidacStatu.Repositories
@using HlidacStatu.Web.TagHelpers;


@model (HlidacStatu.Entities.Osoba osoba, string viewName, string title)

@{
    ViewBag.Title = Model.title;
    ViewBag.HideTitle = true;

    ViewBag.SocialShareTitle = $"{Model.osoba.FullNameWithYear()}";
    ViewBag.SocialShareText = HlidacStatu.Util.InfoFact.RenderInfoFacts(Model.osoba.InfoFactsCached(), 4, true, true, ", ");
    ViewBag.SocialShareType = "article";
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/osoba?d={DateTime.Now.ToString("yyMMdd")}&v=" + Model.osoba.NameId;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
                + "<meta property=\"og:image:height\" content=\"1080\" />"
                + "<meta property=\"og:image:type\" content=\"image/png\" />";


    Relation.AktualnostType? aktualnost = ViewBag.Aktualnost;
}
@section metatags
{

    @if (Model.osoba != null
        && HlidacStatu.Web.Framework.Constants.DontIndexOsoby.Contains(Model.osoba.NameId.ToLower()))
    {
        <meta name="robots" content="noindex, noarchive">
    }
}
@section breadcrumb
{

    @{
        var items = new List<Schema.NET.IListItem>()
{
            new Schema.NET.ListItem()
            {
                Item = new Schema.NET.WebPage()
                {
                    Name="Hlídač státu",
                    Url= new Uri( "https://www.hlidacstatu.cz"),
                    Id=new Uri( "https://www.hlidacstatu.cz")
                }
            },
            new Schema.NET.ListItem()
            {
                Item = new Schema.NET.WebPage()
                {
                    Name="Osoby",
                    Id = new Uri("https://www.hlidacstatu.cz/osoby/")
                }
            }
        };
        if (Model.viewName.ToLower() != "index")
        {
            items.Add(new Schema.NET.ListItem()
            {
                Item = new Schema.NET.Person()
                {
                    Name = Model.osoba.FullNameWithYear(),
                    Description = HlidacStatu.Util.InfoFact.RenderInfoFacts(Model.osoba.InfoFactsCached(), 4, true, true, ", "),
                    FamilyName = Model.osoba.Prijmeni,
                    GivenName = Model.osoba.Jmeno,
                    Image = Model.osoba.HasPhoto() ? new Uri(Model.osoba.GetPhotoUrl(false)) : null,
                    Brand = new Schema.NET.Brand(){
                        Name= Model.osoba.CurrentPoliticalParty(),                       
                    },
                    Url = new Uri("https://www.hlidacstatu.cz/osoba/" + Model.osoba.NameId),
                    Id = new Uri("https://www.hlidacstatu.cz/osoba/" + Model.osoba.NameId)
                }
            }) ;
            items.Add(new Schema.NET.ListItem()
            {
                Item = new Schema.NET.WebPage()
                {
                    Name = ViewBag.Title
                }
            });
        }
        else
        {
            items.Add(new Schema.NET.ListItem()
            {
                Item = new Schema.NET.Person()
                {
                    Name = Model.osoba.FullNameWithYear(),
                    Id = new Uri("https://www.hlidacstatu.cz/osoba/" + Model.osoba.NameId)
                }
            });
        }

        var breadCr = new Schema.NET.BreadcrumbList() { ItemListElement = items };
    }

    @Html.RenderBreadcrumb(breadCr)
    @*<ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>Osoby</li>
        @if (Model.viewName.ToLower() != "index")
        {
            <li><a href="/osoba/@Model.osoba.NameId">@Model.osoba.FullNameWithYear()</a></li>
            <li class="active">@ViewBag.Title</li>
        }
        else
        {
            <li class="active">@Model.osoba.FullNameWithYear()</li>
        }
    </ol>*@
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
    <script src="/scripts/highcharts-6/highcharts-more.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/treemap.js"></script>
    @* Přidá barevnou paletu ke grafům *@
    @Html.GraphTheme()
}
@section onlyembed
{

    <a href="@Model.osoba.GetUrl(false)" target="_top">
    <img src="@($"https://www.hlidacstatu.cz/socialbanner/osoba?d={DateTime.Now.ToString("yyMMdd")}&v=" + Model.osoba.NameId)" style="width:95%;height:auto;max-width:@(ViewBag.MaxWidth)px" />
    </a>
}

<style>
    .sub-header-info {
        padding-bottom: 10px;
        font-size: 1em;
        margin-top: -4px;
    }

    .my-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .py-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .boxes h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .head h3 {
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }

    .watcher .btn {
        background-color: rgb(231,102,5);
        padding: 7px 15px;
        margin: 5px 0px;
        text-transform: none;
        font-size: 14px;
    }

    .moreinfolink {
        padding-top: 10px;
        display: block;
    }

    hr {
        border-top: 3px dotted #E0E6ED;
        margin-top: 24px;
        margin-bottom: 24px;
    }
</style>



<div class="head">
    <h3>
        <add-bookmark name="@(ViewBag.Title + " " + ViewBag.SubTitle)" item="@Model.osoba" style="font-size:0.7em;vertical-align:top;"></add-bookmark>
        @if (await Model.osoba.NotInterestingToShowAsync())
        {
            <span>@Model.osoba.FullName()</span>
        }
        else
        {
            <span>@Model.osoba.FullNameWithYear()</span>
            
        }
        @if (this.User?.IsInRole("canEditData") == true)
        {
            <a href="https://admin.hlidacstatu.cz/EventEditor/@Model.osoba.InternalId" target="_blank" style="font-size:0.8em">
                <i class="far fa-axe"></i>
            </a>
        }
    </h3>
</div>
<hr />


<div class="row boxes">
    @* Pravý sloupec *@
    <cache expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@($"{Model.osoba.NameId}_{User.Identity.IsAuthenticated}")">
        <partial name="RightColumn" model="@Model.osoba" />
    </cache>

    @* Prázdný sloupec *@
    <div class="col-sm-1 order-2"></div>
    <cache enabled="@(!Html.IsDebug())" expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@($"{Model.osoba.NameId}_{Model.viewName}_{User.Identity.IsAuthenticated}_{this.Context.Request.QueryString.ToString()}")">
        @{
            if (!Html.IsDebug())
            {<text>
                <!-- cached -->
                </text>
            }
            else
            {
                <text>
                    <!-- not cached -->
                </text>
            }
        }
        <partial name="@Model.viewName" model="@Model.osoba" />
    </cache>

</div>