@model HlidacStatu.Entities.Osoba
@using HlidacStatu.DS.Graphs
@using HlidacStatu.XLib.Render;
@using HlidacStatu.Repositories
@using HlidacStatu.Extensions
@using HlidacStatu.Entities
@using HlidacStatu.Repositories.Cache

@{
    Layout = null;

    Osoba.Statistics.Dotace stats = await Model.StatistikaDotaceAsync();
    var allStats = stats.AllDotaceSummary();


    var chartData = new Series[]
    {
        new()
        {
            Name = "Celkem Kč",
            Type = Series.SeriesType.column,
            Data = allStats
                .Where(x => x.Year > 0)
                .OrderBy(x => x.Year)
                .Select(x => new SeriesData(x.Year, x.Value.CelkemPrideleno)).ToArray(),
            SeriesTooltip = new SeriesTooltip()
            {
                ValueSuffix = " Kč"
            }
        },
    };


    string NiceString(string url, string query, int pocet, decimal cenaCelkem, int? year = null)
    {
        return $"<a href='{ValidUrl(url, query, year)}'>" +
               Devmasters.Lang.CS.Plural.Get(pocet, "{0} dotace;{0} dotace;{0} dotací") +
               "</a> ve výši " +
               Smlouva.NicePrice(cenaCelkem, html: true, shortFormat: true);
    }

    string ValidUrl(string url, string query, int? year = null)
    {
        if (year.HasValue)
        {
            query = HlidacStatu.Searching.Query.ModifyQueryAND(query, $"approvedYear:{year}");
        }

        return $"{url}?q={System.Net.WebUtility.UrlEncode(query)}";
    }
}


@* První sloupec *@
<div id="subjcontent_toc">


    <h4>Souhrnné statistiky dotací pro @Model.FullName()</h4>
    <p>

    <div class="bs-callout info">
        <h5>Statistiky dotací, které uzavřely firmy s vazbou na @Model.FullName()</h5>
        <p>
            <b>@Html.Raw(NiceString($"/dotace/hledat", $"osobaid:{Model.NameId}", (int)allStats.Summary().PocetDotaci, allStats.Summary().CelkemPrideleno))</b>
        </p>

    </div>




    </p>
    @Html.ColumnGraph("Hodnota získaných dotací  po letech", chartData, yTitleRight: "Kč")

    <hr/>
    <h4>Detailní statistiky dotací podle firem s vazbou na @Model.FullName()</h4>

    <table class="table table-hover table-new table-new--dotted table-striped table-bordered">
        <thead>
        <tr>
            <th>Firma</th>
            <th>Dotace obdržené firmou</th>
            <th>Vztah @Model.FullName() s firmou</th>
        </tr>
        </thead>

        @foreach (var vPerIco in (stats.SoukromeFirmy.Union(stats.StatniFirmy).Union(stats.Neziskovky))
                      .OrderByDescending(o => o.Value.Summary().CelkemPrideleno)
                      .ThenByDescending(o => o.Value.Summary().PocetDotaci)
                      .Where(o => o.Value.Summary().PocetDotaci > 0)
                     )
        {
            string ico = vPerIco.Value.ICO;
            Firma f = await FirmaCache.GetAsync(ico);
            <tr>
                <td>
                    <a href="@(f.GetUrl(true))">@f.Jmeno</a>
                </td>
                <td>
                    @if (vPerIco.Value.Summary().PocetDotaci > 0)
                    {
                        <span style="white-space:nowrap">
                            <a href="/subjekt/Dotace/@(ico)">
                                @Devmasters.Lang.CS.Plural.Get(vPerIco.Value.Summary().PocetDotaci, "{0} dotace;{0} dotace;{0} dotací")
                            </a>
                            <br/>ve výši @Html.Raw(Smlouva.NicePrice(vPerIco.Value.Summary().CelkemPrideleno, html: true, shortFormat: true))
                        </span>
                    }
                    else
                    {
                        <span>Žádné dotace nepřiděleny</span>
                    }


                </td>
                <td>
                    @await Html.RenderPathAsync(await HlidacStatu.Repositories.PlneVazby.Core.AllPathsCachedAsync(Model, Relation.CharakterVazbyEnum.VlastnictviKontrola, ico))
                </td>
            </tr>
        }
    </table>


</div>