@model HlidacStatu.Entities.Osoba
@using System.Linq;
@using Devmasters.Enums;
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories

@{
    Layout = null;
}


@* Pravý sloupec *@
<div class="row">

    <div class="col-sm-4">
        <div class="person-profile-thumb">
            <div class="photo">
                <a href="@Model.GetUrl()">
                    <div class="profile-picture border" style="background-image: url('@Model.GetPhotoUrl(local: true, phototype: HlidacStatu.Entities.Osoba.PhotoTypes.NoBackground)')"></div>
                </a>
                <div style="padding-right: 16px; position: relative;" class="text-muted small text-center">
                    @if (Model.HasPhoto())
                    {
                        <a href="/manage/changephoto/@(Model.NameId)">změnit foto</a>
                    }
                    else
                    {
                        <a href="/manage/changephoto/@(Model.NameId)">přidat foto</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <p class="py-0 my-0 text-muted">@Model.StatusOsoby().ToNiceDisplayName()</p>
        <p class="py-0 my-0 lead">
            <a href="@Model.GetUrl()">@Model.FullName()</a>
        </p>
        <p class="py-0 my-0">@Html.Raw(Model.NarozeniYear(true))</p>

        @if (Model.GetSocialContacts().Any())
        {
            <p class="py-0 my-0 text-muted">
                @foreach (var ev in Model.GetSocialContacts())
                {
                    <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, "", "")</span>
                }
            </p>
        }

    </div>


</div>
<hr/>
<div class="watcher">
    <h4>Chci hlídat</h4>
    <div>
        @{
            var wdModel = new WatchdogViewModel(null, $"OsobaId:{Model.NameId}", $"Vše o <b>{Model.FullName()}</b>",
                buttonCss: "btn btn-warning btn-xs", prefillWDname: $"Novinky pro {Model.FullName()}",
                showWdList: false, preButtonText: "");

            <partial name="WebUtil/AddWatchdog" model="wdModel"/>
        }

    </div>
</div>
<hr/>
<div>
    <span class="text-muted">Chci sdílet s ostatními</span>
    <div>
        @{
            var linkUrl = $"{ViewContext.GetBaseUrl()}/osoba/{Model.NameId}";
        }
        <share-facebook url="@linkUrl"></share-facebook>
        <share-twitter url="@linkUrl" text="@($"{Model.FullName()} na @HlidacStatu - {(Model.InfoFactsCached()).First().Render(false)}")"></share-twitter>
        <share-widget url="@linkUrl"></share-widget>
    </div>
</div>