@model HlidacStatu.Entities.Osoba

@using System.Threading
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using HlidacStatu.DS.Graphs


@{
    Layout = null;

    Relation.AktualnostType aktualnost = Relation.AktualnostType.Nedavny;
    if (EnumsNET.Enums.TryParse<Relation.AktualnostType>(ViewBag.Aktualnost.ToString(), out Relation.AktualnostType xen))
    {
        aktualnost = xen;
    }
}

@* První sloupec *@
<div id="subjcontent_toc">

    <p>
        <a href="@Url.Action("Vazby", new { id = Model.NameId, aktualnost = Relation.AktualnostType.Aktualni })"
           class="btn btn-hs btn-@(aktualnost == Relation.AktualnostType.Aktualni ? "success" : "primary") btn-sm"
           role="button">
            @(aktualnost == Relation.AktualnostType.Aktualni ? "Zobrazujeme" : "Ukázat") pouze aktuální vazby
        </a>
        <a href="@Url.Action("Vazby", new { id = Model.NameId, aktualnost = Relation.AktualnostType.Nedavny })"
           class="btn btn-hs btn-@(aktualnost == Relation.AktualnostType.Nedavny ? "success" : "primary") btn-sm"
           role="button">
            @(aktualnost == Relation.AktualnostType.Nedavny ? "Zobrazujeme" : "Ukázat") aktuální a nedávno skončené
            vazby
        </a>
        <a href="@Url.Action("Vazby", new { id = Model.NameId, aktualnost = Relation.AktualnostType.Libovolny })"
           class="btn btn-hs btn-@(aktualnost == Relation.AktualnostType.Libovolny ? "success" : "primary") btn-sm"
           role="button">
            @(aktualnost == Relation.AktualnostType.Libovolny ? "Zobrazujeme" : "Ukázat") všechny vazby včetně
            historických
        </a>
    </p>


    <p style="padding-top:30px;">
    </p>
    @{
        var semaphore = new SemaphoreSlim(20);

        var dataTasks = (await Model.AktualniVazbyAsync(Relation.CharakterVazbyEnum.Uredni, aktualnost))
        .Where(v => v.To != null && v.To.Type == HlidacStatu.DS.Graphs.Graph.Node.NodeType.Company)
        .GroupBy(f => f.To.Id, v => v, (ico, v) => new { ico, v })
        .Select(async g =>
        {
            await semaphore.WaitAsync();
            try
            {
                return new
                {
                    ICO = g.ico,
                    FirmaName = await g.v.First().To.PrintNameAsync(),
                    VazbyPerIco = await OsobaVazbyRepo.VazbyProIcoCachedAsync(Model, Relation.CharakterVazbyEnum.Uredni, g.ico)
                };
            }
            finally
            {
                semaphore.Release();
            }
        })
        .ToArray();

        var data = (await Task.WhenAll(dataTasks))
        .OrderBy(m => m.FirmaName)
        .ToList();
    }
    <p style="padding-top:30px;">
        @foreach (var vPerIco in data)
        {
            <div>
                <h4><a href="@Url.Action("Index", "Subjekt", new { id = vPerIco.ICO })">@vPerIco.FirmaName</a></h4>
                @{
                    var paths = await HlidacStatu.Repositories.PlneVazby.Core.AllPathsCachedAsync(Model, Relation.CharakterVazbyEnum.VlastnictviKontrola, vPerIco.ICO);
                }
                @await Html.RenderPathAsync(paths)


            </div>
        }
    </p>
</div>
