@page
@using WatchdogAnalytics.Models
@using WatchdogAnalytics.Services
@model WatchdogAnalytics.Pages.JedenJobModel

@{
    ViewData["Title"] = "Souhrnné statistiky a detailní porovnání";

    var analyza = this.HttpContext.TryFindKey();

    int percentil = Devmasters.ParseText.ToInt(Request.Query["percentil"].FirstOrDefault(), 10) ?? 10;
    int maxprice = Devmasters.ParseText.ToInt(Request.Query["maxprice"].FirstOrDefault(), 199999) ?? 199999;
    int minprice = Devmasters.ParseText.ToInt(Request.Query["minprice"].FirstOrDefault(), 0) ?? 0;
    decimal value = Devmasters.ParseText.ToDecimal(Request.Query["value"].FirstOrDefault(), 8000m) ?? 8000m;

    CompareDataModel graphModel = new();
    BarGraph histogram = new();
    List<JobStatistics> statistics = new();

    if (Model.Key.HasValue)
    {
        statistics = JobService.GetStatistics(Model.Key.Value);

        histogram.Data = JobService.GetDistinctJobs(Model.Key.Value);
        histogram.Title = "Histogram cen všech pozic";
        histogram.MaxWidth = 1200;
    }

}


<h2>Aktivní parametry</h2>
<p>
    <table class="table table-bordered table-condensed" style="width:auto;min-width:80%">
        <tr>
            <th colspan="2">Analýza pro zvolený percentil a cenu</th>
        </tr>
        <tr>
            <td class="number"><input id="in_percentil" type="number" name="percentil" value="@percentil" style="text-align: right !important;width:100px" class="small" /> % percentil</td>
            <td class="number">Analyzovaná cena <input id="in_value" type="number" name="value" value="@value" style="text-align: right !important;width:100px" class="small" />Kč s DPH</td>
        </tr>
        <tr><th colspan="2">Počet smluv, ve kterých jsme nalezli jednotlivé pozice, filtrované podle rozsahu cen</th></tr>
        <tr>
            <td class="number">Rozsah cen od <input id="in_minprice" type="number" name="minprice" value="@minprice" style="text-align: right !important;width:100px" class="small" />Kč s DPH/MD</td>
            <td class="number">do <input id="in_maxprice" type="number" name="maxprice" value="@maxprice" style="text-align: right !important;width:100px" class="small" />Kč s DPH/MD</td>
        </tr>
        <tr><td colspan="3" style="text-align: right !important;"><button type="button" onclick="changeParams()">Změnit parametry</button></td></tr>
    </table>
    <script>
        function changeParams() {
            var url = '/advanced?@Html.Raw(analyza.Value.UrlDecodedParams)&percentil=' + $("#in_percentil").val() + '&minprice=' + $("#in_minprice").val() + '&maxprice=' + $("#in_maxprice").val() + '&value=' + $("#in_value").val();
            window.location = url;
        }
    </script>
</p>
<div class="bs-callout info small">
    <h4>Co znamená @percentil % percentil?</h4>
    <p>
        Percentil dělí statistický soubor platů na setiny. <span class="number">@percentil %</span> percentil znamená, že <span class="number">@percentil %</span> odměn ze souboru dat je nižších než daná hodnota, <span class="number">@(100-percentil) %</span> platů je vyšších nebo stejných.
    </p>
</div>
<h1>Souhrnné statistiky</h1>
@if (Model.Key.HasValue)
{
    <table class="table table-sm table-striped mt-4">
        <caption>Přehled cen - souhrn</caption>
        <thead>
            <tr>
                <th scope="col">Pozice (počet smluv)</th>
                <th scope="col" class="text-end">Percentil pro <br /> <span class="number">@value</span> Kč s DPH</th>
                <th scope="col" class="text-end">@percentil % percentil</th>
                <th scope="col" class="text-end">Dolní kvartil</th>
                <th scope="col" class="text-end">Medián</th>
                <th scope="col" class="text-end">Horní kvartil</th>
                <th scope="col" class="text-end">Min</th>
                <th scope="col" class="text-end">Průměr</th>
                <th scope="col" class="text-end">Max</th>
                <th scope="col" class="text-end">Počet<br />smluv</th>
                <th scope="col" class="text-end">Počet<br />dodavatelů</th>
            </tr>
        </thead>
        <tbody>
            @foreach (JobStatistics row in statistics.OrderBy(m => m.Name))
            {
                <tr>
                    <th scope="row">
                        <a href="/Obor/@row.Name">@row.Name</a>
                        @{
                            var smlouvyIds = row.Jobs
                            .Where(m => minprice <= m.PricePerUnitVat && m.PricePerUnitVat <= maxprice)
                            .Select(m => m.SmlouvaId)
                            .Distinct();

                            var smlouvyQuery = "";

                            if (smlouvyIds.Count() > 0)
                            {
                                smlouvyQuery = "id:(" + string.Join(" OR ", smlouvyIds) + ")";
                            }

                        }
                        @if (smlouvyQuery.Length > 0)
                        {
                            <a target="_blank" href="https://www.hlidacstatu.cz/hledatsmlouvy?q=@(System.Net.WebUtility.UrlEncode(smlouvyQuery))"><i class="fa-regular fa-file-contract"></i>(@smlouvyIds.Count())</a>
                        }
                    </th>
                    @{
                        long quantileForValue = (long)Math.Round(HlidacStatu.Util.MathTools.PercentileForValue(row.Jobs.Select(m => m.PricePerUnitVat), value) * 100m);
                    }
                    <td class="text-end">@Html.Raw(HlidacStatu.Util.RenderData.NiceNumber(quantileForValue,true)) %</td>
                    <td class="text-end">@row.Kvartil(percentil).ToString("N0")</td>
                    <td class="text-end">@row.DolniKvartil.ToString("N0")</td>
                    <td class="text-end">@row.Median.ToString("N0")</td>
                    <td class="text-end">@row.HorniKvartil.ToString("N0")</td>
                    <td class="text-end">@row.Minimum.ToString("N0")</td>
                    <td class="text-end">@row.Average.ToString("N0")</td>
                    <td class="text-end">@row.Maximum.ToString("N0")</td>
                    <td class="text-end">@row.ContractCount</td>
                    <td class="text-end">@row.SupplierCount</td>

                </tr>
            }
        </tbody>
    </table>
    <hr />
    <partial name="Shared/_BarGraph" model="histogram" />

    <hr />
    <h1>Statisticky pro jednotlivé pozice</h1>

    @foreach (var obor in statistics.Where(m => !string.IsNullOrEmpty(m.Name)).OrderBy(x => x.Name))
    {
        var statistics1 = JobService.GetTagStatistics(obor.Name, Model.Key.Value);

        histogram.Data = JobService.GetDistinctJobs(Model.Key.Value)
                            .Where(m => m.Polozka.ToLower() == obor.Name.ToLower())
                            .ToList();

        histogram.Title = "Histogram cen pozice " + obor.Name;
        histogram.MaxWidth = 1200;


        <h2>@obor.Name</h2>
        <table class="table table-sm table-striped mt-4">
            <caption>Přehled cen - souhrn</caption>
            <thead>
                <tr>
                    <th scope="col">Pozice</th>
                    <th scope="col" class="text-end">@percentil percentil</th>
                    <th scope="col" class="text-end">Dolní kvartil</th>
                    <th scope="col" class="text-end">Medián</th>
                    <th scope="col" class="text-end">Horní kvartil</th>
                    <th scope="col" class="text-end">Minimum</th>
                    <th scope="col" class="text-end">Průměr</th>
                    <th scope="col" class="text-end">Maximum</th>
                    <th scope="col" class="text-end">Počet smluv</th>
                    <th scope="col" class="text-end">Počet dodavatelů</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in statistics1.OrderBy(m => m.Name))
                {
                    <tr>
                        <th scope="row">
                            <a href="/Obor/@row.Name">@row.Name</a>
                            @{
                                var smlouvyIds = row.Jobs
                                .Where(m => minprice <= m.PricePerUnitVat && m.PricePerUnitVat <= maxprice)
                                .Select(m => m.SmlouvaId)
                                .Distinct();

                                var smlouvyQuery = "";

                                if (smlouvyIds.Count() > 0)
                                {
                                    smlouvyQuery = "id:(" + string.Join(" OR ", smlouvyIds) + ")";
                                }

                            }
                            @if (smlouvyQuery.Length > 0)
                            {
                                <a target="_blank" href="https://www.hlidacstatu.cz/hledatsmlouvy?q=@(System.Net.WebUtility.UrlEncode(smlouvyQuery))"><i class="fa-regular fa-file-contract"></i>(@smlouvyIds.Count())</a>
                            }
                        </th>
                        <td class="text-end">@row.Kvartil(percentil).ToString("N0")</td>
                        <td class="text-end">@row.DolniKvartil.ToString("N0")</td>
                        <td class="text-end">@row.Median.ToString("N0")</td>
                        <td class="text-end">@row.HorniKvartil.ToString("N0")</td>
                        <td class="text-end">@row.Minimum.ToString("N0")</td>
                        <td class="text-end">@row.Average.ToString("N0")</td>
                        <td class="text-end">@row.Maximum.ToString("N0")</td>
                        <td class="text-end">@row.ContractCount</td>
                        <td class="text-end">@row.SupplierCount</td>

                    </tr>
                }
            </tbody>
        </table>


        <partial name="Shared/_BarGraph" model="histogram" />

    }


}