@page
@using HlidacStatu.Entities
@using HlidacStatu.Ceny.Models
@using HlidacStatu.Ceny.Services
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Cenové analýzy ICT prací";

}

<div class="col-lg-10 position-relative zindex-5">

    <h1>@ViewData["Title"]</h1>

    <section class="container pb-sm-3 pb-md-2 pb-lg-2 mb-xl-2 mb-xxl-2">
        <div class="bg-light rounded-5 py-4 py-md-5 px-lg-5">
            <div class="row row-cols-2 row-cols-md-4 g-0">
                <table class="table ">
                    @{
                        var a_it20 = new JobService.AnalysisStat(new YearlyStatisticsGroup.Key() { Obor = "IT", Rok = 2020 });
                    }
                    @if (HttpContext.HasAccess("IT", 2020).Result.Access == false)
                    {
                        <tr @Html.Raw(Request.Query["accent"].Equals("it2020") ? "class=\"table-warning\"" : "")>
                            <td width="60%">
                                <div class="fs-6 fw-bolder text-decoration-none text-muted">
                                    Přehled obvyklých cen IT prací ve státní správě za rok 2020
                                </div>
                            </td>
                            <td width="20%">
                                <a class="btn btn-primary" href="/Objednat">Objednat</a>
                            </td>
                            <td width="20%">
                                <div class="text-muted small">
                                    Údaje z @a_it20.PocetSmluv smluv od <b class="text-black">@a_it20.PocetZadavatelu</b> zadavatelů,
                                    <b class="text-black">@a_it20.PocetDodavatelu</b> dodavatelů,
                                    zahrnuje <b class="text-black">@a_it20.PocetCen cen</b>.
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr @Html.Raw(Request.Query["accent"].Equals("it2020") ? "class=\"table-warning\"" : "")>
                            <td>
                                <a class="fs-6 fw-bolder" href="/Souhrn?obor=IT&rok=2020">Přehled obvyklých cen IT prací ve státní správě za rok 2020</a>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="/Souhrn?obor=IT&rok=2020">Otevřít analýzu</a>
                            </td>
                            <td>
                                <div class="text-muted small">
                                    Údaje z @a_it20.PocetSmluv smluv od <b class="text-black">@a_it20.PocetZadavatelu</b> zadavatelů,
                                    <b class="text-black">@a_it20.PocetDodavatelu</b> dodavatelů,
                                    zahrnuje <b class="text-black">@a_it20.PocetCen cen</b>.
                                </div>
                            </td>
                        </tr>
                    }
                    @{
                        var a_it21 = new JobService.AnalysisStat(new YearlyStatisticsGroup.Key() { Obor = "IT", Rok = 2021 });
                    }
                    @if (HttpContext.HasAccess("IT", 2021).Result.Access == false)
                    {
                        <tr @Html.Raw(Request.Query["accent"].Equals("it2021") ? "class=\"table-warning\"" : "")>
                            <td width="60%">
                                <div class="fs-6 fw-bolder text-decoration-none text-muted">
                                    Přehled obvyklých cen IT prací ve státní správě za rok 2021
                                </div>
                            </td>
                            <td width="20%">
                                <a class="btn btn-primary" href="/Objednat">Objednat</a>
                            </td>
                            <td width="20%">
                                <div class="text-muted small">
                                    Údaje z @a_it21.PocetSmluv smluv od <b class="text-black">@a_it21.PocetZadavatelu</b> zadavatelů,
                                    <b class="text-black">@a_it21.PocetDodavatelu</b> dodavatelů,
                                    zahrnuje <b class="text-black">@a_it21.PocetCen cen</b>.
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr @Html.Raw(Request.Query["accent"].Equals("it2021") ? "class=\"table-warning\"" : "")>
                            <td>
                                <a class="fs-6 fw-bolder" href="/Souhrn?obor=IT&rok=2021">Přehled obvyklých cen IT prací ve státní správě za rok 2021</a>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="/Souhrn?obor=IT&rok=2021">Otevřít analýzu</a>
                            </td>
                            <td>
                                <div class="text-muted small">
                                    Údaje z @a_it21.PocetSmluv smluv od <b class="text-black">@a_it21.PocetZadavatelu</b> zadavatelů,
                                    <b class="text-black">@a_it21.PocetDodavatelu</b> dodavatelů,
                                    zahrnuje <b class="text-black">@a_it21.PocetCen cen</b>.
                                </div>
                            </td>
                        </tr>
                    }

                    @{
                        var a_it22 = new JobService.AnalysisStat(new YearlyStatisticsGroup.Key() { Obor = "IT", Rok = 2022 });
                    }
                    @if (HttpContext.HasAccess("IT", 2022).Result.Access == false)
                    {
                        <tr @Html.Raw(Request.Query["accent"].Equals("it2021") ? "class=\"table-warning\"" : "")>
                            <td width="60%">
                                <div class="fs-6 fw-bolder text-decoration-none text-muted">
                                    Přehled obvyklých cen IT prací ve státní správě za rok 2022
                                </div>
                            </td>
                            <td width="20%">
                                <a class="btn btn-primary" href="#">Přípravujeme!!</a>
                            </td>
                            <td width="20%">
                                <div class="text-muted small">

                                    <span class="text-danger fw-bold">
                                        Pracujeme na reportu. Ve statistice vidíte, kolik smluv jsme zatím zpracovali.
                                    </span>
                                    <br />
                                    <br />

                                    Údaje z @a_it22.PocetSmluv smluv od <b class="text-black">@a_it22.PocetZadavatelu</b> zadavatelů,
                                    <b class="text-black">@a_it22.PocetDodavatelu</b> dodavatelů,
                                    zahrnuje <b class="text-black">@a_it22.PocetCen cen</b>.
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr @Html.Raw(Request.Query["accent"].Equals("it2022") ? "class=\"table-warning\"" : "")>
                            <td>
                                <a class="fs-6 fw-bolder" href="/Souhrn?obor=IT&rok=2022">Přehled obvyklých cen IT prací ve státní správě za rok 2022</a>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="/Souhrn?obor=IT&rok=2022">Otevřít analýzu</a>
                            </td>
                            <td>
                                <div class="text-muted small">
                                    <span class="text-danger fw-bold">
                                        Pracujeme na reportu. Ve statistice vidíte, kolik smluv jsme zatím zpracovali.
                                    </span>
                                    <br />
                                    <br />
                                    Údaje z @a_it22.PocetSmluv smluv od <b class="text-black">@a_it22.PocetZadavatelu</b> zadavatelů,
                                    <b class="text-black">@a_it22.PocetDodavatelu</b> dodavatelů,
                                    zahrnuje <b class="text-black">@a_it22.PocetCen cen</b>.
                                </div>
                            </td>
                        </tr>
                    }


                    <tr @Html.Raw(Request.Query["accent"].Equals("demo") ? "class=\"table-warning\"" : "")>
                        @{
                            var a_demo18 = new JobService.AnalysisStat(new YearlyStatisticsGroup.Key() { Obor = "DEMO", Rok = 2018 });
                        }
                        <td width="60%">
                            <a class="fs-6 fw-bolder" href="/Souhrn?obor=DEMO&rok=2018">
                                Přehled obvyklých cen IT prací ve státní správě za polovinu roku 2018
                            </a>
                        </td>
                        <td width="20%"><a class="btn btn-primary" href="/Souhrn?obor=DEMO&rok=2018"><span style="color:yellow">ZDARMA, OTEVŘÍT</span>@* k nahlédnutí*@</a></td>
                        <td width="20%">
                            <div class="text-muted small">
                                Ukázkový report za polovinu roku 2018 obsahuje údaje z <b class="text-black">@a_demo18.PocetSmluv</b> smluv
                                od <b class="text-black">@a_demo18.PocetZadavatelu</b> zadavatelů, <b class="text-black">@a_demo18.PocetDodavatelu</b> dodavatelů,
                                zahrnuje <b class="text-black">@a_demo18.PocetCen  cen</b>.
                            </div>

                        </td>
                    </tr>
                </table>
                @if (SignInManager.IsSignedIn(User) == false)
                {
                    <p class="text-muted">
                        Pokud již máte analýzy zakoupené a nevidíte je zde, <a href="/Identity/Account/Login?returnUrl=/cenypracehlidac">zalogujte se</a>.
                    </p>
                }
            </div>
        </div>
    </section>

</div>
