@page "{id?}"
@using HlidacStatu.JobsWeb.Services
@using HlidacStatu.JobsWeb.Models
@model BenchmarkUraduModel

@{
    ViewData["Title"] = "Benchmark úřadů";

    bool showStatistics = !string.IsNullOrWhiteSpace(Model.Ico); 
    var statistics = new List<JobStatistics>();
    if(showStatistics)
        statistics = JobService.GetDodavatelStatistics(Model.Ico);
    
}

<h1>Benchmark úřadů</h1>
<h2>@Model.Ico</h2>

@if (showStatistics)
{
    <table class="table-sm table-striped">
        <caption>Přehled cen - souhrn</caption>
        <thead>
        <tr>
            <th scope="col">Tag</th>
            <th scope="col">Dolní kvartil</th>
            <th scope="col">Medián</th>
            <th scope="col">Horní kvartil</th>
            <th scope="col">Minimum</th>
            <th scope="col">Průměr</th>
            <th scope="col">Maximum</th>
            <th scope="col">Počet smluv</th>
            <th scope="col">Počet dodavatelů</th>
            <th scope="col">Počet cen</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var row in statistics)
        {
            <tr>
                <th scope="row">@row.Name</th>
                <td>@row.DolniKvartil</td>
                <td>@row.Median</td>
                <td>@row.HorniKvartil</td>
                <td>@row.Minimum</td>
                <td>@row.Average</td>
                <td>@row.Maximum</td>
                <td>@row.Average</td>
                <td>@row.ContractCount</td>
                <td>@row.SupplierCount</td>

            </tr>

        }
        </tbody>
    </table>    
}