@page
@using HlidacStatu.JobsWeb.Services
@using HlidacStatu.JobsWeb.Models
@model JedenJobModel

@{
    ViewData["Title"] = "Souhrnné statistiky";

    Boxplot graphModel = new();
    BarGraph histogram = new();
    List<JobStatistics> statistics = new();

    if (Model.Key.HasValue)
    {
        statistics = JobService.GetStatistics(Model.Key.Value);
        graphModel.BasicData = statistics.Where(s => s.Name == "Programátor").ToList();

        histogram.Data = JobService.GetDistinctJobs();
        histogram.Title = "Histogram všeho";
    }
}

<h1>Souhrnné statistiky</h1>
@if (Model.Key.HasValue)
{
    <table class="table table-sm table-striped mt-4">
        <caption>Přehled cen - souhrn</caption>
        <thead>
        <tr>
            <th scope="col">Pozice</th>
            <th scope="col" class="text-end">Dolní kvartil</th>
            <th scope="col" class="text-end">Medián</th>
            <th scope="col" class="text-end">Horní kvartil</th>
            <th scope="col" class="text-end">Minimum</th>
            <th scope="col" class="text-end">Průměr</th>
            <th scope="col" class="text-end">Maximum</th>
            <th scope="col" class="text-end">Počet smluv</th>
            <th scope="col" class="text-end">Počet dodavatelů</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var row in statistics)
        {
            <tr>
                <th scope="row">
                    <a href="/Obor/@row.Name">@row.Name</a>
                </th>
                <td class="text-end">@row.DolniKvartil.ToString("N0")</td>
                <td class="text-end">@row.Median.ToString("N0")</td>
                <td class="text-end">@row.HorniKvartil.ToString("N0")</td>
                <td class="text-end">@row.Minimum.ToString("N0")</td>
                <td class="text-end">@row.Average.ToString("N0")</td>
                <td class="text-end">@row.Maximum.ToString("N0")</td>
                <td class="text-end">@row.ContractCount</td>
                <td class="text-end">@row.SupplierCount</td>

            </tr>
        }
        </tbody>
    </table>

    <partial name="Shared/_BoxPlot" model="graphModel"/>

    <partial name="Shared/_BarGraph" model="histogram"/>
}