@page
@using HlidacStatu.JobsWeb.Services
@model SouhrnModel

@{
    ViewData["Title"] = "Souhrnné statistiky";

    var statistics = JobService.GetStatitstics();
}

<h1>Souhrnné statistiky</h1>

<table class="table-sm table-striped">
    <caption>Přehled cen - souhrn</caption>
    <thead>
    <tr>
        <th scope="col">Pozice</th>
        <th scope="col">Dolní kvartil</th>
        <th scope="col">Medián</th>
        <th scope="col">Horní kvartil</th>
        <th scope="col">Minimum</th>
        <th scope="col">Průměr</th>
        <th scope="col">Maximum</th>
        <th scope="col">Počet smluv</th>
        <th scope="col">Počet dodavatelů</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var row in statistics)
    {
        <tr>
            <th scope="row"><a href="/Obor/@row.Name">@row.Name</a></th>
            <td class="text-end">@row.DolniKvartil.ToString("N0")</td>
            <td class="text-end">@row.Median.ToString("N0")</td>
            <td class="text-end">@row.HorniKvartil.ToString("N0")</td>
            <td class="text-end">@row.Minimum.ToString("N0")</td>
            <td class="text-end">@row.Average.ToString("N0")</td>
            <td class="text-end">@row.Maximum.ToString("N0")</td>
            <td class="text-end">@row.ContractCount</td>
            <td class="text-end">@row.SupplierCount</td>

        </tr>

    }
    </tbody>
    
    <partial name="Shared/_BoxPlot" model="statistics"/>
</table>