@page
@model HlidacStatu.Ceny.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Registrace účtu";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-12">
        <h2>Vytvořit účet na Watchdog Analytics.</h2>
        <p>Bez účtu si nemůžete nechat kontrolovat smlouvy, ukládat dotazy a spoustu dalších věcí. Pokud už účet máte, <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">zalogujte se tady</a>.</p>
        <hr/>
    </div>
@*    <div class="col-sm-12">
        <h4>Vytvoření účtu snadněji pomocí jiné služby</h4>
        <p>Nemusíte se bát, my se váš login a heslo k jiné službě nedozvíme. Jediné, co se dozvíme je váš email. Stejně jako při registraci níže.</p>
        
        <section>
            <form id="external" method="post" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                <div>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        string imgPath = $"/content/img/{provider.Name}Signin.png"; 
                        <button type="submit" class="btn btn-link"
                                name="provider" value="@provider.Name"
                                title="Přihlásit pomocí @provider.DisplayName účtu">
                            <img src="@imgPath" style="height:50px;width:auto" />
                        </button>
                    }
                </div>
            </form>
        </section>
        <hr class="bg-dark"/>
    </div>*@
    <div class="col-sm-12">
        <h4>Vytvoření účtu přímo na Watchdog Analytics</h4>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="col-md-2 control-label">E-mail</label>
                <div class="col-sm-8">
                    <input asp-for="Input.Email" class="form-control"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="col-md-2 control-label">Heslo</label>
                <div class="col-sm-8">
                    <input asp-for="Input.Password" class="form-control"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="help-block">Minimální délka hesla je 6 znaků.</div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="col-md-2 control-label">Potvrzení hesla</label>
                <div class="col-sm-8">
                    <input asp-for="Input.ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary">Zaregistrovat</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
