@model List<HlidacStatu.Entities.Views.SponzoringOverview> 

@using System.Linq;
@using System.Threading

@using HlidacStatu.Repositories

@{
    ViewBag.Title = "Sponzoři politických stran a politiků";
    ViewBag.SubTitle = "Hlídáme je, protože si to zaslouží!";



    int lastYear = SponzoringRepo.DefaultLastSponzoringYear();

    var biggestSponsors = SponzoringRepo.BiggestPeopleSponsorsAsync(null, CancellationToken.None, take:7);
    var biggestSponsorsLastYear = SponzoringRepo.BiggestPeopleSponsorsAsync(lastYear, CancellationToken.None, take:7);
    var biggestCompanySponsorsLastYear = SponzoringRepo.BiggestCompanySponsorsAsync(lastYear, CancellationToken.None, take:7);
    

}
@section scripts
{
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<p>
    Na tomto místě hlídame sponzory politických stran tak, jak jsou uvedeni ve výročních zprávách politických stran.
</p>
<div class="watcher-blocks">

    <div class="watcher-blocks__wrapper">
        <!-- block 1 -->
        <div class="watcher-block">
            <div class="watcher__title">
                <h3>
                    <i class="far fa-hand-holding-usd"></i>
                    Parlamentní a velké strany
                </h3>
            </div>
            <div class="block-col ">
                <p>
                    Sponzorské dary v roce @lastYear
                </p>
            </div>

            <div class="block-row block-part">

                    @foreach (var chunk in Model.Chunk(Model.Count/2 + (Model.Count % 2)))
                    {
                        <div class="block-col block-col--50">
                            <div class="block-table">
                                @foreach (var strana in chunk)
                                {
                                    <div class="table-row">
                                        <div class="table-col">
                                            <a asp-action="Strana" asp-route-id="@strana.KratkyNazev">
                                                @strana.KratkyNazev
                                            </a>
                                        </div>
                                        <div class="table-col">
                                            @{
                                                var castka = strana.DaryCelkem;
                                            }
                                            
                                            @if (castka.HasValue && castka.Value > 0)
                                            {
                                                @HlidacStatu.Util.RenderData.NicePriceHtml(castka.Value, shortFormat: true)
                                            }
                                            else
                                            {
                                                <span>Částka neznámá</span>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    }
                

            </div>
            <a href="/Sponzori/Strany" class="btn btn-primary btn-sm">Zobrazit všechny politické strany</a>

        </div>


        <div class="watcher-block">
            <div class="watcher__title">
                <h3>
                    <i class="far fa-coins"></i>
                    Největší sponzoři za posledních 10 let
                </h3>
            </div>

            <div class="block-col block-part">
                <div class="block-table">
                    @{
                        
                        foreach (var sponzor in await biggestSponsors)
                        {
                            <div class="table-row">
                                <div class="table-col">@HlidacStatu.Util.RenderData.NicePriceHtml(sponzor.DarCelkem, shortFormat: true)</div>
                                <div class="table-col"><a href="/Osoba/@sponzor.Id">@sponzor.Jmeno</a></div>
                            </div>
                        }
                    }

                </div>
                <a href="/Sponzori/TopSponzori" class="btn btn-primary btn-sm">Přehled více než 2000 největších sponzorů (osob i firem) politických stran</a>
            </div>
        </div>

        <!-- block Sponzori -->
        <div class="watcher-block">
            <div class="watcher__title">
                <h3>
                    <i class="far fa-coins"></i>
                    Největší sponzoři v @lastYear
                </h3>
            </div>

            <div class="block-col block-part">
                <div class="block-table">
                    @{
                        foreach (var sponzor in await biggestSponsorsLastYear)
                        {
                            <div class="table-row">
                                <div class="table-col">@HlidacStatu.Util.RenderData.NicePriceHtml(sponzor.DarCelkem, shortFormat: true)</div>
                                <div class="table-col"><a href="/Osoba/@sponzor.Id">@sponzor.Jmeno</a></div>
                            </div>
                        }

                    }

                </div>
                <a href="/Sponzori/TopSponzori?rok=@lastYear" class="btn btn-primary btn-sm">Další sponzoři</a>
            </div>
        </div>

        <div class="watcher-block">
            <div class="watcher__title">
                <h3>
                    <i class="far fa-coins"></i>
                    Největší firemní sponzoři v @lastYear
                </h3>
            </div>

            <div class="block-col block-part">
                <div class="block-table">
                    @{
                        foreach (var sponzor in (await biggestCompanySponsorsLastYear).Where(m=>m.PolitickaStrana == 0))
                        {
                            <div class="table-row">
                                <div class="table-col">@HlidacStatu.Util.RenderData.NicePriceHtml(sponzor.DarCelkem, shortFormat: true)</div>
                                <div class="table-col"><a href="/Subjekt/@sponzor.Id">@sponzor.Jmeno</a></div>
                            </div>
                        }

                    }

                </div>
                <a href="/Sponzori/TopSponzoriFirmy?rok=@lastYear" class="btn btn-primary btn-sm">Další sponzoři</a>
            </div>
        </div>
    </div>

</div>

<p class="small">
    Zdroj: finační výkazy politických stran ÚDHPSH.
</p>
