@using HlidacStatu.XLib.Render
@using HlidacStatu.Entities
@using Microsoft.AspNetCore.Html

@model ReportDataSource<Sponsors.Sponzorstvi<IBookmarkable>>[]

@{
    ViewBag.ShowBookmarkUrl = true;
    string strana = ViewBag.Strana;
    int? rok = ViewBag.Rok;

}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/sponzori">Sponzoři politických stran</a></li>
        @(!string.IsNullOrEmpty(strana) ? new HtmlString($"<li><a href='{Sponsors.GetStranaUrl(strana)}'>{strana}</a></li>") : "")
        @(rok.HasValue ? new HtmlString($"<li>{rok}</li>") : "")
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="row">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a href="#osoby" class="nav-link active" aria-controls="firmy" role="tab" data-bs-toggle="tab">Sponzorující osoby (@HlidacStatu.Util.RenderData.NiceNumber(Model[0]?.Data?.Count ?? 0))</a></li>
            <li role="presentation" class="nav-item"><a href="#firmy" class="nav-link" aria-controls="firmy" role="tab" data-bs-toggle="tab">Sponzorující firmy (@HlidacStatu.Util.RenderData.NiceNumber(Model[1]?.Data?.Count ?? 0))</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="osoby">
                <div class="col-xs-12">
                    <h3>Sponzorující osoby</h3>
                    @Html.Raw(
                        ChartUtil.RenderReportTableT("Sponzorující osoby", Model[0], @"{
                         'language': {
                            'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                        },
                        'paging': true,
                        'pageLength': 15,
                        'order': [1,'desc'],
                        'lengthChange': false,
                        'info': false
                        }"))
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="firmy">

                <div class="col-xs-12">
                    <h3>Sponzorující firmy</h3>
                    @Html.Raw(
                        ChartUtil.RenderReportTableT("Sponzorující firmy", Model[1], @"{
                         'language': {
                            'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                        },
                        'paging': true,
                        'pageLength': 15,
                        'order': [1,'desc'],
                        'lengthChange': false,
                        'info': false
}"))
                </div>

            </div>
        </div>

    </div>

</div>

<partial name="WebUtil/FeedbackModal" model="@(new FeedbackViewModel("Upozornit na chybu"))"/>


    <p class="small">
        Zdroj: finační výkazy politických stran ÚDHPSH.
    </p>
