@model object

@using HlidacStatu.Entities
@using HlidacStatu.Entities.Views
@using HlidacStatu.Repositories
@using System.Linq;
@using HlidacStatu.Repositories.Cache
@using HlidacStatu.XLib.Render;

@{
    string dataTableOptions = @"{
        'language': {
            'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
        },
        'order': [],
        'lengthChange': false,
        'pageLength': 10,
        'info': false,
        'filter': true,
    }";

    int? rok = null;
    if (int.TryParse(this.Context.Request.Query["rok"], out int _r))
    {
        if (_r > 2010 && _r <= DateTime.Now.Year)
        {
            rok = _r;
        }
    }

    string icoStrany = await ZkratkaStranyRepo.IcoStranyAsync((string)Model);
    if (string.IsNullOrEmpty(icoStrany))
        icoStrany = await ZkratkaStranyRepo.IcoStranyAsync(System.Net.WebUtility.UrlDecode((string)Model));

    string stranaZkratka = "";
    Firma strana = await Firmy.GetAsync(icoStrany);
    if (strana?.Valid != true)
    {
        <text>
            <h2>Strana nenalezena</h2><p>Pokračovat na <a href='/sponzori/strany'>přehledu všech stran</a>.</p>
        </text>
        return;
    }


    if (HlidacStatu.Util.DataValidators.CheckCZICO(Devmasters.TextUtil.NormalizeToNumbersOnly((string)Model)))
    {
        stranaZkratka = strana.Jmeno;
    }
    else
    {
        stranaZkratka = (string)Model;
    }


    List<SponzoringSummed> osobySponzori = await SponzoringRepo.PeopleSponsorsAsync(icoStrany, System.Threading.CancellationToken.None);
    List<SponzoringSummed> allfirmySponzori = await SponzoringRepo.CompanySponsorsAsync(icoStrany, System.Threading.CancellationToken.None);
    List<SponzoringSummed> firmySponzori = allfirmySponzori.Where(m => m.PolitickaStrana == 0).ToList();
    List<SponzoringSummed> mezistranamiList = allfirmySponzori.Where(m => m.PolitickaStrana == 1).ToList();

    if (rok.HasValue)
    {
        osobySponzori = osobySponzori.Where(m => m.Rok == rok).ToList();
        firmySponzori = firmySponzori.Where(m => m.Rok == rok).ToList();
        mezistranamiList = mezistranamiList.Where(m => m.Rok == rok).ToList();
    }


    (SponzoringSummed sponz, int[] roky)[] osobyTopSponzori = osobySponzori
        .GroupBy(k => k.Id, v => v, (k, v) => (sponz: new SponzoringSummed()
            {
                Id = k,
                DarCelkem = v.Sum(x => x.DarCelkem),
                IcoStrany = v.First().IcoStrany,
                Jmeno = v.First().Jmeno,
                NazevStrany = v.First().NazevStrany,
                typ = v.First().typ
            }, roky: v.Select(r => r.Rok).Distinct().OrderBy(o => o).ToArray())
        )
        .OrderByDescending(o => o.sponz.DarCelkem).ThenBy(o => o.sponz.Jmeno)
        .ToArray();

    (SponzoringSummed sponz, int[] roky)[] firmyTopSponzori = firmySponzori
        .GroupBy(k => k.Id, v => v, (k, v) => (sponz: new SponzoringSummed()
        {
            Id = k,
            DarCelkem = v.Sum(x => x.DarCelkem),
            IcoStrany = v.First().IcoStrany,
            Jmeno = v.First().Jmeno,
            NazevStrany = v.First().NazevStrany,
            typ = v.First().typ,
            PolitickaStrana = v.First().PolitickaStrana
        }, roky: v.Select(r => r.Rok).Distinct().OrderBy(o => o).ToArray()))
        .OrderByDescending(o => o.sponz.DarCelkem).ThenBy(o => o.sponz.Jmeno)
        .ToArray();

    (SponzoringSummed sponz, int[] roky)[] mezistranamiTopList = mezistranamiList
        .GroupBy(k => k.Id, v => v, (k, v) => (sponz: new SponzoringSummed()
        {
            Id = k,
            DarCelkem = v.Sum(x => x.DarCelkem),
            IcoStrany = v.First().IcoStrany,
            Jmeno = v.First().Jmeno,
            NazevStrany = v.First().NazevStrany,
            typ = v.First().typ,
            PolitickaStrana = v.First().PolitickaStrana
        }, roky: v.Select(r => r.Rok).Distinct().OrderBy(o => o).ToArray()))
        .OrderByDescending(o => o.sponz.DarCelkem).ThenBy(o => o.sponz.Jmeno)
        .ToArray();

    Osoba topOsoba = null;
    decimal? topOsobaAmount = null;
    if (osobySponzori.Any())
    {
        var topO = osobyTopSponzori.First();
        topOsoba = await OsobaRepo.GetByNameIdAsync(topO.sponz.Id);
        topOsobaAmount = topO.sponz.DarCelkem;
    }

    Firma topFirma = null;
    decimal? topFirmaAmount = null;
    if (firmySponzori.Any())
    {
        var topF = firmyTopSponzori.First();
        topFirma = await Firmy.GetAsync(topF.sponz.Id);
        topFirmaAmount = topF.sponz.DarCelkem;
    }

    decimal suma = osobySponzori.Sum(m => m.DarCelkem) + firmySponzori.Sum(m => m.DarCelkem);

    ViewBag.Title = $"Politická strana {stranaZkratka}";


    ViewBag.SocialShareTitle = ViewBag.Title;
    ViewBag.SocialShareText = $"{osobySponzori.Count + firmySponzori.Count} sponzorů, kteří darovali straně {stranaZkratka} v součtu {HlidacStatu.Util.RenderData.ShortNicePrice(suma)}.";
    if (topOsoba != null)
    {
        ViewBag.SocialShareText += $"\nNejvětším osobním sponzorem je {topOsoba.FullNameWithYear()} {HlidacStatu.Util.RenderData.ShortNicePrice(topOsobaAmount.Value)}";
    }

    if (topFirma != null)
    {
        ViewBag.SocialShareText += $"\nNejvětším firemním sponzorem je {topFirma.Jmeno} {HlidacStatu.Util.RenderData.ShortNicePrice(topFirmaAmount.Value)}";
    }


    ViewBag.SocialImage = $"https://gen.hlidacstatu.cz/socialbanner/quote?d={DateTime.Now.ToString("d.M.yy")}"
                          + "&t=" + System.Net.WebUtility.UrlEncode(ViewBag.SocialShareTitle)
                          + "&b=" + System.Net.WebUtility.UrlEncode(ViewBag.SocialShareText)
                          + ((topOsoba != null) ? ("&f=" + System.Net.WebUtility.UrlEncode(topOsoba.FullNameWithYear() + " " + HlidacStatu.Util.RenderData.ShortNicePrice(topOsobaAmount.Value))) : "")
                          + "&st=" + System.Net.WebUtility.UrlEncode("k " + DateTime.Now.Date.ToString("dd.MM.yyyy"))
                          + ((topOsoba != null) ? ("&img=" + System.Net.WebUtility.UrlEncode(topOsoba.GetPhotoUrl(phototype: Osoba.PhotoTypes.NoBackground))) : "")
                          + "&rat=16x9"
        ;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
                            + "<meta property=\"og:image:height\" content=\"1080\" />"
                            + "<meta property=\"og:image:type\" content=\"image/png\" />"
        ;

    ViewBag.ShowBookmarkUrl = true;
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="/scripts/highcharts-6/highcharts.js"></script>
}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/sponzori">Sponzoři politických stran</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


<h2>Sponzorské dary za posledních 10 let</h2>
<p>

    @{
        var years = Enumerable.Range(SponzoringRepo.DefaultLastSponzoringYear() - 10, 10);
        Series[] dataPerY = new Series[]
        {
            new()
            {
                Name = "Fyzické osoby",
                Type = Series.SeriesType.column,
                Data = SponzoringRepo.SponzoringPerYearAsync(icoStrany, SponzoringRepo.DefaultLastSponzoringYear() - 10, SponzoringRepo.DefaultLastSponzoringYear(), true, false).Result
                    .Select(x => new SeriesData(x.Key, x.Value))
                    .ToArray(),
                SeriesTooltip = new SeriesTooltip()
                {
                    ValueSuffix = " Kč"
                }
            },
            new()
            {
                Name = "Firmy",
                Type = Series.SeriesType.column,
                Data = SponzoringRepo.SponzoringPerYearAsync(icoStrany, SponzoringRepo.DefaultLastSponzoringYear() - 10, SponzoringRepo.DefaultLastSponzoringYear(), false, true).Result
                    .Select(x => new SeriesData(x.Key, x.Value))
                    .ToArray(),
                SeriesTooltip = new SeriesTooltip()
                {
                    ValueSuffix = " Kč"
                }
            }
        };
    }
    @Html.ColumnGraph("Výše darů", dataPerY, yTitleLeft: "Kč", stacked: true, showStackedSummaryFormat: "{total:,.0f}Kč")

</p>
@if (rok.HasValue)
{
    <h3>Sponzoři @stranaZkratka v roce @rok</h3>
}
else
{
    <h3>Největší sponzoři @stranaZkratka</h3>
}
<p>
    U strany @stranaZkratka evidujeme celkem @(osobySponzori.Count + firmySponzori.Count) sponzorů, kteří darovali
    celkem @HlidacStatu.Util.RenderData.ShortNicePrice(suma).
</p>

<h4>
    Zobrazit sponzory pouze pro jeden rok:
    @for (int i = SponzoringRepo.DefaultLastSponzoringYear() - 10; i <= SponzoringRepo.DefaultLastSponzoringYear(); i++)
    {
        if (i == rok)
        {
            @Html.Raw($"<b>{i}</b>&nbsp;&nbsp;")
        }
        else
        {
            @Html.Raw($"<a href='/sponzori/strana/{(string)Model}?rok={i}'>{i}</a>&nbsp;&nbsp;")
        }
    }
</h4>

@{
    ReportDataSource<(SponzoringSummed sponz, int[] roky, Osoba osoba)> osobyTemplate = new(
        new ReportDataSource<(SponzoringSummed sponz, int[] roky, Osoba osoba)>.Column()
        {
            Name = "Osoba",
            HtmlRender = (m) =>
            {
                string ret = "";
                if (m.osoba == null)
                {
                    ret = $"{m.sponz.Jmeno}";
                }
                else
                {
                    ret = $"<a href='/osoba/{m.sponz.Id}'>{m.sponz.Jmeno}</a>";
                    if (m.osoba.StatusOsoby() == Osoba.StatusOsobyEnum.Politik || m.osoba.StatusOsoby() == Osoba.StatusOsobyEnum.ByvalyPolitik)
                    {
                        ret = ret + " (politik)";
                    }
                    else if (m.osoba.StatusOsoby() == Osoba.StatusOsobyEnum.VysokyUrednik)
                    {
                        ret = ret + " (vysoký st.úředník)";
                    }
                }

                return ret;
            }
        },
        new ReportDataSource<(SponzoringSummed sponz, int[] roky, Osoba osoba)>.Column()
        {
            Name = "Částka",
            HtmlRender = (m) => HlidacStatu.Util.RenderData.NicePrice(m.sponz.DarCelkem, html: true),
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.sponz.DarCelkem),
            CssClass = "number"
        },
        new ReportDataSource<(SponzoringSummed sponz, int[] roky, Osoba osoba)>.Column()
        {
            Name = "Sponzoring v letech",
            HtmlRender = (m) => string.Join(", ", m.roky),
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.roky.Max()),
            CssClass = "number"
        }
    );

    foreach (var osobaSponzor in osobyTopSponzori.Take(rok.HasValue ? int.MaxValue : 50))
    {
        var (sponz, roky) = osobaSponzor;
        var osoba = await OsobaCache.GetPersonByNameIdAsync(sponz.Id);
        osobyTemplate.AddRow((sponz, roky, osoba));
    }
    string topOsoby = Html.DataToHTMLTable(osobyTemplate, dataTableOptions: dataTableOptions).RenderRawHtml();

    ReportDataSource<(SponzoringSummed sponz, int[] roky)> firmyTemplate = new(
        new ReportDataSource<(SponzoringSummed sponz, int[] roky)>.Column()
        {
            Name = "Firma",
            HtmlRender = (m) => $"<a href='/subjekt/{m.sponz.Id}'>{m.sponz.Jmeno}</a>"
        },
        new ReportDataSource<(SponzoringSummed sponz, int[] roky)>.Column()
        {
            Name = "Částka",
            HtmlRender = (m) => HlidacStatu.Util.RenderData.NicePrice(m.sponz.DarCelkem, html: true),
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.sponz.DarCelkem),
            CssClass = "number"
        },
        new ReportDataSource<(SponzoringSummed sponz, int[] roky)>.Column()
        {
            Name = "Sponzoring v letech",
            HtmlRender = (m) => string.Join(", ", m.roky),
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.roky.Max()),
            CssClass = "number"
        }
    );


    ReportDataSource<(SponzoringSummed sponz, int[] roky)> stranyTemplate = new(
        new ReportDataSource<(SponzoringSummed sponz, int[] roky)>.Column()
        {
            Name = "Strana",
            HtmlRender = (m) => $"<a href='/subjekt/{m.sponz.Id}'>{m.sponz.Jmeno}</a>"
        },
        new ReportDataSource<(SponzoringSummed sponz, int[] roky)>.Column()
        {
            Name = "Částka",
            HtmlRender = (m) => HlidacStatu.Util.RenderData.NicePrice(m.sponz.DarCelkem, html: true),
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.sponz.DarCelkem),
            CssClass = "number"
        },
        new ReportDataSource<(SponzoringSummed sponz, int[] roky)>.Column()
        {
            Name = "Sponzoring v letech",
            HtmlRender = (m) => string.Join(", ", m.roky),
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.roky.Max()),
            CssClass = "number"
        }
    );

    firmyTemplate.AddRows(firmyTopSponzori.Take(rok.HasValue ? int.MaxValue : 50));
    string topFirmy = Html.DataToHTMLTable(firmyTemplate, dataTableOptions: dataTableOptions).RenderRawHtml();

    string meziStranami = "";
    if (mezistranamiList.Any())
    {
        stranyTemplate.AddRows(mezistranamiTopList.Take(rok.HasValue ? int.MaxValue : 50));
        meziStranami = Html.DataToHTMLTable(stranyTemplate, dataTableOptions: dataTableOptions).RenderRawHtml();
    }
}
@if (meziStranami != "")
{
    @Html.Toggleable3(
        topOsoby, "TOP osobní sponzoři",
        topFirmy, "TOP firemní sponzoři",
        meziStranami, "Peníze mezi stranami"
    )
}
else
{
    @Html.Toggleable(
        topOsoby, "TOP osobní sponzoři",
        topFirmy, "TOP firemní sponzoři"
    )
}


<partial name="WebUtil/FeedbackModal" model="@(new FeedbackViewModel("Upozornit na chybu"))"/>

<p class="small">
    Zdroj: finační výkazy politických stran ÚDHPSH.
</p>
