@using HlidacStatu.Entities
@using HlidacStatu.Repositories

<div class="watcher-block">

    <div class="watcher__title">
        <h3 class="new-title position-relative d-inline-block">
            <span class="text-bg-warning px-2 py-0 rounded">
                Najdi si svou střední školu                
            </span>
            <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger" style="font-size:11px">NOVÉ</span>
            a zjisti své šance
        </h3>
    </div>
    <div class="block-col ">
        <p>
            Přehledná data všech středních škol a maturitních oborů v České republice. Simulátor, kam se dostanete podle výsledků zkoušek nanečisto využívá reálná data z jednotných přijímacích zkoušek.
        </p>
        <p>
            <a class="btn btn-hs btn-primary my-3" href="https://www.prijimackynaskolu.cz?utm_source=HP&utm_medium=referral&utm_campaign=permanent&utm_content=box1a">
                www.PrijimackyNaSkolu.cz
            </a>
        </p>
    </div>




    <div class="watcher__title">
        <h3 class="new-title position-relative d-inline-block">
            <span class="text-bg-warning px-2 py-0 rounded">Příjmy</span>
            <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger" style="font-size:11px">NOVÉ</span>
            politiků, kumulace funkcí

        </h3>
    </div>
    @{
        PpGlobalStat polStats = await PpRepo.GetGlobalStatAsync(PpRepo.DefaultYear);
        var uredniciPlatyStats = await PuRepo.GetPlatyPerYearStatCache.GetAsync(PuRepo.DefaultYear);
    }
    <div class="block-col ">
        <p>
            Letos poprvé zveřejňujeme informace o platech a kumulacích funkcí více než <b>1000 volených politiků a političek</b>.
            Na platy a odměny jsme se ptali v <b>@HlidacStatu.Util.RenderData.NiceNumber(polStats.PocetOrganizaciPozadano)</b> organizacích.
        </p>
        <p>
            <a class="btn btn-hs btn-primary my-3" href="https://platy.hlidacstatu.cz/politici?utm_source=HP&utm_medium=referral&utm_campaign=permanent&utm_content=box1a">
                Příjmy <span class="badge text-bg-light mx-1">@HlidacStatu.Util.RenderData.NiceNumber(polStats.PocetOsobPozadano)</span> politiků
                </a>
        </p>
    </div>

    @if (false)
    {
        <div class="watcher__title">
            <h3 class="new-title  position-relative d-inline-block">
                <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger" style="font-size:11px">@(HlidacStatu.Repositories.DotaceRepo.LastCompleteYear)</span>
                <span class="text-bg-warning px-2 py-0 rounded">Dotace</span>
                EU, státní a krajské
                @* <span style="vertical-align:middle"><img style="height:42px;color:yellow;margin-right:1px" src="/Content/exkluzivne.svg"></span> *@
            </h3>
        </div>
    }
    <div class="block-col ">
        <p>
            Jediné místo, kde najdete všechny evropské, státní a krajské dotace. A hromadu <a href="/dotace/reporty">reportů a analýz</a>.
        </p>
        <p>
            <a class="btn btn-hs btn-primary " href="/dotace">Hlídač dotací</a>
            @* <a class="btn btn-hs btn-outline-primary" href="/dotace/reporty">Reporty a analýzy dotací</a> *@
        </p>
    </div>



    <div class="watcher__title">
        <h3 class="new-title mt-4">
            <span class="text-bg-warning px-2 py-0 rounded">Platy</span> nejvyšších úředníků a zaměstnanců státu
            @* <span style="vertical-align:middle"><img style="height:42px;margin-right:1px" src="/Content/exkluzivne.svg"></span> *@

        </h3>
    </div>
    <div class="block-col ">
        <p>
            Věříme, že občané mají právo znát platy nejvyšších představitelů státních úřadů, institucí a dalších organizačních složek státu.
            Proto jsme se @HlidacStatu.Util.RenderData.NiceNumber(uredniciPlatyStats.Platy.Select(m=>m.IdOrganizace).Distinct().Count())
            úřadů a organizací zeptali a výsledky zanalyzovali.
        </p>
        <p>
            <a class="btn btn-hs btn-info my-3" href="https://platy.hlidacstatu.cz/urednici?utm_source=HP&utm_medium=referral&utm_campaign=permanent&utm_content=box1a">Platy 
                <span class="badge text-bg-light mx-1 fw-bold">@(HlidacStatu.Util.RenderData.NiceNumber(uredniciPlatyStats.Pocet))</span> 
                úředníků <span class="text-dark-emphasis">2016</span>-<span class="text-dark">@(PuRepo.DefaultYear)</span>
            </a>
        </p>
    </div>

    <hr />

    <!-- MailerLite Universal -->
    <script>
        (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

        var ml_account = ml('accounts', '1727018', 'u8a0r9v8n8', 'load');
    </script>
    <!-- End MailerLite Universal -->
    <div class="watcher__title">
        <h3 class="new-title">
            Novinky a zajímavé články mailem
        </h3>
    </div>
    <div class="block-col ">
        <p>
            Přihlaste se k odběru pátečního newsletteru a mějte přehled o všem důležitém!
        </p>
        <p>
            <script>
                var ml_webform_6077068 = ml_account('webforms', '6077068', 'u5g9s7', 'load');
                ml_webform_6077068('animation', 'fadeIn');
            </script>
            <a class="btn btn-hs btn-success " href="javascript:;" onclick="ml_webform_6077068('show')">Přihlásit k odběru</a>
        </p>
    </div>
</div>
