@model HlidacStatu.Repositories.Analysis.TemplatedQuery
@using System.Linq
@using Devmasters.Enums
@using HlidacStatu.Entities
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Cache
@using HlidacStatu.Repositories.Statistics
@using HlidacStatu.XLib.Render


@{
    Devmasters.DT.StopWatchLaps viewRenderTimes = new Devmasters.DT.StopWatchLaps();
    viewRenderTimes.StopPreviousAndStartNextLap("analysis");

    HlidacStatu.XLib.Search.FullAnalysis fullAnalysis = await HlidacStatu.XLib.Search.AnalysisAsync(Model.Query);

    ViewBag.Title = Model.Text ?? $"Hlídač státu: Analýza příjemců peněz pro dotaz \"{Model.Query}\"";

    int[] Years = fullAnalysis.Years;

    HlidacStatu.Lib.Analytics.StatisticsPerYear<Smlouva.Statistics.Data> statistics = fullAnalysis.Statistics;
    var statisticsAfter2016 = statistics
        .Where(s => statistics.YearsAfter2016().Contains(s.Year)).Where(m => m.Year < DateTime.Now.Year + 1)
        .OrderBy(s => s.Year).ToList();

    //var seasonStat = statistics.CurrentSeasonStatistics();
    var currentSeasonYear = statistics.CurrentSeasonYear();
    //var zmenaObjemuSmluv = statistics.ChangeBetweenYears(currentSeasonYear - 1, currentSeasonYear, s => s.CelkovaHodnotaSmluv);


    List<StatisticsSubjectPerYear<SimpleStat>> topDodavatele = fullAnalysis.TopDodavatele;
    var topDodavateleCurrSeason = fullAnalysis.TopDodavateleCurrSeason;

    List<StatisticsSubjectPerYear<SimpleStat>> topZadavatele = fullAnalysis.TopZadavatele;
    var topZadavateleCurrSeason = fullAnalysis.TopZadavateleCurrSeason;
    viewRenderTimes.StopPreviousAndStartNextLap("render");
}
<h1>
    Analýza dotazu v registru smluv
    <small>@Model.Query</small>
</h1>
@{
    var resSmlouvy = await HlidacStatu.XLib.Search
        .GeneralSearchAsync(Model.Query, 1, HlidacStatu.XLib.Search.PartsToSearch.Smlouvy, false, "", this.User, smlouvySize: 1);
}
<p>
    <a href="/hledatSmlouvy?q=@(System.Net.WebUtility.UrlEncode(Model.Query))" class="btn btn-hs btn-primary btn-sm">Zobrazit
        výsledky tohoto dotazu</a>
    (v registru
    smluv @Devmasters.Lang.CS.Plural.GetWithZero(resSmlouvy.Smlouvy.Total, "nic nenalezeno", "nalezen 1 výsledek", "nalezeny {0} výsledky", "nalezeno {0} výsledků")).
</p>


<hr class="double"/>

@{
    //Graf hodnota smluv
    var hodnotaSmluvGraphData = new Series[]
    {
        new()
        {
            Name = "Hodnota nalezených smluv",
            Type = Series.SeriesType.column,
            Data = statisticsAfter2016
                .Select(x => new SeriesData(x.Year, x.Value.CelkovaHodnotaSmluv)).ToArray(),
            SeriesTooltip = new SeriesTooltip()
            {
                ValueSuffix = " Kč"
            }
        },
        new()
        {
            Name = "Hodnota smluv se soukromými subjekty",
            Type = Series.SeriesType.column,
            Data = statisticsAfter2016
                .Select(x => new SeriesData(x.Year, x.Value.CelkovaHodnotaSmluvSeSoukrSubj)).ToArray(),
            SeriesTooltip = new SeriesTooltip()
            {
                ValueSuffix = " Kč"
            }
        },
        new()
        {
            Name = "Počet smluv bez ceny",
            Data = statisticsAfter2016
                .Select(x => new SeriesData(x.Year, x.Value.PocetSmluvBezCeny)).ToArray(),
            Type = Series.SeriesType.line,
        }
    };
    var procentaSmluvGraphData = new Series[]
    {
        new()
        {
            Name = "s utajenou cenou",
            Type = Series.SeriesType.column,
            Data = statisticsAfter2016
                .Select(x => new SeriesData(x.Year, x.Value.PercentSmluvBezCeny * 100)).ToArray(),
            SeriesTooltip = new SeriesTooltip()
            {
                ValueSuffix = " %"
            }
        },
        new()
        {
            Name = "s vazbou na politiky",
            Type = Series.SeriesType.column,
            Data = statisticsAfter2016
                .Select(x => new SeriesData(x.Year, x.Value.PercentSmluvPolitiky * 100)).ToArray(),
            SeriesTooltip = new SeriesTooltip()
            {
                ValueSuffix = " %"
            }
        },
    };

    var sortedData = statistics.Summary().PoOblastech
        .OrderByDescending(o => o.Value.CelkemCena)
        .ThenByDescending(o => o.Value.Pocet)
        .ToList();
    var pieOboryData = new SeriesTextValue()
    {
        ColorByPoint = true,
        Name = "Obor",
        Data = sortedData
            .Take(9)
            .Select(m => new SeriesDataTextValue()
            {
                Y = m.Value.CelkemCena,
                Name = ((Smlouva.SClassification.ClassificationsTypes)m.Key).ToNiceDisplayName()
            })
            .ToArray()
    };

    var smlouvyPodleCeny = await HlidacStatu.Web.Framework.Report.GlobalStatistics.SmlouvyPodleCenyAsync(Model.Query);

    var pieHodnotySmluv = new SeriesTextValue()
    {
        ColorByPoint = true,
        Name = "Hodnoty smluv",
        Data = smlouvyPodleCeny
            .Data
            .Select(m => new SeriesDataTextValue()
            {
                Name = m[0].Value.ToString(),
                Y = Convert.ToDecimal(m[1].Value)
            })
            .ToArray()
    };
}
@if (statistics.Summary(statistics.YearsAfter2016()).PocetSmluv > 0)
{
    <div class="row">
        <div class="col  col-xs-12 border border-secondary-subtle rounded m-2 p-2">
            <h5>Rizika</h5>
            <div>
                <partial name="Partials/_analyzaRizikoPart" model="@((statistics: statistics, query: Model))"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12 border border-secondary-subtle rounded m-2 p-2">
            @Html.ColumnGraph("Hodnota nalezených smluv po letech", hodnotaSmluvGraphData, yTitleRight: "Počet smluv")
        </div>
        <div class="col col-xs-12 border border-secondary-subtle rounded m-2 p-2">
            @Html.ColumnGraph("Smlouvy s utajenou cenou a vazbou na politiky", procentaSmluvGraphData, yTitleLeft: "% smluv")
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12 border border-secondary-subtle rounded m-2 p-2">
            @Html.PieChart("Obory nalezených smluv", pieOboryData, yTitleLeft: "% smluv", tooltipFormat: "{series.name}: <b>{point.y:,.0f} Kč</b>")
        </div>
        <div class="col-lg-6 col-xs-12 border border-secondary-subtle rounded m-2 p-2">
            @Html.PieChart("Smlouvy podle hodnoty", pieHodnotySmluv, tooltipFormat: "{series.name}: <b>{point.y:.1f} %</b>")
        </div>
    </div>
}

<hr class="double"/>

<div>
    <h2>Statistika dodavatelů (smluvních partnerů) pro analyzovaný dotaz</h2>
    @if (topDodavatele is not null & topDodavatele.Any())
    {
        <p class="text-muted sub-header-info">
            Přehledná statistika největších dodavatelů podle smluv v registru smluv.
        </p>

        <p>
            Od roku @(HlidacStatu.Lib.Analytics.Consts.RegistrSmluvYearsList.Min()) byly největšími smluvními
            dodavateli:
        </p>
        <div>
            @{
                ReportDataSource<(Firma firma, SimpleStat stat)> rdsDodav = new(
                    new ReportDataSource<(Firma firma, SimpleStat stat)>.Column()
                    {
                        Name = "Dodavatel",
                        HtmlRender = (m) => $"<a href='{m.firma.GetUrl()}'>{m.firma.Jmeno}</a>"
                    },
                    new ReportDataSource<(Firma firma, SimpleStat stat)>.Column()
                    {
                        Name = "Počet smluv",
                        HtmlRender = (m) => $"<a style='float:left' href='/hledatSmlouvy?q={System.Net.WebUtility.UrlEncode(Model.Query + " AND ico:" + m.firma.ICO)}'><i class='fas fa-link' aria-hidden='true'></i></a> {HlidacStatu.Util.RenderData.NiceNumber(m.stat.Pocet)}",
                        OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.stat.Pocet),
                        CssClass = "number"
                    },
                    new ReportDataSource<(Firma firma, SimpleStat stat)>.Column()
                    {
                        Name = "Hodnota smluv",
                        HtmlRender = (m) => HlidacStatu.Util.RenderData.NicePrice(m.stat.CelkemCena),
                        OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.stat.CelkemCena),
                        CssClass = "number"
                    }
                );

                foreach (var topDodavatel in topDodavatele)
                {
                    var firma = await FirmaCache.GetAsync(topDodavatel.ICO);
                    rdsDodav.AddRow((firma, topDodavatel.Summary()));
                }
            }
            @Html.DataToHTMLTable(rdsDodav, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc"))
        </div>

        <p>
            V roce @currentSeasonYear byly největšími smluvními dodavateli:
        </p>
        <div>
            @if (topDodavateleCurrSeason.Count() > 7)
            {
                var firstItems = new List<string>();
                foreach (var m in topDodavateleCurrSeason.Take(7))
                {
                    var jmeno = await FirmaCache.GetJmenoAsync(m.ico);
                    firstItems.Add($"<a href='/subjekt/{m.ico}'>{jmeno}</a>");
                }

                @Html.Raw(string.Join(", ", firstItems))

                <span class="collapse" id="topDcurr">
                    @{
                        var collapsedItems = new List<string>();
                        foreach (var m in topDodavateleCurrSeason.Skip(7).Take(13))
                        {
                            var jmeno = await FirmaCache.GetJmenoAsync(m.ico);
                            collapsedItems.Add($"<a href='/subjekt/{m.ico}'>{jmeno}</a>");
                        }
                    }
                    @Html.Raw(string.Join(", ", collapsedItems))
                </span>
                <a data-bs-toggle="collapse" href="#topDcurr" style="font-weight:bold">Více... &raquo;</a>
            }
            else
            {
                var allItems = new List<string>();
                foreach (var m in topDodavateleCurrSeason.Take(20))
                {
                    var jmeno = await FirmaCache.GetJmenoAsync(m.ico);
                    allItems.Add($"<a href='/subjekt/{m.ico}'>{jmeno}</a>");
                }

                @Html.Raw(string.Join(", ", allItems))
            }

        </div>

        <h4>Dodavatelé detailně</h4>
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <td>Subjekt</td>
            @foreach (var y in Years)
            {
                <td>@(y)</td>
            }
            </thead>
            <tbody>
            @{
            }
            @foreach (var ico in topDodavatele.Select(m => m.ICO))
            {
                StatisticsSubjectPerYear<SimpleStat> fStat = topDodavatele.First(m => m.ICO == ico);

                <tr>
                    <td>@(await FirmaCache.GetJmenoAsync(ico))</td>
                    @foreach (var y in Years)
                    {
                        var query = HlidacStatu.Searching.Query.ModifyQueryAND(Model.Query, $"ico:{ico}", $"datumUzavreni:[{y}-01-01 TO {(y + 1)}-01-01}}");
                        var urlQ = "/hledat?q=" + System.Net.WebUtility.UrlEncode(query);

                        <td>@Html.Raw(fStat[y].Formatted(true, urlQ, textIfZero: ""))</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-warning sub-header-info">
            Kvůli velmi obecnému dotazu není možné spočítat přehled pro dodavatele. Zkuste dotaz více specifikovat.
        </p>
    }
</div>

<hr class="double"/>

<div>
    <h2>Statistika zadavatelů (obvykle úřadů a státních organizací) pro analyzovaný dotaz</h2>
    <p class="text-muted sub-header-info">
        Přehledná statistika největších zadavatelů podle smluv v registru smluv.
    </p>

    <p>
        Od roku @(HlidacStatu.Lib.Analytics.Consts.RegistrSmluvYearsList.Min()) byly největšími smluvními zadavateli:
    <p>
        @{
            ReportDataSource<(Firma firma, SimpleStat stat)> rdsZadav = new(
                new ReportDataSource<(Firma firma, SimpleStat stat)>.Column()
                {
                    Name = "Zadavatel",
                    HtmlRender = (m) => $"<a href='{m.firma.GetUrl()}'>{m.firma.Jmeno}</a>"
                },
                new ReportDataSource<(Firma firma, SimpleStat stat)>.Column()
                {
                    Name = "Počet smluv",
                    HtmlRender = (m) => $"<a style='float:left' href='/hledatSmlouvy?q={System.Net.WebUtility.UrlEncode(Model.Query + " AND ico:" + m.firma.ICO)}'><i class='fas fa-link' aria-hidden='true'></i></a> {HlidacStatu.Util.RenderData.NiceNumber(m.stat.Pocet)}",
                    OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.stat.Pocet),
                    CssClass = "number"
                },
                new ReportDataSource<(Firma firma, SimpleStat stat)>.Column()
                {
                    Name = "Hodnota smluv",
                    HtmlRender = (m) => HlidacStatu.Util.RenderData.NicePrice(m.stat.CelkemCena),
                    OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.stat.CelkemCena),
                    CssClass = "number"
                }
            );

            foreach (var zadavatel in topZadavatele)
            {
                var firma = await FirmaCache.GetAsync(zadavatel.ICO);
                rdsZadav.AddRow((firma, zadavatel.Summary()));
            }
        }
        @Html.DataToHTMLTable(rdsZadav, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc"))
    </p>

    <p>
        V roce @currentSeasonYear byly největšími smluvními dodavateli:
    </p>
    <p>
        @if (topZadavateleCurrSeason.Count() > 7)
        {
            var firstItems = new List<string>();
            foreach (var m in topZadavateleCurrSeason.Take(7))
            {
                var jmeno = await FirmaCache.GetJmenoAsync(m.ico);
                firstItems.Add($"<a href='/subjekt/{m.ico}'>{jmeno}</a>");
            }

            @Html.Raw(string.Join(", ", firstItems))

            <span class="collapse" id="topZcurr">
                @{
                    var collapsedItems = new List<string>();
                    foreach (var m in topZadavateleCurrSeason.Skip(7).Take(13))
                    {
                        var jmeno = await FirmaCache.GetJmenoAsync(m.ico);
                        collapsedItems.Add($"<a href='/subjekt/{m.ico}'>{jmeno}</a>");
                    }
                }
                @Html.Raw(string.Join(", ", collapsedItems))
            </span>
            <a data-bs-toggle="collapse" href="#topZcurr" style="font-weight:bold">Více... &raquo;</a>
        }
        else
        {
            var allItems = new List<string>();
            foreach (var m in topZadavateleCurrSeason.Take(20))
            {
                var jmeno = await FirmaCache.GetJmenoAsync(m.ico);
                allItems.Add($"<a href='/subjekt/{m.ico}'>{jmeno}</a>");
            }

            @Html.Raw(string.Join(", ", allItems))
        }

    </p>

    <h4>Zadavatelé detailně</h4>
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <td>Subjekt</td>
        @foreach (var y in Years)
        {
            <td>@(y)</td>
        }
        </thead>
        <tbody>
        @{
        }
        @foreach (var ico in topZadavatele.Select(m => m.ICO))
        {
            StatisticsSubjectPerYear<SimpleStat> fStat = topZadavatele.First(m => m.ICO == ico);

            <tr>
                <td>@(await FirmaCache.GetJmenoAsync(ico))</td>
                @foreach (var y in Years)
                {
                    var query = HlidacStatu.Searching.Query.ModifyQueryAND(Model.Query, $"ico:{ico}", $"datumUzavreni:[{y}-01-01 TO {(y + 1)}-01-01}}");
                    var urlQ = "/hledat?q=" + System.Net.WebUtility.UrlEncode(query);

                    <td>@Html.Raw(fStat[y].Formatted(true, urlQ, textIfZero: ""))</td>
                }
            </tr>
        }
        </tbody>
    </table>

</div>

@{
    viewRenderTimes.StopAll();
    var statRender = viewRenderTimes.FormatSummary();
}

<!-- TIMES 

@Html.Raw(statRender)

-->
