@model (string oborName, string kraj, bool zakazky)

@using HlidacStatu.Entities
@using Devmasters.Enums
@using System.Linq
@using HlidacStatu.Repositories.Cache

@{

    ViewBag.Title = "Adresář";
    ViewBag.SubTitle = "Adresář úřadů";

}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">Úřady a firmy - @ViewBag.Title</li>
    </ol>
}


<div class="row">
    <div class="col-xs-12">
        @{
            string[] skip = new string[] { "Obce" };
        }
        @foreach (var g in Devmasters.Enums.EnumTools
        .Groups(typeof(Firma.Zatrideni.SubjektyObory))
        .OrderByDescending(o => o == "Státní úřady a organizace")
        .ThenByDescending(o => o == "Samospráva")
        .ThenBy(o => o)
        )
        {
            <h3 class="mt-5">@g</h3>
            <div>
                @foreach (Firma.Zatrideni.SubjektyObory item in Devmasters.Enums.EnumTools.InGroup(typeof(Firma.Zatrideni.SubjektyObory), g, true))
                {
                    if (skip.Contains(item.ToString()) == false)
                    {
                        <a href="/adresar/@(item.ToString())@(Model.zakazky ? "?vz=1":"")" class="btn btn-outline-primary m-1">
                            <span class="text-muted">Zobrazit</span> @(item.ToNiceDisplayName())
                            <span class="text-muted">(@((await FirmaCache.GetSubjektyForOborAsync(item))?.Length ?? 0))</span>
                        </a>
                    }
                }
                @if (g == "Samospráva")
                {
                    <div style="border: 2px #ccc dashed;border-radius: 4px 4px 0 0;-webkit-box-shadow: none;box-shadow: none;display:inline-block;padding: 0px 5px 0px 5px;margin-left: 10px">
                        <form action="/adresar/Obce_III_stupne@(Model.zakazky ? "?vz=1":"")" method="get" class="form-inline">
                            <select name="kraj" class="form-control">
                                <option value="">(vyberte kraj)</option>
                                @Html.Raw(HlidacStatu.Util.CZ_Nuts.Kraje.OrderBy(k => k.Value).Select(k => $"<option value='{k.Value}'>{k.Value}</option>").Aggregate((f, s) => f + s))
                            </select>
                            <button type="submit" name="specialtype" value="mestavkraji" class="btn btn-outline-primary m-1"><span class="text-muted">Zobrazit</span> města v kraji</button>
                        </form>
                    </div>


                }
            </div>

        }
    </div>
</div>

@*<cache expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@(User.Identity?.IsAuthenticated.ToString())">
        <partial name="Partials/Adresar_Child"/>
    </cache>*@



