@model (string oborName, string kraj, bool zakazky)

@using System.Linq;
@using Devmasters
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories


@{
    Firma.Zatrideni.SubjektyObory? oborFromId = null;
    if (Enum.TryParse<Firma.Zatrideni.SubjektyObory>(Model.oborName, true, out var ob))
    {
        oborFromId = ob;
    }
}

@if (oborFromId.HasValue == false)
{
    <cache enabled="@(!Html.IsDebug())" expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@(User.Identity?.IsAuthenticated.ToString())">
        <partial name="Partials/Adresar_Index" />
    </cache>

    return;
}

@{
    var subjIco = HlidacStatu.Repositories.FirmaRepo.Zatrideni.Subjekty(oborFromId.Value);
    if (!string.IsNullOrEmpty(Model.kraj))
    {
        subjIco = subjIco
            .Where(m => m.Kraj == Model.kraj)
            .ToArray();
    }
    IEnumerable<Firma> subjs = subjIco.Select(m => Firmy.Get(m.Ico));

    var zakazky = Model.zakazky;
}
<style>

    .my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
    }

    .py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
    }
</style>

@if (zakazky)
{
    <div class="text-muted">Nezobrazujeme všechny subjekty tohoto typu, ale ty, které jsou zastoupeny v registru smluv či v databázi zakázek</div>
}
else
{
    <div class="text-muted">Nezobrazujeme všechny subjekty tohoto typu, ale ty, které jsou zastoupeny v registru smluv</div>

}

<div class="row">
    <div class="col-xs-12">
        <table class="table table-new table-new--dotted table-hover">
            @foreach (var firma in subjs.OrderBy(o=>o.Jmeno))
            {

                if (zakazky)
                {
                    HlidacStatu.Lib.Analytics.StatisticsSubjectPerYear<Firma.Statistics.VZ> stat = firma.StatistikaVerejneZakazky();
                    HlidacStatu.Lib.Analytics.StatisticsSubjectPerYear<Firma.Statistics.VZ> statHolding = firma.HoldingStatistikaVerejneZakazky( HlidacStatu.DS.Graphs.Relation.AktualnostType.Nedavny);
                    var ceo = firma.Ceo();

                    <tr>
                        <td>
                            <h4>
                                @(await Html.KIndexLabelLinkAsync(firma.ICO, 25))
                                <a href="/subjekt/@firma.ICO">
                                    @(firma.Jmeno)
                                </a>
                            </h4>
                        </td>
                        <td>
                            Subjekt zadal @Devmasters.Lang.CS.Plural.Get(stat.Summary().PocetJakoZadavatel, "{0} zakázku;{0} zakázky;{0} zakázek") za
                            celkem @Html.Raw(Smlouva.NicePrice(stat.Summary().CelkovaHodnotaJakoZadavatel, html: true, shortFormat: true))
                            od roku @(stat.Min(m=>m.Year))
                        </td>
                        <td>
                            Subjekt a všechny jeho podřízené organizace zadaly @Devmasters.Lang.CS.Plural.Get(statHolding.Summary().PocetJakoZadavatel, "{0} zakázku;{0} zakázky;{0} zakázek") za
                            celkem @Html.Raw(Smlouva.NicePrice(statHolding.Summary().CelkovaHodnotaJakoZadavatel, html: true, shortFormat: true))
                            od roku @(statHolding.Min(m => m.Year))
                        </td>
                        <td>
                            @if (ceo.Osoba != null && ceo.Osoba.IsValid())
                            {
                                <div class="person-profile-thumb person-profile-thumb--small" style="float:left">
                                    <a href="@ceo.Osoba.GetUrl()">
                                        <div class="photo">
                                            <div class="profile-picture border" style="width:40px;height:40px;background-image: url('@ceo.Osoba.GetPhotoUrl(local: true, Osoba.PhotoTypes.NoBackground)')"></div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <p class="py-0 my-0"><a href="@ceo.Osoba.GetUrl()">@ceo.Osoba.FullName()</a> <span class="text-muted">@ceo.Role</span></p>
                                </div>
                            }
                            else
                            {
                                var rppOsoby = await firma.CeosFromRPPAsync();
                                if (rppOsoby.Count() > 0)
                                {
                                    <div class="person-profile-thumb person-profile-thumb--small" style="float:left">
                                        <div class="photo">
                                            <div class="profile-picture border" style="width:20px;height:20px;background-image: url('/photo/unknown')"></div>
                                        </div>
                                    </div>
                                    <div>
                                        @foreach (var os in rppOsoby)
                                        {
                                            <p class="py-0 my-0">@($"{os.jmeno.Capitalize()}")&nbsp;@($"{os.prijmeni.Capitalize()}")</p>
                                        }
                                    </div>
                                }
                            }
                        </td>
                    </tr>

                }
                else
                { //smlouvy
                    HlidacStatu.Lib.Analytics.StatisticsSubjectPerYear<Smlouva.Statistics.Data> stat = firma.StatistikaRegistruSmluv();
                    var ceo = firma.Ceo();
                    var platyStat = await firma.GetPlatyStatAsync();
                    var platyOrgDetailMetadata = (await HlidacStatu.Repositories.PuRepo.GetFullDetailAsync(firma.DatovaSchranka))?
                                                    .MetadataPlatyUredniku.FirstOrDefault(m=>m.Rok == PuRepo.DefaultYear);
                    <tr>
                        <td>
                            <h4>
                                @(await Html.KIndexLabelLinkAsync(firma.ICO, 25))
                                <a href="/subjekt/@firma.ICO">
                                    @(firma.Jmeno)
                                </a>
                            </h4>
                        </td>
                        <td>
                            <p>
                                <a href="/hledat?q=@(System.Net.WebUtility.UrlEncode($"ico:{firma.ICO}"))">@Devmasters.Lang.CS.Plural.Get(stat.Summary().PocetSmluv, "{0} smlouva;{0} smlouvy;{0} smluv")</a> za
                                celkem @Html.Raw(Smlouva.NicePrice(stat.Summary().CelkovaHodnotaSmluv, html: true, shortFormat: true))
                                , skrývá cenu u <b>@stat.Summary().PercentSmluvBezCeny.ToString("P2")</b> smluv.
                            </p>
                            @if (platyStat != null 
                           && platyStat.Stats.ContainsKey(PuRepo.DefaultYear) == false
                          && platyOrgDetailMetadata != null
                           )
                            {
                                <p>Komentář k neposkytnutým platům: 
                                    <a href="@firma.GetPlatyUrlAsync()">
                                        @(platyOrgDetailMetadata.PoznamkaHlidace)
                                    </a>
                                </p>
                             }
                            else if (platyStat != null && platyStat.Stats.ContainsKey(PuRepo.DefaultYear) == true)
                            {
                                var pustat = platyStat.Stats[PuRepo.DefaultYear];
                                <p>
                                    Poskytly <a href="@firma.GetPlatyUrlAsync()">@(Devmasters.Lang.CS.Plural.GetWithZero(pustat.Pocet, "0 platů", "1 plat", "{0} platy", "{0} platů"))</a>, @(HlidacStatu.Util.RenderData.NicePriceHtml(pustat.Min)) 
                                    @if (pustat.Pocet>1) {
                                        <span>- @(HlidacStatu.Util.RenderData.NicePriceHtml(pustat.Max))</span>
                                    }.
                                </p>
                            }
                        </td>
                        <td>
                            @if (ceo.Osoba != null && ceo.Osoba.IsValid())
                            {
                                <div class="person-profile-thumb person-profile-thumb--small" style="float:left">
                                    <a href="@ceo.Osoba.GetUrl()">
                                        <div class="photo">
                                            <div class="profile-picture border" style="width:40px;height:40px;background-image: url('@ceo.Osoba.GetPhotoUrl(local: true, Osoba.PhotoTypes.NoBackground)')"></div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <p class="py-0 my-0"><a href="@ceo.Osoba.GetUrl()">@ceo.Osoba.FullName()</a> <span class="text-muted">@ceo.Role</span></p>
                                </div>
                            }
                            else
                            {
                                var rppOsoby = await firma.CeosFromRPPAsync();
                                if (rppOsoby.Count() > 0)
                                {
                                    <div class="person-profile-thumb person-profile-thumb--small" style="float:left">
                                        <div class="photo">
                                            <div class="profile-picture border" style="width:20px;height:20px;background-image: url('/photo/unknown')"></div>
                                        </div>
                                    </div>
                                    <div>
                                        @foreach (var os in rppOsoby)
                                        {
                                            <p class="py-0 my-0">@($"{os.jmeno.Capitalize()}")&nbsp;@($"{os.prijmeni.Capitalize()}")</p>
                                        }
                                    </div>
                                }
                            }
                        </td>
                    </tr>

                }
            }
        </table>
    </div>
</div>


<partial name="WebUtil/FeedbackModal" model="@(new FeedbackViewModel("Upozornit na chybu"))" />

