@model HlidacStatu.Entities.Smlouva

@using HlidacStatu.DS.Graphs
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using HlidacStatu.Entities
@using HlidacStatu.Repositories.Cache

@{
    bool angPolitiku = false;
    bool isSponzorStrany = false;
    var firmySVazbamiNaPolitiky = await MaterializedViewsCache.FirmySVazbamiNaPolitiky_NedavneAsync();
    if (Model.Prijemce != null)
    {
        var platciPrijemci = Model.Prijemce.Union(new Smlouva.Subjekt[] { Model.Platce })
            .Where(m => !string.IsNullOrEmpty(m.ico)).ToArray();

        angPolitiku = platciPrijemci.Any(m => firmySVazbamiNaPolitiky.SoukromeFirmy.ContainsKey(m.ico));

        foreach (var platcePrijemce in platciPrijemci)
        {
            var firma = await FirmaCache.GetAsync(platcePrijemce.ico); 
            if (firma?.Valid == true && await firma.IsSponzorAsync())
            {
                isSponzorStrany = true;
                break;
            }
        }
    }

    var otherVersion = await Model.OtherVersionsAsync();
    var podobneSmlouvy = await Model.PodobneSmlouvyAsync();
}


@if (otherVersion.Length > 0)
{
    <tr>
        <td>
            <h4>Provázané smlouvy</h4>
        </td>
        <td>
            <div>
                Nalezli
                jsme @(Devmasters.Lang.CS.Plural.Get(otherVersion.Length, "jednu provázanou smlouvu", "{0} provázané smlouvy", "{0} provázaných smluv")):
                <ul>
                    @foreach (var os in otherVersion)
                    {
                        <li><a href="/Detail/@os.Id">Verze @os.Id;
                                zveřejněna @os.casZverejneni.ToString("dd.MM.yyyy HH.mm"); @(os.platnyZaznam ? "platná" : "zneplatněna")</a>
                        </li>
                    }
                </ul>
            </div>
            <span class="text-muted small">Toto je seznam smluv, které jsou zneplatněnými verzemi této smlouvy anebo jsou velmi podobné této smlouvě a je vysoká pravděpodobnost, že se jedná zneplatněné verze smlouvy, které nejsou správně označeny jako provázané.</span>
        </td>
    </tr>
}

@if (podobneSmlouvy.Length > 0)
{
    <tr>
        <td>
            Podobné smlouvy
        </td>
        <td>
            <div>
                Nalezli
                jsme @(Devmasters.Lang.CS.Plural.Get(podobneSmlouvy.Length, "jednu podobnou smlouvu", "{0} podobné smlouvy", "{0} podobných smluv")):
                <ul>
                    @foreach (var os in podobneSmlouvy)
                    {
                        <li><a href="/Detail/@os.Id">Zveřejněna @os.casZverejneni.ToString("dd.MM.yyyy HH.mm");
                                částka @HlidacStatu.Util.RenderData.NicePriceHtml(os.CalculatedPriceWithVATinCZK) s
                                DPH; @(os.platnyZaznam ? "platná" : "zneplatněna")</a></li>
                    }
                </ul>
            </div>
            <span class="text-muted small">Toto je seznam smluv, které jsou velmi podobné této smlouvě, mají stejné smluvní strany a předmět smlouvy.</span>
        </td>
    </tr>
}

@if (angPolitiku)
{
    <tr>
        <td>
            Angažovanost politicky aktivních osob v soukromé firmě u této smlouvy
        </td>
        <td>

            @foreach (var ss in Model.Prijemce.Union(new Smlouva.Subjekt[] { Model.Platce }))
            {
                if (!string.IsNullOrEmpty(ss.ico) && firmySVazbamiNaPolitiky.SoukromeFirmy.ContainsKey(ss.ico))
                {
                    bool first = true;
                    foreach (var pId in firmySVazbamiNaPolitiky.SoukromeFirmy[ss.ico])
                    {
                        Osoba p = OsobaRepo.PolitickyAktivni
                            .Get()
                            .FirstOrDefault(m => m.InternalId == pId);

                        if (first)
                        {
                            first = false;
                            <h3>@ss.nazev </h3>
                            <p>
                                <a href="/subjekt/@ss.ico">Další smlouvy firmy</a>
                            </p>
                        }

                        if (p != null)
                        {
                            <p>
                                <strong><a href="/politik/@p.NameId">@p.FullName()</a></strong>
                            <div style="padding-left:20px;">
                                    @(await Html.RenderVazbyAsync(await OsobaVazbyRepo.VazbyProIcoCachedAsync(p, 
                                    Relation.CharakterVazbyEnum.VlastnictviKontrola,
                                    ss.ico)))
                            </div>
                            </p>
                        }
                    }
                }
            }

        </td>
    </tr>
}
@if (isSponzorStrany)
{
    <tr>
        <td>
            Sponzoring politických stran
        </td>
        <td>

            @foreach (var subj in Model.Prijemce.Union(new Smlouva.Subjekt[] { Model.Platce }))
            {
                var firma = await FirmaCache.GetAsync(subj.ico);
                if (firma?.Valid == true && await firma.IsSponzorAsync() && firma.JsemSoukromaFirma())
                {
                    <div class="card bg-default">
                        <div class="card-header">
                            <h3 class="card-title">@firma.Jmeno</h3>
                        </div>
                        <div class="card-body">
                            @Html.Raw(await firma.SponzoringToHtmlAsync())
                        </div>
                    </div>
                }
            }

        </td>
    </tr>
}
            