@model SearchPromo

@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using HlidacStatu.DS.Graphs


@if (Model == null)
{
    return;
}
else
{

    string box1Css = "col-sm-6 col-md-3";

    <div class="@box1Css searchpromo-box">
        <div class="person-profile-thumb person-profile-thumb--small">
            <a href="@Model.Url" onclick="return trackOutLink(this,'SearchPromo_Title');">
                @if (!string.IsNullOrEmpty(Model.Icon))
                {
                    <div class="profile-picture squared" style="background-image: url('@Model.Icon')"></div>
                }
                else
                {
                    <div class="profile-picture squared" style="background-image: url('/content/searchpromo/info-color.png')"></div>
                }
            </a>
            <div>
                <a class="section-title link--blue" href="@Model.Url" onclick="return trackOutLink(this,'SearchPromo_Subtitle');">@Model.Title</a>
                <div class="new-p new-p--gray new-p--small">
                        <span>@Html.Raw(Model.Description)</span>
                    <br /><span><a class="link-danger" href="@Model.Url" onclick="return trackOutLink(this,'SearchPromo_More');">@Html.Raw(Model.More)</a></span>
                </div>
            </div>
        </div>
    </div>
}
