@model RenderOsobaBoxViewModel

@using System.Threading
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.Repositories
@using Devmasters.Enums
@using HlidacStatu.DS.Graphs

@if (Model.Osoba == null)
{
    return;
}
else
{
    var alldata = await Model.Osoba.AktualniVazbyAsync( Relation.CharakterVazbyEnum.VlastnictviKontrola, Relation.AktualnostType.Nedavny);

    var maxConcurrentTasks = 10;
    var semaphore = new SemaphoreSlim(maxConcurrentTasks);

    var dataTasks = (await Model.Osoba.AktualniVazbyAsync( Relation.CharakterVazbyEnum.VlastnictviKontrola, Relation.AktualnostType.Nedavny))
        .Where(v => !string.IsNullOrEmpty(v.To.Id))
        .GroupBy(f => f.To.Id, v => v, (ico, v) => ico)
        .Select(async ico =>
        {
            await semaphore.WaitAsync();
            try
            {
                var f = Firmy.Get(ico);
                StatisticsSubjectPerYear<Smlouva.Statistics.Data> stat = null;
                if (f != null)
                    stat= await f.StatistikaRegistruSmluvAsync();
                stat = stat ?? new StatisticsSubjectPerYear<Smlouva.Statistics.Data>();

                return new
                {
                    ICO = ico,
                    stat
                };
            }
            finally
            {
                semaphore.Release();
            }
        })
        .ToArray();

    var data = (await Task.WhenAll(dataTasks))
        .OrderByDescending(m => m.stat.Summary().CelkovaHodnotaSmluv)
        .ThenBy(m => m.ICO)
        .ToArray();
    
    var osobaStatDescTotalKc = Smlouva.NicePrice(data.Sum(d => d.stat.Summary().CelkovaHodnotaSmluv), html: true, shortFormat: true);
    string osobaStatDescription = string.Format("{0}{1}",
        Devmasters.Lang.CS.Plural.GetWithZero((int)alldata.Count(), "Žádná vazba na firmy", "Celkem vazba na <b>{0} firmu</b>", "Celkem vazba na <b>{0} firmy</b>", "Celkem vazba na <b>{0} firem</b>"),
        Devmasters.Lang.CS.Plural.GetWithZero((int)data.Sum(d => d.stat.Summary().PocetSmluv), "."
            , ", <b>{0} smlouva</b> v registru smluv za <b>" + osobaStatDescTotalKc + "</b>"
            , ";, <b>{0} smlouvy</b> v registru smluv za <b>" + osobaStatDescTotalKc + "</b>"
            , ";, <b>{0} smluv</b> v registru smluv za <b>" + osobaStatDescTotalKc) + "</b>"
        );
    var funkceOsoba = await Model.Osoba.DescriptionAsync(true, e => true, numOfRecords: 2);
    string box1Css = "col-sm-4 col-md-3";
    string box2Css = "col-sm-4 col-md-3";

    <div class="@box1Css searchpromo-box" >
        <div class="person-profile-thumb">
            <a href="@Model.Osoba.GetUrl(true)">
                <div class="profile-picture border" style="background-image: url('@Model.Osoba.GetPhotoUrl(true,Osoba.PhotoTypes.NoBackground)')">
                </div>
            </a>
            <div>
                <a class="section-title link--blue" href="@Model.Osoba.GetUrl(true)">
                    @Model.Osoba.FullName()
                </a>
                <div class="new-p new-p--gray new-p--small">
                    @Model.Osoba.NarozeniYear()
                </div>
                <div class="new-p new-p--gray new-p--small">
                    @Model.Osoba.StatusOsoby().ToNiceDisplayName()
                    @if (Model.Smaller)
                    {
                        @Html.Raw(", " + Devmasters.TextUtil.ShortenText(funkceOsoba,80))
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.Smaller == false)
    {
        <div class="@box2Css searchpromo-box-smaller">

            @if (!string.IsNullOrWhiteSpace(funkceOsoba))
            {
                <div class="search-result-label">
                    Funkce
                </div>
                <div class="new-p">
                    @Html.Raw(funkceOsoba)
                </div>
            }
            
            <div class="search-result-label">
                Angažovanost
            </div>
            <div class="new-p">
                @Html.Raw(osobaStatDescription)
            </div>

        </div>
    }
}
    