@using System.Linq
@using Devmasters.Collections
@using HlidacStatu.Repositories;
@using HlidacStatu.Repositories.Cache


<div class="mega-content px-4">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 col-md-4 py-4 bg-body-tertiary">
                <h3>Politici</h3>
                @if (Devmasters.Config.GetWebConfigValue("ShowPrijmyPolitiku") == "true")
                {
                    <div class="mega-content-subtitle">
                        Platy top politiků
                    </div>
                    <p>
                        Sledujte, kolik vydělávají zvolení politici a jak kumulují funkce. Jejich příjmy z veřejných funkcí na jednom místě.
                        <br />
                        <a class="btn btn-hs btn-primary btn-sm" onclick="return trackOutLink(this,'megamenu');" href="https://platy.hlidacstatu.cz/politici">Platy politiků</a>
                    </p>
                }
                <div class="mega-content-subtitle">
                    Politici obchodující se státem
                </div>

                <div class="card">
                    <div class="card-header">
                        Politici, kteří podnikají a mají největší obchodní vztahy se státem <small class="text-light">náhodný výběr z největších</small>
                    </div>
                    <ul class="list-group list-group-flush">

                        @foreach (var pol in (await OsobaCache.GetTopPoliticiObchodujiciSeStatemAsync())[0].Take(20).ShuffleMe().Take(3))
                        {
                            var o = await OsobaCache.GetPersonByNameIdAsync(pol.OsobaNameId);
                            <li class="list-group-item">
                                <div class="person-profile-thumb person-profile-thumb--verysmall">
                                    <a onclick="return trackOutLink(this,'megamenu');" href="@(o.GetUrl())">
                                        <div class="profile-picture border" style="background-image: url(@(o.GetPhotoUrl()))">
                                        </div>
                                    </a>
                                    <div>
                                        <a class="" href="@(o.GetUrl())">
                                            @(o.FullNameWithYear())
                                        </a>
                                    </div>
                                </div>
                            </li>

                        }
                        <li class="list-group-item">
                            <a class="fw-bold" onclick="return trackOutLink(this,'megamenu');" href="/report/32?rok=2022" style="margin-left: 52px">dalších více než 100 politiků</a>
                        </li>
                    </ul>
                </div>
                <hr />

                <p>
                    <a onclick="return trackOutLink(this,'megamenu');" href="https://www.hlidacstatu.cz/osoby" onclick="closeMegaMenu(this);$('#autocompleteInputBox').focus();return false;">Desetitisíce politiků na jenom místě</a>.
                </p>
                <a onclick="return trackOutLink(this,'megamenu');" href="/data/Index/vyjadreni-politiku" class="btn btn-hs btn-primary btn-sm">Politici na sociálních sítích</a>
                <a onclick="return trackOutLink(this,'megamenu');" href="/data/Index/stenozaznamy-psp" class="btn btn-hs btn-primary btn-sm">Poslanecké proslovy</a>

            </div>

            <div class="col-12 col-md-4 py-4">
                <h3><a onclick="return trackOutLink(this,'megamenu');" href="/Sponzori">Sponzoři politických stran</a></h3>
                @{
                    var velkeStrany = await SponzoringCache.PartiesPerYearsOverviewAsync(SponzoringRepo.DefaultLastSponzoringYear(), System.Threading.CancellationToken.None);
                    velkeStrany = velkeStrany.Where(s => SponzoringRepo.TopStrany
                    .Any(x => string.Equals(x, s.KratkyNazev, StringComparison.InvariantCultureIgnoreCase)))
                    .OrderByDescending(s => s.DaryCelkem)
                    .ToList();

                }
                <div class="card">
                    <div class="card-header">
                        Sponzoři velkých stran &nbsp;v roce @(SponzoringRepo.DefaultLastSponzoringYear())
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var str in velkeStrany.Take(7))
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <a onclick="return trackOutLink(this,'megamenu');" href="/sponzori/strana/@(str.KratkyNazev)">@(str.KratkyNazev)</a>
                                <span class="badge rounded-pill text-bg-light">@HlidacStatu.Util.RenderData.NicePriceHtml(str.DaryCelkem.Value, shortFormat: true)</span>
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <a class="fw-bold" onclick="return trackOutLink(this,'megamenu');" href="/sponzori/strany">Sponzoři všech stran</a>
                        </li>
                    </ul>

                </div>
                <hr />

                <a onclick="return trackOutLink(this,'megamenu');" href="/Sponzori/TopSponzori" class="btn btn-hs btn-primary btn-sm">2000 největších sponzorů (osob i firem) vůbec</a>
                <a onclick="return trackOutLink(this,'megamenu');" href="/Sponzori/TopSponzori?rok=@(SponzoringRepo.DefaultLastSponzoringYear())" class="btn btn-hs btn-primary btn-sm">Top sponzorující osoby za @SponzoringRepo.DefaultLastSponzoringYear()</a>
                <a onclick="return trackOutLink(this,'megamenu');" href="/Sponzori/TopSponzoriFirmy?rok=@(SponzoringRepo.DefaultLastSponzoringYear())" class="btn btn-hs btn-primary btn-sm">Top sponzorující firmy za @SponzoringRepo.DefaultLastSponzoringYear()</a>
            </div>

            <div class="col-12 col-md-4 py-4 bg-body-tertiary">
                <h3>Firmy / subjekty</h3>
                <p>
                    Evidujeme všechny firmy, které jsou v českém Obchodním rejstříku. U firem evidovaných v Registru smluv a/nebo se účastnících veřejných zakázek provádíme detailní analýzy. V analýzách zjišťujeme  obchodování se státem, provázanost majitelů a orgánů společnosti a přímé i nepřímé sponzorování politických stran firmami či jejich majiteli.
                </p>
                <p>
                    Pokud hledáte informace o konkrétní firmě, nejrychlejší je napsat její jméno do
                    <b>vyhledávání</b>. Pokud firma existuje, už během psaní vám tuto firmu či s podobným názvem nabídneme k výběru.
                </p>
                <hr />
                <div>
                    <div class="mega-content-subtitle">Speciální reporty</div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <a onclick="return trackOutLink(this,'megamenu');" href="/Report/1">Firmy nejvíce obchodující se státem</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <a onclick="return trackOutLink(this,'megamenu');" href="/Report/9">Firmy založené těsně před či po uzavřením smlouvy</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <a onclick="return trackOutLink(this,'megamenu');" href="/Report/5">Smlouvy se soukromými ekonomickými subjekty, u kterých existuje přímá a nepřímá vazba na politiky</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <a onclick="return trackOutLink(this,'megamenu');" href="/Report/6">Firmy, které se objevily v registru smluv poprvé</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <a onclick="return trackOutLink(this,'megamenu');" href="/data/Index/skutecni-majitele">Skuteční majitelé firem</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <a onclick="return trackOutLink(this,'megamenu');" href="/data/Index/osoby-kontrolovane-nku">Právnické osoby kontrolované NKÚ</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
