@using System.Linq
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.XLib.Render
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Cache

@{
    Layout = "_ReportLayout";

    int year = Devmasters.ParseText.ToInt(this.Context.Request.Query["rok"].FirstOrDefault(), 0) ?? 0;

    Osoba.Statistics.VerySimple[] showList = (await OsobaCache.GetTopPoliticiObchodujiciSeStatemAsync())[year];


    var poslanciTable = new ReportDataSource<(Osoba.Statistics.VerySimple VerySimple, Osoba Osoba, string Description, string PoliticalParty)>(new ReportDataSource<(Osoba.Statistics.VerySimple VerySimple, Osoba Osoba, string Description, string PoliticalParty)>.Column[]
    {
        new()
        {
            Name = "Politik",
            HtmlRender = (s) => $"<a href='{s.Osoba.GetUrl()}'>{s.Osoba.FullNameWithYear(true)}</a>"
                                + "<br />"
                                + Devmasters.TextUtil.ShortenText(s.Description, 250).Replace("\n", "<br />"),
            OrderValueRender = (s) => s.Osoba.FullName(false)
        },
        new()
        {
            Name = "Strana/Hnutí",
            HtmlRender = (s) => s.PoliticalParty,
            OrderValueRender = (s) => s.PoliticalParty
        },
        new()
        {
            Name = "Objem uzavřených smluv firem, kde se angažuje",
            HtmlRender = (s) => HlidacStatu.Util.RenderData.NicePrice(s.VerySimple.CelkovaHodnotaSmluv, html: true, shortFormat: true),
            OrderValueRender = (s) => HlidacStatu.Util.RenderData.OrderValueFormat(s.VerySimple.CelkovaHodnotaSmluv)
        },
        new()
        {
            Name = "Počet smluv uzavřených firmami, kde se angažuje",
            HtmlRender = (s) => HlidacStatu.Util.RenderData.NiceNumber(s.VerySimple.PocetSmluv, html: true),
            OrderValueRender = (s) => HlidacStatu.Util.RenderData.OrderValueFormat(s.VerySimple.PocetSmluv)
        }
    });


    foreach (var p in showList)
    {
        Osoba osoba = Osoby.GetByNameId.Get(p.OsobaNameId);
        var description = await osoba.DescriptionAsync(false, m => true, numOfRecords: 3);
        var politicalParty = await osoba.CurrentPoliticalPartyAsync();
        poslanciTable.AddRow((p, osoba, description, politicalParty));
    }
}

<h2 id="tblHead">Politici angažovaní ve firmách obchodujících se
    státem<small>@(year == 0 ? "" : $" v roce {year}")</small></h2>
<p>Seznam největších smluv @(year == 0 ? "" : $" v roce {year}")</p>

<h4>
    @if (year == 0)
    {
        <b>od roku 2016</b>
    }
    else
    {
        <a href="/report/32?rok=" style="">od roku 2016</a>
    }
    @foreach (int y in HlidacStatu.Entities.KIndex.Consts.ToCalculationYears)
    {
        if (year == y)
        {
            <span>v <b>@y</b></span>
        }
        else
        {
            <span style="margin-left:1em">v <a href="/report/32?rok=@y">@y</a></span>
        }
    }
</h4>


@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, poslanciTable, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [2,'desc'],
                'lengthChange': false,
                'info': false,
                'paging': true,
                'searching':true,
                'pageLength': 50,
                //'columnDefs': [{ 'visible': false, 'targets': 0 }]
                }", "tbPoslanci")
